[2016-01-20 16:03] rorygraves commented on #1233
I'm suggesting we extract the required value from the class and then pass just the name to their parser.  Right now it parses the entire classfile and then reads a single value out of it.
@aemoncannon Yeah, I think we can

[2016-01-20 17:11] fommil commented on #1233
The pickle data is in a binary blob in the classfile, when I last investigated there was no way to just go from that blob to a List of scala symbols. It'd be great if there was.

[2016-01-20 19:47] fommil opened #1237 "documentation doesn't work for type aliases"
I noticed that asking for the docs of our `org.ensime.utils.file.File` doesn't resolve the docs for `java.io.File`

[2016-01-20 22:37] fommil commented on #1042
I'm working on some unit tests around the file watchers, including backporting the latest version of the file monitor (it still has these bugs)

but a massive improvement for the workaround dawned upon me... it seems to be able to detect the deletion of the root directory! So instead of watching the parent, I'll just watch for that instead and then recreate when that happens.

[2016-01-20 22:44] fommil commented on #1042
WIP https://github.com/fommil/ensime-server/tree/export-jars I should finish this off on Friday evening (going out tomorrow night)

[2016-01-20 22:45] fommil commented on #1042
@lxol you'll probably want to make use of these tests as well when I'm done

[2016-01-21 11:26] lxol commented on #1042
@fommil   I had to play with delays to pass some of your tests. Here the problems that I noticed.
-  I used `take` instead of `poll` for change monitoring. This is probably the reason why delay is so big. We can try to use `poll` on schedule if the delay is unacceptable.  I am not sure about performance impact though.
- I ignored tests that register files instead of directories for monitoring.  It

[2016-01-21 17:11] rorygraves commented on #1102
https://github.com/ensime/ensime-server/pull/1238

[2016-01-22 09:01] greenrd opened #1239 "Support directories in referenceSourceRoots"
At some point, referenceSourceRoots used to support directories. It would be nice to support this again. That way, you could work on multiple projects and jump between them (rather than jumping to a read-only unpackaged version from a src jar, which creates redundant entries in the buffer list) even if they aren't set up as multi-project builds (a common situation).

[2016-01-22 09:22] fommil commented on #1239
why don't you just set those dependent projects up as modules in your `.ensime`? See my PR that will add support for `exportJars` (supported in `ensime-sbt` already)

[2016-01-22 09:24] fommil commented on #1239
this is related to #761 ... if we do this I'd like it to be done as part of that work (which would require a very small change on the client side)

[2016-01-22 09:41] fommil opened #1240 "incorporate Mathias' comments to the parboiled2 parsers"
https://github.com/ensime/ensime-server/pull/1238

and (hopefully)

https://github.com/ensime/ensime-server/pull/1236

[2016-01-22 20:42] anakos opened #1242 "conflicting Shapeless cross-version suffixes"
I get the following error when trying to start up an ensime server in Emacs for a Scala 2.10 project (sbt version is 0.13.9):

[code]

Unfortunately I cannot bump the scala version of the project to 2.11 and from what I can tell, nothing in the project has a dependency on Shapeless at all.  I am at a bit of a loss as to what the source of this error could be  - is there anything that can be done t

[2016-01-22 21:10] rlvoyer commented on #1242
I ran into this as well.

[2016-01-22 21:15] rorygraves commented on #1242
I may know what this is - @fommil, the server download/start script probably does not obey the intransitive marker in the build dependencies.  I guess we are going to have to roll back the Parboiled changes until we work out how to sort the client scripts (and update all the clients).

[2016-01-22 21:17] fommil commented on #1242
@sirthias you must have seen this before? I think ultimately you're going to have to release a parboiled2 that doesn't use cross versions for shapeless.

[2016-01-22 21:18] fommil commented on #1242
@anakos which client are you using?

[2016-01-22 21:18] jschlather commented on #1226
@fommil Is there anything else to do here? Or should we close it?

[2016-01-22 21:19] fommil commented on #1226
I think you did a great job here! You could still improve the performance if this something you would like to look at, but given that we have the graphpocalypse incoming, I'd recommend you turn your attention to something else that suits your fancy :smile:

[2016-01-22 21:19] #1226 closed

[2016-01-22 21:21] fommil commented on #1242
@milessabin we have a direct dependency on shapeless from ensime-server, but parboiled2 has a dependency on cross build versions. Have you seen this problem before where downstream users end up with both? Seems to be a bug in ivy/maven unable to retain the intransitive information that we'll have to work around.

[2016-01-22 21:22] fommil commented on #1242
@rorygraves I suspect we could update the build scripts to exclude the exact cross build. But, yuck! I'd rather fix this server side instead of all clients having to be updated.

[2016-01-22 21:30] fommil commented on #1242
ok, we think we can fix this with a line like

[code]

in https://github.com/ensime/ensime-emacs/blob/master/ensime-startup.el#L54

and the other clients too.

(btw, please raise bugs against your editor in future :stuck_out_tongue: )

[2016-01-22 21:30] fommil commented on #1242
anyone with some sbt foo want to give that a go? I'm a bit busy right now with the file watchers.

[2016-01-22 21:30] anakos commented on #1242
@fommil - I am using Emacs 24.5.1

[2016-01-22 21:31] fommil commented on #1242
actually, http://www.scala-sbt.org/0.13/docs/Library-Management.html#Exclude+Transitive+Dependencies might be a server fix

[2016-01-22 21:31] fommil commented on #1242
anyone want to send us a PR with that fix to the server?

[2016-01-22 21:36] anakos commented on #1242
@fommil - I am more than happy to do it - how can I test locally to ensure that it's worked? Apologies in advance for all the Q?s but I am completely new to tinkering with emacs. Thanks!

[2016-01-22 21:41] fommil commented on #1242
actually it sounds like we can fix this server side in the `project/EnsimeBuild.scala` file... this is a server bug it would appear (but we do prefer tickets to be raised on `ensime-emacs` or equivalent first... ENSIME isn't just Emacs)

[2016-01-22 21:42] fommil commented on #1242
@anakos I think rory is working on it btw. Try hacking on a 2.11 project in the meantime, it's immune to the problem.

[2016-01-22 21:43] anakos commented on #1242
@fommil - ok, no

[2016-01-22 21:44] anakos commented on #1242
@fommil - ok no problem. Thanks for the swift reply to this!

[2016-01-22 22:04] fommil commented on #1242
got a fix, just testing locally

[2016-01-22 22:50] dickwall opened #1243 "Parse error causes Ensime server exit in sexp"
As discussed on gitter, new parser impl breaks on the following, and exits ensime during regular use:

[code]

[2016-01-22 23:53] fommil commented on #1243
fixed now, but needs a permanent fix in the parboiled2 parser branch

[2016-01-22 23:53] fommil commented on #1242
new artefacts will appear in ~30 mins with a fix

[2016-01-22 23:53] #1242 closed

[2016-01-23 00:42] fommil commented on #1239
we should definitely do this because it is the obvious way to support generated sources... I know @VlachJosef was encountering problems with that (btw, how has your 3 pronged problem been working out? Can you post any more details of the bug? Keen to help since you've contributed so much already!)

[2016-01-23 10:30] milessabin commented on #1242
I don't quite understand the problem. Is this with 2.10.x?

As of shapeless-2.2.0 cross builds are used for all Scala versions. Prior to 2.2.0 explicit Scala version dependencies were required for 2.10.x. By now I would expect pretty much everything non-ancient would be using cross builds everywhere.

[2016-01-23 11:12] fommil commented on #1242
@milessabin parboiled2's 2.10 build depends on `shapeless_2.10.4`, but ensime-server depends on `shapeless_2.10`. When published, maven isn't able to handle intransitives so one has to do something like https://github.com/ensime/ensime-server/commit/2a0f12b767fa11538e46d443bb79e6c990b43726

[2016-01-23 11:30] milessabin commented on #1242
Gotcha. Given that parboiled2 is on shapeless-2.2.3 I'd say that this is a bug in their build ... shapeless-2.2.x has only ever been cross built (see [here](https://github.com/milessabin/shapeless/commit/a7073a0a014246a1532118c0e85250fc14300e8c)) so I'm uncertain how the parboiled build is supposed to work.

[2016-01-23 11:34] fommil commented on #1242
@milessabin oh I think that's their `master` branch. The latest release is shapeless 2.1. We can remove our hack when we update.

[2016-01-23 14:28] VlachJosef commented on #1239
@fommil generated sources are already supported by `gen-ensime` command. It turns out that plugin what generated these sources for me put them in wrong folder and thus sources haven't been pick up by ensime.

Instead of
`target/scala-2.11/src_managed/main`
they have been put into
`target/scala-2.11/src_managed`

Anyway what worries me more is that I cannot navigate to these sources without opening

[2016-01-23 14:39] fommil commented on #1239
@VlachJosef yeah, but what @greenrd is suggesting here is that they are treated as reference sources, not **live** sources.

Can you please create a ticket (which we can use as an epic) for the bugs you encountered around this?

[2016-01-23 18:33] VlachJosef opened #1244 "Failed to navigate to sources in src_managed"
When trying to navigate to sources in `src_managed` no definition is found.

I've created [small project](https://github.com/VlachJosef/ensime-gen-sources) when issue can be reproduced.

When trying to navigate to `Foogen` [here](https://github.com/VlachJosef/ensime-gen-sources/blob/3eb498bb0da674819e020736bba3d8527f62d1d5/src/main/scala/com/tst/Server.scala#L10) or `Bargen` [here](https://github.

[2016-01-23 18:34] VlachJosef commented on #1239
@fommil so I've created issue #1244 describing my problem with `src_managed`

[2016-01-23 18:39] fommil commented on #1244
ok, I'll have a look and post my thoughts.

[2016-01-23 18:51] fommil commented on #1244
some relevant logging

[code]

It looks like it is not able to find the source. I thought it might be a problem with finding the companion apply, so I added an explicit type to the `foogen: Foogen` and it still wasn't finding it.

Something worth looking into is that you're outputting into `target` and that's kind of unusual.

[2016-01-23 18:53] fommil commented on #1244
it does work if you navigate to `Foogen.scala`, so the presentation compiler can load it ok. It looks like this is a bug in the indexer.

[2016-01-23 19:32] VlachJosef commented on #1244
Ok, I wouldn't mind to investigate and try to fix it. I would like to get more familiar with Indexer and other parts of ensime-server.

[2016-01-23 19:33] fommil commented on #1244
I have a PR which touches a lot of this, should be merged tonight.

[2016-01-23 19:34] VlachJosef commented on #1244
Ok, than I will wait if it will get fixed by your PR.

[2016-01-23 19:36] #1234 closed

[2016-01-23 19:57] fommil commented on #1244
Is merged.

[2016-01-23 23:06] VlachJosef commented on #1244
Hm, so your merged PR doesn't seems to solve it.

[2016-01-23 23:09] fommil commented on #1244
the way it works is that when we index the binaries, we use the SourceResolver to find the associated sources, and then we persist that. My guess is that it's failing at this point, not when you're making the query.

- https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/indexer/SourceResolver.scala
- https://github.com/ensime/ensime-server/blob/master/core/src/it/sca

[2016-01-23 23:11] fommil opened #1245 "rewrite tests to use EnsimeSpec"
we have a preferred testing style, FlatSpec, which is abstracted in `EnsimeSpec`... which also saves a bunch of boilerplate when it is extended.

It would be good to refactor all our tests to use this style, including converting `assert` => matchers.

[2016-01-23 23:12] fommil commented on #1245
@noelmarkham you once showed some interest in doing this.

[2016-01-23 23:14] #1230 closed

[2016-01-23 23:16] VlachJosef commented on #1244
Great, I will look into this.

[2016-01-24 07:37] yoeluk opened #1246 "java.lang.StackOverflowError: null at startup in atom"
In Atom getting consistency this exception on `ensime start` logged under server.log

[code]

[2016-01-24 10:38] fommil commented on #1246
Please report with ensime atom.

[2016-01-24 10:38] #1246 closed

[2016-01-24 15:56] VlachJosef commented on #1244
It turns out that this is not bug in indexer, not even in ensime-server. Issue is in generated `.ensime` file.

Record in `:source-roots` for `src_managed` looks like this:
[code]
but it should look like this:
[code]
I will open issue in ensime-sbt.

[2016-01-24 15:56] #1244 closed

[2016-01-24 16:15] fommil commented on #1244
heh, interesting. Should be really easy to write a test case for that! I can definitely help you fix that.

[2016-01-24 16:16] fommil commented on #1244
btw, are you sure that sbt doesn't think that the path is `src_managed/main` and that you're maybe putting the files in the wrong place? (I suspect sbt uses probably does cross version paths, but just checking)

[2016-01-24 16:35] VlachJosef commented on #1244
Actually I'm not sure what expected structure should be in `src_managed/main`. I've quickly check the internet and it looks like that generated sources should go directly into this folder no into subdirectory `scala`. So this must be issue with my configuration.

[2016-01-24 16:37] fommil commented on #1244
cool! Glad to get this one resolved

[2016-01-24 16:46] VlachJosef commented on #1244
I'm glad I got deeper insight into ensime-server

Btw. [this](https://github.com/sbt/sbt-scalabuff/blob/16aa7c0ed99348afe211f77a0149873a895f02cc/src/main/scala/ScalaBuffPlugin.scala#L59)  is the reason why I got trapped into this. Someone already [fix it](https://github.com/idecide/sbt-scalabuff/commit/2741732bddff1a05fbf8c967c0ffcee75ce74bee) in his fork of sbt-scalabuff plugin.

[2016-01-24 17:14] fommil commented on #1244
interesting, I use that plugin... I should check that I'm not susceptible as well

[2016-01-25 09:48] sirthias commented on #1242
@fommil Sorry for coming in late on this.
Yes, pb2 is still on shapeless 2.1 and the Scala 2.10 version still has the cross build requirement, which we should remove now.

Is there anything you still need from my side at this point?

[2016-01-25 11:13] fommil commented on #1042
just to be clear, this is closed as WontFix. We no longer need to have file watchers watching the file watchers, which is more efficient, but even if I use the new jar target support I'm still seeing ENSIME hang on startup due to all the filewatcher's time being spent in `getType`... so that operation is obviously extremely slow on windows and I don't really think I care to fix it since the JDK7 f

[2016-01-25 11:16] fommil opened #1247 "jar targets ignored on startup"
doh! This would have been so simple to test as well.

[2016-01-25 11:28] fommil commented on #1042
FYI (AFAIK, I only have `jar` files in the target directory)

[code]

[2016-01-25 15:19] greenrd commented on #933
I just experienced a similar, but different error, and `ensime-update` (which I recently renamed to `ensime-server-update`) was again the way to fix it. Is there any way we can be more robust against these sort of errors?

[2016-01-25 15:32] fommil commented on #933
by scrapping sbt. This is an upstream bug.

[2016-01-26 06:56] #1247 closed

[2016-01-26 09:40] fommil commented on #1042
actually might just reopen this to try and get to the bottom of that `getType` thing... no reason for it to be doing that and we might be able to offer a quick fix.

[2016-01-26 10:03] fommil opened #1249 "non-existent jars being indexed on startup"
I have no idea how this could be happening, but some of my (test) target jars do not exist during startup, yet they are being indexed, and an exception ensues.

This could be weird flaky Windows joy.

[2016-01-26 10:23] fommil commented on #1249
nope, file this under "sam is an idiot". Previous hack creating empty files...

[2016-01-26 10:23] #1249 closed

[2016-01-26 12:43] fommil opened #1250 "file handles being kept open"
we are leaving file handlers open on jars during indexing, which means that windows can't delete the files (among other resource leakage goodness). Oh, Windows!

[2016-01-26 14:30] fommil opened #1251 "bonecp spinning"
I see bonecp just spinning and spinning. It's supposed to be deprecated by kikari so we should give that a try... and perhaps even a system property to disable pooling altogether.

[2016-01-26 18:52] fommil commented on #1250
@jvican this is something you should also watch out for... never leave file handlers lying open because it is really bad on windows (jar files and classes could be marked as read-only by the OS until the locks are released)

[2016-01-26 20:22] fommil commented on #1042
ok, I'm going to read the damn source code of `DefaultFileMonitor`...

[2016-01-26 22:37] #1251 closed

[2016-01-26 23:27] fommil commented on #1243
I simply cannot reproduce this. I've tried adding newlines, reproducing the exact payload, it is passing. I think I'd need to see the raw payload before having a clue what's going on. My guess is that this is a bug in the sublime s-exp generator.

[2016-01-26 23:33] fommil commented on #1243
@dickwall the performance of the SWANK protocol to handle full messages is terrible, so the other clients have moved to sending the variant with the unsaved file in a temporary file. Would it be much work to fix up sublime to do that? The best I can guess here is that it's some kind of encoding problem. Was it very repeatable?

[2016-01-26 23:44] fommil commented on #1243
I wish the `request #7` line wasn't truncated! What's the `b` at the start?

[2016-01-27 00:31] fommil commented on #1243
@dickwall I went through this with @magnusart and we couldn't reproduce using my dev branch.

Can you please `publishLocal` my branch https://github.com/fommil/ensime-server/tree/parboiled2 and see if you can reproduce. If you could capture the exact source file, and get a dump of the outgoing payload (without the extra escaping that python adds) that'd be great. If you can't reproduce, then we'll

[2016-01-27 00:37] fommil commented on #1243
btw, I raised https://github.com/ensime/ensime-sublime/issues/97 now that I know that you're not using the tmp file approach to communicate with the server.

[2016-01-27 09:21] fommil commented on #1042
couldn't see anything obviously wrong, except maybe we could turn down the frequency of polling

[2016-01-27 10:04] fommil opened #1254 "accidentally deleting indexed jars every time"
I thought this was bonecp, but it looks like it's actually H2

When I start up a previously persisted session in Windows and lots of rows are stale and need to be removed, this is the sort of thing that the profiler is full of (it can sit like this for **hours**, building a fresh index is far more efficient)

[code]

[2016-01-27 10:05] fommil commented on #1254
@cvogt any ideas how we could improve the performance of this with slick?

[2016-01-27 10:10] fommil commented on #1254
I should also ask our H2 expert @smootoo ! :smile:

I think this is the slick code that is causing the problem (maybe there is a better way to implement the H2 driver operation?)

https://github.com/ensime/ensime-server/blob/6f9d68d8bf1301548c285204e6376e4cbf55769c/core/src/main/scala/org/ensime/indexer/DatabaseService.scala#L61-L70

[2016-01-27 10:18] rorygraves commented on #1254
Is this the same issue as the indexer - your windows filesystem is slow - qq - is your drive encrypted or anything special?

[2016-01-27 10:25] fommil commented on #1254
it's an SSD and encrypted but this is off the chart bad.

[2016-01-27 10:30] fommil commented on #1250
not fixed :cry:

[2016-01-27 10:56] fommil commented on #1250
it's the interactive compiler :crying_cat_face:

[2016-01-27 12:03] smootoo commented on #1254
Little bit tricky to guess what might be happening without knowing how big the tables are. How many rows typically being deleted?
I always find it useful to get slick to log the commands being sent to H2 as well.
[code]
I did notice there is no index on file in FqnSymbols, but the delete on that table is
[code]
Another thing, this thread suggests large deletes in smaller batches https://groups.goo

[2016-01-27 12:06] fommil commented on #1254
great, thanks! We'll add an index and see if that helps. Number of total rows in the DB is number of FQNs in a project (so ~millions is not unreasonable), number being deleted at a time is count in a jar or classfile (so batches of ~thousands is not unreasonable, all with the same `file`).

I can't believe we missed putting an index on this... doh! Rookie error.

[2016-01-27 12:12] fommil commented on #1254
heh, totally missed it. https://github.com/ensime/ensime-server/blob/6f9d68d8bf1301548c285204e6376e4cbf55769c/core/src/main/scala/org/ensime/indexer/DatabaseService.scala#L168

I'll do this tonight, but if you'd like to make a GPL contribution to ENSIME, then we'd happily accept it :smile: (it purifies the soul)

[2016-01-27 14:14] smootoo commented on #1254
PR here https://github.com/ensime/ensime-server/pull/1255

[2016-01-27 17:29] cvogt commented on #1254
I would have suggested playing with the batch size as well. Too many db roundtrips can be problematic. Apparently to large ones too.

[2016-01-27 18:57] fommil commented on #1254
heh, now H2 insertion is really inefficient.

Win some, lose some.

When we move to OrientDB this will hopefully go away, and be replaced with a whole new can of monkeys.

[2016-01-27 19:12] fommil commented on #1254
darn, it still takes forever to work from an existing database. It's trying to delete 62 jars that were just added, so something is wrong with the "staleness" check.

[2016-01-27 19:19] fommil commented on #1250
the interactive compiler is holding open references to jar files in FileZipArchive which causes serious problems on Windows (a file handle will prevent the file from being deleted by other processes, say, the build tool...). I'm going to have to look into a workaround in ensime, but this will impact Scala IDE as well @sschaef

at this stage, getting a fix upstream is an extremely long term solutio

[2016-01-27 19:31] cvogt commented on #1254
maybe we can merge deletion for multiple jars into fewer slick calls and see if that helps?

[2016-01-27 20:02] fommil commented on #1254
I think there might be a logic bug, those 62 jars shouldn't be marked as stale :-/

[2016-01-27 20:38] fommil commented on #1250
https://issues.scala-lang.org/browse/SI-9632

[2016-01-27 20:55] fommil commented on #1254
now this is interesting... if I repeatedly start and restart ENSIME on itself, some files are always marked as stale. I wonder if this is a timestamp fidelity issue.

[2016-01-27 21:01] fommil opened #1257 "intern Strings in VFS"
I did a quick heapdump of ENSIME server in quiesscent state and found about GB of duplicated strings (thanks to YourKit). We could remove a lot of that by using `.intern`, but a bunch of it is internal to VFS so we'd have to hack their code.

If we catch every string going into `EnsimeVFS` it should help. Might slow down Java 6 a bit but this is generally a good move on modern JVMs.

* https://iss

[2016-01-27 21:11] fommil commented on #1254
ok, added some debugging and the files that are constantly flipping are the testing jars that are using `exportJars`. Very very interesting. I probably have 62 of those in my work project. Diving back in...

[2016-01-27 22:21] fommil commented on #1254
ok. I see. Another one for the "sam is an idiot" pile.

The performance of H2 is dreadful, but the wasteful deletions are my fault. Can you see the bug?

[code]

[2016-01-27 22:53] #1243 closed

[2016-01-27 22:55] fommil commented on #1161
all ! ping

without project ideas, we can't submit anything

[2016-01-28 08:01] #1254 closed

[2016-01-28 11:46] fommil commented on #894
@davegurnell this is another one for your talk

[2016-01-28 12:05] fommil opened #1259 "utf-8 characters not supported by descriptor parser (scalaz)"
oh scalaz, aren't you just so cute and smart with your fancy method names...

[code]

[2016-01-28 12:06] fommil commented on #1259
@noelmarkham want to have a look at this? I'm not terribly motivated to support scalaz :wink:

[2016-01-28 13:57] davegurnell commented on #894
Crackin'! I shall put this to use on several projects!

It beats my "solution" to getting version information into the codebase:
https://github.com/davegurnell/versionit

On Thu, Jan 28, 2016 at 11:46 AM Sam Halliday <notifications@github.com>
wrote:

[2016-01-28 17:10] aemoncannon opened #1261 "Automagically narrow completion choices for "Foo foo = new F..." context."

[2016-01-28 17:12] aemoncannon opened #1262 "Re-enable file manager caching in JavaCompiler.scala"
This is an order-of-magnitude speedup when there are lots of jars (jar caching is file managers job!). I measure 800ms -> 50ms when analyzing .java file with 600 jars on the classpath. Notably ensime is still usable at 800ms, but it is *awesome* at 50ms :-)

[2016-01-28 17:13] aemoncannon commented on #1262
Note: will have to selectively re-enable for java7+ probably.

[2016-01-28 17:37] fommil commented on #1262
Oh wow, due you have a PR in mind?

[2016-01-28 17:38] fommil commented on #1261
It'd be good if we used the flx-ido algorithm, I've found it invaluable for, everything, really.

[2016-01-28 17:43] aemoncannon commented on #1262
Yeah. Just a simple fix.

On Thu, Jan 28, 2016 at 11:37 AM, Sam Halliday <notifications@github.com>
wrote:

[2016-01-28 17:46] aemoncannon opened #1263 "Java generally having trouble jumping to method declarations from index."
Might just be feeding a bad query to the indexer?

[2016-01-28 18:12] fommil commented on #1263
Oh I know what that is. I'm trying to fix this in my dev branch but I've been firefighting windows performance problems

[2016-01-28 19:29] fommil commented on #1263
this is the branch, needs a rebase https://github.com/fommil/ensime-server/tree/index_method_descriptors and it'll be what I get to as soon as I get past these damn windows problems. I'm actually getting close to it working.

[2016-01-28 21:31] #1262 closed

[2016-01-29 07:58] fommil commented on #1250
@retronym had an absolutely brilliant idea for this: we monkey patch! i.e. we create `ensime-monkeys` and make sure the clients put that jar before the other jars on the classpath. We could even coax `sbt-assembly` to prefer our versions over the standard implementations. It only requires a very small change to the clients to order the classpath that sbt / coursier generates.

We'd have to be care

[2016-01-29 07:59] fommil commented on #1250
BTW, this also means we could potentially monkey patch anything we want inside the presentation compiler :open_mouth:

[2016-01-29 13:25] hedefalk opened #1265 "Open in github"
_From @d6y on January 29, 2016 12:58_

Imported from README:

This link is dead, but was in the readme:

https://github.com/xebia/cakemix/blob/master/.ensime_cache/dep-src/source-jars/scala/concurrent/duration/package.scala#L17

_Copied from original issue: ensime/ensime-atom#132_

[2016-01-29 13:25] hedefalk commented on #1265
I think I want to move this to server. I'll explain:

In _modern_ editors like Atom :), you typically have commands like "Open on github" which is a pretty convenient way of getting an url to pin down a file or line of a file in a dependency that you can post in bug reports or IM. I guess it reads URL from .git if it's a first class project, but it would probably be possible to hook into this and

[2016-01-29 14:22] fommil commented on #1265
I don't understand. Btw there is a ticket to get rid of the dep-src altogether. Emacs can browse inside jars no problem.

[2016-01-29 14:31] hedefalk commented on #1265
Cool, then this is probably a dup of that.

But well, I don't understand right back at you! :)

Currently, when "code surfing", server gives me file paths to an exploded directory dep-src. Here, there isn't enough meta data to do anything cool. If I instead could get path's to within the jars (I think Atom can browse zip's too), I could read meta-data from those jars like pom.xml, ivy or sbt to ge

[2016-01-29 14:38] fommil commented on #1265
OK, sounds like it's a dupe. Have a search for jar maybe? I'm on a phone so can't do it right now

[2016-01-29 15:44] jvican commented on #1250
Great idea, like it! :+1:

[2016-01-29 18:29] hedefalk commented on #1265
Dup of #761

[2016-01-29 18:29] #1265 closed

[2016-01-29 21:50] isomarcte commented on #1259
+1 for this bug! It killed my development session today.

[2016-01-29 21:55] fommil commented on #1259
@isomarcte should be an easy fix, want to submit it? Create a one-line failing test in `SexpParserSpec.scala` (please remember to include a snarky comment about scalaz being very clever :wink: ), and fix it in `SexpParser.scala`. Once merged, it's released.

[2016-01-29 21:56] fommil commented on #1259
btw, it shouldn't kill the development session. It should just spit out an exception in the server and continue on without search results for scalaz.

[2016-01-29 21:57] rorygraves commented on #1259
DescriptorParserSpec

[2016-01-29 21:58] fommil commented on #1259
doh! I'll update my comment.

[2016-01-29 22:13] fommil commented on #1259
@isomarcte @rorygraves is fixing it

[2016-01-29 22:15] rorygraves commented on #1259
@rorygraves has fixed it - just running tests and putting together the PR, - I had to go back and reread the jvm spec for what characters are allowed in classnames (at the jvm level), the short answer is 'all of them except / and ;'

[2016-01-29 22:23] fommil commented on #1259
omg, really? We **have** to use this as the namespace for our monkey patches http://www.fileformat.info/info/unicode/char/1f435/index.htm

[2016-01-29 22:23] fommil commented on #1259
oh, darn, by definition we have to use the same as the originals. Maybe we can have that just for fun.

[2016-01-29 22:27] rorygraves commented on #1259
PR raised -
Which chars are allowed you ask?  All of them (minus delimiters)!!!
```val ClassNameCharPredicate = CharPredicate.All -- ";/ " ```

Including 🐵

[2016-01-29 22:27] isomarcte commented on #1259
Thanks for the fast fix.

@fommil hmm, I'm not sure what killed my connection between emacs and the server then. Although you are right, the server kept on running after the exception was thrown. My mistake.

[2016-01-29 22:28] rorygraves commented on #1259
No problem, I broke it - its probably fair I fix it ;)

[2016-01-29 22:30] aemoncannon commented on #1250
![image](https://cloud.githubusercontent.com/assets/7484/12689957/a5cad796-c6a5-11e5-8cf5-9c66a5025ea4.png)

[2016-01-29 22:39] fommil commented on #1250
hehehe, yeah, it's insane. But it might just be crazy enough to work. Jason already has a proposed fix in the compiler, and this seems like a way to let us backport whatever fix we need.

[2016-01-29 22:51] sschaef commented on #1250
In scala-ide we use AspectJ for such cases...

[2016-01-29 23:12] msiegenthaler opened #1267 "ClassCastException when requesting DocUriAtPointReq over HTTP"
I'm writing a Scala plugin for Cloud9, while most other things (compile errors, code completions, formatting) work I run into a problem with the tooltips I want to display:

I get a "ClassCastException: Cannot cast scala.Some to org.ensime.api.EnsimeServerMessage" whenever I call ENSIME with a DocUriAtPointReq (and if I'm correct also on TypeAtPointReq).
It does not seem to depend on the contents

[2016-01-30 00:37] fommil commented on #1267
http://ensime.github.io/editors/emacs/troubleshooting/

[2016-01-30 00:39] fommil commented on #1267
OK, you're doing a new client, cool. In that case can you please send your payload in JSON as I suspect this is a marshalling problem.

[2016-01-30 00:40] fommil commented on #1267
Btw, check the protocol-jerky directory for lots of examples of payloads.

[2016-01-30 22:27] rorygraves commented on #1267
@msiegenthaler Is it possible to get a test project where you are seeing this error?  I tried a few test and can't replicate the error.  It looks like there is an internal conversion failure within the server, but the two paths I can see don't trigger it for me.

[2016-01-31 15:59] sugakandrey commented on #1161
I'm sorry for being inactive, but I have finally finished my exams and willing to move on with this. Any directions I should follow, when coming up with project idea? Pretty much every editor seems to have been integrated already (Emacs, Vim, ST,  Atom, etc), is there anything on the ensime-server side that needs improving? Also, what should the scale of the project be?

[2016-01-31 16:18] fommil commented on #1161
Actually only really Emacs is "fully functional".

@aemoncannon / @rorygraves ?

Probably there would need to be a theme, E.g. improved debugger or integration with coverage / style checkers. The graphpocaypse would have been a good one, but that should be finished before the summer. Maybe there could be some extra analysis we could do on top of that data.

[2016-01-31 16:54] aemoncannon opened #1270 "imenu hangs for big projects"
@ancane
I tried this the other day on a large project (600 jars on classpath) and it hung. Is it trying to get structure of everything?

[2016-01-31 19:23] msiegenthaler commented on #1267
Happens only if accessed via HTTP (not Websocket). Relevant lines are
`def restHandler(in: RpcRequest): Future[EnsimeServerMessage] = {
    (project ? Canonised(in)).mapTo[EnsimeServerMessage].map(Canonised(_))
  }` in WebServerImpl

[2016-01-31 19:38] fommil commented on #1267
You need to show your source code and payload example. It's impossible to debug this from a stacktrace.

[2016-01-31 19:40] rorygraves commented on #1267
I disagree - DocUriAtPoint can never work over the rest interface, the response message is of type Option[String] and this http code cases it to EnsimeServerMessage - that call simply cannot work.

[2016-01-31 19:41] rorygraves commented on #1267
(in this case, generally I agree)

[2016-01-31 19:50] fommil commented on #1267
I'd be happy killing off the REST API, it was always just a hack for @propensive but somebody wrote a proper vim client instead.

[2016-01-31 20:06] rorygraves commented on #1267
I agree with that, I had practically forgotten about it.
It has numerous problems
* No async events (typecheck)
* Any endpoint not using ensime types (there are several)

@msiegenthaler How do you feel about using websockets for all your interactions?

[2016-01-31 20:32] msiegenthaler opened #1272 "ClassCastException on HTTP-RPC Request TypeAtPointReq"
HTTP-RPC requests (no Websockets) for TypeAtPointReq throw
`java.lang.ClassCastException: Cannot cast scala.Some to org.ensime.api.EnsimeServerMessage
`

Related to #1267

[2016-01-31 20:42] ancane commented on #1270
@aemoncannon no, it's only building structure of observable file.

[2016-01-31 21:03] msiegenthaler commented on #1267
I fixed it with a few added lines, it should now work in all cases where Websockets do.

I agree it's not the best interface to Ensime, but it was the easiest to implement for cloud9. I can't call server side Websocket from the Browser (port not public). But I could probably implement a bridge. The events are no issue, I already handle them (using Websocket on the Server)

I suggest to either get

[2016-01-31 22:16] fommil commented on #1272
I'm confused, what's the difference with the existing ticket?

[2016-02-01 07:58] msiegenthaler commented on #1272
Well, it's actually two separate code paths, in this case the Analyzer return Option[RpcResponse] while in the other its more complicated with the Analyzer returning Option[DocSigPair] and the Analyzer needs to be called a second time.

So for sake of tracebility I opened a second ticket. I don't like fixing bugs without a reference to a ticket.

[2016-02-01 09:11] #1267 closed

[2016-02-01 16:41] #1240 closed

[2016-02-01 16:43] fommil commented on #1257
with ensime-monkeys we can probably do this

[2016-02-01 17:02] fommil commented on #1257
TODO: get the details of the hotspots from the heapdump.

[2016-02-01 21:44] aemoncannon opened #1275 "java completions have wacky relavence sorting"
Currently showing fields and Object's methods before immediate class methods.

[2016-02-01 21:51] fommil commented on #1275
I wonder if there is some common logic here to be shared with Scala. I've wanted to sort and filter this stuff for a long time.

[2016-02-01 21:54] fommil commented on #1257
Whilst creating a heap dump for `File` handler diagnosis, I also grabbed this

[code]

[2016-02-01 21:55] fommil commented on #1257
and

[code]

[2016-02-02 07:43] #1250 closed

[2016-02-02 11:49] rorygraves commented on #1259
Fixed

[2016-02-02 11:49] #1259 closed

[2016-02-02 11:51] rorygraves commented on #1214
@jasonij  I think this is fixed, can you please verify and close?

[2016-02-02 11:56] rorygraves commented on #339
Moved to 2.0 as it depends on Graphpocolypse

[2016-02-02 11:57] #1214 closed

[2016-02-02 12:02] rorygraves commented on #1221
Its a client side bug, but it destroys the PC - so needs some defence on the server side.

[2016-02-02 12:09] rorygraves commented on #1102
We are now fully on PB2 since #1253

[2016-02-02 12:09] #1102 closed

[2016-02-02 13:01] aemoncannon commented on #1102
We should compare parsing time for bug file contents w.r.t above. I can do
tonight mayhaps..

On Tue, Feb 2, 2016, 6:09 AM Rory Graves (@a_dev_musing) <
notifications@github.com> wrote:

[2016-02-02 13:11] fommil commented on #1102
I prefer insect files.

[2016-02-02 13:34] fommil opened #1276 "something else other than the ZipFile is holding references to the jar file handlers"
I have a heap dump of the problem, but I haven't yet found out what is holding the reference, but its **not** the `ZipFile` anymore (that seems to be fixed).

[2016-02-02 13:55] fommil commented on #1276
`JarFile` it looks like some refs are coming from `SourceResolver` but I don't think they are the target jars. I'll investigate further tonight.

[2016-02-02 14:00] fommil commented on #1276
VFS.... `JarFile` held by `JarFileSystem` held by `FileSystemAndNameKey` (a cache). But there is no reason why that should have an open file handler....

[2016-02-02 15:36] jasonij commented on #1214
Verified, has been working since the Parboiled2 merge.

[2016-02-02 21:33] aemoncannon commented on #1161
Isn't there a scala linting framework? Would be cool to see those pop up as warnings in the editor.

also simple, fast, local static analysis. like: hey you're not handling this null.

+1 for graph analysis on top of graph indexer. for example: if you could pop up a graphviz graph of the communities or connected components that'd be neat.

a good and v. practical end2end project:  surfacing doc ex

[2016-02-02 21:38] fommil commented on #1161
doh! yes, actually search for the [OMG Ponies](https://github.com/ensime/ensime-server/issues?q=is%3Aopen+is%3Aissue+label%3A%22OMG%21+Ponies%21%22) tag for all our favourite ideas.

Definitely #848 and  #472 as Aemon suggests, would be brilliant (#1173 might be of wider interest too)

[2016-02-02 21:39] fommil commented on #1161
*sigh* I really need to get past all my firefighting with windows and write that damn graphpocalypse. I was sooo close when I got distracted.

[2016-02-02 22:11] sugakandrey commented on #1161
Alright, I'll take a closer look at those.

[2016-02-03 17:49] sugakandrey commented on #1161
#888 is perhaps the feature I miss the most in ensime, it is in my top 5 most used IntelliJ features too.
#472 seems interesting too. Hoogle has been an immense timesaver, when writing haskell, and having something like that directly in your editor would be sweet.

[2016-02-03 18:28] aemoncannon commented on #1161
+1 for #888. This would benefit everyone and there are some fun problems in there like how to cleanly scrape the excerpt in a way that can be displayed in n editors, and how to scrape docs from source code when we don't have a doc jar.

[2016-02-03 19:29] fommil commented on #1161
OK, great! What do we do next @aemoncannon ? I'm happy to draft/edit any proposals that we have to write

[2016-02-03 20:12] aemoncannon commented on #1161
Applications don't open for another couple days but maybe we could think about:
* Who wants to be a mentor? http://en.flossmanuals.net/GSoCMentoring/what-makes-a-good-mentor/
     Sadly I don't think I can commit to the time investment right now. (Also I work at google which might be weird?)
* What projects can we ask to endorse us (previous years participating organizations) https://www.google-me

[2016-02-03 21:29] fommil opened #1277 "use ports in the files, instead of bailing"
as discussed on gitter with @hedefalk and @rorygraves it would be advantageous if the ensime server could use the same port as in a previous session. For Atom, it sounds like they want to use this as the mechanism for restarting the server when the `.ensime` file changes (maybe emacs could do the same, although there is some old startup initialisation logic in there) but for Windows it is a good w

[2016-02-03 21:32] fommil commented on #1277
https://github.com/ensime/ensime-server/blob/cbacc3d37577be93e68a70c597442961d0e998c6/server/src/main/scala/org/ensime/server/PortUtil.scala

(which should probably `sys.exit` instead of throwing an exception in any case)

[2016-02-03 21:37] fommil commented on #1277
plus, as rory points out, we should re-introduce stopping the server on client disconnections. It was always a debugging feature to leave a persistent ensime-server connection anyway.

[2016-02-03 22:00] fommil commented on #1161
if its just a couple of hours a week, I can do that. I very narrowly dodged a permanent career in management a few years ago, so I know how this works :-P

[2016-02-03 22:02] aemoncannon commented on #1161
It says to be prepared for 10* hours / week

* my mentor didn't spend that amount of time :-)

On Wed, Feb 3, 2016 at 4:00 PM, Sam Halliday <notifications@github.com>
wrote:

[2016-02-03 22:11] fommil commented on #1161
@sugakandrey please keep pestering me to do my part in writing the proposal.

[2016-02-03 22:12] fommil commented on #1161
@sugakandrey the only thing to be wary of is that I'm UK Timezone and I can only really talk in the evenings, which will be quite late for you in Russia :-/

[2016-02-03 22:30] sugakandrey commented on #1161
@fommil I tend to stay up late anyways, so that shouldn't be much of a problem.

[2016-02-03 22:42] fommil commented on #1161
yeah, so that might be like 11pm or midnight for you when I come online :-/

I might be able to get up early some days, and also weekends. I'll also be able to answer quick questions on my phone during the day (and probably reply on tickets in github)

[2016-02-03 22:59] sugakandrey commented on #1161
If you ask me, this should work out just fine.

[2016-02-04 05:14] Crazy-Owl opened #1278 "Ensime-server doesn't start, java.lang.NoClassDefFoundError"
Hello, I'm using `ensime 20160201.637`. Yesterday the ensime server (in emacs) started just fine, but today I can't make it start.

[code]

I use Typesafe Activator (and `ensime-sbt-command` variable is set according to that fact).

[2016-02-04 05:41] Crazy-Owl commented on #1278
Okay, I probably have found and resolved my problem. In case anyone else encounter this:

I have moved the Activator dist to another directory and updated my `PATH` accordingly, considering that would be enough. But ensime still tried to find some libraries (guava for example) in the old path. This behavior persisted even on freshly created empty projects.

After some poking around the `.emacs.d`

[2016-02-04 05:41] #1278 closed

[2016-02-04 08:10] fommil commented on #1276
oh, *wonderful*... the java implementation of `ZipFile` actually opens the file just by creating an instance.

[2016-02-04 08:15] fommil commented on #1276
tracking upstream at https://issues.apache.org/jira/browse/VFS-593 but we'll workaround this.

[2016-02-05 20:48] ancane commented on #1245
I'll take a look at this, if you don't mind ;)

[2016-02-05 20:58] fommil commented on #1245
@ancane :-) feel free to! You will also find that we have a bunch of unit tests that can use the EnsimeVFS fixture (I caught one in my dev branch) and that some integration tests can actually be moved into the `test` config.

BTW, still loving `M-i`... I use it a lot now.

[2016-02-05 21:22] fommil opened #1280 "turn all TODO / FIXME in the ensime-server codebase into tickets here"

[2016-02-06 14:41] #1276 closed

[2016-02-07 15:48] d6y opened #1281 "Documentation lookup for cats.data.Xor$$Right"
I'm using Atom with ENSIME, and not having any joy getting `DocUriAtPointReq` to work with `Xor.Right` (from cats).

Example project: https://github.com/d6y/xor-scaldoc-lookup

Code:

[code]

And if I try to lookup the doc for `Right` like this...

[code]

...the result is:  `{"callId":28,"payload":{"typehint":"FalseResponse"}}`

Expecting to resolve `Right` to:

[code]

This via: https://github.c

[2016-02-07 17:11] fommil commented on #1281
ok, cool. It should be really easy to get an integration test case for this.

1. add whatever jars you want to the integration test project https://github.com/ensime/ensime-server/blob/e0ab76b8c8bbe09f33795d33f924f8ddfd9fc8d8/project/EnsimeBuild.scala#L264-L271
2. confirm what type is being inferred in https://github.com/ensime/ensime-server/blob/e0ab76b8c8bbe09f33795d33f924f8ddfd9fc8d8/core/src/i

[2016-02-08 08:55] d6y commented on #1281
Thanks - are there any pointers on how to run the integration test to see if I have step 2 right? `sbt it:test` runs but I'm missing something else running (presumably the server itself).

[2016-02-08 09:03] fommil commented on #1281
Check the .drone.yml for what the ci runs. You'd need to run gen-ensime and create the cache dir. We could probably handle the latter case the be honest.

[2016-02-08 10:54] d6y commented on #1281
Thank you - I've been able to progress.  The doc signature in step 2 seems to be: `DocSig(DocFqn("cats.data", "Xor$$Right$"), None)` - I don't know if that's correct or not, but the it:test passes with that value :-/

Regarding step 3, that is failing for me already without any change:

[code]

I'll look into that tonight and check my set up against the travis config.  But if it rings any bells, l

[2016-02-08 11:14] fommil commented on #1281
that's interesting. Try with JDK6 ? It sometimes affects the ordering of the search-like tests.

[2016-02-08 13:57] greenrd opened #1283 "Refactor failure: UnsupportedOperationException: RenameSourceFileChange"
[code]

[2016-02-08 13:59] greenrd commented on #1283
Yup, it is indeed not implemented. I'll take this, and try to integrate it with vc-mode too.

[2016-02-08 14:02] fommil commented on #1283
`vc-mode`?

[2016-02-08 14:03] fommil commented on #1283
you mean so refactorings are consider to be atomic commits in the vc? That would be cool.

[2016-02-08 15:49] greenrd commented on #1283
Yes, that's what I meant. Some trickiness there though.

[2016-02-08 22:35] d6y commented on #1281
No joy yet using OpenJDK 6 on Ubuntu.  I'll try some more later in the week. I'll maybe study [the Docker image](https://github.com/ensime/ensime-docker/blob/v1.x/Dockerfile) to see if I can spot anything obvious from that.

[2016-02-08 23:08] fommil commented on #1281
that's interesting. This should just work. Are you coming on Saturday to Hack the Tower?

[2016-02-09 16:56] fommil opened #1284 "how to handle duplicate target directories?"
In my current workflow, I use the `exportJars` feature of sbt and then add the jars to the ensime classpath, but I am also thinking that I should add the class directory as well.

This will result in (worst case) a duplicate of every single object in my project. It would be good to have a mechanism whereby jars are used if they exist and otherwise the target directory, but not both.

It's one of t

[2016-02-09 17:59] aemoncannon opened #1285 "Javac error brings down entire server"
11:55:07.928 ERROR LocalActorRefProvider(akka://ENSIME) LocalActorRefProvider(akka://ENSIME) - guardian failed, shutting down system
com.sun.tools.javac.util.Abort: null
	at com.sun.tools.javac.comp.Check.completionError(Check.java:258) ~[tools.jar:na]
	at com.sun.tools.javac.comp.Attr.attribTree(Attr.java:437) ~[tools.jar:na]
	at com.sun.tools.javac.comp.Attr.attribTree(Attr.java:418) ~[tools.jar

[2016-02-09 18:05] sugakandrey commented on #1161
@fommil  So how is it going with the proposal?

[2016-02-09 19:00] fommil commented on #1161
Uuuh, not started yet sorry. I should download the templates.

[2016-02-09 19:01] fommil commented on #1285
Lovely

[2016-02-09 21:31] fommil commented on #1161
we have to put together an organisation proposal first, which means creating an ideas page. @sugakandrey can you help out here by sending a PR to https://github.com/ensime/ensime.github.io/ with a new page under a "contributing" folder? No need to link it up to the main site, it can be a dangling page.

[2016-02-09 21:48] fommil commented on #1161
@sugakandrey (doesn't need to be a final document in any shape or form, just to get the ball rolling... we'll edit it to make it shiny)

[2016-02-09 22:02] sugakandrey commented on #1161
@fommil Sure, I'll get on it tomorrow, alright? Have to wake up early tomorrow, so gonna get some sleep now :)

[2016-02-09 22:25] d6y commented on #1281
A little more progress...  The  `DocResolverSpec` now runs.  I hadn't run `gen-ensime` in the project.

`sbt it:test` now fails with different errors:

[code]

I'll try to look into those in more detail.

If i apply the changes I made (!) I get failures (which I expect):

[code]

and

[code]

This is progress :-)

I won't be around Saturday, but will kick on this some more later in the week.

[2016-02-10 06:49] fommil commented on #1281
Are you using sbt-extras?

[2016-02-10 07:17] hedefalk opened #1286 "Add line, col for end position in ranges"
From discussion in gitter:

https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/util/Reporter.scala#L55

for start pos we use the following:

[code]

Maybe we can just use shift:

[code]

to reuse those functions.

[2016-02-10 07:18] hedefalk commented on #1286
I can't add labels. Still can't edit labes / add new ones in ensime-atom either. ping @fommil.

[2016-02-10 07:47] fommil commented on #1286
The github perms are really weird. They changed everything recently. I'd like everybody in time org to me one to assign and edit labels. I might have to raise a support ticket.

[2016-02-10 08:33] fommil opened #1287 "exact match classnames being trumped by (often noise) inner classes"
e.g. when I search for `Foo` if there are loads of inner classes, they'll dominate the search results for me.

[2016-02-10 08:48] fommil commented on #1287
should probably make each `$` have a penalty when lucene indexing, I also thought our search query had a boost for an exact match. I'll need to check that.

[2016-02-10 09:21] d6y commented on #1281
Yes I am using paulp sbt-extras.

I'll work through each error in turn, see if I can get anywhere.

In case this suggets anything, the first is...

[code]

[2016-02-10 10:23] fommil commented on #1281
ah. Are you perhaps lacking the java source zip?

I really need to create a checklist.

[2016-02-10 11:14] d6y commented on #1281
I think we're doing it here :-)

I did do `apt-get install openjdk-6-source`, but maybe there's more to do.

[2016-02-10 11:32] fommil commented on #1281
that is totally weird. The best I can offer is to screen share or something on Saturday or next week. Everything seems to be in order.

Can you perhaps try to run in the CI environment? `go get github.com/drone/drone-go/drone` then `drone .` in `ensime-server`.

[2016-02-10 11:32] fommil commented on #1281
(you can speed it up a little by running `docker pull ensime/ensime:latest` beforehand)

[2016-02-11 09:49] hedefalk opened #1288 "import language.feature weirdness."
I thought this one was a bit interesting:

<img width="1289" alt="screen shot 2016-02-11 at 10 35 58" src="https://cloud.githubusercontent.com/assets/116520/12973423/8beed816-d0ac-11e5-9d47-39a749ae96f5.png">

Pretty schizo:

1) language feature import not available compile error
2) language feature import unused
3) need language feature import warning

If I use languageFeature instead of language

[2016-02-11 10:09] hedefalk commented on #1288
dupe of #673

[2016-02-11 10:09] #1288 closed

[2016-02-11 14:16] fommil commented on #472
@luegg just presented the answer at scalasphere (needs relicence to GPL) scala-search.org

[2016-02-12 22:52] d6y commented on #1281
Reporting in...  the drone build does work for me (the sbt part... I killed it after that).  I'll re-check my steps, and if I still can't see anything, I'll have a look at the tests that are failing for me for more clues.

Aside - Just for the record, the commands were slightly different for me:

- I followed the [drone-cli install instructions](https://github.com/drone/drone-cli)
- `rm -rf .ensim

[2016-02-13 19:36] #894 closed

[2016-02-14 11:53] fommil commented on #996
this has been done!

[2016-02-14 11:53] #996 closed

[2016-02-14 11:54] fommil opened #1293 "remove the old refactor API"
@lxol is it time? :smile: start with a PR to the emacs client?

Then we'll need the thumbs up from @hedefalk  @jvican and @dickwall

[2016-02-14 11:55] fommil commented on #1285
@aemoncannon did your latest PR close this?

[2016-02-14 11:55] fommil opened #1294 "remove unstable refactorings"
https://github.com/scala-ide/scala-refactoring/issues/129

@dickwall you are the heaviest user of refactorings, any thoughts?

[2016-02-14 12:27] rorygraves commented on #1293
This is not live in sublime yet.

[2016-02-14 13:04] hedefalk commented on #1293
:+1:

[2016-02-14 16:50] lxol commented on #1293
shall we keep the old refactoring as a not-default option or get rid of it all together?

[2016-02-14 17:00] fommil commented on #1293
remove it completely. This was always an opt-in beta test period since it was such a big change, but I'm really happy with it. We can even remove all the old emacs code for showing the preview of the refactor. Might be a big PR of deletions!

[2016-02-14 17:02] lxol commented on #1293
ok, I will do that next week

[2016-02-14 18:35] aemoncannon commented on #1285
Yeah, until a new Error pops up : )

[2016-02-14 18:35] #1285 closed

[2016-02-14 18:39] aemoncannon commented on #1293
+1 and that will be a nice chunk of elisp we can purge...

[2016-02-14 21:51] sugakandrey commented on #1161
@fommil You wanted me to keep pestering you, so I just have to remind, that according to the [GSoC Timeline](https://developers.google.com/open-source/gsoc/timeline) we only have 5 days left to submit an application.

[2016-02-14 21:56] fommil commented on #1161
@sugakandrey actually it's 5 days to submit an organisation application, the idea proposal comes later. We are on it :smile: @rorygraves is going to finish off what I started.

[2016-02-14 22:00] sugakandrey commented on #1161
@fommil Alright then, my bad :)

[2016-02-15 14:57] #1221 closed

[2016-02-15 16:08] Luegg commented on #472
I would love to see Scaps in Ensime :+1: Though, besides relicensing, this requires some additional rework of the API. I've sketched out my plans for the new interface in https://github.com/scala-search/scaps/blob/master/scapsApi.md. @fommil, can you have a glance at the API specs? I hope the transformation from your internal representation of types to the format proposed should be straight forwar

[2016-02-15 16:45] fommil commented on #472
@Luegg cool, thanks! The API is probably still a little too high level for use in ENSIME. The ideal API for use would be something like

[code]

where `Document` is the lucene thing that we can put into our index https://github.com/ensime/ensime-server/tree/master/core/src/main/scala/org/ensime/indexer/lucene

Note that for a lot of this stuff, my dev branch is more appropriate https://github.com/

[2016-02-15 16:47] fommil commented on #472
@Luegg btw, I noticed you're using scalaz https://github.com/scala-search/scaps/blob/master/project/dependencies.scala#L9-L10

is there any chance you could remove that dependency from the core? We're very keen to avoid introducing scala bloat in our dependency chain as we're a part of the community build, and dependencies like this really slow us down from being able to support more recent versio

[2016-02-15 20:02] fommil commented on #1217
@aemoncannon FYI @lxol is was great progress on this (with @matarrese) at the hack day on Saturday. The tests in https://github.com/ensime/java7-file-watcher/pull/2 are almost passing.

[2016-02-15 20:15] rorygraves commented on #1161
Yep - its in progress.

[2016-02-15 20:16] fommil commented on #1161
"Housekeeping" is definitely the wrong milestone! :rocket: milestone...

[2016-02-15 20:35] fommil opened #1296 "use coursier for ivy resolution"
purely a developer enhancement, enable the sbt plugin.

https://github.com/alexarchambault/coursier#sbt-plugin

unfortunately 1.0.0-M7 uses java 7.

https://github.com/alexarchambault/coursier/issues/137

[2016-02-15 20:58] fommil commented on #1277
@hedefalk I'm stealing this one off you

[2016-02-15 21:16] hedefalk commented on #1277
Awesome!

On Mon, Feb 15, 2016, 21:58 Sam Halliday <notifications@github.com> wrote:

[2016-02-15 21:32] fommil commented on #1277
ok, got a patch. But need to write a test for it.

[2016-02-15 23:27] fommil commented on #1161
@sugakandrey just a heads up that it looks like ensime submits to be an organisation, then you submit to google to be a student (if we're accepted)... so there are still many hurdles and I don't want you to get your hopes up too much.

[2016-02-16 00:39] soc commented on #492
I'm seeing this failure when trying to do a jump-to with a type, no method, parameter or return type involved: https://gist.github.com/soc/75c83e73019f7b012ab1

[2016-02-16 06:35] fommil commented on #492
@soc have you got some code that exhibits the problem? Finding reproducible test cases is the first step in this annoying bug.

[2016-02-16 09:36] greenrd commented on #492
I suggest we create separate issues for different variants of this problem.

[2016-02-16 09:38] fommil commented on #492
we need a reproduction before we can do anything...

[2016-02-16 12:20] soc commented on #492
I'm experiencing it in the autowire branch here: https://github.com/lihaoyi/workbench-example-app/tree/autowire

[2016-02-16 12:34] fommil commented on #492
@soc ok cool, can you point me at some line of code / member where you experience the problem? Ideally create a fresh ticket as Robin suggests, and include as much info as you can for me to reproduce. Some examples of info here http://ensime.github.io/editors/emacs/troubleshooting/

[2016-02-16 13:32] fommil opened #1298 "print tree at point"
would be very useful for debugging and working around presentation compiler issues

[2016-02-16 16:00] aemoncannon commented on #1298
+1

I was thinking it'd be cool to have a namespace for experimental rpcs --
XGetTree or whatever.

On Tue, Feb 16, 2016 at 7:32 AM, Sam Halliday <notifications@github.com>
wrote:

[2016-02-16 20:18] Luegg commented on #472
@fommil There are some difficulties in delegating control of the index/DB to the users of Scaps:

* Scaps requires some persistent state to store frequency statistics and subtype relation which is later used to calculate statistics and analyze type queries. This could be solved, if ensime provides Scaps with a key/value store.
* Furthermore, the frequency statistics are an aggregation over all ind

[2016-02-16 21:53] #1277 closed

[2016-02-16 22:56] fommil commented on #472
We have some well defined places where we can call a batch method. I'm a bit confused about the frequency stats, can you please elaborate?

[2016-02-17 08:22] Luegg commented on #472
Frequency stats capture how likely a fingerprint term is to occur in a query. More likely terms (like `-Any` or `+Nothing`) are considered to be of less relevance. The current implementation iterates over all indexed signature and converts them to a query expression. Thus a signature `Int => String` may be converted to something like `(-Int | -Any) & (+String | +Nothing)` etc. The frequency of a t

[2016-02-17 08:48] fommil commented on #472
Hmm. That could be tricky, we definitely don't want two phases. However, maybe this could be encoded into query boosts?

[2016-02-17 09:22] Luegg commented on #472
In the end, frequencies are used to calculate query boosts. Altogether, they are one of the most central aspects of the approach and cannot easily be replaced (comparable to IDF in TF/IDF).

What exactly do you mean by "two phases"? First indexing and then aggregating statistics before the user can issue queries? This could be addressed by the online algorithm mentioned.

[2016-02-17 09:34] fommil commented on #472
are you applying the boosts to the index or the query? If its the query, then we're ok.

[2016-02-17 09:59] Luegg commented on #472
Only to the query. Actually, it is a bit more complex because querying
consists of two steps. First, Lucene is used to find documents with
fingerprints containing terms with a high relevancy (and documents
including matching full-text keywords that may be present in the user’s
query). The second step is to reorder the retrieved fingerprints by the
similarity to the query.

But I think this does no

[2016-02-17 10:10] Luegg commented on #472
Also, I think the online algorithm is crucial for the integration into IDEs. First, it will certainly improve the user experience because the index is sooner ready after adding new sources/dependencies. And second, integrating it into an asynchronous environment will be much simpler. Thus, I'll also direct my efforts into this direction.

[2016-02-17 11:03] fommil commented on #472
oh that's fine... I thought it could mean extra steps during index creation, which would be a lot more pain. Multi step queries are fine.

[2016-02-17 18:01] dwijnand opened #1300 "Hello World!"

[2016-02-17 18:03] fommil commented on #1300
you just wanted ticket number 1,300 didn't you?

[2016-02-17 18:09] dwijnand commented on #1300
I was trying to get the more up to date version of ensime/ensime-emacs#299. Anyways see #1301.

[2016-02-17 18:09] #1300 closed

[2016-02-17 19:38] josdirksen opened #1302 "When using spray together with shapeless for routing a type mismatch is thrown"
I'm using Ensime together with Atom, and for most cases it works great. I run, however, into an issue when working with spray.

The following minimal code:
[code]

Returns the following:
![image](https://cloud.githubusercontent.com/assets/1381917/13122010/37da0dfa-d5b5-11e5-9ed0-ed40aeb29cd6.png)

The strange thing is that in the initial run, the first time everything is analysed, everything goes

[2016-02-17 19:46] fommil commented on #1302
hi @josdirksen just checking something... did you see the bug report template when you opened this ticket? I just added it and not sure if it showed up.

I think this is a dupe of https://github.com/ensime/ensime-server/issues/673

[2016-02-17 19:46] #1302 closed

[2016-02-17 19:50] fommil commented on #1064
this is now documented in the Contributing guide, so removing FAQ flag

[2016-02-17 19:57] josdirksen commented on #1302
Just checked what happens when I create a new one, and indeed there was a template :). Didn't read it though when I wrote this report (my bad) and just copied over the markdown I had prepared. The issue you point to seems to describe the issue however.

[2016-02-17 20:00] fommil commented on #1302
I'm just adding the troubleshooting guides to the website right this minute, so you get a free pass :stuck_out_tongue:

[2016-02-18 01:35] dwijnand opened #1303 "Mad hacks to make my issue priority"
### Steps to reproduce

1. *insert mad hack*

### Expected behaviour

obtain Priority label magically

### Actual behaviour

... we'll see in a second

[2016-02-18 01:37] dwijnand opened #1304 "Mad hacks to make my issue priority, attempt number dos"
### Steps to reproduce

1. *insert mad hack*

### Expected behaviour

obtain Priority label magically

### Actual behaviour

... we'll see after the break

### Note

superseeds #1303

[2016-02-18 01:37] #1304 closed

[2016-02-18 01:37] #1303 closed

[2016-02-18 16:00] chipsenkbeil commented on #1223
So, went through Ensime's code for debugging. The only aspect that I think the debugger API is still lacking is variable management. So, I'm going to tackle that first by adding low-level variable management as well as a profile abstraction (pure only for now). After that, I should be able to knock the entire thing out in a [solid] day (so maybe 2-3 actual days) from what I've seen.

[2016-02-18 16:00] rorygraves commented on #1223
Awesome stuff!

[2016-02-18 16:06] fommil commented on #1223
wow, that sounds much faster than I expected :smile:

[2016-02-18 16:06] fommil commented on #1223
(we're going to finish TNG 2.0 before Stable 1.0 at this rate...)

[2016-02-18 16:12] rorygraves commented on #1223
same as normal then....

[2016-02-18 21:03] hedefalk commented on #1176
I hadn't seen this issue until it was referenced from ensime-atom by @joedirksen. https://github.com/ensime/ensime-atom/issues/116#issuecomment-185885328

So reason ensime-atom might have more problems is that we by default ask for implicits on the entirety of every file. That would make us hit these issues more often.

Seems @joedirksen also confirmed it was fixed upstream since compiling ensime-

[2016-02-18 21:06] hedefalk commented on #1176
Oh, I see @raboof already confirmed it was fixed in 2.11.8. I gotta spend more time clicking all those reference links :)

[2016-02-18 23:02] fommil commented on #1161
we've really filled out the most strategic ideas here: http://ensime.github.io/contributing/ideas/

(There is an argument to drop the bottom two, as they sound quite weak next to the bigger proposals... what do you say @rorygraves ?).

We're going in under the banner of EPFL / Scala rather than ENSIME organisation. This should dramatically increase our chances of getting funded, but it also means

[2016-02-18 23:02] #1161 closed

[2016-02-19 08:35] sschaef opened #1305 "upgrade to scala-refactoring nightlies / next release"
The moment when the dependency to scala-refactoring is updated one will get compilation errors because `PimpedTrees` does no longer exist. For now the change is not yet necessary since ensime-server doesn't depend on the nightlies of scala-refactoring.

The scala-refactoring change responsible for this issue can be found here: https://github.com/scala-ide/scala-refactoring/pull/135

[2016-02-19 18:43] mmlac commented on #227
**TL;DR** as this is Google's top result:
 delete the `port` and `http` file in the .ensime_cache folder of your project after you made sure that there is indeed no ensime running via `ps aux | grep ensime` (mac/linux)

[2016-02-19 20:32] fommil commented on #227
Actually no, just follow the troubleshooting guide in this case :wink:

[2016-02-21 11:26] sschaef commented on #1305
Do you want to depend on the nightlies of scala-refactoring? They are now published to sonatype.

[2016-02-21 12:14] fommil commented on #1305
cool, we might do that soon.

[2016-02-21 12:15] caoilte opened #1308 "emacs ensime-import-type-at-point doesn't seem to like scalaz disjunction (\/)"
### Steps to reproduce

1. Using Emacs/Ensime open a project with scalaz as a dependency
2. Declare a scalaz disjunction type eg `val x = String \/ String`
3. Move cursor over `\/` and execute `ensime-import-type-at-point`

### Expected behaviour

I would expect it to either bring up the standard choose an import popup or to error because it couldn't find a type at that point

### Actual behaviour

[2016-02-21 12:22] fommil commented on #1308
thanks for padding out the example, but I still don't really understand it because I don't use scalaz.

The best thing to do would be to create a failing integration test. You can do this by looking is `SearchServiceSpec` which is using the sources of the `testing/simple` project.

To add scalaz to one of the integration tests, look in `project/EnsimeBuild.scala` but I'd be reluctant to do that (i

[2016-02-21 12:50] caoilte commented on #1308
Thanks for the detailed instructions, I'd be happy to try creating a PR with a failing test.

I'm afraid I'm still new to Emacs/Ensime so I don't know how to find the `ensime-log-events`. The only likely buffer I have is `*inferior-ensime-server-election*` which appears to be the server logs. Nothing gets printed in the `*Messages*` buffer.

[2016-02-21 13:01] fommil commented on #1308
just execute `(setq ensime-log-events t)` in a scratch buffer before starting up an ensime session and a buffer will appear in the background with every message in / out of the server.

Are you really sure the server didn't see *anything*?

[2016-02-21 13:23] caoilte commented on #1308
Looks to me like this is a client bug. When I run it on `ArrayBuffer` it `*ensime-events*` prints

[code]

But when I run it on `\/` it doesn't print anything.

[2016-02-21 13:28] fommil commented on #1308
ok, reopen on the client side and try to create a reproduction in `ensime-tests.el`. I suspect we might be back here too.

[2016-02-21 13:28] #1308 closed

[2016-02-21 17:30] fommil commented on #1217
@lxol I've got a dev branch https://github.com/fommil/ensime-server/tree/java7-file-watcher pulling this into `ensime-server` but two problems remain before we can merge:

1. we seem to be using one thread per watcher !!!! This isn't going to work, how can we share one thread for all listeners?
2. I'm getting a failure in the `MissingJarTargetTest` integration test, which would imply that the unit

[2016-02-21 19:47] #779 closed

[2016-02-21 19:48] fommil commented on #1263
#1190

[2016-02-21 19:48] #1263 closed

[2016-02-21 20:55] fommil commented on #1296
apparently this works with java 6 now!

[2016-02-21 20:56] #1245 closed

[2016-02-21 21:27] lxol commented on #1217
@fommil
 With threads you are right it is one one watcher per thread but it can
monitor multiple recursive directories  and notify multiple listeners. But
I think we can move thread management to ensime-server from the watcher if
that's not acceptable.
I will have a look at that and the failed test  tomorrow, didn't really
have time today.

On 21 February 2016 at 17:30, Sam Halliday <notifications

[2016-02-21 21:34] fommil commented on #1217
@lxol awesome! Even with that many threads (100 for ensime-server) it still felt much faster (and used less CPU) than the java 6 threads!

[2016-02-21 21:50] #637 closed

[2016-02-22 09:48] #1305 closed

[2016-02-22 10:01] fommil opened #1314 "log trimming is too short"
the sbt build info from @dwijnand is not appearing in the default output logs because we trim log lines to 250 chars https://github.com/ensime/ensime-server/blob/master/core/src/main/resources/logback.xml#L10

Might be worth thinking about increasing the limit to 500. The point of the trimming is to avoid log bombs when something goes epically wrong and we end up with multi-MB long log lines (e.g.

[2016-02-22 10:15] lxol commented on #1217
ok , I had a  quick look the the thread issue.
When I developed Java7 watcher I tried  to mimic the Apache's
DefaulFileMonitor that does create one  new thread per watcher. What I
didn't check is that NIO WatchService use a background Poller thread per
watcher so we end up with twice the number of threads.
For example ensime-server project has around 70 DefaultFileMonitor threads
if start with Jav

[2016-02-22 10:28] dwijnand commented on #1314
(*grumble* *grumble* I wanted to write a test for this *grumble* *grumble*)

What if `Enviornment.info` returned a seq of strings to log instead?

[2016-02-22 10:41] fommil commented on #1217
we can redesign the API for the Java7 usage. The reason we have one watcher per directory / jar is to workaround VFS bugs (we need to watch the root incase it gets deleted), but I don't think we need to do that anymore for Java 7 do we?

I guess there are two steps here:

- thread usage parity (we can merge at this point)
- reduce the thread count to, ideally, one

[2016-02-22 10:44] lxol commented on #1217
ok.

I am not aware of that bug in Java 7 watcher and I had successful multi
directory per watcher test.

On 22 February 2016 at 10:41, Sam Halliday <notifications@github.com> wrote:

[2016-02-22 10:49] fommil commented on #1217
if you watch `/a/b` and it is deleted (even if `/a` is deleted also) is it ok? That's really important because the target directories get deleted by sbt.

[2016-02-22 18:17] lxol commented on #1217
I am not quite sure now. I found that Java7 file watcher reports a jar file
in a completely  unrelated directory in your failed test. I will
investigate it further.

On 22 February 2016 at 10:49, Sam Halliday <notifications@github.com> wrote:

[2016-02-22 21:24] pschorf commented on #761
My issue with supporting subfolders came up again as well. Is the consensus to keep doing extraction on the server? In that case would you be open to a PR which supports extracting a subdirectory of the jar?

[2016-02-22 21:47] fommil commented on #761
We definitely want to move away from server side extraction. I don't understand your usecase.

[2016-02-22 22:40] pschorf commented on #761
We have an internal build tool which publishes zip artifacts with sources, but instead of the normal path structure, they look like:

src/com/foocorp/A.java
src/com/foocorp/baz/B.java

With tools like intellij, we work around this by using a URI like jar:file:/tmp/foo.jar!/src

I filed #977 a while ago to add something similar to ensime, but it got rolled into the larger refactor. I'm happy to hel

[2016-02-22 22:50] fommil commented on #761
right, so you've got a prefix at the start of the source file which probably messes up our source resolver. Well, it wouldn't be the first time we had a workaround for an internal build tool... but I think we should implement the fix in https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/indexer/SourceResolver.scala

Start by writing a test in https://github.com/ensi

[2016-02-22 23:38] fommil commented on #977
I misunderstood this, reopening and renaming.

[2016-02-22 23:40] fommil commented on #977
(classic case of proposed solution clouding the problem statement)

[2016-02-23 00:24] pschorf commented on #977
I'll see what I can do about working around it internally tomorrow, but I
think this is still worth keeping open since other tools support it.

If I can't get a workaround, I'll start on a PR :)
On Mon, Feb 22, 2016 at 5:40 PM Sam Halliday <notifications@github.com>
wrote:

[2016-02-23 00:26] fommil commented on #977
our philosophy is to fix problems at their core, instead of working around. If it is not possible to fix at the core, then document heavily why you've written something crazy that complicates things here, and even then, only do it if it actually impacts somebody (not an imaginary weird scenario).

[2016-02-23 10:47] lxol commented on #1217
the watcher reported a file name relative to the watched directory instead
of the absolute path. I submitted a PR to fix that.

@fommil  I guess the case you described covered by "survive deletion of the
watched directory" test from FileWatcherSpec and java7 watcher passed it.

I will go about the  thread issue now.

On 22 February 2016 at 18:16, Alex Olkhovskiy <alex@olkhovskiy.com> wrote:

[2016-02-23 12:13] ancane opened #1316 "RequestHandler FIXME: Find and eliminate all the Option responses legacy"
Eliminate Option responses according to [FIXME](https://github.com/ensime/ensime-server/blob/cbacc3d37577be93e68a70c597442961d0e998c6/server/src/main/scala/org/ensime/server/RequestHandler.scala#L49)

[2016-02-23 13:14] fommil commented on #1316
cool! This looks sensible. There might be another handler in the WebSockets side, I seem to recall it being added recently.

Tests failing, can you see the error?

[2016-02-23 14:26] lxol commented on #1217
It looks like there is no way around of 2 threads per watcher. We create an
instance of WatchService that uses an internal background poll thread. Then
we use a blocking `take` function in a loop to process WatchEvents.

https://github.com/ensime/java7-file-watcher/blob/master/src/main/java/org/ensime/filewatcher/FileMonitor.java#L231

On the plus side we can register directories recursively with

[2016-02-23 14:38] fommil commented on #1217
is there no async way to get the information from the watcher?

[2016-02-23 14:39] fommil commented on #1217
what if we have a single thread that polls all our watchers in a loop?

[2016-02-23 14:53] lxol commented on #1217
I think we can use a non-blocking `poll` for that. But why do we need to consume extra cpu cycles if we can do the same with blocked background threads?

[2016-02-23 15:20] fommil commented on #1217
imagine you have 1,000+ directories to watch (like me) :smile:

[2016-02-23 15:30] lxol commented on #1217
You'll make a cpu really busy if you poll 1,000+ watchers every second then...

How difficult would it be to utilize a recursive watcher in ensime-server?

[2016-02-23 15:55] lxol commented on #1217
Actually I think we can redesign a watcher to register all possible directories and selectors in one watcher and maintain a list of listeners with associated watched directories and selectors. In that case we can notify  only listeners that have matching dirs and selectors for the WatchEvent.

[2016-02-23 15:58] lxol commented on #1217
or use several watchers that  specialize  on particular selectors. "jar", ".scala" watchers, etc...

[2016-02-23 16:13] fommil commented on #1217
that would be nice, but are you sure it handles the case where the base is deleted and recreated?

[2016-02-23 16:33] lxol commented on #1217
The watcher detects the deletion of the base directory. We can react by
recreating  and re-regestering  the base, the same technique that we use
now.

On 23 February 2016 at 16:13, Sam Halliday <notifications@github.com> wrote:

[2016-02-23 20:36] #1316 closed

[2016-02-23 20:48] fommil opened #1318 "GC on idle"
We could GC / runFinalizers when no messages have been received in a few minutes. Will keep our heap size down whilst also helping with that annoying file handler issue on windows which won't go away: I'm pretty sure it's VFS and/or #1322.

We should also run GC / finalizers when we restart the presentation compiler (either intentional restarts or actor restart)

[2016-02-23 20:51] fommil commented on #1217
OK, that sounds good! Code it as if it was going to be a complete replacement for what we currently have and we can do the swap at the right level.

[2016-02-23 21:14] lxol commented on #1217
ok

[2016-02-24 11:30] fommil opened #1320 "upgrade parboiled"
https://github.com/sirthias/parboiled2/issues/160

[2016-02-24 16:27] pschorf commented on #977
I got some traction on making a change internally, so I'll close this out. Thanks for the help!

[2016-02-24 16:27] #977 closed

[2016-02-24 16:43] fommil commented on #977
:smile: best way to fix it

[2016-02-25 07:46] fommil opened #1321 "H2 delete is really inefficient"
Effectively reopening https://github.com/ensime/ensime-server/pull/1255

I'm noticing insane wait times on Windows for ENSIME to reindex a big jar.

@smootoo's fix is to add an index, but a quick hack didn't work due to performance reasons of creating the index (on a string column). Perhaps we can look at making the filenames foreign keys, which should also reduce the memory footprint.

This makes

[2016-02-25 23:23] smootoo commented on #1321
Is there a way for me to reproduce this? Maybe a test that exercises the problematic code paths?

[2016-02-26 06:35] fommil commented on #1321
Yup, I'll try to create one. For now manual test is the run ENSIME on a big compiled project and then `sbt clean`

[2016-02-26 11:18] fommil opened #1322 "REST endpoint to release JarFile references"
Another file handler bug in the scala-compiler, this time from `ScalaClassLoader` (the following on scala 2.10) might need another monkey patch // @retronym

#1318 is a potential workaround.

[code]

[2016-02-26 11:22] fommil commented on #1091
#980

[2016-02-26 11:22] #1091 closed

[2016-02-26 11:22] fommil commented on #1115
closed in light of new github changes

[2016-02-26 11:22] #1115 closed

[2016-02-26 11:23] fommil commented on #980
I don't think we can realistically do this without better hardware.

[2016-02-26 11:23] #980 closed

[2016-02-26 11:24] #1151 closed

[2016-02-26 11:25] #1134 closed

[2016-02-26 11:28] fommil commented on #1042
this should be replaced by #1217

[2016-02-26 11:28] #1042 closed

[2016-02-27 12:09] fommil commented on #1321
@smootoo I'll try to make a reproducible test case for this today or tomorrow. If you don't see anything by the end of today, please pester me about it. Now descending into the last of imaginary things ... https://github.com/fommil/imaginary-friend

[2016-02-27 19:19] fommil opened #1325 "bump shapeless"
got a branch waiting for maven central to catch up https://github.com/fommil/ensime-server/tree/bump-shapeless

might also need https://github.com/sirthias/parboiled2/issues/163 let's see how the tests hold up

[2016-02-28 11:47] fommil opened #1327 "use macro-compat"
It seems that https://github.com/milessabin/macro-compat is taking care of a lot of the 2.10/2.11 nastiness that we had to hack around in core's scala-specific folders.

[2016-02-28 15:53] fommil opened #1328 "short circuits"
I found out today that, despite what Odersky's book implies, `&` will not short circuit in a pattern match guard.

Therefore the following two uses are too eager

[code]

[2016-02-28 20:14] #1328 closed

[2016-02-28 21:26] lxol commented on #1217
I've rewritten the watcher in scala. Still wip though, 5 out of 16 tests fail. I am dealing now with some edge cases when base is a file. It is tricky because Java7 WatchService can register only directories.

https://github.com/lxol/java7-file-watcher/commit/3e04acbd2ae53dcb64c7a1eedb911d672d7cd5a6

[2016-02-28 21:59] fommil commented on #1217
great stuff! Looking forward to this :smile:

[2016-02-28 22:00] fommil commented on #1321
oh drat, I totally forgot to do this. I'll try to find this week as I managed to break the back of the imaginary friend stuff.

[2016-02-28 22:38] smootoo commented on #1321
I had a quick look at this on a running server and I think there might be some things that can be done to speed things up. Will need to play more.

[2016-02-29 14:47] fommil opened #1331 "support custom deprecated annotations"
Some teams have their own deprecated annotations to work around the inability to disable deprecation warnings (and therefore get the benefit of fatal-warnings). It would be good to support user-defined deprecation annotations. e.g. anything called `deprecated` or `deprecating`

https://github.com/ensime/ensime-server/blob/5528de132e6b87682bb95e8ba93434f924c71dc3/core/src/main/scala/org/ensime/core

[2016-02-29 23:40] fommil commented on #1321
fantastic! Do you still need me to put together an automated test case?

What I was going to do was to create an integration test for a project with loads of dependencies (maybe 100) and a module with loads of target classfiles (say 10,000). After indexing (which will take a couple of minutes), save the H2 for future use. Then we simulate removing the classes all at once.

The test should be more

[2016-02-29 23:43] fommil commented on #1321
Hmm, I wonder if running ensime on `ensime-server` itself would generate a good enough example.  Then it should be a simple case of saving the `.ensime_cache` after everything is all committed for a fully compiled `ensime-server` and then firing off delete messages for every single `.class` file that is in the database, in a random order, to the `SearchService`.

[2016-03-01 00:24] smootoo commented on #1321
I've been playing with it on Slick. It's a monster project. I can see why it would be slow. Haven't had change to have a look at tweaking it yet. Got some interview prep to do. Is it ok if I look at it some time this week or is it more urgent than that?

[2016-03-01 00:33] fommil commented on #1321
That's fine! It's not super urgent. I flagged it as "priority" just so I knew what the next thing on my hit list should be, but I have a workaround.

[2016-03-01 06:54] #1325 closed

[2016-03-02 17:12] fommil opened #1332 "lombok support for java files"
Netbeans should support Lombok (I used to use it in Netbeans) https://projectlombok.org/setup/netbeans.html but I get a lot of red squigglies.

@aemoncannon have you ever used lombok? It'll change your life.

[2016-03-02 17:12] fommil commented on #1332
https://projectlombok.org/

[2016-03-02 18:04] gregnwosu commented on #1185
im seeing this issue

[2016-03-02 18:18] fommil commented on #1185
http://ensime.github.io/getting_help/

[2016-03-02 22:25] fommil commented on #1322
highly relevant https://github.com/sbt/junit-interface/issues/67

[2016-03-02 22:26] fommil commented on #1322
what the hell, github

[2016-03-02 23:28] fommil commented on #1322
raised as https://issues.scala-lang.org/browse/SI-9682

[2016-03-02 23:28] fommil commented on #1322
we might be able to do something with a monkey patch.

[2016-03-02 23:46] dwijnand commented on #1318
I could have a crack at this at Hack The Tower.

Could you provide some more detail please?

* Where are messages received? An Actor?
* How can we test this behaviour? I think one can inspect runtime heap usage in code, so something around that perhaps.

[2016-03-02 23:55] fommil commented on #1318
- the `Project.scala` actor, we already have a debounce style pattern that you could use for inspiration for restarting the `Analyzer` actor
- depends what you want to test. Do you just want to test that the message / GC occurs, or that JarFile references are really cleared up? That is really tricky, you might think you can use reflection here, but the JVM lies like a cheap watch. There is a mythi

[2016-03-02 23:58] fommil commented on #1318
btw, I'm pretty sure that https://github.com/ensime/ensime-server/issues/1322 / https://issues.scala-lang.org/browse/SI-9682 is the culprit of some problems I'm seeing.

[2016-03-03 00:07] dwijnand commented on #1318
I think we can start with a GC occurred because the heap is less, on some threshold.

So perhaps we could:
* dial down the "no messages - let's GC" threshold to 1 second
* generate a bunch of heap, by sending a bunch of messages and doing something
* then stop and register the heap used
* then wait
* then validate that less heap is used, thus proving a GC occurred

I've used Google's Caliper once

[2016-03-03 00:09] fommil commented on #1318
yeah that sounds good! We can't be sure that GC / runFinalizers are doing what we want but I've evidence that in this particular case (unlike the sbt test runners) a GC does actually make a difference. We should also run GC after restarting the PC because that's the exact moment that jarfiles become stale.

[2016-03-03 00:12] dwijnand commented on #1318
Yeah the approach can get more sophisticated if we're unhappy with immediate results.

When does the PC get restarted? How do we simulate that to test for the GC occurring?

[2016-03-03 00:13] dwijnand commented on #1318
Do you mind updating the ticket otherwise I'll forget about the PC restart part too. Thanks.

[2016-03-03 00:13] fommil commented on #1318
the PC is restarted inside `Analyzer.scala`'s `restartCompiler` but also when the `Analyzer` actor itself restarts.

[2016-03-03 00:20] dwijnand commented on #1318
So how do I simulate either?

[2016-03-03 00:32] rabbitonweb commented on #1331
how should we distinguish which annotations are the 'deprectaing' ones? just by name ("e.g. anything called deprecated or deprecating") or some kind of project specific user configuration?

[2016-03-03 06:32] fommil commented on #1331
Just by name. This is a niche feature just to support my use at work, so no need to complexify my offering customisation.

[2016-03-03 06:34] fommil commented on #1318
Just send a message to the analyser actor. The intended restart should be easy, the actor restart probably has some standard akka mechanism.

[2016-03-03 10:46] rabbitonweb commented on #1331
Awesome, I think I will pick that as it seems good entry point

[2016-03-03 17:38] fommil commented on #1331
that'd be pretty cool! It might even be an idea to introduce our own `@deprecating` annotation too and use it in the public API. That way we can give hints to clients and ourselves, without failing the compile.

[2016-03-04 10:33] Valdaer commented on #1293
This will be blocked until removal of old api in all clients, right?

[2016-03-04 10:37] fommil commented on #1293
@dickwall any ETAs on the refactor move over?

[2016-03-04 11:41] hedefalk commented on #1293
It has been removed in Atom just to clarify.

[2016-03-04 16:02] fommil commented on #809
I see this a lot with https://github.com/fommil/imaginary-friend/issues/11

I can't create a minimal reproduction despite a few attempts.

A `C-c C-c r` usually fixes it, but it's annoying to have to retype. Probably just suppressing the warning would be enough.

[2016-03-06 09:57] Valdaer commented on #1320
shouldn't this be closed already by this: https://github.com/ensime/ensime-server/pull/1326 , or this issue is for some rewriting for some newer API of parboiled?

[2016-03-06 13:22] #1320 closed

[2016-03-07 01:38] zzguiji opened #1335 "why i have to download so many more package, even i already have them in my .ivy2?"
Every time I type-in `gen-ensime` when I make a small change in my `build.sbt`.

Ensime server will download as many as the project used packages again...

Now, I am update my `play framework` to `2.5.0` the `ensime` download almost the whole dependenses...

[2016-03-07 09:18] fommil commented on #1335
To post this ticket you bypassed the Getting Help page on ensiwe.org, choose the wrong issue tracker and explicitly ignored the github issue template and advice on how to get help. Please go back to the beginning.

[2016-03-07 09:18] #1335 closed

[2016-03-07 09:41] lxol commented on #1217
@fommil  can we add an issue tracker to ensime/java7-file-watcher. I noticed a difference in `inotify` behaviour on OS X and also wanted to investigate if we affected by WatchService bug on Linux  http://blog.omega-prime.co.uk/?p=161. It would be nice to create separate issues for that.

[2016-03-07 10:07] fommil commented on #1217
I'm out this week, definitely ok to use ensime-server the track this stuff.

[2016-03-07 10:46] lxol opened #1336 "OS X Java 7 NIO watcher"
From what I observed on OS X Yosemite, `inotify` signals a key exactly every 10 seconds which means that all ensime/java7-file-watcher tests fail with timeouts.
I think we should either find a way to tune `inotify` or update the tests to tolerate the delay.

[2016-03-07 10:57] lxol opened #1337 "Investigate a possible bug in WatchService on Linux"
As per this blog http://blog.omega-prime.co.uk/?p=161 it is possible that events can be discarded if we  are registering watches while simultaneously receiving events.
We can add a property based test to verify that our implementation of the watcher is not affected by the bug.

[2016-03-08 09:22] jvican commented on #1293
We didn't even use it. So it's ok :smile:

[2016-03-08 21:24] lxol commented on #1217
I started to use a new watcher with ensime-server. https://github.com/lxol/ensime-server/commit/0847ba401526bb74043672e70e475cd215da5108
The first thing I noticed in emacs is that the watcher reacts to `.#`  temporary files. Is that a good idea to be more specific with the selections and use regexp instead of just extensions?

[2016-03-08 21:53] fommil commented on #1217
Good idea

[2016-03-09 07:14] lxol commented on #1217
another observation - with a new watcher, the ensime-server project has only 4 watcher related threads.
~ 70 with current apache DefaultFileMonitor

[2016-03-09 10:30] rorygraves commented on #1217
Awesome observations!

[2016-03-09 10:30] rorygraves commented on #1217
Sounds like this is going to be a huge win.

[2016-03-09 10:32] fommil commented on #1217
:-)

[2016-03-09 10:33] jvican commented on #1217
I'd love to have this! Keep up the good work and hope to have a release soon! :+1:

[2016-03-09 10:38] fommil commented on #1217
Do we have an OS X Travis test set up for the file watchers?

[2016-03-09 11:37] lxol commented on #1217
It would be nice to have OS X Travis tests. Java7 WatchService is platform dependent and we've already seen the differences between Win, Linux and OS X.

[2016-03-09 19:17] rorygraves commented on #1067
Will be dead once we move to Scala-debugger

[2016-03-11 21:47] rabbitonweb commented on #1318
Hi,
both me & @lukasz-golebiewski met with @rorygraves  last Wednesday. Hack initial implantation. Today I've did some changes to it and it's on https://github.com/rabbitonweb/ensime-server/tree/gc_idle.

It is not yet PR ready. It lacks: tests, running IdleScheduler actor & (optional) configration in .ensime to set idle time

[2016-03-11 21:49] dwijnand commented on #1318
ugh..

[2016-03-11 21:55] rabbitonweb commented on #1318
I want be able to finish it today and it's those are my first commits to Ensime (so they probably suck), maybe u can pick it up tomorrow?

[2016-03-11 21:58] dwijnand commented on #1318
It's all yours. I'll pick something else tomorrow.

[2016-03-11 21:59] rabbitonweb commented on #1318
here is PR: https://github.com/ensime/ensime-server/pull/1340
nothing really fancy

i'm sorry for taking it, i think we did not notice the conversation ...

[2016-03-11 22:12] asznajder commented on #1280
Due to the Scala Hackathon in Warsaw, I'm going recently through _ensime-server_ code. I probably won't be able to change all FIXME/TODO into tickets, but it would be natural for me to open the issues for those that I'll find.

One question only: should I remove FIXME/TODO comments as an issue is created for them or do you prefer to leave them?

[2016-03-11 22:24] rabbitonweb commented on #1318
Don't really know how to test that GC occurred. I could write abstraction over `System.gc` but that just seems like an overhead. Any ideas?

[2016-03-11 22:43] fommil commented on #1280
Remove :-)

[2016-03-11 22:43] fommil commented on #1280
Actually sometimes it might make sense to leave a comment saying that there is a related ticket

[2016-03-12 08:37] rorygraves commented on #1331
Cross reference - PR raised:
https://github.com/ensime/ensime-server/pull/1334

[2016-03-12 08:40] rorygraves commented on #1318
@dwijnand sorry, Mia culpa - didn't follow the discussion and was after a quick ticket - I think there aer actually two tickets in this  - GC on idle and restart the PC occasionally - I know @rabbitonweb 's ticket only addresses the first one.

[2016-03-12 08:42] rorygraves commented on #1298
To add details -
Add an API call which defers down to ```showRaw``` on the compiler API.
This would need a companion ticket on emacs/etc to implement the client side rendering.

Thought from @fommil  'There is another way of visualising too, which shows the pseudo scala code'

[2016-03-12 08:44] rorygraves commented on #1287
Notes:  This will be in the SearchService class (the lucene indexer).  It is possible to create an integration test expressing the behaviour.

[2016-03-12 08:50] rorygraves commented on #778
http://stackoverflow.com/questions/4433979/how-do-i-give-a-name-to-a-visualvm-unknown-application might lead to some hints, sbt definately has an iconm as does scala.

[2016-03-12 09:07] rorygraves commented on #778
Now this file is just depressing
https://sourcecodebrowser.com/visualvm/1.3/_main_class_application_type_factory_8java_source.html

Look at line 108

[2016-03-12 09:10] fommil commented on #778
*sigh*

[2016-03-12 09:12] rorygraves commented on #778
So about 10 minutes of code, 3 years of getting the PR accepted for it to in Java 9 which nobody is going to run for after 5 years.

[2016-03-12 09:23] rorygraves commented on #1314
@dwijnand  I think your suggestion is the right one

[2016-03-12 09:37] fommil commented on #778
I think it's possible client side

[2016-03-12 09:38] fommil commented on #778
Heh, the old logo i posted has now been replaced with the new one because of the url.

[2016-03-12 11:38] rorygraves commented on #1294
Blocked on Sublime removing the deprecated calls.

[2016-03-12 11:39] fommil opened #1341 "backpressure in the file indexing"
Currently, in the `SearchService`, we aggressively index the user's classfiles. However, this leads to memory usage explosions when the database write is too slow.

Make it use backpressure so we limit how many classes are being indexed at any one time. ensime server heap usage could be dramatically reduced.

[2016-03-12 14:45] #1314 closed

[2016-03-12 14:48] rorygraves commented on #1294
Closed for now.

[2016-03-12 14:48] #1294 closed

[2016-03-12 16:20] fommil opened #1346 "project/server config as HOCON or JSON"
it would be good if we had a ServerConfig as well as an EnsimeConfig, and if both were in HOCON or JSON so that clients don't have to implement an s-expression parser.

[2016-03-12 16:38] fommil opened #1347 "transient debugger failure"
we've seen this a lot recently

[code]

e.g. http://fommil.com/ensime/ensime-server/268/2

[2016-03-12 16:41] #692 closed

[2016-03-12 16:58] caoilte commented on #1287
You would think https://github.com/ensime/ensime-server/commit/df0eb4a7ef9af07d14d79370dea9993574fa76a4 would demonstrate that this cannot happen, but there must be something coincidental about that naming which doesn't lead to the inner class coming top.

I was able to reproduce the exact problem with (and can be called in SearchServiceSpec conveniently)

`service.searchClasses("Matchers", 100)`

[2016-03-13 05:17] chipsenkbeil commented on #1347
So it's not just me that's been seeing this error. I hadn't even touched the debug code yet when I encountered that error.

[2016-03-13 07:35] scalanatortest commented on #1347
No. Sees there is a second thread started message lucking about. We were not paying the errors proper attention

[2016-03-13 07:37] rorygraves commented on #1347
Lets  try that again -
No. Sees there is a second thread started message lucking about. We were not paying the errors proper attention

[2016-03-13 09:46] fommil commented on #1347
I think the probability increased on well in my branch that spawned the process and attached.

[2016-03-13 13:41] fommil commented on #1347
FYI this is the branch I mean https://github.com/fommil/ensime-server/tree/debug_attach it's gone stale because it's not been a priority for me for some months, but hopefully there are some salvagable ideas in there.

[2016-03-13 14:24] fommil opened #1351 "use fs2 to rewrite SearchService"
**UPDATE**: (the original ticket was to replace all of akka with something else, but reducing the scope to use a non-akka solution for the indexer seems a much more achieveable goal)

Depending on akka brings in a huge dependency tree and restricts our ability to work on bleeding edge scala releases.

Also, I've become increasingly unhappy with akka as a framework and we're in Typelevel so we shou

[2016-03-13 15:40] rorygraves commented on #1347
Yep - two threads.....
[code]

[2016-03-13 15:40] rorygraves commented on #1347
Just running more tests with the thread names as well

[2016-03-14 13:45] fommil commented on #1321
@smootoo still slow :disappointed: your idea of selectively disabling MVCC sounds good. I'll try to do a hack along those lines.

[2016-03-14 13:52] fommil commented on #1321
`MVStore.freeUnusedChunks` is now the bottleneck for me according to YourKit. Deleting / resizing files on my Windows box is ridiculously slow, I wonder if this is related.

[2016-03-14 15:51] fommil commented on #1321
actually, it might still be really slow, but it is definitely faster than it was. If compile time is on par with H2 delete time, this might just about work.

[2016-03-14 16:00] fommil commented on #1321
hell, building an in-memory cache might make sense at this point.

[2016-03-14 22:00] smootoo commented on #1321
I don't have a windows box to reproduce the problem you are seeing, but I strongly suspect the filesystem is the problem. I do see the size of the db file growing and shrinking significantly during a clean/rebuild cycle. If that is slower on windows than on linux, that could be why it seems so bad for you. Try ;MVCC=FALSE maybe?

Without any evidence, I suspect an in-memory cache for local, transi

[2016-03-14 22:06] fommil commented on #1321
yeah, that'd be awesome. Probably a bit tricky to implement that so I'll try the MVCC config option and also consider an in-memory option and maybe bringing that index back now that its a foreign key and not a full String per row.

I didn't notice the file changing size on my windows box though. I see the problem on a **huge** jar file, about 2,000 source files all in (mixed java / scala). It was

[2016-03-15 20:49] sugakandrey commented on #1298
This seems easy enough, going to give it a shot. Also, could someone provide a simple use case example for this?

[2016-03-15 21:16] fommil commented on #1298
Use case: a macro developer, wanting to print out the AST of the code at point.

or, ENSIME developer wanting to see what the AST looks like in the presentation compiler wanting to do the same.

[2016-03-16 11:12] fommil commented on #1322
possibly even a REST API endpoint that sbt can hit to force a GC (and a prescompiler pause / restart) would be good.

[2016-03-18 14:32] ChrisCoffey commented on #355
I'll take a stab at this in the next couple of days

[2016-03-18 14:35] fommil commented on #355
https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/indexer/IndexService.scala#L23F

add a boost to classes in your project. Not obvious how that bit of information is passed to the lucene analyser.

[2016-03-18 14:48] fommil commented on #355
I think all you need to do is work out an importance score in IndexService.persist and then add a parameter to SimpleLucene.create that encodes it as an index-time boost. I'm a bit embarrassed about lack of unit test coverage of SimpleLucene, because we rely on the integration level testing of IndexService. It's designed to hide the mutable (and incredibly specialist) Java API from Scala. The reas

[2016-03-18 14:51] fommil commented on #355
oh I bet IndexService will need to take an `EnsimeConfig` or you'll need to add an extra parameter onto `persist` so that the caller can pass the bit of information.

[2016-03-18 18:01] #1331 closed

[2016-03-18 18:29] rorygraves commented on #1089
Closing as I think this is handled.

[2016-03-18 18:29] #1089 closed

[2016-03-18 18:30] rorygraves commented on #778
Moved ticket out from 1.0 - its a nice to have, but it involved a pull against jvisualvm rather than ensime.

[2016-03-18 18:35] rorygraves commented on #1293
Sublime now users new ractoring api - so this is unblocked and good to go.

[2016-03-18 18:39] rorygraves commented on #1293
PR already open - waiting for rebase.

[2016-03-18 18:40] fommil commented on #778
did you send one? if we can't do it on our end then just close this.

[2016-03-18 18:40] #778 closed

[2016-03-18 19:59] jvican commented on #1257
If I remember correctly, `String.intern` keeps strong references to the objects. In general, I'll use `WeakReference`s to do this. But, in case there's any chance that those strings appear again after being cleared from memory, I'll stick with `SoftReference`s. They'll be removed before an `OutOfMemoryError` is thrown even though the JVM will try to keep them in memory as long as possible.

[2016-03-18 20:23] fommil commented on #1257
It just means `.intern()` when constructing strings.

[2016-03-18 20:24] fommil commented on #1257
No need to consider strong or weak refs. Once you call .intern just forget the original. Are thinking about picking up this one? :-) happy to talk about it on gitter tomorrow

[2016-03-18 20:27] jvican commented on #1257
You have another issue in which you show worries about memory consumption. I think that interning should depend on the available memory and therefore I propose a reference-based implementation instead of using the default intern.‎ This will free up the memory if it's really necessary, and given the condition that ensime is probably running along another JVM (e.g. Sbt), I consider this a feasibe fe

[2016-03-18 21:09] fommil commented on #1257
It would be a big help if the one or two places inside VFS that create highly repetitive strings had .intern called on these strings after creation. It should be a very surgical change in a monkey patch. Let's keep it simple and just do it with prejudice. I don't know where the objects are being created, although the memory dump shows where they remain. If you could do a memory allocation trace wi

[2016-03-18 21:10] fommil commented on #1257
Btw, i don't really know why you're talking about references here. The intern pool is a fixed and configurable size orders of magnitude below the current usage

[2016-03-18 21:14] jvican commented on #1257
Oh, I missed the point that this is going to be a fix for VFS, I though it was server-related and therefore I proposed something more complex and efficient. I'm talking about using references as circuit breakers (for the GC). Obviously, `intern` will be way more efficient than the current state, I was just proposing to push this efficiency a little bit more.

[2016-03-18 21:17] jvican commented on #1257
How can I reproduce this to profile it?

[2016-03-18 21:28] fommil commented on #1257
Heh. Find a big project and take a heap dump :smile: we have some yourkit licences, we might be able to ask for more. The trial licence should work for a few weeks.

[2016-03-18 21:30] jvican commented on #1257
Okey, I'll do that. I'll stick with intern but do you understand now why I proposed references?

[2016-03-18 21:49] fommil commented on #1257
Ah yes. i see! :smile: yeah if it's domain objects one can be much more advanced with interning techniques. I've considered writing a smarter case class impl that does something similar

[2016-03-20 20:11] fommil commented on #1351
https://github.com/pnf/scala-csp

[2016-03-23 01:17] #1298 closed

[2016-03-23 09:36] fommil opened #1357 "relative paths in .ensime"
as suggested by @soc and @dwijnand it would be good to have `HOME` and `root-dir` expansion in the `.ensime` file.

Will need editor support as well, but in terms of the server this could be implemented similarly to the `Canon` which is a filter on all `File`.

[2016-03-24 19:05] chipsenkbeil commented on #1223
So, started working on this last night. Wrote up quite a few TODOs that I'm going to tackle in the debugger API to a) get missing abstractions added and b) clean up the code such that it is fewer lines in Ensime.

Got a branch started here: https://github.com/chipsenkbeil/ensime-server/tree/RefactorDebugger

Main file of interest will be this one: https://github.com/chipsenkbeil/ensime-server/blob

[2016-03-24 19:22] fommil commented on #1223
Nice! It would be really good if you got the tests attaching to an external process by tcp but nnot 100% necessary. Or even figuring out the current windows failure would be good.

[2016-03-24 19:40] chipsenkbeil commented on #1223
@fommil, you mean spinning up the process and using the socket attaching debugger versus the raw command line (launching) debugger? I've already got tools to do that (`JDITools.spawn(...)`), so I would think it would be possible, but not in the initial scope of this issue, right?

[2016-03-24 21:04] chipsenkbeil commented on #1223
Added all of the changes/missing features that I came up with to my issue list: https://github.com/ensime/scala-debugger/issues

Once again, lots of tiny issues, but not too many that wouldn't take an hour to implement and test. Once all of these are done, the Ensime server debug code that needs to be maintained shrinks by quite a lot (and becomes more readable).

[2016-03-25 13:32] fommil commented on #1347
I think I've got to the bottom of this. It looks like even on Linux with an attach process we get the same thing. On startup we can listen for up to three messages and they will be

- `DebugBreakEvent`

and possibly none/either/both of

- duplicate `DebugBreakEvent`
- `DebugThreadStartEvent`

this probably points to a bug deep inside our debugging manager, but for now I'm considering this startup

[2016-03-25 20:03] #1347 closed

[2016-03-28 14:36] ChrisCoffey commented on #355
Turns out the boosting fix for this ticket actually exacerbates the issue in #1287. I'd like to close my current PR, port the general boosting concept over to a new branch, address the inner-class matching, then come back to this. Any objections to that approach?

[2016-03-28 15:02] fommil commented on #355
@ChrisCoffey your PR is good enough to merge as-is, but just make the boost 1.1f :stuck_out_tongue:

[2016-03-28 15:02] fommil commented on #355
by as-is, I mean when you implement the `isUser` method

[2016-03-28 19:18] fommil commented on #1318
#1322 suggested a remote GC

[2016-03-28 19:18] #1318 closed

[2016-03-28 20:19] #1067 closed

[2016-03-29 00:17] andrebeat commented on #1217
A bit off-topic but I've noticed that you've created another project to depend on Java 7 APIs. I have a project where I've setup conditional compilation based on JVM version ([build.sbt]) and also conditional selection of appropriate classes at runtime ([Adder.scala]). Just thought this could be useful.

[build.sbt]: https://github.com/andrebeat/scala-pool/blob/master/build.sbt#L30
[Adder.scala]:

[2016-03-29 05:51] fommil commented on #1217
It won't work for us because our docker images don't have Java 7 and it's a huge hassle to change that right now. Thanks anyway.

[2016-03-29 13:42] ChrisCoffey commented on #1287
I'm interested in taking this on if nobody is active on it.

[2016-03-30 09:04] fommil commented on #1321
we could also try to mitigate the problem in the typical case by uses hashes of the classfiles, but that's just avoiding the real problem. If H2 had a real UPSERT option, that would also be good.

[2016-03-30 13:55] ChrisCoffey commented on #1287
I'm thinking a 10% score penalty for each non-trailing `$` in the fqn should address this. I'll obviously have to test it out, but that's the plan right now.

[2016-03-30 14:10] fommil commented on #1287
we might have to return to it later on, but for now I think that's a reasonable approach and it's more important that we create that link between the classfile indexer and lucene boosts.

[2016-03-30 17:25] asznajder opened #1362 "Add generics to RawClassfile"
`RawClassfile` class represents a _.class_ file that's a result of Java/Scala code compilation. What's currently missing in its current representation is the generics part. It's implemented now as an `Option[String]` whereas it would be great to have a domain object instead.

[2016-03-30 17:27] asznajder opened #1363 "Searches restriction by module in SimpleLucene"
`SimpleLucene` is a lightweight convenience wrapper over Lucene. What’s missing is to restrict searches by module. In order to do so you probably should use `FieldCacheTermsFilter`.

[2016-03-30 17:32] asznajder opened #1364 "Handle non-public access modifiers when indexing class files and jars"
`SearchService` is the main abstraction over searching and indexing of Scala/Java symbols in _ensime-server_. It is able to extract symbols from _.class_ files and jars. Unfortunately, _extractSymbols_ method retrieves only symbols that are public. Members and methods with other access modifiers are not indexed and it would be great to handle them correctly.

[2016-03-30 17:35] asznajder opened #1365 "Provide search context"
It would be great to provide to `searchClasses` and `searchClassesMethods` methods in `SearchService` some kind of search context (user's module etc.). Without such data, it might be much harder to implement #1363.

[2016-03-30 17:36] asznajder opened #1366 "Create requests / responses classes just for Java usage"
`receive` method in `JavaAnalyzer` dispatches the requests from user depending their type. Create a sealed family of requests / responses just for Java usage. Currently for Java we use the same requests / responses classes as for Scala.

[2016-03-30 17:37] asznajder opened #1367 "Provide charsets for getTask method in JavaCompiler"
In `getTask` method we should take a charset for each invocation.

[2016-03-30 17:39] ChrisCoffey commented on #1365
What's an example usecase for this? I can't think of a time when I knew the type and part of the method I wanted; i.e. isn't jumping directly to the type then a quick search/ browse w/in there enough?

[2016-03-30 17:41] asznajder opened #1368 "Create diffs for NewFile and DeleteFile edits in FileUtil."
`FileUtil` in `writeDiffChanges` method should be able to handle not only `TextEdit`s, but also changes that are of types `NewFile` and `DeleteFile`. Depending on the type of `FileEdit`, different `FileEditHelper.diffFrom*` method should be called. The missing ones are `FileEditHelper.diffFromNewFile` and `FileEditHelper.diffFromDeleteFile`. They are necessary to create diff files with proper cont

[2016-03-30 17:57] asznajder opened #1369 "Inform the user about existential types."
When an user does something with an existentially quantified type, then we should inform about this. Currently this information is erased, but it would be great to notify the user about this. Existential type information is erased currently in `TypeInfo` object's `apply` method.

Type information is generated for example as a result of `askInspectTypeAt` method in `RichCompilerControl` that's call

[2016-03-30 17:58] asznajder opened #1370 "Fix java.lang.Error in Helpers"
Accessing `outerClass` in `Helpers` sometimes throws `java.lang.Error`. Notably, when `tpe = scala.Predef$Class`. Would be great to debug this and try to fix if possible.

[2016-03-30 17:59] asznajder opened #1371 "Remove extra type check that’s necessary to pass test."
When testing the usage of symbol at point in `BasicWorkflow`, it's necessary to do a fresh type check before further tests. Otherwise, they will fail. Why? How to fix this?

[2016-03-30 18:00] asznajder opened #1372 "Improve ClassfileIndexerSpec test"
Improve the `ClassfileIndexerSpec`. Currently we're just checking that no exceptions were thrown. More assertions would be well seen to check whether everything gets indexed properly.

[2016-03-30 18:03] asznajder opened #1373 "Add nice stop method to VMEventManager"
`VMEventManager` is a `Thread` that doesn't have any gentle stop method.

[2016-03-30 18:03] asznajder opened #1374 "Add nice stop method to MonitorOutput"
`MonitorOutput` is a `Thread` that doesn't have any `stop` method.

[2016-03-30 18:07] asznajder opened #1375 "Check whether SourceMap cannot be created when debug vm is created."
`SourceMap` is created in `DebugManager` once at startup - probably makes sense for it to be done each time a debug vm is created. Would be great to test this approach and consider pros and cons.

[2016-03-30 18:13] asznajder opened #1376 "Improve finding DocSignatures for companion constructors."
When asking for `DocSignature` for companion constructor we go to the class itself. This affects the test `DocFindingSpec` (`val a = Array[Byte]()`).

[2016-03-30 18:17] asznajder opened #1377 "Remove ‘nil from declaredAs"
Should not be getting `'nil` for `declaredAs` in `RichPresentationCompilerSpec`.

[2016-03-30 18:41] asznajder opened #1378 "Fix objects highlighting bug that affects SemanticHighlightingSpec."
There are two problems connected with highlighting objects in `SemanticHighlightingSpec`. The original comments was:

_TODO two problems there: "c" should be a varField ; E should be highlighted._

I might be wrong, but in my opinion _c_ should be a `ValFieldSymbol` and not really `varField`. Unfortunately, it's currently an `ObjectSymbol`.

_E_ is not highlighted as stated in TODO. Anyway: both t

[2016-03-30 18:44] asznajder opened #1379 "Fix operator highlighting bug that affects SemanticHighlightingSpec"
Another highlighting issue: we should also be able to highlight correctly `+=` operator as `OperatorFieldSymbol` in `SemanticHighlightingSpec`.

[2016-03-30 18:44] fommil commented on #1365
The idea was that only things you could see from your current module would be visible. Perhaps more useful for import searches because I think most uses of search want to be global.

[2016-03-30 18:45] fommil commented on #1368
This would be a good one! I think it might be a dupe as I remember @greenrd wanting to look at it.

[2016-03-30 18:46] #1371 closed

[2016-03-30 18:46] fommil commented on #1371
The magical ways of the compiler cannot be known

[2016-03-30 18:47] fommil commented on #1369
This might be a dupe, search for refined types, maybe.

[2016-03-30 18:57] asznajder opened #1380 "Use Streams TestKit in WebSocketBoilerplateSpec"
Not really sure about this TODO task in `WebSocketBoilerplateSpec`:

_TODO: use Streams TestKit as much as possible here_

Since #1351 is considered this might be simply something to forget about.

[2016-03-30 19:00] asznajder opened #1381 "Fix basic stepping test in DebugTest"
_"handle basic stepping"_ test in `DebugTest` is currently ignored. This test is broken because step in our case is stepping into the classloader for inner class rather than doing a user visible step.

[2016-03-30 19:06] asznajder opened #1382 "BasicWorkflow ambiguous TODO"
The TODO in `BasicWorkflow` is as follows:

_// TODO get the before content of the file_

It was between `PrepareRefactorReq` and `ExpandSelectionReq` result check.

Unfortunately, I couldn't figure out what should be done here. Probably more context needed.

[2016-03-30 19:13] fommil commented on #1382
Oh I think I know. It was about getting the file before the operation, as a String, then doing something, then checking the file changed. Maybe.

[2016-03-30 19:14] fommil commented on #1380
We actually don't really use it at all. We can close this because I'd rather we dropped akka.

[2016-03-30 19:14] #1380 closed

[2016-03-30 19:41] ChrisCoffey commented on #1365
Okay, I agree that import visibility makes sense.

[2016-03-30 20:27] rorygraves commented on #1375
This makes the source map pretty useless, it should be regenerated on each fm start.

[2016-03-30 20:29] fommil commented on #1375
but with @chipsenkbeil's work ongoing, I wonder if we should be bothering to clean up the debugger at this stage?

[2016-03-30 20:30] asznajder opened #1383 "Workaround for Java 6 in UnsafeHelpers"
Unfortunately, I don't have enough context to explain this issue in `UnsafeHelpers`. The TODO is:

_TODO: Workaround for java 6
case t: JCMemberReference => Some(t.sym)_

[2016-03-30 20:31] chipsenkbeil commented on #1375
I wouldn't yet.

[2016-03-30 20:32] fommil commented on #1375
@chipsenkbeil do you mind have a quick search of the tracker and just close all tickets regarding the debugger that you think your refactor is going to address?

[2016-03-30 20:33] chipsenkbeil commented on #1375
@fommi, yeah, I'll do that soon. Plan is to get everything in place and then run through it with you and @rorygraves to see if there is any cleanup that needs to be done at the same time.

[2016-03-30 20:34] fommil commented on #1375
my approach is that you can just rewrite the whole thing, just try to keep the same API (we can change it in ENSIME 2.0 so leave notes to yourself or add a second API side-by-side)

[2016-03-30 20:35] fommil commented on #1383
Oh, I know that one. When raising your PR change the `TODO` to `JAVA6`.

[2016-03-30 20:35] #1383 closed

[2016-03-30 20:36] fommil commented on #1383
(that class doesn't exist in Java 6, but the code was copied from a Java 7 version of Netbeans)

[2016-03-30 20:37] asznajder opened #1384 "String allocation avoidance in JavaCompletion"
When looking for a possible candidates in `completitionAt` method we create many strings to get `patched` (`isMemberAccess` branch). How could we avoid this allocation? Buffer of immutable string slices?

[2016-03-30 20:44] asznajder opened #1385 "Move ScalariformFormat to org.ensime.server.protocol"
`ScalariformFormat` is in `org.ensime.config` package. The original TODO is:

_TODO sexp formatting should live in server.protocol_

Actually, I think that it should be moved to `org.ensime.sexp.formats`. Please ack.

[2016-03-30 20:46] fommil commented on #1385
definitely not `org.ensime.sexp.formats` because that's a general S-Expression library whereas this is ensime protocol specific.

[2016-03-30 20:47] fommil commented on #1385
argh, but the problem is that it is used by the config, not in the protocol. Hmm. Let's just drop this one.

[2016-03-30 20:47] #1385 closed

[2016-03-30 20:48] fommil commented on #1384
first thing's first: let's profile it first and show it's a problem. Optimisation without measuring is the devil.

[2016-03-30 21:04] asznajder opened #1386 "Don't change files on the server side in Refactoring"
When we `execRefactor` we still apply the changes on the server side. It was said in #996 that it would be much better to move it to client. @rorygraves comment on this:

[2016-03-30 21:05] fommil commented on #1386
oh this is closed by #1354

[2016-03-30 21:05] #1386 closed

[2016-03-30 21:35] #1293 closed

[2016-03-30 21:35] asznajder opened #1387 "Highlighting constructors - ambiguous TODO"
In `SemanticHighlightingSpec` highlighting constructors test we have the following TODO:

_TODO It would be better if the "new" was consistent._

What did you mean by this?

[2016-03-30 21:40] asznajder opened #1388 "Improve test case generation of ArbitrarySexp"
Improve ```ArbitrarySexp```

_// TODO: String/Char should be selected from a wider range
  // TODO: arbitrary[BigDecimal] but it freezes the tests
  // TODO: cons in SexpCons car, but it dramatically slows things_

[2016-03-30 21:42] asznajder opened #1389 "TODOs in SensibleSettings"
Three TODOs in `SensibleSettings`:

_TODO: integrate / contribute to the typelevel sbt plugin.
// TODO: scalariformSettingsWithIt generalised
// TODO: automate testLibs as part of the testSettings_

[2016-03-30 21:54] asznajder opened #1390 "Finding classes in method signatures - ReferenceInClassHunter"
TODO - _"we need a classesInSignature (which needs the ability to parse signature)"_

I might not have enough context but possible that this issue is outdated. We already have `classesInDescriptor` method. Wouldn't `classesInSignature` redundant in our use case?

[2016-03-30 22:01] asznajder opened #1391 "Handle "element not found" in JavaCompilerSpec"
Case "6" in _"find symbol at point"_ test had the following TODO:

_We should find an `OffsetSourcePosition` here as the source enter the compiler's working set in case "5" above. TODO - However if the 'element' is not found, we'll fall through to indexer lookup. Look into more exhaustive ways of finding the element._

What are those  more exhaustive ways of finding the elem?

[2016-03-30 22:06] asznajder opened #1392 "TODOs in DatabaseService"
Two TODOs:

1) _hierarchy_
2) _Reverse lookup table_

Seem like outdated ( #1133)?

[2016-03-31 16:48] #1063 closed

[2016-03-31 16:49] #929 closed

[2016-03-31 16:57] rorygraves commented on #1374
So this class runs a thread (because of Java nastiness) - needs a clean way of shutting down - a stop method that does an appropriate interrupt and triggers a resource cleanup.

[2016-03-31 16:59] rorygraves commented on #1374
This is ```org.ensime.core.debug.MonitorOutput```
My personal preference as well is to not have that class extend Thread, but hide the thread within the class.

[2016-03-31 17:00] rorygraves commented on #1374
Also whilst we are here - can we add a threadName to the parameters (out/err) and add that to the log statement, otherwise you never know which thread has blown up.

[2016-03-31 17:04] rorygraves commented on #1391
https://github.com/ensime/ensime-server/blob/master/core/src/it/scala/org/ensime/core/JavaCompilerSpec.scala#L139

[2016-03-31 17:06] rorygraves commented on #1390
https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/indexer/ClassfileIndexer.scala#L111

[2016-03-31 17:12] rorygraves commented on #1387
https://github.com/ensime/ensime-server/blob/master/core/src/it/scala/org/ensime/core/SemanticHighlightingSpec.scala#L79  - not sure who the original author is (this code was moved - probably worth working that out from git history and pinging them.

[2016-03-31 17:14] rorygraves commented on #1384
https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/core/javac/JavaCompletion.scala#L72

[2016-03-31 17:19] fommil commented on #1387
is it that `new` sometimes has `()` and sometimes doesn't?

[2016-03-31 17:20] rorygraves commented on #1366
https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/core/JavaAnalyzer.scala#L53

@aemoncannon  Not quite sure what you are after here, care to clarify - do you want to seperate out all of the Scala and Java calss?

[2016-03-31 17:22] fommil commented on #1366
I think that was me. It was a suggestion that we eventually have a dedicated protocol for Java. This is huge, it's not suitable for a one evening hack.

[2016-03-31 17:24] rorygraves commented on #1373
https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/core/debug/VMEventManager.scala#L14

See - https://github.com/ensime/ensime-server/issues/1374 also

[2016-03-31 17:53] rorygraves commented on #1388
https://github.com/ensime/ensime-server/blob/master/s-express/src/test/scala/org/ensime/sexp/SexpParserCheck.scala#L43

This might not all be low hanging fruit - but some investigation here should be informative

[2016-03-31 18:26] #234 closed

[2016-03-31 18:29] #433 closed

[2016-03-31 18:40] #389 closed

[2016-03-31 18:54] fommil commented on #535
I'm afraid that's not enough information. Can you please give a full reproduction, ideally in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also good. http://ensime.org/getting_help/

We have very good documentation at http://ensime.org/contributing/ to help you get started hacking on ENSIME.

[2016-03-31 18:54] #535 closed

[2016-03-31 18:56] #578 closed

[2016-03-31 19:06] #598 closed

[2016-03-31 19:08] #682 closed

[2016-03-31 19:08] fommil commented on #706
needs passive fixes

[2016-03-31 19:08] #706 closed

[2016-03-31 19:09] fommil commented on #725
we decided at scalasphere that only a few refactorings are really supported, so we should be reducing rather than adding.

[2016-03-31 19:09] #725 closed

[2016-03-31 19:09] fommil commented on #727
passive fixes

[2016-03-31 19:09] #727 closed

[2016-03-31 19:10] fommil commented on #743
ensime-client

[2016-03-31 19:10] #743 closed

[2016-03-31 19:10] fommil commented on #744
no interest from EPFL

[2016-03-31 19:10] #744 closed

[2016-03-31 19:10] #745 closed

[2016-03-31 19:15] #749 closed

[2016-03-31 19:15] fommil commented on #750
not sure we want to encourage mutable style of coding :stuck_out_tongue:

[2016-03-31 19:15] #750 closed

[2016-03-31 19:16] fommil commented on #755
I think pres compiler "just works" now for this sort of thing.

[2016-03-31 19:16] #755 closed

[2016-03-31 19:16] #780 closed

[2016-03-31 19:18] fommil commented on #780
@aemoncannon put a $50 bounty on this and I think @mlangc solved it upstream :smile: go here to claim it or the money just sits in a bank account somewhere https://www.bountysource.com/issues/7616033-optimise-imports-drops-inner-classes

[2016-03-31 19:19] fommil commented on #782
turns out this is not possible because of http://stackoverflow.com/questions/36304785/automatically-derived-sealed-trait-adt-ordering-in-scala/36305431#36305431

[2016-03-31 19:19] #782 closed

[2016-03-31 19:21] fommil commented on #816
I'm afraid that's not enough information. Can you please give a full reproduction, ideally in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also good. http://ensime.org/getting_help/

We have very good documentation at http://ensime.org/contributing/ to help you get started hacking on ENSIME.

[2016-03-31 19:21] #816 closed

[2016-03-31 19:23] fommil commented on #858
@bjarkevad is this still happening?

[2016-03-31 20:19] #1086 closed

[2016-03-31 20:19] #1082 closed

[2016-03-31 20:19] #1080 closed

[2016-03-31 20:19] #1077 closed

[2016-03-31 20:22] fommil commented on #1076
we've got this in Emacs :-) Maybe an upstream request to scala-refactoring. https://github.com/scala-ide/scala-refactoring/issues/153

[2016-03-31 20:22] #1076 closed

[2016-03-31 20:23] fommil commented on #1075
closing as dupe, we have the backreference for when anybody wants to work on it.

[2016-03-31 20:23] #1075 closed

[2016-03-31 20:24] fommil commented on #1072
can you please explain what the expectation was?

[2016-03-31 20:26] fommil commented on #1003
this needs some thought as to whether it is client side or server side supported. If we send the whole list of completions back from the server, then it is clearly a client side thing. If we're filtering and prioritising server side, then we definitely need to support flx matching there. It would be a useful feature to have in general as I'm sure search could reuse the flx code.

[2016-03-31 20:26] fommil commented on #998
@dragos missed your name from this epic.

[2016-03-31 20:28] fommil commented on #993
This would involve creating a new API endpoint for the feature (taking in the name of a module), handled by the Analyser, which would then load all the source files in the current module. Perhaps also the inverse (unload all files from a module).

[2016-03-31 20:29] fommil commented on #981
sometimes I wonder if I can even speak English.

[2016-03-31 20:29] #981 closed

[2016-03-31 20:33] hedefalk commented on #1072
Gah, just close. Old. I've given up on those. But the expectation was to get a "declPos" field on the top level object I think. For navigation.

[2016-03-31 20:33] #1072 closed

[2016-03-31 20:36] fommil commented on #973
heh, this might actually go very well with the AST GSoC idea.

[2016-03-31 20:37] fommil commented on #967
I'm afraid that's not enough information. Can you please give a full reproduction, ideally in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also good. http://ensime.org/getting_help/

We have very good documentation at http://ensime.org/contributing/ to help you get started hacking on ENSIME.

[2016-03-31 20:37] #967 closed

[2016-03-31 20:40] fommil commented on #908
Part of a reproduction would define the expected order.

[2016-03-31 20:41] fommil commented on #884
I think this should be a separate project.

[2016-03-31 20:41] #884 closed

[2016-03-31 20:41] fommil commented on #872
some specific memory problems raised as tickets in the last few weeks (TL;DR it's all VFS's fault!)

[2016-03-31 20:41] #872 closed

[2016-03-31 20:43] fommil commented on #868
I'm looking into similar matters in #1153

[2016-03-31 20:44] #867 closed

[2016-03-31 20:45] fommil commented on #867
implemented in ensime-sbt a few months ago, or perhaps still open via #993

[2016-03-31 20:46] fommil commented on #1153
this turned out to be a dependency of the Graphpocalypse and I have a dev branch that isn't getting enough TLC https://github.com/fommil/ensime-server/tree/index_method_descriptors

[2016-03-31 20:46] fommil commented on #1153
let's call this a dupe of #1190

[2016-03-31 20:46] #1153 closed

[2016-03-31 21:02] fommil commented on #1189
this will involve deprecating the FamilyFormats and creating a spray-json-shapless style thing for s-express. Then well gradually migrate Emacs to SWANKY and Sublime to JERKY.

[2016-03-31 21:02] #1176 closed

[2016-03-31 21:03] fommil commented on #1173
Excellent opportunity to write some code that targets the JavaScript engine :smile: (Racket!)

[2016-03-31 21:03] fommil commented on #1155
I'm afraid that's not enough information. Can you please give a full reproduction, ideally in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also good. http://ensime.org/getting_help/

We have very good documentation at http://ensime.org/contributing/ to help you get started hacking on ENSIME.

[2016-03-31 21:04] fommil commented on #1155
@d6y guess who has set up template replies in github :stuck_out_tongue_closed_eyes:

[2016-03-31 21:05] fommil commented on #1146
you should be able to specific a specific port now by writing out the files before starting the server, but we are never going to bind to anything other than `127.0.0.1` for security reasons. You can set up routing in your container if you wish to achieve that.

[2016-03-31 21:05] #1146 closed

[2016-03-31 21:06] fommil commented on #1137
this says it all, really, doesn't it @ChrisCoffey  :smile:

[2016-03-31 21:06] #1137 closed

[2016-03-31 21:07] fommil commented on #1135
I think I've done this already in the graphpocalypse PoC.

[2016-03-31 21:07] #1135 closed

[2016-03-31 21:13] fommil commented on #1130
First thing to do is to find out what the decompiler options are and assess them.

[2016-03-31 21:19] fommil commented on #1118
possibly also (and this is insane) have our own classloader https://github.com/fommil/sbt-big-project/issues/30

[2016-03-31 21:19] #1105 closed

[2016-03-31 21:21] fommil commented on #1173
actually if we want search to work *inside* the docs, that will require a whole load of work in the server side. Supporting just the class / member search should be feasible though.

[2016-03-31 21:23] fommil opened #1397 "FLX searching"
I'm so used to flx based searching in emacs now that I really miss it when using the searchservice because it only supports CamelCase. I wonder if the list of FQNs is perhaps small enough that we can apply the standard FLX algorithms, e.g. flx-ido.

[2016-03-31 21:26] fommil commented on #1362
Possibly related to #472

[2016-03-31 21:26] fommil commented on #1362
Needs some design work on what the domain objects would look like.

[2016-03-31 21:27] fommil commented on #1357
we could go one further in the indexer and support relative paths there, but let's restrict this to the reading of `File` off the wire / config file.

[2016-03-31 21:28] fommil commented on #1341
#1351 would probably make this trivial

I say Low Hanging Fruit, but only for somebody with experience of doing this sort of thing.

[2016-03-31 21:29] fommil commented on #1337
@lxol did you look into this already?

[2016-03-31 21:29] fommil commented on #1336
and this one too?

[2016-03-31 21:30] dwijnand commented on #1357
Depending on if we do ENSIME hacking at the next SLUG hack day or not, I might have a go at this (unless you were just about to take this one right now, if so don't stop on my account).

[2016-03-31 21:34] fommil commented on #1327
this is against our reduce scala dependencies goal.

[2016-03-31 21:34] #1327 closed

[2016-03-31 21:35] fommil opened #1398 "reduce scala dependencies"
This is counter to the DRY principle, but it would be good to limit our scala dependencies to _just_ Typelevel projects so that we can more easily remain in the community builds, and to reduce our binary footprint.

Related to #1351

[2016-03-31 21:36] fommil commented on #1296
There is a PR for this now which tracks progress.

[2016-03-31 21:36] #1296 closed

[2016-03-31 21:37] fommil commented on #1284
Stop being crazy, Sam

[2016-03-31 21:37] #1284 closed

[2016-03-31 21:38] fommil commented on #1368
dupe of #1283

[2016-03-31 21:38] #1368 closed

[2016-03-31 21:40] fommil commented on #1272
is this still an issue?

[2016-03-31 21:40] #1272 closed

[2016-03-31 21:40] fommil commented on #1270
this sounds like it's a presentation compiler issue :sob:

[2016-03-31 21:40] #1270 closed

[2016-03-31 21:41] fommil commented on #1270
good test case for huge files is always `Defaults.scala` in `sbt`

[2016-03-31 21:41] fommil commented on #1261
dupe of #1003

[2016-03-31 21:41] #1261 closed

[2016-03-31 21:44] fommil commented on #1239
you know what, this is trivially fixed by #761

[2016-03-31 21:44] #1239 closed

[2016-03-31 21:49] fommil commented on #1398
Low Hanging Fruit to identify what could be removed, but not necessarily to implement it. Realistically, this needs akka to be removed.

[2016-03-31 21:49] #1392 closed

[2016-03-31 21:50] #1390 closed

[2016-03-31 21:50] #1389 closed

[2016-03-31 21:50] #1388 closed

[2016-03-31 21:51] #1387 closed

[2016-03-31 21:51] #1382 closed

[2016-03-31 21:53] fommil commented on #1378
This needs some investigation to see if it is our bug or the scala compiler's

[2016-03-31 21:53] #1377 closed

[2016-03-31 21:54] #1374 closed

[2016-03-31 21:54] #1373 closed

[2016-03-31 21:55] #1372 closed

[2016-03-31 21:56] fommil commented on #1369
dupe of #635

[2016-03-31 21:56] #1369 closed

[2016-03-31 21:56] fommil commented on #1367
not sure how we work it out though

[2016-03-31 21:57] #1364 closed

[2016-03-31 21:58] fommil commented on #1363
#1365

[2016-03-31 21:58] #1363 closed

[2016-04-01 02:28] ChrisCoffey commented on #1397
Looking at the server log for this project, we indexed ~320k fqns. We should be able to filter the full set down into manageable number by chopping the input into n-grams & searching for those in the index with a simple `DisjunctionMaxQuery`.

Selfishly, I would love to have this kind of fuzzy search exposed to the vim plugin.

[2016-04-01 04:37] eallik commented on #816
I'm afraid 1 year later is a bit too late to give a full reproduction ;)

[2016-04-01 05:14] mlangc commented on #780
Well, I don't remember solving a bug like this in particular, but I did a lot of changes to `Organize Imports` over the last year, so I might have fixed this unknowingly ;-). Other candidates are @wpopielarski and @sschaef.

[2016-04-01 08:03] asznajder commented on #1362
I will be happy to work on this next week.

[2016-04-01 08:11] fommil commented on #1362
probably a `List[FullyQualifiedName]` would be my guess at something more sensible.

[2016-04-02 15:00] fommil opened #1401 "Refactoring: add import"
As @aemoncannon has noted, it would be good if adding an import was a server-side job.

Blocked on https://github.com/scala-ide/scala-refactoring/issues/154

[2016-04-03 04:03] umhan35 commented on #1126
Uh... I'm having the same issue...

[2016-04-03 10:24] fommil commented on #1222
If this is a prerequisite for the Typelevel community build then we need to do it. But it's really non trivial (not Low Hanging Fruit at all) because our build also preps the integration tests, and requires all our scala dependencies to be using sbt-catalysts, so that means we're blocked on spray-json-shapeless and #1398

I also want to have minimal disruption to my own workflow, so that means Sen

[2016-04-03 11:21] #1280 closed

[2016-04-03 11:32] fommil opened #1402 "Java Formatting support"
We currently don't have an equivalent of scalariform for Java files, it would be good to add one. Netbeans most likely has an API we can use

In addition, ~~it would be good to use the same Netbeans APIs~~ (see below, license problems) in sbt and add the user settings to the `.ensime` format specification (and maybe we should be looking at taking a `File` for the configuration instead of the expli

[2016-04-03 11:33] fommil commented on #1402
linking back to http://netbeans-org.1045718.n5.nabble.com/Java-formatting-API-td5748005.html

[2016-04-03 17:16] fommil commented on #1402
thanks to Benno Markiewicz https://github.com/markiewb/eclipsecodeformatter_for_netbeans/blob/master/src/de/markiewb/netbeans/plugins/eclipse/formatter/strategies/netbeans/NetBeansFormatterStrategy.java

[2016-04-03 17:19] fommil commented on #1402
I guess we need to construct a `StyledDocument` before we can call this API.

[2016-04-03 19:36] fommil opened #1405 "javacOptions for java analyser"
We currently ignore the user's `javacOptions` but we should really be passing them to the java analyser.

Will require an extra field added to the `EnsimeConfig` and support in ensime-sbt to add the flag.

[2016-04-03 20:05] ChrisCoffey commented on #1322
Is this in progress or can should pick this up?

[2016-04-03 20:19] fommil commented on #1322
might be better if you pick up something else, I'm working on a potentially much better solution to this, see https://github.com/fommil/class-monkey

[2016-04-05 18:08] caoilte commented on #1287
Was probably going to have a look at it at the hackday on Saturday - but if you're near to a fix then I'll happily look at something else.

[2016-04-05 18:17] ChrisCoffey commented on #1287
I have a candidate fix that I'm debugging locally. If you don't hear from my by Saturday feel free to take this though.

[2016-04-05 18:19] fommil commented on #1287
@caoilte I cleaned up the tracker, should be lots now. Have a look at updated /contributing page.

[2016-04-05 20:18] fommil opened #1408 "Fix the Windows build"
It's being really flaky, look into it and fix it https://ci.appveyor.com/project/fommil/ensime-server-circ6/history

[2016-04-06 08:13] lxol commented on #1337
When I run ensime-java7-watcher tests in parallel I saw random failures that look like what is described in the blog. Some events are either missing or detected by an unrelated watcher.

I think that to workaround the issue we can run a post registration function that finds all created and modified files in the last 1 second and resends  `ENTRY_CREATE` and `ENTRY_MODIFY` events. That could result

[2016-04-06 08:16] fommil commented on #1337
When lots of events arrive, we debounce in the receiver so dupes are ok

[2016-04-07 21:07] asznajder commented on #1362
Since `generics` field in `RawClassfile` has really the following grammar:

_**TypeSignature**: Z | C | B | S | I | F | J | D | FieldTypeSignature
**FieldTypeSignature**: ClassTypeSignature | [ TypeSignature | TypeVar
**ClassTypeSignature**: L Id ( / Id )* TypeArgs? ( . Id TypeArgs? )* ;
**TypeArgs**: < TypeArg+ >
**TypeArg**: * | ( + | - )? FieldTypeSignature
**TypeVar**: T Id ;_

I would like to

[2016-04-07 21:15] fommil commented on #1362
It's in the right direction but try to reuse the existing domain objects as much as possible. Have a study of  the FullyQualifiedName trait.

[2016-04-07 21:18] fommil commented on #1362
Can we avoid using the word "type"? It has a more specific meaning in the context of Scala. I see you are using the ClassName trait. That's good.

[2016-04-07 21:19] fommil commented on #1362
Possibly use Generic instead of Type here.

[2016-04-07 21:22] fommil commented on #1362
BTW there is no reason why you can't add existing domain objects to a new type hierarchy in the same file. That might allow you to remove some of the encapsulation boilerplate.

[2016-04-09 13:31] dwijnand commented on #1357
Tail-end of the Twitter conversation: https://twitter.com/fommil/status/712571272216059904

[2016-04-10 18:59] mwielocha commented on #1405
Hi, requested pull for sbt part of this, also I have the server part but don't really have an idea how to test it. Plus while experimenting with common javac options like -source 1.6, I'm getting NPE from com.sun.tools.javac.util.ClientCodeException. Might need some help on this.

[2016-04-10 20:30] fommil commented on #1405
Cool! I'll have a detailed look in the next day or too.

[2016-04-10 20:36] mwielocha commented on #1405
All you need to do to replicate the NPE is to add -source 1.6 in JavaCompiler line 65:
[code]
And run JavaCompilerSpec.

[2016-04-10 21:56] fommil commented on #1405
This might have something to do with us using a version of netbeans libraries that targets the Java 7 api, but still runs on Java 6. Thanks for the repro. Please ping me if I forget to look at this, I'm under a lot of stuff right now.

[2016-04-11 08:17] mwielocha commented on #1367
Wouldn't #1405 solve this?

[2016-04-11 08:30] fommil commented on #1367
would we have to parse the charset from the params?

[2016-04-11 09:15] mwielocha commented on #1367
Oh I see, you want to pass it to `getStandardFileManager`, right? But this one is cached as singleton, isn't it? For the inner getTask method I don't see na option for passing encoding apart of using javac otpions or am I missing something?

[2016-04-11 12:29] fommil commented on #1408
I did this on Saturday.

[2016-04-11 12:29] #1408 closed

[2016-04-11 14:01] aemoncannon commented on #1367
fwiw caching that file manager is crucial optimization.

[2016-04-11 20:11] mwielocha commented on #1367
So maybe we should cache it per charset, though it does seem a bit weird in terms of design. By the way, is there a reason for `sharedFileManager` to be an optional var instead of lazy val? My first thought was to clean this up, but I'm again not sure if I'm not missing something.

[2016-04-11 21:02] fommil opened #1412 "Remove netbeans"
I've just realised that the netbeans jars we use are GPLv2 (not GPLv3) and the alternative CDDL licence is not GPL compatible so we are probably in a gray area.

[2016-04-11 21:12] fommil commented on #1412
actually, I wonder if we are ok with using them at all... I'm not sure we count as an "independent module". @aemoncannon how much value are we getting out of the netbeans libraries anyway? I've been pretty disappointed by the lack of engagement from that community to be honest. How much effort would it be to implement what we're using?

BTW, GPL2 is incompatible with Apache 2.0 so we'd be pretty s

[2016-04-11 21:12] fommil commented on #1412
("downloading the netbeans universe" is becoming a bit of a common complaint about ENSIME these days, I've noticed... and I do tend to agree)

[2016-04-11 21:13] fommil commented on #1412
FYI, we can't swap to using Eclipse either, because their licence is also incompatible with us.

[2016-04-11 21:19] fommil commented on #1412
Damn, it really is incompatible. Totally my bad, I should have seen that.

[2016-04-11 21:25] fommil commented on #1412
I had a quick look. We barely use netbeans at all, we can totally rip it out, much to the pleasure of all our users.

[2016-04-11 21:26] aemoncannon commented on #1412
re: how much value are we getting out of the netbeans libraries anyway?
Good question. It actually boils down to a couple helpers in TreeUtilities.java:
pathFor, scopeFor, and maybe one other thing. If we clean-room reimplement those utilities then I _think_ we could drop all of netbeans (hallelujah).

[2016-04-11 21:29] fommil commented on #1412
this is the last time I ever used the phrase "well it's better than Eclipse" to justify *any* technical decision...

[2016-04-12 05:53] fommil commented on #1412
@mwielocha I've noticed you're keen on Java support. It's this ticket something we could tempt you into picking up?

[2016-04-12 07:29] mwielocha commented on #1412
Sure, on it.

[2016-04-13 19:46] fommil opened #1414 "Support scala 2.12"
It is non-trivial to release a Scala 2.12 build of ENSIME because we depend on middleware that must also be available. This is a list of subtasks that are blocking the release:

**If you came here to check on the status of 2.12, but don't have time to dedicate to help us all achieve these goals, please consider [sponsorship](http://ensime.github.io/sponsor/)**

- [x] [java 8](https://github.com/en

[2016-04-13 21:19] chipsenkbeil commented on #1414
The debugger api will need to do this as well down the road, I'm assuming.

[2016-04-13 21:21] fommil commented on #1414
once we release 1.0 it'll be a lot easier for us to be able to do matrix builds. We'll need to add `jenv` and openjdk8 to the `ensime/ensime:v2.x` docker image.

[2016-04-14 05:47] johanatan opened #1415 "Ensime loses its mind with minimally sophisticated use of Shapeless + Slickless."
### Steps to reproduce

1. Add Slick & Slickless as dependencies to your project.
2. Implement a Slick table.
3. Implement a query based on the table that returns an HList.

### Expected behaviour
Everything compiles fine and Ensime doesn't lose its mind.
...

### Actual behaviour
Ensime loses its mind.
...

[2016-04-14 05:54] fommil commented on #1415
Can you please follow the steps at http://ensime.org/getting_help

I'll close this until you've confirmed that it is a bug by giving us a detailed reproduction.

[2016-04-14 05:54] #1415 closed

[2016-04-14 07:40] jrudolph commented on #1414
1.0? That's really old. I guess there might be a 2.0.4 for Scala 2.12 at some point but most likely you'll have to upgrade to 2.4.x (I can help with the migration if needed).

Btw. I created a release train for M4 again to make it easier to keep track of already released artifacts: https://blog.virtual-void.net/scala-infrastructure-tools/#releasetrainreportfor2120m4httpsgistgithubcomjrudolphd0e20c

[2016-04-14 08:17] fommil commented on #1414
@jrudolph that'd be great if you could help with the migration! We only use akka-http / stream in one package around here https://github.com/ensime/ensime-server/blob/master/server/src/main/scala/org/ensime/server/WebServer.scala (and tests in the usual place). If anybody would like to help with this, please start here by upgrading us (might also requires changes to our use of akka elsewhere)

[2016-04-14 12:37] lukasz-golebiewski commented on #1412
I might have a look into this as well. Can this task be somehow split in two parts?

[2016-04-14 12:42] fommil commented on #1412
@mwielocha @lukasz-golebiewski probably bests if the both of you find some time to chat on the `ensime-server` gitter chat room (or here) and come up with a plan :smile: One possibility is that one person (or both with a screen sharing session) creates a work-in-progress branch that removes NetBeans and creates a stub class (which can be written in Scala) with the features that we need... then you

[2016-04-14 12:43] fommil commented on #1412
or if we expand the scope of work to be done, how about implementing something like Scalariform for Java code using the Java AST?

[2016-04-14 13:23] mwielocha commented on #1412
For that we would have to re-write both `CompilationInfo` and `TreeUtilities` to scala, plus, of course, all potential dependencies of those two missing methods mentioned above. I'm guessing that we need to do that anyway, since those are copies of netbeans source code and so they suffer from the same licensing issue, right?
I only had a brief look at all this, was planning on starting implementin

[2016-04-14 13:31] fommil commented on #1412
Pretty much. I'm not sure we use everything in those classes, it might be better to look at exactly what we use and then start from there. Yes, re licence.

[2016-04-14 15:35] aemoncannon commented on #1412
CompilationInfo is in keeping with a NetBeans style class, but it's just a
dumb data holder. Nothing really interesting there.
TreeUtilities has quite a bit of logic to do robust pathFor and scopeFor.

Perhaps one person could write nasty tests while the other writes the
behavior? : )

On Thu, Apr 14, 2016 at 8:31 AM, Sam Halliday <notifications@github.com>
wrote:

[2016-04-14 23:39] johanatan commented on #1415
After following that guide (reinstalling sbt-ensime and ensime for emacs) I am still getting the following errors:

[code]

but I don't have time to create a minimal reproduction. If you try following my steps to reproduce, you should see simliar errors.

[2016-04-15 07:21] fommil commented on #1415
This isn't even nearly a reproduction.

[2016-04-15 07:30] johanatan commented on #1415
Did I claim it was?

[2016-04-15 07:42] fommil commented on #1415
You didn't follow the Getting Help or Troubleshooting guides: we're aggressively closing tickets which don't follow that process to improve the quality of our tracker and to make it easier for people to contribute to the remaining open bugs. If you want assistance with fixing this bug, you need to provide a reproduction.

As requested many times in the documentation,  please don't raise any more t

[2016-04-15 07:48] johanatan commented on #1415
You're right. My apologies. I skipped steps #4 & #5 since they were not actionable and forgot to go back and check them after completing step 6 without success.

[2016-04-15 07:51] johanatan commented on #1415
FYI for anyone following along-- problems with Shapeless can go direct here (rather than "following 'getting help' or 'troubleshooting guides' and bothering with re-installing the world):

https://github.com/ensime/ensime-server/issues/673

[2016-04-15 08:02] fommil commented on #1415
I certainly wouldn't say you're out of luck, there are projects you can get involved in to help out. They are referenced in the ticket.

[2016-04-15 20:11] fommil commented on #492
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:12] fommil commented on #1391
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:12] fommil commented on #516
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:13] fommil commented on #594
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:13] fommil commented on #809
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:13] fommil commented on #812
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:13] fommil commented on #858
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:13] fommil commented on #908
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:13] fommil commented on #909
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:14] fommil commented on #1060
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:14] fommil commented on #1099
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:15] fommil commented on #1140
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:15] fommil commented on #1155
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:16] fommil commented on #1215
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:16] fommil commented on #1237
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:16] fommil commented on #1275
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:17] fommil commented on #1336
you've got this one covered, right?

[2016-04-15 20:17] #1336 closed

[2016-04-15 20:17] fommil commented on #1337
you've got this one covered, right?

[2016-04-15 20:17] #1337 closed

[2016-04-15 20:18] fommil commented on #1370
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:18] fommil commented on #1376
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:18] fommil commented on #1378
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:18] fommil commented on #1379
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 20:19] fommil commented on #1384
We're going through the older bug reports that don't have a reproduction.

Nowadays, we close tickets that look like a known issue or don't provide the details requested by the template (which didn't exist when you reported this). The reason is to improve the quality of our issue tracker and to make it easier for contributors to help.

Can you please give a full reproduction, ideally in the form o

[2016-04-15 21:43] fommil opened #1418 "use sftp drone plugin"
I've asked @larsrh if he could add our drone keys to the typelevel upload space. Once (if) that's in place, we can use this awesome plugin to simply the artefact uploading

  https://github.com/drone-plugins/drone-sftp/issues/8

which I think should be easy to install in drone.

[2016-04-16 08:51] d6y commented on #1155
Thanks - I'll see if I can get some kind of a failing test.

For the record, I've managed to get it down to the following source file as input:

[code]
(in https://github.com/d6y/ensime-server-1155)

And in the Atom log I see this being sent:

[code]

And the following returned:

[code]

Any hints as to existing unit tests I might get inspiration from to try to reproduce a failing test?

[2016-04-16 08:56] fommil commented on #1155
great !

try the https://github.com/ensime/ensime-server/blob/master/core/src/it/scala/org/ensime/core/RichPresentationCompilerSpec.scala or thereabouts? Possibly better in https://github.com/ensime/ensime-server/blob/master/core/src/it/scala/org/ensime/core/SemanticHighlightingSpec.scala

[2016-04-16 08:58] fommil commented on #1155
it'll also typecheck when you save the file, so that could also be the cause if you're saving the file a lot.

I wonder if perhaps the source file watcher should be disabled from talking to the analyser, that could be the cause of the bug here and if that's the case, your test is perhaps best in https://github.com/ensime/ensime-server/blob/master/core/src/it/scala/org/ensime/intg/BasicWorkflow.sca

[2016-04-16 09:16] fommil commented on #1418
possibly blocked on https://github.com/drone-plugins/drone-sftp/issues/9 we'll see

[2016-04-16 09:31] fommil opened #1421 "Windows tests taking 10 minutes to start the Flow tests?"
The time delta between lines 659 and 660 in https://ci.appveyor.com/project/fommil/ensime-server-circ6/build/1.0.185#L660 is about 10 minutes.

Does that mean it is taking 10 minutes to run the "- should produce Flow[In, Out]" test?

That seems excessive. Could be the `expectNoMsg` assertion?

[2016-04-16 09:50] #1421 closed

[2016-04-16 10:46] #1418 closed

[2016-04-16 12:18] fommil commented on #1414
On gitter it would appear that the akka team are dead against publishing a version of akka 2.3 for scala 2.12. So it sounds like it's an all-or-nothing required upgrade to Java 8. We could try publishing our own versions of akka 2.3 as a stop gap.

[2016-04-16 12:40] fommil commented on #1414
I have other priorities, but this is about as far as I got with a 2.12 build of akka 2.3. It would require all the akka dependencies to be published for 2.12 as well (or akka upgraded to use them). I also got a few compile errors.

It looks pretty easy to do this, but the problem is that there doesn't appear to be a simple "sbt compile" command that one can type to build all of akka. Apparently re

[2016-04-16 14:01] fommil opened #1422 "support source resolving for java classes with no debugging info"
some java libraries (e.g. asm) don't include debugging information in their class files, so our source resolving fails.

A simple example of this would be to depend on ASM, and request the resolved sources for something like `org.objectweb.asm.ClassReader`. This can be interactively tested in ENSIME since we depend on ASM.

The workaround could be to infer the source name when no debugging is pres

[2016-04-16 14:16] fommil commented on #1422
this particular issue is registered as a bug with ASM http://forge.ow2.org/tracker/?func=detail&aid=317624&group_id=23&atid=100023

[2016-04-17 12:03] mwielocha commented on #1412
Ok, I have a version of `JavaCompiler` with scala impl of `CompilationInfo` and `TreeUtilities` methods stubbed: [https://github.com/mwielocha/ensime-server/tree/no_netbeans](url)
I don't think we need extra tests sine `JavaCompilerSpec` already tests for 'find at' functionality and those tests fail for obvious reasons.
Now for the hard part: re-implementing `pathFor` and `scopeFor`, stay tuned.
I

[2016-04-17 14:40] fommil commented on #1412
Awesowe stuff.

[2016-04-18 07:21] jrudolph commented on #1414
How long are you going to keep Java 6 compatibility? It will get harder and harder to find recent versions of any library that will still work with Java 6.

For the time being there are certainly stop gap solutions that should work well enough. The previously mentioned switch in your build between a 2.3.x Akka version for 2.11 / Java 6 and a 2.4.x Akka version for 2.12 / Java 8 should certainly be

[2016-04-18 08:19] fommil commented on #1414
@jrudolph JDK6 is still the official JDK used by Scala 2.10 and 2.11, and one must use it to be part of the Community Build. We're going to break away and move to JDK7 after we release ENSIME 1.0. The vast majority of contributors are still using JDK7 in their day job and there are benefits for us to use JDK7 for NIO.

BTW, Oracle still makes security updates for JDK6 and JDK7, they are just not a

[2016-04-18 19:56] fommil commented on #1414
ok, looks like this is going to need a separate branch just for scala 2.12 since akka needs to be upgraded.

[2016-04-19 11:41] mwielocha commented on #1405
Seems that removing netbeans didn't help on this one. I did some digging and I think this might have something to do with [https://blogs.oracle.com/darcy/entry/bootclasspath_older_source](url), anyway adding `-bootclasspath` as na options partially fixes the problem (still throws an exception on `JavaCompilerSpec` - unfortunately). Don't know where to go from here.

[2016-04-19 12:52] hedefalk opened #1425 "Automatic imports"
If a code completion is for a symbol not in scope, it'd be nice to get a patch for a top level import.

https://github.com/ensime/ensime-atom/issues/181

[2016-04-19 13:15] fommil commented on #1425
@aemoncannon didn't you say this was a game changer for IDEA when you used it a while ago?

[2016-04-19 13:17] fommil commented on #1425
it's possible that this should be implemented client-side, given that the choice of a completion is such an interactive thing. But it would perhaps be good if the FQN (or diff) was provided (only iff it is needed) to enable this.

[2016-04-19 14:26] aemoncannon commented on #1425
It is a super nice feature. I think this falls into this falls into the
'fixup' family of features. Kind of a UI challenge in emacs...

On Tue, Apr 19, 2016 at 8:17 AM, Sam Halliday <notifications@github.com>
wrote:

[2016-04-19 14:27] fommil commented on #1425
#848

[2016-04-19 15:09] msackman commented on #698
Hello!

New message, please read <http://homemadefacialmasks.info/event.php?l2>

matthew@wellquite.org

[2016-04-19 15:18] fommil commented on #698
@msackman your email account has been compromised, and whoever did it is sending spam to github tickets.

[2016-04-19 18:04] hedefalk commented on #1425
Yeah, I was definitely thinking of client side application, all refactorings are patches + client side application already?

I just mean that when server provides a completion that depends on an imported symbol, it would be nice if we could just piggy back any needed FQN toplevel import as a patch too… Or maybe just the name, but that it's simple to then ask for the import patch. I mean, server kn

[2016-04-19 18:21] hedefalk commented on #1425
Hm, but maybe the default that All IDE's does, to import to top level isn't necessarily the only way a client might want to have it… A patch nails where the import goes, so maybe not really bullet proof to provide a patch. Maybe client want to have a setting to instead to put the import just above the inserted completion, dunno…?

[2016-04-19 22:40] msackman commented on #698
On Tue, Apr 19, 2016 at 08:18:45AM -0700, Sam Halliday wrote:

Hi Sam, thanks for the notification.

I believe my email was hacked sometime back in January. Whilst it is
secure again now, there is not much I can do to stop spammers who have
clearly harvested every valid email address out of my email folders.
Whilst I do have SPF DNS records published, it would appears github does
not pay attention

[2016-04-19 22:46] fommil commented on #698
no problem, glad you've got it cleared up.

[2016-04-20 20:00] #1412 closed

[2016-04-20 20:17] fommil commented on #1402
given that we can no longer depend on netbeans or eclipse, I'm removing the Low Hanging Fruit tag.

[2016-04-20 20:18] fommil commented on #1362
@asznajder did you find any more time to look at this? :smile:

[2016-04-20 20:19] fommil commented on #1322
Closing this because class monkey fixes it, w0000000t!

[2016-04-20 20:19] #1322 closed

[2016-04-20 20:45] asznajder commented on #1362
Yes! Worked a bit on it last week. Looking for some free time slot to finish. Sorry that it takes so long but I have a lot of things on my head recently.

[2016-04-20 20:47] fommil commented on #1362
you might want to look at the date on tickets that I pick up, and the date (and **year**!) they eventually get merged, if you want to feel better :stuck_out_tongue:

[2016-04-21 07:32] fommil opened #1430 "Windows DebugTest instability"
let's just fix this once and for all.

[2016-04-21 14:39] #1430 closed

[2016-04-22 15:42] fommil opened #1432 ".scala files in the root directory (script projects) are not supported"
Solution: you must put your `.scala` files into the standard form of your build tool. Typically this is `src/{main,test}/{scala,resources}/`

[2016-04-22 15:42] #1432 closed

[2016-04-26 16:57] aij commented on #1097
Would scala-refactoring also cause ENSIME to warn an import is unused even though it is used?

I had Organize Imports remove a needed import, but when I manually added it back in it says "Unused import".

In this case it is needed to compile, although it is only used in a typedef, which might be what is confusing it.

[2016-04-27 07:41] retronym commented on #954
Suggestion: `global.currentRun.cancel()`

[2016-04-27 08:12] fommil commented on #954
Jason also suggests instrumenting assertCorrectThread and Global#signalDone the former called a lot and the latter "The presentation compiler overrides that method to check if a targetted typecheck has been fulfilled and throws an exception to abort typechecking"

[2016-04-29 02:54] chipsenkbeil commented on #1223
Old integration tests now pass. As I've mentioned on Gitter, these tests seem really flaky. I'm assuming I've introduced some sort of issue. The correct messages are received, but sometimes the integration tests just hang after zero, one, or two out of the three tests pass. It seems to be happening less often, but that isn't good enough.

Given how much of an overhaul this is, I'd like to add inte

[2016-04-29 07:16] fommil commented on #1118
We will probably ncope this and create tickets for each improvement. I've seen huge improvements on windows by using NIO.

[2016-04-29 12:38] ChrisCoffey commented on #993
This is good to close now that #1413 has landed.

[2016-04-29 14:13] fommil commented on #993
oh, yeah. The PR needs the comment "closes #xxx" before github can do it automatically.

[2016-04-29 14:13] #993 closed

[2016-04-29 18:17] fommil commented on #1414
This simply isn't going to happen until we can remove our akka dependency.

[2016-04-29 18:18] fommil commented on #1286
@hedefalk do you have any spare cycles to implement this?

[2016-04-29 18:19] fommil commented on #1233
This really needs a reproduction.

[2016-04-29 18:19] #1233 closed

[2016-04-29 18:20] fommil commented on #492
I really think my branch will fix this.

[2016-04-29 18:20] #492 closed

[2016-04-29 18:21] #516 closed

[2016-04-29 18:21] #594 closed

[2016-04-29 18:21] #812 closed

[2016-04-29 18:23] fommil commented on #809
I think i can create a repro for this with a macro. I just need to find the time.

[2016-04-29 18:23] #858 closed

[2016-04-29 18:23] #908 closed

[2016-04-29 18:24] #909 closed

[2016-04-29 18:27] #1060 closed

[2016-04-29 18:28] #1099 closed

[2016-04-29 18:28] #1140 closed

[2016-04-29 18:28] #1215 closed

[2016-04-29 18:29] fommil commented on #1237
This actually had a clear repro to begin with.

[2016-04-29 18:30] #1275 closed

[2016-04-29 18:30] #1370 closed

[2016-04-29 18:30] #1376 closed

[2016-04-29 18:30] #1378 closed

[2016-04-29 18:30] #1379 closed

[2016-04-29 18:30] #1384 closed

[2016-04-29 18:30] #1391 closed

[2016-04-29 18:49] ChrisCoffey commented on #1341
Is this any more complicated than using a bounded mailbox for the `IndexingQueueActor`?

[2016-04-29 19:07] fommil commented on #1341
Yup. We're not using actors for this code. But I'm OK with blocking a thread to achieve backpressure, especially since I want to rewrite all this code to use something more like clojure SCP channels (and replace akka everywhere else with SCP)

[2016-04-29 19:08] fommil commented on #1341
And also bounded queues don't achieve barkpressure, don't they just drop messages?

[2016-04-29 19:15] fommil commented on #1341
Are you interested in looking at this? It would really help keep memory under control. I don't think it's too hard to get something working.

[2016-04-29 19:15] ChrisCoffey commented on #1341
I believe you can make them block if you set the mailbox timeout to infinite. That being said, if the plan is to remove Akka anyways we're better off replacing the `IndexingQueueActor` entirely.

From my reading of the code, I think we can get away with using a `java.util.concurrent.LinkedBlockingQueue` and drop the actor. I did something like this a few months ago at work.

[2016-04-29 19:16] ChrisCoffey commented on #1341
Sure, I'll take a stab at it this weekend.

[2016-04-29 19:17] fommil commented on #1341
That actor isnt the bit that needs the backpressure (well, it does, but it's not the priority), I don't think. It's the indexing during refresh.

[2016-04-29 19:18] fommil commented on #1341
I'm going to be out all day on Saturday but I'll be hacking on ensime all day sunday/monday.

[2016-04-29 19:19] ChrisCoffey commented on #1341
Cool, I'll be online then too, albeit EST.

[2016-04-29 20:54] hedefalk commented on #1286
Yeah, would love to implement this. Maybe within a few weeks at least. Still have some client side stuff I want to do first and still have to get over that first server contribution threshold, but would be fun and game.

[2016-05-01 18:36] fommil commented on #1257
@jvican do you think you'll have any spare cycles to look at this?

[2016-05-01 20:00] jvican commented on #1257
Yes, I’ll have some time next w-e and I'll tackle this issue (hope so, at least).

[2016-05-01 21:38] fommil commented on #1257
Sweet! Another way we could do this is with a java agent. I'm not sure which is worse: monkey patch or Java agent.

[2016-05-02 15:06] ChrisCoffey commented on #1321
FWIW, I'm pretty sure H2 supports "UPSERT" via MERGE or if you run it in MySql mode via the `insert ... on duplicate key update` clause.

[2016-05-02 16:01] fommil opened #1437 "use java.nio instead of java.io, VFS and File"
as part of the "move to Java 7" effort.

Will negate the need to do #1257 so we can just close that ticket if it doesn't make it into 1.0.

[2016-05-02 17:01] ChrisCoffey commented on #1287
I'll dust off the branch I was working on here in the next day or so.

[2016-05-02 18:27] fommil commented on #1287
Cool! This one bites me at work sometimes.

[2016-05-02 18:28] fommil commented on #1287
I think we disable indexing f anything with two dollar signs as a workaround.

[2016-05-04 06:07] fommil commented on #1217
@aemoncannon is this working for you at work?

[2016-05-04 06:07] #1217 closed

[2016-05-04 12:36] fommil opened #1438 "don't have snapshot dependencies"
- [x] `scala-refactoring`
- [x] file watchers
- [x] `scala-debugger`

[2016-05-04 14:42] ChrisCoffey commented on #1341
on #1436 @fommil said:

[2016-05-04 15:27] fommil opened #1439 "use scalafmt"
We encouraged Eugene to find a student strong enough to do this https://github.com/olafurpg/scalafmt
 I suppose we should use it :-D

1. they need to get regression parity with scalariform (pre and post trailing newlines "fix")
2. we need `ensime-sbt` support to reference a config file (lets not try to marshall the settings again)

so probably 2.0+.

[2016-05-04 16:05] ChrisCoffey commented on #1341
Had to google *teaching granny to suck eggs*. Great phrase.

I read the reactive manifesto years ago and yes, it's buzzword soup. I'm also familiar with SCP, but mostly via Haskell's `MVar` and `Chan` (basically single cell or unbounded channels). I gave the chapter on SCP a re-read this morning & I can see how something like a `go` block would help with `refresh`.

That being said, after playing

[2016-05-04 16:09] fommil commented on #1341
we don't need to be that fancy, I'd be fine with a mutex in the classfile indexing bit (yeah yeah) and something that releases it in the persistence side, maybe allowing something like 100 classfiles to be indexed at a time (which includes classfiles inside a jar).

[2016-05-04 19:23] #1198 closed

[2016-05-04 19:23] #1281 closed

[2016-05-04 22:06] halcyon opened #1440 "DocResolver creating incorrect URLs for java8 standard library functions"
### Steps to reproduce

Attempt to look up documentation at point for any java 8 standard library function e.g. [static IntStream range(int startInclusive, int endExclusive)](http://docs.oracle.com/javase/8/docs/api/java/util/stream/IntStream.html#range-int-int-)

### Expected behaviour
It should open the documentation for the range function http://docs.oracle.com/javase/8/docs/api/java/util/strea

[2016-05-05 06:01] fommil commented on #1440
Cool, would you like to look at this? I have a branch doing similar things for method FQNs

[2016-05-05 06:02] fommil commented on #1440
Ha, awesome, you already have.

[2016-05-05 06:05] #1440 closed

[2016-05-05 16:36] fommil commented on #1346
and when we do this, perhaps we should change the `.ensime` structure so that each project configuration is explicitly listed (i.e. `compile`, `test`, `fun`, `it`)

[2016-05-05 20:48] sugakandrey commented on #1283
I'll pick this one, if nobody is on it.

[2016-05-06 09:39] jvican commented on #1439
/ping @olafurpg

[2016-05-06 09:42] jvican commented on #1257
I'm sorry @fommil, I won't be able to pick this in the short-term, I'm currently very busy.

[2016-05-06 09:53] fommil commented on #1257
no problem, thanks for letting us know. There is a hack day coming up soon so maybe somebody can grab it there.

[2016-05-08 10:11] fommil opened #1445 "build index and exit"
An enabler for #1208 it would be good (and easy) to be able to index a project from the CLI.

Use cases include:

- part of an automated workspace setup (I do this a lot at work) so that initial ENSIME indexing (and CTAG building etc) can all be triggered from a single command.
- simplifying our emacs integration tests

and could possibly even be used as a way to cache and speed up our own `it:tes

[2016-05-08 19:53] fommil commented on #1190
I think I've ended up fixing https://github.com/ensime/ensime-server/issues/635 while doing this. My branch is still WIP but I've got nice behaviours and tests around:

- Symbol => FQN
- Type => Symbol => FQN
- FQN => Symbol

where FQN is a structured ADT.

[2016-05-08 19:54] rorygraves commented on #1190
Nice!

[2016-05-08 19:59] fommil commented on #1190
at this point, either I "fix" the implementation to match what the tests expect (which I think are broken)  or update the tests to test the right thing. I'm going to do the latter. This is probably going to be a reasonably big change.

[2016-05-08 20:00] rorygraves commented on #1190
Never break the code to meet the test if the test is broken....

[2016-05-09 15:41] yyadavalli commented on #1445
Hi, I'm trying to get started on this
If my understanding is correct we need something that's sort of a client (similar to vim client) that will start the ensime server, wait till the index is built/updated and then close it.
Please correct me if this approach is wrong

[2016-05-09 16:13] fommil commented on #1445
no, even simpler. It can just be a main method that we invoke directly, waits for the index refresh to finish, then exits cleanly. In fact, no reason we can't just pass a flag to the existing main.

I **did** say Low Hanging Fruit :grinning:

[2016-05-09 19:16] yyadavalli commented on #1445
Hmm, so something like

[code]

in the following location

https://github.com/ensime/ensime-server/blob/master/server/src/main/scala/org/ensime/server/Server.scala#L136

Then, I need to figure out how to check indexing is complete

[2016-05-09 20:49] fommil commented on #1445
Probably even simpler than that, just stick a cleanup/shutdown hook onto the Future returned by refresh.

[2016-05-13 00:12] jodersky commented on #1439
+1 on that

[2016-05-13 01:31] chipsenkbeil opened #1449 "Refactor debugger event listeners to higher-level abstractions"
This is entirely dependent on https://github.com/ensime/scala-debugger/issues/228. Essentially, Ensime's debugger code for listening to events currently looks like this:

[code]

instead of this

[code]

Once tailored event listeners are available instead of the generic listener, Ensime should switch over.

[2016-05-13 01:36] chipsenkbeil opened #1450 "Investigate and update DebugContinueReq"
When migrating from the old debugger codebase to the new one using the debugger API, I noticed that both `DebugRunReq` and `DebugContinueReq` resume the entire virtual machine.

`DebugContinueReq` contains a specific thread id and, to me, has the intention of resuming the specific thread rather than the entire virtual machine.

This was not made possible due to
1. Breakpoints are suspending the en

[2016-05-13 01:40] chipsenkbeil opened #1451 "Refactor DebugActor messages to separate classes"
Rather than containing all logic in a single class (DebugActor), it would be preferable to have the logic behind each action (setting a breakpoint, resuming the VM, inspecting a variable, etc) be in its own class. This would help reduce the complexity of `DebugActor` as well as enable easier testing of the logic behind the `DebugActor` without needing to include Akka testkit logic.

For instance,

[2016-05-13 02:11] chipsenkbeil opened #1452 "Add debug message type to switch between debugger api profiles"
Currently, there is no way in the Ensime server to switch debugger profiles. Ensime is currently using the pure debug profile, which provides no special logic to handle odd cases related to Scala code (such as closures). As new profiles get added to the debugger api, Ensime needs some way to indicate that it wants to switch between profiles so a user can debug against Scala 2.10 vs 2.11 vs 2.12 vs

[2016-05-13 02:15] chipsenkbeil opened #1453 "Add debug message type to watch variables"
Currently, there is no way in the Ensime server to watch variables and receive notifications when their values change like in other IDEs. The debugger API supports rudimentary watchpoint support (which will hopefully be improved in new profiles), which Ensime could leverage.

Most likely, the user only cares when a variable's value is changed (not accessed); so, Ensime could probably get away with

[2016-05-13 02:18] chipsenkbeil opened #1454 "Add debug message type for expression evaluation"
This is entirely dependent on https://github.com/ensime/scala-debugger/issues/7, which adds expression evaluation support to the debugger api.

Once that feature is available in the api, Ensime should have some sort of message type to request the evaluation of some expression. I imagine this message type would need to include the id of the thread wherein to invoke the expression.

[2016-05-13 02:20] chipsenkbeil opened #1455 "Add debug message types for error cases"
Currently, error cases that arise when using the debugger send back `FalseResponse` and, occasionally, a background message. It would be much better to either have a generic `DebugActionFailed` message type that took a description that could be displayed to the user OR have specific message types for various scenarios such as a disconnected JVM, a thread not being suspended when trying to inspect

[2016-05-13 02:27] chipsenkbeil opened #1456 "Refactor setup code for DebugTest.scala to use debugger API helpers"
The debugger API contains a variety of helper methods to spawn debug-oriented JVM processes, get a list of JVM processes, and more. These methods are used both in the debugger API's sample code (to make it easier to get started) as well as in the debugger API's integration tests to spawn test JVMs. It makes sense to reuse this code in place of the existing JVM deployment code found in `DebugTest.s

[2016-05-13 02:30] chipsenkbeil commented on #1381
@fommil @asznajder, I rewrote the step test in the debugger PR to be a simpler case. Since Ensime is going to use the debugger API for its underlying debug engine, the harder logic (corner cases, etc) should be tested in the debugger API while the Ensime server test just needs to guarantee that the behavior works in one case.

So, I'd say this issue can be closed once that PR is merged.

[2016-05-13 02:34] chipsenkbeil commented on #1375
FYI, the update version of the debugger in Ensime server still has a singleton debug actor that has a source map created once when the actor is started. There are two ways to approach this:

1. Have the `DebugActor`get torn down and recreated whenever you shutdown and spin up a new debug session (@rorygraves mentioned this possibility)
2. Have the `DebugActor` create a new instance of the `SourceM

[2016-05-13 02:42] chipsenkbeil commented on #1223
PR is ready for review. Opened issues to address various potential concerns.

[2016-05-13 08:32] #1223 closed

[2016-05-14 23:25] msackman commented on #698
Hello!

You have a new message, please read <http://dragonballdownload.info/confrontation.php?k3t>

matthew@wellquite.org

[2016-05-14 23:25] msackman commented on #698
Hello!

You have a new message, please read <http://dierenplek.nl/accomplishment.php?i8831>

matthew@wellquite.org

[2016-05-15 05:48] timcharper opened #1457 "Ensime fails to boot if loading JAR files from paths containing URI-escaped-chars"
Coursier dependency management system will encode unsafe characters, such as `:`, by URI encoding the characters. These are being treated as characters that should be decoded when passed to apache-commons vfs2 `resolveFile`, resulting in the following error:

[code]

(the actual filename for which it should be searching is `/Users/timcharper/.coursier//cache/v1/http/artifactory.corporate.domain%3A

[2016-05-15 10:53] #1283 closed

[2016-05-15 19:24] sugakandrey opened #1460 "Graph DBs performance characteristics analysis"
As some of you may know, I'm participating in GSoC 2016 as part of the ENSIME team, trying to make Graphpocalypse come true. This will include swapping H2 database for a graph solution. This ticket is therefore dedicated to testing performance of various graph DBs and deciding which one should be used. As  some solutions are Java 8 only, the choice will also dictate if Graphpocalypse (if successfu

[2016-05-15 19:52] sugakandrey commented on #1460
A paper from 2013 on basically the same subject: [An empirical comparison of graph databases](http://www.datascienceassn.org/sites/default/files/Empirical%20Comparison%20of%20Graph%20Databases.pdf)

[2016-05-15 20:36] rorygraves commented on #1460
A few thoughts on thinking about solutions:
- We don't need distribution or sharing - this is a single process owning a dataset
- The size of the graph is quite large (probably bigger than memory)
- Our querying requirements are relatively simple, altough when a file gets updated we may get a large number of updates.

It may be the fact that we end up with a custom implementation sacrificing the b

[2016-05-16 15:55] jix opened #1463 "Race condition inside presentation compiler triggered by ensime-server"
While working on some code using the chisel3 library, the ensime-server dropped the connections to ensime-atom. A look into the server log revealed the following exception:

[code]

I didn't manage to create a small project to reproduce this bug, but looking at Completion.scala:127, the call causing the exception is just issued to create some debug message. Commenting out that debug message resolv

[2016-05-16 16:05] fommil commented on #1463
Can you please give a reproduction in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also a good starting point. We are more than happy to help you turn it into an automated test, and discuss ideas on how to fix it. Read the http://ensime.org/contributing guide for more information.

We close tickets that look like a kn

[2016-05-16 16:05] #1463 closed

[2016-05-16 16:06] fommil commented on #1463
if you think a change to `Completion.scala` would help improve the quality of the code, please send a PR with your suggested change.

[2016-05-17 20:12] lukasz-golebiewski commented on #1148
@fommil Do you want to add the `acyclic.file` import to all files/packages?

[2016-05-17 20:34] fommil commented on #1148
I don't really know how the plugin works but removing acyclic dependencies sounds like a good idea.

[2016-05-17 20:35] fommil commented on #1148
knowing what is acyclic would be a good first move.

[2016-05-17 21:03] lukasz-golebiewski commented on #1148
But this requires adding an explicit import to all classes / package objects :/

[2016-05-18 07:31] #1457 closed

[2016-05-18 12:38] #1190 closed

[2016-05-18 12:43] #1445 closed

[2016-05-19 08:02] fommil commented on #635
I think this is now feasible. We might need to add shapeless to the tests to create refinement but as an example of the ensime code where we have a refinement, look at `common.scala` `DeclaredAs.allDeclarations` (which we might even want to replace with the shapeless enum pattern)

[2016-05-19 08:04] fommil opened #1464 "pretty print of Tuple and Function types"
Fallout from recent refactor.

This is the type-at-point of the method call inside `FileEdit.compare`
`scala.Tuple4[java.io.File, scala.Int, scala.Int, java.lang.String] => scala.Int`

wouldn't it be nicer if it was using the syntax sugar?

Also, we should think about whether we really want the hack for single-parameter arrow types.

[2016-05-21 10:59] fommil commented on #1438
file watcher is on its way to central...

[2016-05-21 11:08] rorygraves commented on #1438
👍

[2016-05-22 15:20] #1438 closed

[2016-05-24 11:59] #1464 closed

[2016-05-24 12:40] #635 closed

[2016-05-24 12:40] fommil opened #1467 "add extra info to the completion API endpoint"
emac has to perform some hacks to be able to do completions, it would be good to add the required info to the endpoint, in addition to what is already there (to not break the other clients).

[2016-05-24 18:30] fommil commented on #1467
@aemoncannon I see what you meant now about the history behind the completions objects. I think it should be relatively easy to just add all the info the client needs to the completion response, is there any reason why we haven't gone down that route?

[2016-05-24 18:48] fommil commented on #1467
i.e. add a `TypeInfo` to `CompletionInfo` and mark the `CompletionSignature` as deprecated (we'll remove post 1.0).

[2016-05-24 20:46] aemoncannon commented on #1467
TypeInfo's are big. It'd probably double or triple the size of the response. That's the main reason. Historically I've tried to minimize what we send in CompletionInfo because it's such a latency sensitive use case. I just couldn't get over the guilt of sending type info with *every* candidate when it's really only needed for the one you select :-\

We used to have get-call-completion-info(type-id

[2016-05-24 21:20] fommil commented on #1467
hmm, might be worth profiling if this slows things down.

[2016-05-24 21:23] fommil commented on #1467
ok, how about we give this a trial for a few days and see how it goes?

[2016-05-24 21:24] fommil commented on #1467
I might have some time tomorrow night to update the emacs side to handle this, I got to learn that code quite well looking into this. May as well follow the rabbit hole all the way to the bottom.

[2016-05-25 07:49] #1467 closed

[2016-05-27 05:57] msackman commented on #698
Hey,
Did you hear the latest news? You should definetely read more info here <http://gejoratri.cuchia.com/lnmrq>

matthew@wellquite.org

[2016-05-27 08:57] fommil commented on #698
locking to stop the spam

[2016-05-28 13:13] fommil opened #1469 "use one FQN representation"
our java analyzer code has an FQN class, but it would be a lot cleaner if it reused the `FullyQualifiedName` ADT in our indexer module..

[2016-05-28 13:19] fommil opened #1470 "change .ensime format to include named scopes and per-project settings"
if the `.ensime` format had per-project settings we could enable compiler plugins per-project #1152 and separate out the main / test configurations for better completions and build tool support (in clients).

[2016-05-28 13:20] fommil commented on #1470
as a migration path, we could make ensime-sbt (and other build tool plugins) generate the new format alongside the old, then swap the server to use the new format, followed by the clients, then remove the generation in the build tool plugins.

Best that we coordinate all changes that we want to make into one go.

[2016-05-28 13:25] fommil opened #1471 "replace akka-http with java-only lib"
to remove a dependency on the huge akka-http/streams framework, we would like to move to a java-only HTTP/WebSockets library.

It must be lightweight, probably based on netty.

complementary and a dependency of #1351

[2016-05-29 15:18] sugakandrey opened #1472 "Scalap symbol <=> FQN Converter"
The idea is to implement a way to convert between `scalasig.Symbol`/`scalasig.Type` instances and `FullyQualifiedName` domain objects. See #1459 for similar functionality for pres. compiler Symbols/Types.

[2016-05-29 16:20] sugakandrey opened #1473 "Pick up PoC Graphpocalypse branch"
https://github.com/fommil/ensime-server/tree/graphpocalypse contains proof of concept implementation of graph db backend by @fommil. It should be a good starting point for Graphpocalypse.
Current status
- [x] feature parity/ `SearchServiceSpec` tests  passing
- [x] All integration tests are passing
- [x] Rebase onto 2.0

[2016-05-29 22:19] sugakandrey commented on #1460
**Preface**: the following results **do not** necessarily represent real life performance and are only good for comparison with each other. All of the following benchmarks were run locally on my MacBook Air 2013, Intel Core i5 1,3 GHz, 4 GB DDR4, 256GB SSD. All the data was loaded into the database from the file, so there probably is significant IO overhead hidden here.

With that said, I've used

[2016-05-30 08:57] fommil commented on #1460
Cool, this gives us confidence that orientdb in not terrible and neo4j is fastest. How much more testing do you want to do?

[2016-05-30 09:42] fommil opened #1474 "audit the API and make sure everything is typesafe"
we have some tuples in the API, I'd like them to be typesafe instead... wire compression makes concerns of message size redundant.

[2016-05-30 10:58] fommil opened #1475 "add hint if a completion candidate is infix or not"
currently the clients are deciding using crude rules such as "there is one param-section, it has one parameter, it is one character long and it is not alphabetical" but we can do this on the server and perhaps be smarter about how we decide. See `ensime-company.el` `ensime--yasnippet-complete-action` for where this is currently done.

Would make sense to add this as a boolean flag on the arrow typ

[2016-05-30 14:29] fommil opened #1477 "TypeToScalaNameSpec should report ArrowType for by name parameters"
1. add a test to `TypeToScalaNameSpec` for a by name method parameter
2. assert that it is an arrow type. By guess is that it reports as a `BasicType` right now

[2016-05-30 16:23] fommil commented on #1257
the right answer here is to just remove VFS and use NIO, which is on the 2.0 roadmap.

[2016-05-30 16:23] #1257 closed

[2016-05-30 22:04] fommil opened #1480 "In memory lucene"
If it is fast to read all indexable fields from the DB (seconds), it might make sense for the Lucene index to be held in-memory, removing an I/O bottleneck at the cost of a little heap.

[2016-05-31 07:51] #1341 closed

[2016-05-31 07:52] fommil opened #1481 "wrap lucene with an async API"
currently in `SearchService.scala` all calls to lucene are performing I/O. We should take a leaf out of slick's book and make all calls return a `Future` which is backed by a dedicated I/O thread pool (possibly even the same pool as slick).