[2016-05-31 10:06] fommil commented on #1257
https://github.com/apache/commons-vfs/pull/14

[2016-05-31 21:10] #809 closed

[2016-05-31 22:23] fommil opened #1483 "bring the file watchers into the ensime-server repo"
@lxol seems like an obvious one for you to pick up :smile:

[2016-05-31 23:31] #1321 closed

[2016-05-31 23:32] sugakandrey opened #1485 "Machine for testing"
Opening the ticket as a reminder, for @fommil to set me up with a machine for testing.

![remindert](http://puu.sh/pc773/a64c66dbf5.png)
Done :)

[2016-05-31 23:33] fommil commented on #1485
yay multiple assignees

[2016-05-31 23:46] fommil opened #1486 "fix the emacs tests"
The server is core dumping, I don't know why.

Oh, actually, maybe I do... I bet it's the Zulu OpenJDK bug with tiered compilation.

[2016-06-01 09:06] VyacheslavMik commented on #848
IMHO, an override suggestions would be useful feature.

[2016-06-01 11:25] lxol commented on #1483
I will do that next week when get back from holiday.

[2016-06-01 11:59] fommil commented on #1483
I'll do it tonight, it'll be easy, are you ok if I "fake" a commit and user your email address in the history? That way it'll (correctly) show up as your work.

[2016-06-01 14:46] ChrisCoffey commented on #1287
I've been swamped lately, and don't see myself having much time in the next few weeks, so feel free to hand this out at a hackathon!

[2016-06-01 15:34] fommil opened #1488 "constantly updating sources"
I've noticed that if the source watcher is enabled the log spins on `updating sources`. I noticed this when using it with an sbt project using Java 7.

I wonder if the source watcher code should just be removed and made a client responsibility... maybe we make it false by default.

[2016-06-01 19:44] fommil commented on #1488
@aemoncannon notes that for huge source jars, we really need to do this incrementally.

[2016-06-01 21:12] aemoncannon opened #1489 "Stack overflow in Slick when indexing huge jars"
### Steps to reproduce

1. Boot up ensime with a big (200mb) jar in compile deps.

### Expected behaviour

Doesn't crash : )

### Actual behaviour

Indexer fails with:

[code]

[2016-06-01 21:21] fommil commented on #1489
Rory found https://github.com/brettwooldridge/HikariCP/issues/269 and it looks very similar.

I'm upgrading hikari in my latest PR to 2.0 but we're stuck on an old java 6 compatible version in 1.0. We could take the fix as a monkey patch.

To test it we'd need a reproduction case. That seems very tricky.

[2016-06-01 21:23] fommil commented on #1489
oh, they reproduced with `a batch size insert of 100k entries` we might be able to create that.

[2016-06-01 21:26] fommil commented on #1489
@smootoo can you please help us to keep our batch insertion size sane? I thought we were limiting it but the evidence says otherwise:

https://github.com/ensime/ensime-server/blob/1.0/core/src/main/scala/org/ensime/indexer/database/DatabaseService.scala#L87-L91

[2016-06-01 21:29] fommil commented on #1489
called here, https://github.com/ensime/ensime-server/blob/1.0/core/src/main/scala/org/ensime/indexer/SearchService.scala#L170-L174 but it feels like the kind of thing we should be fixing in the DB layer.

[2016-06-02 07:55] fommil opened #1491 "make use of Java 7 Tree API for Java support"
We had some hacks because we were running on Java 6, but now we have access to the full Java 7 Tree API so we should revisit our Java support and make sure we support the "new" language features.

[2016-06-02 07:56] fommil commented on #1491
@mwielocha is this something you'd be interested in doing? You know those APIs better than most!

[2016-06-02 07:56] #1486 closed

[2016-06-02 07:59] fommil opened #1492 "incrementally update the sources map in SourceResolver"
the comment https://github.com/ensime/ensime-server/blob/2.0/core/src/main/scala/org/ensime/indexer/SourceResolver.scala#L22

[code]

is hilarious if you have lots of sources, especially if they are huge.

We should we doing this incrementally and with a debounce to avoid duplicating work.

Workaround if this affects you is to disable source watching, which is advised for large projects anyway, wh

[2016-06-02 07:59] fommil commented on #1488
tracking incremental updates separately as #1492

[2016-06-02 08:02] fommil commented on #1488
note that this may be a bug in the backend https://github.com/ensime/java7-file-watcher and that our Drone (GNU/Linux) tests run with Java 6.

[2016-06-02 08:36] #1483 closed

[2016-06-02 08:48] #1118 closed

[2016-06-02 11:29] mwielocha commented on #1491
Sure, I'll give it a go on the weekend. Been trying to get back to ensime for some time now :)

[2016-06-02 12:11] smootoo commented on #1489
OK. I'll take a look ...

[2016-06-02 14:19] aemoncannon commented on #1489
Thanks! Happy to patch and confirm the fix when it's ready : )

On Thu, Jun 2, 2016 at 7:11 AM smootoo <notifications@github.com> wrote:

[2016-06-02 14:56] fommil opened #1493 "remove deprecated completion response parts"
trivial, I added `@deprecating` to a few fields in `outgoing.scala` last week. We can remove 'em! And hopefully speed up completions in emacs at the same time. Bonus.

[2016-06-02 16:04] sugakandrey commented on #1485
ssh key:
[code]

[2016-06-02 16:41] #1485 closed

[2016-06-02 18:29] fommil opened #1494 "symbol at point is inconsistent for java methods"
symbol at point is currently returning a weird BasicTypeInfo that doesn't make sense for java methods, e.g. see `JavaCompilerSpec.scala` for anything on a method, e.g.

[code]

the `info.type` should be returning a sensible `ArrowTypeInfo` instead of a fake `BasicTypeInfo`.

[2016-06-02 19:59] #1493 closed

[2016-06-03 06:39] fommil opened #1496 "Change assembly jar target"
docs.typelevel.org doesn't exist anymore

[2016-06-03 10:33] fommil commented on #1439
until scala.meta can support scala 2.10, we can't do this :sob:

https://github.com/scalameta/scalameta/issues/295

[2016-06-03 10:34] fommil opened #1497 "use scalariform settings file instead of marshalled form"
in lieu of #1439 it would be good if we could take a `File` (or `Path`) reference to a config file that contains the scalariform settings, serialisable by scalariform itself. That way the build tool plugins do not need to depend on scalariform.

[2016-06-03 12:02] svenefftinge opened #1498 "Support VS Code's language server protocol"
As you might know VS Code have published a so called '[language server protocol](https://github.com/Microsoft/vscode-languageserver-protocol)', which is a very well designed set of methods for a ubiquitous protocol. The idea is to support it in other editors as well, so there is effectively more synergy effect for implementers. We are currently working on supporting it in Eclipse Che (editor) and

[2016-06-03 12:13] fommil commented on #1498
That's interesting. I think we'd like to have the freedom to provide our own protocol but implementing the VSCode one is certainly interesting. I have asked the Java people to consider doing their work under the banner of ENSIME https://github.com/georgewfraser/vscode-javac/issues/9 perhaps we could define the protocol that way.

[2016-06-03 12:15] fommil commented on #1498
@hedefalk @d6y  are you aware of all this?

[2016-06-03 12:16] fommil commented on #1498
it says JSON-RPC... does that mean it's using ancient TCP RPC as the protocol? That's a shame because websockets is idea for this.

Should be easy enough to do, it just needs somebody to step up and do the work.

[2016-06-03 12:38] hedefalk commented on #1498
@fommil No, I wasn't aware. Need to look it up better.

On a glance it seems very much like a non-mergable approach to what I'm currently working on which is:

* a shared node library for using ensime from any js based editor which contains and abstracts the server protocol via websockets to just js-futures/callbacks: ensime-node/ensime-client
* This is used from ensime-atom and soon ensime-vscode

[2016-06-03 12:47] hedefalk commented on #1498
Curious about the javac-based Java support too… How does this work? I didn't even know javac had any "presentation compiler"? IDEA, Eclipse and Netbeans all have built their own, haven't they? I this something new in javac?

[2016-06-03 12:52] fommil commented on #1498
@hedefalk no, NetBeans is a (very bloated) wrapper around the java tree API. We already have support for this in the ensime server, I should really give you a code walkthrough sometime :-)

Our Java support needs more TLC because not many people use it, but it shares all the indexing with scala so it is quite maintainable.

Developing in Java really needs the passive hint framework though (boilerp

[2016-06-03 13:32] hedefalk commented on #1498
@fommil I'd love a walkthrough some day :) For some reason these things have been pretty hard to search for me. You're not coming to Scaladays this year though?

[2016-06-03 13:36] fommil commented on #1498
nope, just scalaworld and scalasphere for me. I like circles.

[2016-06-03 14:24] fommil commented on #1498
@rorygraves we should do a walkthrough with @hedefalk some time

[2016-06-03 14:24] rorygraves commented on #1498
Absolutely!

[2016-06-03 14:46] hedefalk commented on #1498
I like days. Lots of days with many hours in them.

[2016-06-03 17:36] georgewfraser commented on #1498
@hedefalk, https://github.com/georgewfraser/vscode-javac works by programatically invoking the implementation of javac in tools.jar. It returns a nice typed parse tree that contains everything you need to do fancy IDE features.

[2016-06-03 17:37] aemoncannon commented on #1498
@georgewfraser That's more or less what ensime does, too.

On Fri, Jun 3, 2016 at 12:36 PM georgewfraser <notifications@github.com>
wrote:

[2016-06-03 18:12] georgewfraser commented on #1498
@aemoncannon How do you guys deal with incremental compilation of Java? I looked at the source and based on my experience you are going to be rereading all the source files every time.

[2016-06-03 18:14] fommil commented on #1498
@georgewfraser happy to give you a code walkthrough too! You could start by reading the contributing docs at http://ensime.org there is a video of a recent conference talk there. Java support was written by Aemon with netbeans as a library then swapped to raw access by @mwielocha

We have a label to track java things but it isn't comprehensive https://github.com/ensime/ensime-server/labels/Java

I

[2016-06-03 18:15] fommil commented on #1498
We swapped because of license incompatibilities and also because netbeans is just *huge*

[2016-06-03 18:24] aemoncannon commented on #1498
@georgewfraser We never compile all source. We just compile the code the user touches and keep recompiling that as an 'active set'. Everything else is assumed to be on classpath. We have .class/.jar watchers which will suck up new artifacts if you have continuous compilation in your build.

[2016-06-03 19:26] georgewfraser commented on #1498
Thanks @aemoncannon, I have a lot more questions but I feel like I'm hijacking this thread, I'll take @fommil up on the offer to walk through the code.

Regarding the vscode language server protocol, I have used it extensively and @svenefftinge implementation, ls-api. The language server protocol is excellent but very tied to vscode's model. If you want to support vscode, https://github.com/Micros

[2016-06-03 19:30] fommil commented on #1498
@georgewfraser I think this has become the main focus of this thread now, so please do continue! :smile:

We support multiple protocols at present (S-Expression and JSON variants over raw TCP or WebSockets) and could add more, but as @hedefalk points out we could put in a shim to do a translation layer if that makes sense (this could even be inside the server code).

Our setup in scala make it inc

[2016-06-03 19:33] fommil commented on #1498
an option for an external shim would be something that converts between our protocol and uses `ls-api` to communicate with vscode. If we do it inside the ensime-server directly, I'd encourage

I'm not against adding another protocol into the server. The reality is that each of our existing clients is already using a different version of the protocol. The important thing is that the various wire fo

[2016-06-03 19:39] georgewfraser commented on #1498
I think shimming is going to be harder than you think, the vscode protocol has semantics like "when the user clicks this action, invoke X vscode command". Maybe I'm misunderstanding you but it's not a question of JSON vs S-expression, it's a question of what the messages mean. If you're planning to stick to the semantics of the ensime protocol, you might as well just skip the language server proto

[2016-06-03 19:41] fommil commented on #1498
we could add extra endpoints to the protocol to facilitate vscode, depends how complex they are... but there is going to be a lot of shared endpoints with what is already there and that's where a shim would be useful (whether in or outside the server).

[2016-06-03 19:45] georgewfraser commented on #1498
OK, well I'll just point you to the resources that I found helpful in understanding the vscode API / protocol:

https://code.visualstudio.com/Docs/editor/editingevolved describes the UI features that are supported by the API.
https://code.visualstudio.com/docs/extensionAPI/vscode-api#_languages describes the typescript API of vscode. The language server protocol is basically the same thing, serial

[2016-06-03 19:51] georgewfraser commented on #1498
Since I have @fommil blessing, returning to the topic of "using javac as a presentation compiler," I'm interested to understand how incremental ensime is.

Suppose a user edits Main.java, which imports Other.java. The first time ensime runs, it will have to recompile both Main.java and Other.java, and fetch everything else from the classpath.

What happens when the user edits Main.java again? Does

[2016-06-03 19:59] aemoncannon commented on #1498
And we're assuming Other.java is not present in compiled classpath?

In this situation we would never compile Other.java. Main.java would should compilation errors as a result. Once you actually visit Other.java (I think even just opening the file), it will be added to the active set which should fix the errors in Main.

Not exactly user-friendly :-) but this scheme scales beautifully to massive p

[2016-06-03 20:06] georgewfraser commented on #1498
OK so once the user opens Other.java, it will get compiled, Other.class gets added to the output directory target/, which is on the classpath. Then, when you open Main.java, it will read target/Other.class and get type information from there. Right?

[2016-06-03 20:07] fommil commented on #1498
Yeah we don't think of ensime as an ide. We consider that kind of stuff to be the job of the build tool and then make it easy to integrate it client side.

[2016-06-03 20:10] georgewfraser commented on #1498
Does this mean you reread these class files every time, or are they in a "hot cache" somehow?

[2016-06-03 20:40] fommil commented on #1498
all the java code is in here https://github.com/ensime/ensime-server/tree/2.0/core/src/main/scala/org/ensime/core/javac

this is the code that recieves the inbound protocol messages https://github.com/ensime/ensime-server/blob/2.0/core/src/main/scala/org/ensime/core/JavaAnalyzer.scala#L53-L82

the api is defined in the api module, which should be referenced from the contributing docs, sorry if the

[2016-06-04 02:01] aemoncannon commented on #1498
@georgewfraser RE: cache, the StandardFileManager does caching internally. I'm not sure the details but it makes a huge difference to hold onto one manager rather than recreating.

[2016-06-04 10:42] fommil commented on #1498
@georgewfraser @svenefftinge I'd be happy to do a code walkthrough and general chat today about all of this today on https://meet.jit.si/ (which I just discovered and I'm extremely happy about it)

[2016-06-04 10:49] fommil commented on #1498
btw @svenefftinge your use of Eclipse Public License is incompatible with ENSIME and any GPL application, so I will refrain from looking at its sources unless you could please change it.

[2016-06-04 12:09] fommil commented on #1488
I tried to reproduce this in the `project` folder of `ensime-server` but it all seemed ok. Might be a windows only thing?

[2016-06-04 12:12] fommil commented on #1488
nope, got it! Just had debugging off. Seeing a constant stream of

[code]

when doing anything in the `project` folder of ensime-server. I'm bumping the log levels for more details of what is changing. I wonder if it's because the binaries are decendents of the source root for sbt projects, and also the sources are in the top level.

[2016-06-04 12:15] fommil commented on #1488
ok, reproduction, in `ensime-server`:

1. `sbt ensimeConfigProject`
2. start ensime against the `project`
3. make trivial change to `EnsimeBuild.scala`
4. `sbt reload`
5. see ~100 `AskReTypecheck` followed by `o.e.i.SourceResolver - updating sources`

[2016-06-04 12:52] fommil opened #1499 "string representation of repeated inputs"
the current rendering of a repeated parameter is a bit weird, e.g. for `java.nio.files.Files.createDirectory`

[code]

it would be better if it was

[code]

a test would go in `TypeToScalaNameSpec`.

[2016-06-04 15:59] fommil commented on #1488
aha! Got it! The smoking gun :smile:

[code]

and loads of other things too, all causing a cascade.

I think the source watcher needs to ignore some directories and / or only look for `.java` and `.scala` files.

[2016-06-04 15:59] fommil commented on #1488
also, registering directories should not trigger source resolvers.

[2016-06-04 16:28] fommil commented on #761
this would allow us to remove the evil workaround in https://github.com/ensime/ensime-server/pull/1501

[2016-06-04 16:30] fommil commented on #1489
@smootoo did you get round to this? Would it be useful if I created a failing test case?

[2016-06-04 16:37] smootoo commented on #1489
I'd just started looking at it this afternoon. Hadn't been able to replicate yet.
If you have got a failing test case, that will make things much easier!

[2016-06-04 16:38] fommil commented on #1489
ok, I'll have a go at that before dinner

[2016-06-04 16:54] fommil commented on #1489
heh, I just realised that the `persist` signature is a bit silly because the `FqnSymbol`s are assumed to have `file == filecheck.file`.

I'm also struggling to reproduce this.

[2016-06-04 16:54] fommil commented on #1489
I've been trying variations of this. If I make the count too big I just get OOM.

[code]

[2016-06-04 17:06] fommil commented on #1489
oh, I'm silly... I need to be checking the `Future`, which means I discovered `with ScalaFutures`... adding that one to `EnsimeSpec`!

[2016-06-04 17:09] fommil opened #1502 "presentation compiler crash"
I just got this, which means our hack is not detecting all crashes. Perhaps we should be looking in the string of the notes message.

[code]

[2016-06-04 17:17] fommil commented on #1489
ok, interesting thing, seems that the schema is not successfully created after constructing an instance of the `DatabaseService`.

[2016-06-04 17:18] fommil commented on #1489
no, I'm just still being an eejit.

[2016-06-04 17:51] fommil commented on #1489
I give up, I can't reproduce. This just times out and needs the heap size in `project/SensibleSettings.scala` to be bumped to 2g or more. Also you might need `with org.scalatest.ScalaFutures` (I added it to `EnsimeSpec`

[code]

[2016-06-04 17:54] fommil commented on #1489
assuming we've correctly diagnosed the problem, is the answer just a case of doing something like

[code]

in `DatabaseService.persist` ?

[2016-06-04 17:59] fommil commented on #1489
I just realised I upgraded the version of hikari in the 2.0 branch. I'll downgrade.

[2016-06-04 18:03] smootoo commented on #1489
Yes. If it is the batch size that's the problem, it will be something like that.

[2016-06-04 22:01] smootoo commented on #1489
So far, I haven't been able to reproduce the problem. Either with a test or simply by pointing the ensime server at any of my projects.
@aemoncannon What project were you using when you saw this? Is it something I could try with?

[2016-06-04 22:24] aemoncannon commented on #1489
No. Internal : (
but perhaps related to the single, large jar? (200mb) I can look closer on
Monday

On Sat, Jun 4, 2016, 5:01 PM smootoo <notifications@github.com> wrote:

[2016-06-05 05:50] svenefftinge commented on #1498
@fommil I will be travelling the next couple of days, but we can for sure dual-license the code. I would pick MIT as the second one. Does that work for you?

[2016-06-05 05:54] svenefftinge commented on #1498
Also having a chat would be great, but I could make it next Friday earliest.

[2016-06-05 11:20] fommil opened #1503 "don't publish `testutil`"
maybe we had plans to publish `testutil` at some point for code reuse but all it's doing is increasing the size of our jar.

[2016-06-06 18:05] ktonga opened #1504 "ArrowTypeInfo should have a list of type parameters"
Currently it's not possible to regenerate the list of type params for a generic method based on `typeInfo` content.

[2016-06-06 21:35] fommil commented on #1504
This is a server bug.

[2016-06-06 21:36] fommil commented on #1504
https://github.com/ensime/ensime-server/issues/1494

[2016-06-07 01:20] ktonga commented on #1504
Hi @fommil, I don't think this problems is related to #1494. It's related to the `completions` endpoint not to `symbol at cursor`, and in this case the server is returning `ArrowTypeInfo` which is the proper type for methods.

The problem here is that `ArrowTypeInfo` does not have a field for listing the type params defined for the method.

So for instance, if you have `def genericMethod[A, B](a:

[2016-06-07 07:13] fommil commented on #1504
Yes it's definitely that ticket. Happy to talk you through in more detail. Can you have a look at the referenced source files and also some example payloads for Scala (equiv Scala tests will do). All the information you want should be in TypeInfo.

[2016-06-07 11:02] fommil commented on #1504
(i.e. we either need to add type parameters to arrow types or we need to specialise for java)

[2016-06-07 11:03] fommil commented on #1504
incidentally, why do you need the type parameter list in particular? Isn't it enough that the types are on the parameters? We've never needed this for scala.

[2016-06-07 11:16] fommil commented on #1504
oh, you're using "generic" method when you're talking about scala methods. That's typically only reserved for talking about java methods since it's an implementation detail. For scala methods, we'd say "method with type parameters".

What's your usecase? We'd prefer not to increase the size of these payloads unless absolutely necessary, as it can impact performance.

[2016-06-07 12:11] #1473 closed

[2016-06-07 12:28] fommil commented on #1473
:tada:

[2016-06-07 14:07] ktonga commented on #1504
@fommil  Sorry if it sounded confusing, I referred all the time to them as 'type params', didn't realize about the 'generic' word connotation. I'm talking just about Scala.

To see my use case please take a look at [this comment](https://github.com/ensime/ensime-vim/issues/273#issuecomment-224019333) and to the issue in general.

Here you have a couple of comments I put in the gitter channel that

[2016-06-07 14:25] fommil commented on #1504
Hmm, I'm not sure about how much this is actually needed, but it is adding to the API not regressing so it's not a big deal so long as the payloads don't get too big. I'd expect if somebody implements this in Emacs that it should be configurable as I wouldn't want to be distracted by having to fill out the type parameters all the time.

To be honest I've not got any spare cycles to do this, and I'

[2016-06-08 00:41] ktonga commented on #1504
I want the type params as a separate list in the `ArrowTypeInfo` I don't want them added to the `name` and `fullName` string fields, this way each editor can use it optionally.

And to be clear, I don't want to fill type params always either. I just want to show them in the method signatures as a reference, just as IDEs and the REPL do. I would never add them to the completion template, as a tabst

[2016-06-08 01:30] aemoncannon commented on #1504
Sounds great!

On Tue, Jun 7, 2016 at 7:41 PM Gastón M. Tonietti <notifications@github.com>
wrote:

[2016-06-08 05:58] fommil commented on #1504
OK cool, well give to contributing guide a rod and then ping me back. If timezones work out I can give you a code walkthrough of this relevant part of the code on meet.jit.si

We also hack a hack day all day on Saturday in London which you are welcome to join remotely. The gitter rooms should be chattier then normal and you'll get fast / detailed answers to questions.

[2016-06-08 06:00] fommil commented on #1504
Best place to start is with the tests, try looking at symboltoscalanamespec and around there.

[2016-06-08 23:17] chipsenkbeil opened #1505 "Not all scenarios covered in object caching"
As discussed with @dickwall, I have missed a couple of locations where object references should be cached to allow correct value inspection.

Specifically, the following places need caching:
- https://github.com/ensime/ensime-server/blob/1.0/core/src/main/scala/org/ensime/core/debug/DebugActor.scala#L334

[code]

- https://github.com/ensime/ensime-server/blob/1.0/core/src/main/scala/org/ensime/cor

[2016-06-08 23:49] chipsenkbeil opened #1506 "Support Scala-specific field names"
Not sure if I'd really call this a bug, but @dickwall has already encountered a Scala-specific debugging issue.

[code]

In the above example, when reaching a breakpoint on the line `for (i <- 1 to actualTimes)`, the following variables are listed: `actualTimes` as the only local variable, `times` as a field, and `com$example$Hello$$name` as another field. The issue is that it appears that object

[2016-06-09 06:00] fommil commented on #1506
We have methods to do the lookup of the fqn, are they not useful here?

[2016-06-09 15:05] sugakandrey opened #1507 "toSymbol fails to resolve classnames with special characters"
[This](https://github.com/ensime/ensime-server/blob/2.0/core/src/main/scala/org/ensime/core/FqnToSymbol.scala#L49-L58) will fail to produce a symbol for the `fqn` of a class with special characters in its name (e.g. `Predef.<:<` `ClassName(PackageName(List("Predef")), "$less$colon$less")`)

[2016-06-09 16:50] fommil commented on #1507
ah, well spotted. I believe it works in the other direction though. Should be easy to add a unit test.

[2016-06-09 18:14] chipsenkbeil opened #1508 "RequestLocateNameReq for fields sends incorrect result"
Not sure how I let this one get passed me. The following is a snippet from the `DebugLocateNameReq`:

[code]

The field logic is entirely wrong. What it should be returning is `Some(DebugObjectField(<THIS OBJECT CONTAINING FIELD>, v.name))`. Instead, it is returning the field if it is an object and `None` otherwise. Instead, the field needs to have a reference to its containing parent (it already

[2016-06-09 18:31] rorygraves commented on #1508
M2 makes sense - better to catch it now rather than later - well done @chipsenkbeil @dickwall

[2016-06-10 07:13] fommil commented on #1506
@dickwall confirmed that this has always been there so removing from 1.0 unless there is a quick fix.

[2016-06-11 11:02] fommil opened #1509 "Merge Graphpocalypse into 2.0"
there are some TODO comments in the code, which is against our coding standard. I temporarily disabled the detector in the `2.0-graph` branch but it would be good to add this back https://github.com/ensime/ensime-server/commit/d062758399ad2d9da0b22979b0cdc64fe8bb190e

TODOs either rot or deserve a ticket, they are more hassle than they are worth. It's good for CI to remind you after a PR that ther

[2016-06-11 13:16] sugakandrey commented on #1507
I added the test in my `scalap-converter` branch (15c03fc), will try to fix that.

[2016-06-11 14:13] fommil commented on #761
LineSourcePositionHelper

[2016-06-11 15:40] greenrd opened #1510 "Server dies when attempting to inspect value"
### Steps to reproduce

1.  Run two instances of ensime - one on another project, and one on ensime itself. The one that's on ensime itself should have the additional java flags `-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=1044` so that ensime can be debugged.
2. Set a breakpoint in core/src/main/scala/org/ensime/core/Refactor.scala line 54 and attach the ensime debugger to port

[2016-06-11 15:46] greenrd commented on #1510
[dot-ensime.txt](https://github.com/ensime/ensime-server/files/310330/dot-ensime.txt)

[2016-06-11 16:04] hardmettle opened #1511 "Replace SourceMap with SearchService implementation."
When investigating #761 we discovered that `SourceMap` is reimplementing features that should be provided by the indexer.

This may explain why Ensime can't find the sources of external dependencies when debugging.
@chipsenkbeil

[2016-06-11 18:17] fommil commented on #1510
This looks like an Emacs bug, it shouldn't be sending a debug request for nil.

[2016-06-11 18:18] fommil commented on #1510
Could be that are old question of how we tolerate badly formatted queries @rorygraves

[2016-06-11 19:02] fommil commented on #1510
if this is about the latter, I suggest closing in favour of #1189 and #1471

[2016-06-11 20:11] dwijnand commented on #1351
Perhaps Monix has the primitives that ensime-server requires?

@alexandru do you think that ensime-server could switch to use Monix instead of Akka?

[2016-06-11 22:18] #1503 closed

[2016-06-12 00:51] tninja commented on #972
This one might work with spark-shell: https://github.com/tninja/scala-tool-support

[2016-06-12 04:51] chipsenkbeil commented on #1511
Were you or someone else planning to tackle this? Or did you want me to handle it eventually? Or maybe some form of pair programming exercise?

[2016-06-12 04:52] chipsenkbeil commented on #1510
So, is this something that the `DebugActor` class can/should protect against? Or should I leave this one alone?

[2016-06-12 04:53] chipsenkbeil commented on #1508
FYI, fixed the ensime server code with using an update in the debugger api. Now able to successfully retrieve object fields that have primitive and object values. Not going to close until the code itself has been published as 1.1.0-M2 for the debugger api and integrated into ensime, of course.

[2016-06-12 04:54] chipsenkbeil commented on #1506
I'll add a quick profile to fix this for now. If we see other weird quirks, the profile can be augmented. Shouldn't take more than an hour.

[2016-06-12 04:55] chipsenkbeil commented on #1505
Added several more caching invocations. Also updated the debugger api to return the actual type as opposed to `ObjectInfoProfile` to allow smoother usage. Will need to check with @dickwall later to see if I got all of the cases (not quite ready for him to try it).

[2016-06-12 07:39] fommil commented on #1511
It's just something we spotted at the hack day. No expectations on who does it but it fits well with the 2.0 tech debt cleanup goal.

[2016-06-12 07:40] fommil commented on #1510
I don't think it even gets that far looking at the logs.

[2016-06-12 07:40] #1510 closed

[2016-06-12 07:55] rorygraves commented on #1510
This is one of those parsing edge cases - the message we received is well formed (valid sexp) but not parseable to the expected message type.  So technically the protocl could stay open (its not out of sync).

[2016-06-12 08:05] fommil commented on #1510
Agreed. We shouldn't bail but I'm not interested in fixing it here because this code will be rewritten in the two referenced tickets and i'd rather a contributor put their time there instead.
Of course if you have a pr it would be accepted against 1.0 if it has tests.

[2016-06-12 08:11] fommil commented on #761
Oh, @hardmettle I just realised that Path is far better than URI here. I'll help by doing all the protocol stuff, let me know when you've got an the core code compiling

[2016-06-12 08:41] fommil commented on #1510
@greenrd do you think food be able to find the time to fix the Emacs client the not send this broken message?

Historically the reason I wanted the server to bail was to force users into paying attention and fixing it, instead of sweeping it under the carpet in the server logs. I think that's served us well and now we're seeing a lot more general stability across all clients.

[2016-06-12 18:56] hardmettle commented on #761
@fommil Do I have to revert it back to Path now? I am in the middle of fixing the compilation for URI change ?

[2016-06-12 19:18] fommil commented on #761
Yeah sorry, but it should be more or less the same code. I just forgot we could use Java 7!

[2016-06-12 19:27] mwielocha commented on #1491
This one is kinda blocked by #1494, so I'm got go there first.

[2016-06-12 20:10] fommil commented on #1491
Interesting. How come it's blocked? I think #1494 is probably more important anyway.

[2016-06-12 20:13] mwielocha commented on #1491
Only in the way that java support is basically not working atm. I'm gonna look at #1494 and hopefully that will make QA testing a bit easier with this one.

[2016-06-12 21:00] fommil commented on #1491
Add. Yeah maybe that one should go into 1.0.

[2016-06-12 21:00] fommil commented on #1494
Moving to 1.0 as this breaks java support.

[2016-06-13 00:21] fommil opened #1513 "Symbols in scope"
It would be really good if the method completion templates could include suggestions of values to pass, effectively write the code for you. To do this, we'd need an API query that provides all the symbols of a given type that are currently in scope.

I'm not even sure if Emacs' yasnippet is powerful enough to support this idea, since it could involve completions within completions and dynamically

[2016-06-13 08:48] #1502 closed

[2016-06-13 08:48] fommil commented on #1494
just checked, not as bad as I thought. It still works but we don't get a nice template (but I don't think we ever did)

[2016-06-13 08:49] #1488 closed

[2016-06-13 08:53] mwielocha commented on #1494
So if this is not breaking java support then what is?

[2016-06-13 08:53] aemoncannon commented on #1513
Neat. FYI I looked into use a theorem prover for this at one point. So you
could fill in non-trivial expressions. See 'insynth' - they seemed eager to
help integrate. Not sure if would actually be a good idea in practice....
(might be annoying).

On Mon, Jun 13, 2016 at 1:21 AM Sam Halliday <notifications@github.com>
wrote:

[2016-06-13 08:57] aemoncannon commented on #1494
@fommil Completion templates? Those work (or have been) for me.

[2016-06-13 09:02] fommil commented on #1494
@aemoncannon they don't work so well as the scala method completions because we're returning the info as a blob in `BasicTypeInfo` instead of `ArrowTypeInfo`. But, yeah, it pretty much works right now for all practical purposes.

@mwielocha yeah, I'm not sure. It might just be on your machine... can you try to reproduce on the ensime-server project itself? We've got a couple of java files, mostly

[2016-06-13 09:03] fommil commented on #1513
hehe, yeah it's one of those ideas that seems like it might be annoying otherwise everybody would be doing it already. That's cool that EPFL have looked into this http://lara.epfl.ch/w/insynth but to be honest I thought the harder problem would be the UI! :smile:

Shouldn't you be sleeping or something?

[2016-06-13 10:05] mwielocha commented on #1494
Not sure what the hell happen but it started working again, sorry for the confusion.

[2016-06-13 12:58] sugakandrey commented on #1507
Fixed in 7f8406f, I'll leave this open until `scalap-converter` is ready to be merged.

[2016-06-13 19:39] raulraja commented on #1489
Can we batch the inserts following something like this:
[code]
after N records execute a batch so it can free stuff in the connection.
Alternatively if we don't care about transactions we could invoke `db.run` multiple times recursing over the records ourselves and causing a transaction after so many are accumulated. This will potentially free the connection and distribute the load among many conn

[2016-06-13 21:27] mwielocha opened #1515 "SignatureParser fails when type parameter's bound is also a type parameter"
[code]
Signature for this class is `<U:TA;A:Ljava/lang/Object;>Ljava/lang/Object;` which is currently not supported by `SignatureParser`.
This breaks java support in 2.0 on Java 8.

[2016-06-13 21:29] fommil commented on #1515
@asznajder FYI

[2016-06-13 21:53] hardmettle commented on #761
@fommil please take a look.

[2016-06-13 21:58] fommil commented on #761
Cool! I will definitely take a good look tomorrow, but now is my bedtime.

[2016-06-14 05:58] fommil commented on #761
I had a look through. This looks trickier than I thought it would be. Everywhere we assume the Path is a File needs to be treated with care

[2016-06-14 07:08] asznajder commented on #1515
Oops, I will fix this!

[2016-06-14 09:50] mwielocha commented on #1515
Btw, maybe we should consider not throwing an exception when parsing fails? This way we cant just not support something rather than breaking indexing...?

[2016-06-14 10:10] fommil commented on #1515
@mwielocha let's keep the exceptions. This is a dev branch and this is the only way anybody cares enough to fix the bugs. Otherwise they will be exceptions in the logs for years with bizarre side effects.

[2016-06-14 13:52] mwielocha commented on #1494
Do we want this to be the same as in `scalaName` with the `=>` operator? Or more like Java for example `(java.lang.Object): java.lang.String` or something?

[2016-06-14 14:55] fommil commented on #1494
let's use Java syntax. We probably shouldn't be using the scala API to return Java Compiler objects anyway, maybe give them their own protocol.

[2016-06-14 14:56] fommil commented on #1494
(remember the user gets these responses back only when querying from a `.java` file)

[2016-06-14 15:00] mwielocha commented on #1494
Yeah that was my thought as well. Oh well, At least I got a first bite on this one :)

[2016-06-15 09:24] alexandru commented on #1351
Hello, just noticed this ticket :-)

A Monix `Observable` might be the right abstraction, having these characteristics:

Back-pressure and everything associated (e.g. overflow policies in case of buffering) is for free, versus Akka actors for which you have to implement your own back-pressure protocol (I can also give hints for Akka btw).

Monix works best if it models a unidirectional flow of mes

[2016-06-15 09:37] fommil commented on #1351
that'd be cool. We're just starting looking at the 2.0 milestone and I'm taking some time off, so this isn't urgent. I'd be happy if we at least **knew** what the best alternative to akka is.

Both myself and Rory have been using akka for years, it's the battle wounds that's put us off... not lack of understanding.

[2016-06-15 09:41] fommil commented on #1351
the only thing that might be a problem is the number of dependencies you're using in monix. We'd like to remain as scala-free as possible so that we can quickly support new versions of scala. We're in a little bit of a special position that way: consider that cats / whatever might be waiting for ensime to be available before they can work on upgrading their library and also we tend to be a lot mor

[2016-06-15 09:53] fommil commented on #1351
I see your wiki is marked as old, let me know when it's ready to read. A single HTML or PDF file works best as I like to read things offline.

[2016-06-15 13:37] alexandru commented on #1351
If you'll take a look at `build.sbt`, the only external dependency is `cats-core` and `cats-laws` and these dependencies are at the top of the stack, not at the bottom, meaning that the `monix-cats` sub-project is completely optional. All the other dependencies are part of Monix, including the testing framework ;-)

I would build versions for Scala 2.12.0-M4 right now, if it weren't for the `monix

[2016-06-15 14:04] fommil commented on #1351
you have the same problem as us then :smile:

We are stuck on 2.11 until we can get rid of akka (at least the reactive / http parts). They are the slowest to move.

[2016-06-15 17:43] timcharper commented on #1351
JDK7 is for chumps. Move to 8 already. :P

WRT to comparison of Monix and Akka Actors... a better comparison would be Monix and Akka Streams.

I'm a bit surprised to hear about Akka battle wounds. I don't mean to one-up anyone or diminish anybody's pain, and, I don't share that experience. However, I could see heavy actor usage would lead to it. I see Actors as a powerful technology that is often

[2016-06-16 08:23] fommil commented on #1222
No longer exists.

[2016-06-16 08:23] #1222 closed

[2016-06-16 09:32] fommil opened #1517 "dead code analysis"
Once we have the graphpocalypse, we can do dead code analysis.

I can't believe we didn't have a ticket for this! @rorygraves

This is the number 2 new feature that Graphpocalypse will give us, after find usages (both of symbols and types).

[2016-06-16 21:57] #1499 closed

[2016-06-16 21:57] #1496 closed

[2016-06-16 21:58] #1362 closed

[2016-06-16 22:42] hardmettle commented on #761
When we're using Path instead of File .. what else could it be if it's not an actual file ? Client would always want to refer/look for source "File" isn't it?

[2016-06-17 06:24] fommil commented on #761
It'll be a source file inside a jar file.

[2016-06-17 07:20] hardmettle commented on #761
In that case how do I get the Jar or antly archive file path .. If I can have that then this can be handled

[2016-06-17 07:36] fommil commented on #761
Um sure there is but I'm afraid this API is all new to me so it's a journey of discovery :-)

There is a helper class in java called Paths, it might have some useful methods. Or we can parse the string.

[2016-06-17 07:42] hardmettle commented on #761
Actually my confusion is path which is the parameter to SourceFileInfo (path:Path, ...) is always a java/scala file which may or may not be in a jar or it could be a .jar file as well? I hope I am not sounding stupid here.

[2016-06-17 08:21] kozikow commented on #1439
Not sure if this is a right place to post this comment, but prior to enabling scalafmt on a project it is probably required to have a good support in Emacs, as it's popular among ensime developers.

There is no Emacs library for it, but I briefly looked into it and it's relatively easy to
repurpose https://github.com/paetzke/py-autopep8.el and use scalafmt CLI to enable
scalafmt on save in Emacs.

[2016-06-17 08:26] fommil commented on #1439
@kozikow the support you're asking for would be provided via the sbt plugin. No need for Emacs support.

[2016-06-17 08:28] fommil commented on #761
it could be something that looks like `jar:file:/path/to/archive.jar!/package/name/MyThing.scala`

[2016-06-17 09:01] aemoncannon commented on #761
Still concerned about the client impact of this change. All clients will need to be able to open archive URIs. Worse, any client extensions that operate at the file path level will need to understand these URIs.

What if we lazily extract to paths that include a Sha of the jar?

[2016-06-17 09:04] fommil commented on #761
@aemoncannon yeah that's why we're just targeting 2.0 to give them time to catch up. Atom are really keen for this and I know recent Emacs has support for browsing archives too.

[2016-06-17 09:07] fommil commented on #1489
@aemoncannon this is merged now, can you please check and see if it fixes it for you?

[2016-06-17 09:07] #1489 closed

[2016-06-17 10:16] aemoncannon commented on #761
@fommil I'm curious what does atom stand to gain?
Our immediate clients might catch up, but the plugin ecosystem won't.

[2016-06-17 10:18] fommil commented on #761
Oh this would be huge for performance, especially on Windows. We're extracting source files like crazy, and I've spoken to quite a few people who get really confused why they can't browse the third party source files (they expected everything to be there, not just the files we extracted).

Which plugins are you thinking of? We could have a special emacs mode like `ensime-readonly-mode` or somethin

[2016-06-18 12:56] hardmettle commented on #761
@fommil So the next step is what needs to be done if it's a jar file reference ? Should the absolute path of the file be extracted from the given reference and then be passed on as the file path?

[2016-06-18 13:18] fommil commented on #761
no you'll need to split it up and pass it to the presentation compiler as an archive file with a path component.

[2016-06-18 13:19] fommil commented on #761
actually I'm not 100% sure how the presentation compiler would want to see that kind of file, so understanding what to do is probably the next move. Ask on gitter.im/scala/contributing or scala-ide/scala-ide for people who understand that API (but bare in mind that nobody really does)

[2016-06-18 13:26] fommil commented on #761
removing "Low Hanging Fruit" to indicate that this one turned out to be trickier than expected.

[2016-06-18 13:28] hardmettle commented on #761
It'll take a while for me to complete it because as you mentioned.. it's a bit tricky and I would need to dive into compiler internals to some extent to get this functioning .

[2016-06-18 13:32] fommil commented on #761
yup, fun stuff :smile: I'll jump in and send you a PR at some point to help with the protocols. But that shouldn't stop you being able to get `core/it:test` going green

[2016-06-18 13:35] hardmettle commented on #761
Also I have another question  .. as you mentioned that in case of jar reference it gets passed on to the presentation compiler as jar and its path .. what do we expect the compiler to give us in return ?
I mean what is it that we want the compiler to "ideally" do for us with those two piece of information.

[2016-06-18 13:46] fommil commented on #761
I don't think you'd need to get involved in the code that sends messages to or receives messages from the presentation compiler. You'd just need to make sure that the `AbstractFile` that you construct is suitable for consumption by the presentation compiler. You might need to add some additional testing around this, and adapt existing test expectations. e.g. in the presentation compiler specs (or

[2016-06-18 14:15] #1515 closed

[2016-06-18 16:02] #1477 closed

[2016-06-18 17:10] fommil commented on #1351
note to self: https://monix.io/docs/2x/

[2016-06-18 18:36] fommil commented on #1351
[code]

with (mostly ignored)

[code]

[2016-06-18 18:38] fommil commented on #1351
@alexandru any chance you could use gitbook for your docs? It makes it a lot easier to convert the docs into whatever format and means you don't need to do any devops like you currently do.

[2016-06-19 17:36] asznajder commented on #1481
I will be happy to work on this, if it's not very urgent :)

[2016-06-20 09:59] mwielocha commented on #1494
You think its a good time to re-implement both java incoming and outgoing?
Just found this:
[code]

[2016-06-20 13:43] fommil commented on #1494
that'll be #1366 :smile:

[2016-06-20 13:59] mwielocha commented on #1494
Right, feels a bit like some kind of an infinite ticket reference loop 😩
Maybe we should merge those two tickets, after all giving `SymbolAtPoint` its own little protocol would make it a bit inconsistent with the rest of 'Java using Scala' api, right?

Plus it doesn't really seem that huge since we right now only support 6 message for `JavaAnalyzer` as stated above. Although I'm assuming this will

[2016-06-20 15:16] bfil opened #1525 "Issues with the Typelevel Cats library"
### Steps to reproduce

1. `git clone https://github.com/bfil/ensime-cats-bug`
2. open the project and your editor of choice (I tried with Atom and Sublime) and start Ensime

### Expected behaviour

No issues should be shown in the editor, the project compiles just fine, it also works just fine in the Eclipse Scala IDE.

### Actual behaviour

The editors show a few compiler errors, here's a screen

[2016-06-20 15:19] fommil commented on #1525
this is the FAQ #673 https://github.com/fommil/imaginary-friend

[2016-06-20 15:19] #1525 closed

[2016-06-20 15:20] fommil commented on #1494
it's huge client side. Probably best to do this ticket first, then do the java one when we can coordinate somebody to update the client side.

[2016-06-20 15:31] bfil commented on #1525
Sorry @fommil, how can I test if that is actually coming from the scala presentation compiler?

[2016-06-20 15:41] bfil commented on #1525
Also, Scala IDE (Eclipse) uses the presentation compiler afaik, but the project there doesn't show any error.

[2016-06-20 15:44] fommil opened #1526 "could not read file: jar:file"
looks like we have this bug

http://groovyjavathoughts.blogspot.co.uk/2015/01/why-am-i-getting-warning-arguments-left.html

https://github.com/ensime/ensime-server/blob/2.0/core/src/main/scala/org/ensime/indexer/SearchService.scala#L337

which means there is probably another bug hiding under this.

[2016-06-20 15:45] fommil commented on #1525
and you compiled the project?

[2016-06-20 15:46] bfil commented on #1525
I sure did

[2016-06-20 16:00] fommil commented on #1525
and it still didn't work after you compiled the project?

[2016-06-20 16:14] bfil commented on #1525
Yep, I usually generate the `.ensime` file after compiling the project.

Tried again, it looks like it works at first, but as soon as I add a blankspace somewhere then it shows those errors.

If I stop ensime, restart it, it shows no errors, even if I trigger manually the typecheck from the editor a few times, all fine, until I change the code (even a blankspace somewhere), that makes everything g

[2016-06-20 16:27] fommil commented on #1525
yeah it sounds like an atom issue (that's usually the best place to create tickets). I'll try to reproduce in Emacs. Ping me in a few days if I don't respond.

[2016-06-20 16:29] bfil commented on #1525
Ok, thanks. Raised it here because I saw it happening in Sublime as well, but compiling first fixes it there, I'll open the issue there then, but keep me posted, trying to reproduce it should just be a `git clone` away.

[2016-06-20 21:09] hedefalk commented on #1525
@fommil I'm pretty sure it's triggered by Atom asking for Implicits (+ typechecking the file simultanously). If I just disable the call for ImplicitInfo the problem goes away. This has been around for ages, but I haven't come around to digging further for some reason but will now. I'll be back!

[2016-06-20 22:24] fommil commented on #1525
Oh damn

[2016-06-21 10:21] rorygraves commented on #1526
Looking at this.  For akka logging the correct form is:

[code]
rather than
[code]
Of course for direct use of SLF its the other way round (not a var-args)

[2016-06-21 15:30] fommil commented on #1526
ok, the problem happens when a jar file is deleted and recreated. The file watcher is too fast or the OS doesn't write the file fast enough or something. I guess the only way we can recover from this is by having a debounce to give the OS some time to write out the file.

[2016-06-21 15:42] fommil commented on #1526
more importantly, this happens when the jar is deleted and replaced within a very short timeframe.

[2016-06-21 15:42] fommil commented on #1526
[code]

[2016-06-21 20:09] fommil commented on #1526
I'm finding it exceptionally difficult to test this because basically when an error happens in the indexing actor, it's a dead end and nowhere to send that message. However, the failure has minimal impact because it just results in not updating the jars... they'll be caught on a restart.

That said, I did find a semaphore leak.

[2016-06-21 22:45] chipsenkbeil commented on #1508
Resolver didn't seem to work in the PR. Fixed via #1527.

[2016-06-21 22:45] #1508 closed

[2016-06-21 22:45] chipsenkbeil commented on #1506
Resolver didn't seem to work in the PR. Fixed via #1527.

[2016-06-21 22:45] #1506 closed

[2016-06-21 22:46] chipsenkbeil commented on #1505
Resolver didn't seem to work in the PR. Fixed via #1527.

[2016-06-21 22:46] #1505 closed

[2016-06-23 10:55] fommil commented on #1526
still getting this. I wonder if it's more a problem of Apache VFS closing the jar in a different thread or something.

[2016-06-23 21:21] fommil commented on #1526
I've got a manual reproduction, but I can't see how to test it. Start up ensime against ensime-server and type (on a full compile) `testingSimpleJar/clean` to see this

[code]

[2016-06-23 21:24] fommil commented on #1526
oh, this is fixed in the 1.0 branch.

[2016-06-23 22:14] fommil commented on #1526
backporting the fix for that small problem I can reproduce locally by typing `testingSimpleJar/clean` and `testingSimpleJar/packageBin` in quick succession (or just a `touch testing/simpleJar/target/scala-2.11/testingsimplejar_2.11-1.0.0-SNAPSHOT.jar`)

[code]

[2016-06-23 22:31] fommil commented on #1526
I think this is because of the aggressive vfs.nuke-ing that we're doing. I guess we need to unregister the file when we close it.

[2016-06-23 23:02] #1526 closed

[2016-06-25 08:19] mwielocha commented on #1351
What about swave? https://github.com/sirthias/swave Its basically depends only on shapeless...?

[2016-06-25 09:44] fommil commented on #1351
We already depend on loan of Mathias' stuff, if we go with this we'll have to offer to host his builds! 😁

[2016-06-26 14:02] balajisivaraman commented on #1152
As discussed on Gitter with @fommil, I'll be happy to try and fix this issue once I'm comfortable enough with the Ensime Server codebase.

[2016-06-26 17:22] mwielocha commented on #1494
I think we can close this one now, if something pops up we can open a different ticket for it.

[2016-06-26 17:22] #1494 closed

[2016-06-26 17:23] mwielocha commented on #1469
I'm taking this one, I think its gonna be relatively easy for me after the last one.

[2016-06-28 13:00] mdedetrich opened #1541 "Ensime-server crashing due to shapeless issue"
### Steps to reproduce

1. Generate ensime config with `sbt ensimeConfig`
2. Run the project against the ensime-server

### Expected behaviour
Project works fine

### Actual behaviour
Ensime-server outputs the following error message

[code]

Unfortunately I can't provide the more info as its private company code

[2016-06-28 13:01] #1541 closed

[2016-06-28 19:25] sugakandrey commented on #1287
This one is pretty annoying, also I think I almost have a working fix for that. So I'll take this, if nobody is working on it.

[2016-06-29 11:40] mwielocha commented on #1491
Ok, so I went through the codebase in javac and I couldn't really find anything this task might be referring to, except maybe for the reusable compiler which actually works fine in 7 but I'm not sure if we want to drop support for 6 completely...? Anyway I can create a PR for this.
I think most of the 'hacks' where removed with netbeans deps, but maybe there is something I'm missing.
Regarding the

[2016-06-29 17:43] aemoncannon commented on #1491
sounds right to me

On Wed, Jun 29, 2016 at 6:40 AM mwielocha <notifications@github.com> wrote:

[2016-06-30 12:46] #1287 closed

[2016-06-30 17:43] mwielocha commented on #1491
@fommil are we dropping java 6? Cause if so I have PR. Then again if not I also have a PR but a much smaller one 😄

[2016-06-30 17:49] fommil commented on #1491
we already dropped Java 6! :smile:

[2016-06-30 19:10] mwielocha commented on #1469
Its closing time!

[2016-06-30 19:10] #1469 closed

[2016-06-30 21:09] mwielocha commented on #1491
goodbye’s too good a word, gal So I’ll just say fare thee well

[2016-06-30 21:09] #1491 closed

[2016-06-30 21:18] rorygraves commented on #1491
lol

[2016-07-01 17:23] #1504 closed

[2016-07-02 11:40] sugakandrey opened #1547 "FqnToSymbol doesn't handle overloaded symbols properly"
Both `toSymbol(scalaName: String, rootSymbol: Symbol = RootClass): Symbol` and `toSymbol(fqn: FullyQualifiedName): Symbol` will fail on the following case:

[code]
If we ask `FqnToSymbol` for the symbol of `class Baz` it will fail, because intermediate symbol for `bar` will be overloaded and calling `barSymbol.info.member(newTypeName("Baz")` will return `NoSymbol` [here](https://github.com/sugakan

[2016-07-02 11:41] sugakandrey commented on #1547
oops, misclicked the label

[2016-07-04 08:53] fommil commented on #1132
I can't remember what is different with #1131

[2016-07-04 08:53] #1132 closed

[2016-07-04 10:02] #1133 closed

[2016-07-04 10:11] #1547 closed

[2016-07-04 10:11] #1507 closed

[2016-07-04 10:11] #1472 closed

[2016-07-04 14:56] ktonga commented on #1471
Hey @pascr have you made any progress? If you're not able to work on it right now I'd like to give it a shot, since it's blocking other work. Cheers.

[2016-07-04 18:51] pascr commented on #1471
Hi @ktonga, nothing substantial yet so feel free to assign it to you.  (Worth having a look at #1351 as several alternatives have been mentionned)

[2016-07-04 19:03] fommil commented on #1471
It'd be really nice to get rid of this. It doesn't need a reactive platform, just nio... consider that we only have one client connection and user generated requests. We can easily throw a thread or two at this.

[2016-07-04 19:22] ktonga commented on #1471
Hey @fommil I have a couple of questions before I start with this.

I was thinking on going really minimalist with this and just use [Project Tyrus](https://tyrus.java.net) which is JSR 356 (Java API for WebSocket) reference implementation. It looks like a good fit for the requirements you mentioned:

- Java lib, supporting 1.7+
- Just a few dependencies
- Exactly what we need, nothing more

But t

[2016-07-04 20:26] fommil commented on #1471
They use the classpath exception, but that could still be a problem for us in our assembly jar. Are there any other impls?

[2016-07-04 20:27] fommil commented on #1471
Re: json/sexp we have the facility to convert into String with both so you just need a way of wrapping up a String payload into a message.

We do have http, for serving javadocs, sorry.

[2016-07-05 01:45] ktonga commented on #1471
What a pity. I guess I could take a look at [Atmosphere](https://github.com/Atmosphere/atmosphere), or [Nettosphere](http://atmosphere.github.io/nettosphere/) more precisely. It also supports HTTP.

I have to ask. Is __http4s__ totally discarded here?

* `+` It's FP and well typed
* `+` It's a Typelevel Incubator project
* `+` It supports both WebSocket & HTTP
* `-` We should use a really old vers

[2016-07-05 05:55] fommil commented on #1471
I'd love to use it but we really should move away from scala libs. We're in a unique position and we need to be able to move swiftly in future to support new versions of scala, so java libs are always preferred.

[2016-07-05 05:57] fommil commented on #1471
Atmosphere has license problems

[2016-07-05 06:01] fommil commented on #1471
Jetty uses epl/apache 2.0 which if we are free to choose apache 2.0 is good for us.

Wow. I never realised how messy all these "new world java" licenses are. So much for Apache 2.0 winning the license wars.

[2016-07-05 08:27] fommil commented on #1471
my goodness, even jetty has polluted components https://github.com/eclipse/jetty.project/blob/jetty-9.3.x/NOTICE.txt

When it comes to JSR API jars, I think we're ok. But when it comes to implementations then we're in a spot of bother.

Maybe http4s isn't so bad after all... but I don't know why they've gone for Java 8. That's such an annoying decision.

[2016-07-05 08:28] fommil commented on #1471
maybe we should seek clarification from the FSF on the use of GPLv2+CPE in an assembly jar. The problem is that GPLv2 is incompatible with GPLv3.

[2016-07-05 08:32] fommil commented on #1471
Here is the classpath exception:

So we are perhaps ok using GPLv2+CPE so long as we have a justification for saying that we are an "independent module". We're not derived from, but it's hard to know what "based on" means here.

[2016-07-05 08:38] ktonga commented on #1471
Re http4s, I can ask why java 8, and maybe help them bringing java 7 support back. I guess it was 'cause they have a hell of a dependencies matrix already. Scala is a nightmare in that regard.

And we have the JDK version and licensing issues. We are running out of options.

Newbie question, sorry if you already answered it many times, Why it's that we can't isolate Ensime space from user project

[2016-07-05 08:46] fommil commented on #1471
ENSIME uses the same version of Java and Scala as your project, as does IDEA use the correct version of Java to compile your project. The analogy with IDEA falls down here because IDEA is written in Java whereas ENSIME (client) is written in emacs-lisp and python.

I've asked the FSF to clarify their position on GPLv2+CPE in a GPLv3 assembly jar. They've previously clarified that it is ok to distr

[2016-07-05 08:47] fommil commented on #1471
but regarding "based on", then the same argument would apply for Java itself. So I think the classpath exception is just confused.

[2016-07-05 08:56] fommil commented on #1471
https://www.gnu.org/software/classpath/faq/faq.html#faq2_3 says

[2016-07-05 08:59] fommil commented on #1471
bah, worst case scenario is we create an assembly jar with all the GPLv2+CPE bits and add it to the classpath. Let's go ahead with Tyrus.

[2016-07-05 09:06] ktonga commented on #1471
But Tyrus can't serve the http bit. Maybe I could take a look at serve both
endpoints with jetty.

Presentation compiler must run embedded? Cannot be run in a separate JVM as
I guess IDEA does?

On Tue, Jul 5, 2016, 6:59 PM Sam Halliday <notifications@github.com> wrote:

[2016-07-05 09:54] fommil commented on #1471
well ensime **is** a separate JVM :stuck_out_tongue:

IDEA doesn't use the presentation compiler. They wrote their type checker from scratch, which is why it gets it wrong so much.

Be careful with jetty because parts of it are EPL and we definitely can't use those.

[2016-07-05 10:13] ktonga commented on #1471
Yeah I know ensime is a separate JVM :) and I was aware of IDEA having its own compiler, I just used it as example since they clearly were able to separate their runtime from the user's project needs, as well as SBT does it so.
Maybe at some point, when SBT client/server gets stable, Ensime can just forward/relay on SBT compilation capabilities.
Will think better what to do with the http docs endp

[2016-07-05 10:32] ktonga commented on #1471
I think I will use a combination of Tyrus and [this](http://docs.oracle.com/javase/8/docs/jre/api/net/httpserver/spec/com/sun/net/httpserver/package-summary.html)

[2016-07-05 10:34] fommil commented on #1471
The http and websockets endpoint need to be on the same port sorry or it'll mean client changes.

Ensime already just passes off to sbt for compilation and so on. It definitely makes sense for ensime to use the same java/scala version as the project so it gives the most collect and compatible experience.

The main reason we care about Java 7 is because both myself and Aemon use it at work :-) once

[2016-07-05 10:36] fommil commented on #1471
Oh yeah, the net server. Heh, I wrote a blog post about that many moons ago. Is it possible to share the port with websockets?

[2016-07-05 10:49] ktonga commented on #1471
I thought that the client only opens docs URLs provided by the WS messages, why it can't be served on a different port? Does the ensime plugin generate the URLs itself using the same port it connects to the WS endpoint?
And we are talking about server 2.0, I thought some incompatibility would be expected.
Obviously I'll try to avoid the port change, but there are SOOO many restrictions that I feel

[2016-07-05 11:02] fommil commented on #1471
Hehe, yeah. There is a splash page that clients can connect to and that reads the `http` file. I'm very confused why these java clients don't allow www and websockets on the same port. Ideally we'd like to move the just one port and drop the `swank` tcp connection.

If an extra port is required then as extra port is required. I'll mean creating another portfile, which is nasty.

[2016-07-05 11:02] fommil commented on #1471
Btw minimising port usage is important in corporate environments where this kind of thing is audited.

[2016-07-05 11:14] fommil commented on #1471
Are you sure Tyrus doesn't allow normal www? It would appear that in the examples, websockets are activated on a per-path basis https://tyrus.java.net/documentation/1.8/user-guide.html#d0e34 so we could have plain old REST endpoints too. Might be worth asking on their forum for some examples.

[2016-07-05 16:23] fommil commented on #1471
I'm trying desperately to remember how all this stuff works (I did this sort of thing in java before scala). I seem to recall that one sets up a servlet container and then it's possible to have various different handlers on that port, and of which word be this websockets thing and others would be REST, and of course it has a JSR and impls too so we just pick the smallest with the cleanest license.

[2016-07-06 00:42] ktonga commented on #1471
You're right, I totally forgot bout how the things were with containers, I'm so used to launch web servers ala spray or play right now.
I can embed a tomcat8 witch runs on Java 7 and later and supports both protocols. I'm also almost sure I'll be able to server both endpoints on the same port.
Now the $1M question.... How about Tomcat license?

[2016-07-06 07:07] fommil commented on #1471
I'm pretty sure there are much lighter weight solutions that tomcat. Doesn't Netty do this?
Maybe jetty is the right solution after all.

[2016-07-06 07:09] fommil commented on #1471
Tomcat is Apache 2.0 so definitely OK. But swapping out akka-streams for tomcat feels like getting rid of an oversized saloon to be replaced by a tractor.

[2016-07-06 07:31] ktonga commented on #1471
Ok. No Tomcat. I always found Netty too low-level for app code, I think it's targeted to lib devs. But I'll check it out.

[2016-07-06 07:49] ktonga commented on #1471
Looks like it is posible to [start a server](https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/http/websocketx/server) with Netty to handle both protocols on the same port. Doesn't seem simple but it is possible.

[2016-07-06 08:06] fommil commented on #1471
we don't need SSL

[2016-07-07 10:57] fommil opened #1551 "Project actor init should happen on creation, not on connection info request"
We're delaying indexing until the connection is made, but this means we can't make use of the `ensime.exitAfterIndex` feature.

@rorygraves thoughts? Any reason you can think of why we only init on a connection?

[2016-07-09 09:40] rorygraves commented on #1551
Oh, I know why this was that way - originally the config was sent in one of the opening messages to the server. (the .ensime file went over the wire).  No reason for it now - it should bootstrap immediately.

[2016-07-09 09:40] rorygraves commented on #1551
Should be trivial to fix

[2016-07-09 10:25] rorygraves commented on #1551
Ah, reviewing the code I remember why this was left the nasty way round, needs a bigger refactor.
The client needs to see an 'IndexerReadyEvent' which comes from the end of indexing.  So we trigger it when the client sends the 'ConnectionInfoEvent' (which every client sends as a first message).

[2016-07-09 10:25] rorygraves commented on #1551
I blieve the answer is 'because otherwise emacs gets upset' ;)

[2016-07-09 10:57] fommil commented on #1551
in the meantime, couldn't we just make the project actor stash these messages until it sees the expected message?

Now that we have 2.0 we are free to write it the way we want to. I suggest removing the connection info request.

[2016-07-09 10:58] rorygraves commented on #1551
Rereading I don't think we need to we already have the stuff in the Broadcaster - I'm pushing a PR now.

[2016-07-09 10:59] fommil commented on #1551
w00t!

I tried to write a test for the indexer, but we lack a launcher. At work I'm just hardcoding it... probably we should have an emacs script for doing this then we could trigger it as the first thing in the tests.

[2016-07-09 11:00] rorygraves commented on #1551
I think rather than being a 'kill yourself flag' it should be a seperate main method that listens to the broadcaster and shuts down.

[2016-07-09 11:00] rorygraves commented on #1551
That logic should not exist in Project IMHO

[2016-07-09 11:01] fommil commented on #1551
yeah, I agree. It was a first time contributor.

[2016-07-09 12:25] fommil opened #1553 "async connection info"
as discussed in https://github.com/ensime/ensime-server/pull/1552 the first message that clients receive when connecting should be an _async_ connection info, with information about the protocol etc.

This is breaking, because right now it's a sync message in response to a request.

We can then remove the connection info request message.

This simplifies the client side logic.

[2016-07-09 16:37] fommil commented on #1189
I've started working on this in https://github.com/fommil/ensime-server/tree/swanky

I debated in my head how general this should be: support for `nil`s and alists and so on, and I decided just to go for the principle of least power and support only a minimal set of features for `SexpData` style formats (not alists). If we decide that alists are definitely preferable on the client side and worth b

[2016-07-10 00:54] aemoncannon commented on #1189
lgtm so far!  I'm indifferent about alists.

[2016-07-10 10:28] fommil commented on #845
going through the API again today I see this one again.

I wonder if we should perhaps have a sealed trait that captures the concept of `AtPoint` vs `ByName` and use that in place of everything. Internally the server could just turn both into the same query and return the same response regardless.

As noted above, we should do the same for `File` vs `SourceFileInfo`. There is no reason to have `Fi

[2016-07-10 10:38] fommil opened #1555 "clean up the refactor API"
dependent on moving to SWANKY in Emacs, the refactor API is overly complicated and many of the parameters are ignored... clean it up.

[2016-07-10 11:14] fommil opened #1556 "use refined types in the API"
things like `objectId`, `threadId` and many of the `String`s would be better as refined types... which also simplifies the marshalling (uses the raw type, not the refined type).

I'm not 100% sure how `spray-json-shapeless` or `s-express` can handle this, so it might be easier to use value classes.

[2016-07-10 12:04] fommil opened #1557 "remove tuples from the API"
they result in really ugly wire formats, it's much better to have named fields.

[2016-07-10 18:56] #1189 closed

[2016-07-11 19:48] fommil opened #1559 "SWANKY: prefix or not to prefix?"
a question for @aemoncannon --- should we add `ensime-api-` or `ensime-` or `swanky-` to the start of all the type names in the new SWANKY protocol?

It's easy enough to do it, but I was concerned about littering the API with repetition.

From an Emacs Lisp point of view, it might make sense to add the prefixes since we're supposed to use prefixes as an alternative to namespaces.

[2016-07-11 19:56] aemoncannon commented on #1559
yeah that's basically where i stand. top-level symbols in elisp should be
namespaced with a prefix. It sucks but we'll regret it if we don't

On Mon, Jul 11, 2016 at 2:48 PM Sam Halliday <notifications@github.com>
wrote:

[2016-07-11 20:02] fommil commented on #1559
ok, cool. I'll add `ensime-api-` unless you have any strong preferences otherwise (because it makes sense to call the file `ensime-api.el` where we define the api)

[2016-07-11 20:26] aemoncannon commented on #1559
sgtm

On Mon, Jul 11, 2016 at 3:02 PM Sam Halliday <notifications@github.com>
wrote:

[2016-07-15 13:41] fommil opened #1564 "concurrent tests"
TIL about `;test ;it:test` will schedule both to run in parallel. Could speed up our CI.

[2016-07-16 18:10] fommil opened #1566 "rethink SourceFileInfo"
when pairing with @hardmettle on #761 we concluded that our modelling of source files could be better. That PR will introduce

[code]

but we could extend this to replace all uses of `File` and `SourceFileInfo` in the API

[code]

which is much cleaner. We could keep the SWANK protocol the same, but support this naturally in SWANKY and JERKY.

[2016-07-17 11:42] fommil opened #1568 "change our build to use .sbt files instead of Build.scala"
**cough** @dwijnand

[2016-07-17 13:02] dwijnand commented on #1568
K

[2016-07-17 14:28] #1564 closed

[2016-07-17 14:28] #1559 closed

[2016-07-17 20:23] fommil commented on #761
@hardmettle I think you forgot to push your branch

[2016-07-18 19:42] sugakandrey opened #1572 "Fix emacs tests for 2.0-graph"
Emacs integration tests are currently broken for `2.0-graph` branch. This needs further investigation.

[code]

[emacs log with full debug info](https://gist.github.com/sugakandrey/2d2a8179e0c741c61fce3f121cbefd02)

[2016-07-19 00:24] hardmettle commented on #1566
@fommil Came across `def askLinkPos(sym: Symbol, path: AbstractFile): Option[Position]` in `RichPresentationCompiler.scala` . This is being called at `ModelBuilders.scala` to locate symbol position while mapping over `LineSourcePosition` s .It is needs an `AbstractFile` which was earlier created easily since LineSourcePosition had `file` instead of `EnsimeFile` . I tried adding
`def getAbstractFil

[2016-07-19 06:37] fommil commented on #1566
Don't add code to api, add it to the util file we were working on. Can you please push your branch? I'm blocked until you do that.

[2016-07-19 06:38] fommil commented on #1566
Oh sorry read it wrong, i think we can maybe add a utility to the core somewhere. Or at the scala compiler to the utils deps.

[2016-07-19 15:30] fommil commented on #761
@hardmettle ! Ping, can you please push your branch? Ok (expected) that it doesn't compile.

[2016-07-19 16:09] hardmettle commented on #761
I will push tonight for sure .. I continued working on it without realising that haven't pushed the branch .. Apologies for the delay

[2016-07-19 18:46] fommil commented on #761
Cool thanks. Alas my only hack time this week has been the last three days so it'll have to be next week before I get to this.

[2016-07-19 23:24] hardmettle commented on #761
@fommil Pushed the branch . I was in middle of lot changes and it has some errors to be fixed , but I still pushed it. Will continue work to make core compile meanwhile you can join in when you get free.

[2016-07-19 23:51] hardmettle commented on #1566
Pushed the branch , and apart from that I did not understand the solution you suggested above .

[2016-07-20 06:09] fommil commented on #1566
Just pattern match on EnsimeFile like you've been doing to pull out the File reference

[2016-07-20 23:46] hardmettle commented on #1566
How to deal with `FileObject`s coming from `FqnSymbol` (via the `EnsimeVFS`). We need to extract an `EnsimeFile` from them(`FqnSymbol`) in `ModelBuilders` to create `LineSourcePosition` objects.
Note: Earlier we were extracting `Path` since `LineSourcePosition` took that as a parameter.

[2016-07-23 15:37] fommil commented on #761
I've cherry picked your WIP into my branch, I'll try to get a little bit more done today and tomorrow. just `git reset --hard fommil/jar-urls` before you do any more to avoid conflicts.

[2016-07-23 17:46] fommil commented on #761
@hardmettle I've implemented almost all the methods on `RichEnsimeFile` now and added tests.

I didn't think initially that the converter to `AbstractFile` should live in `utils`, that feels more like a `core` thing... but I'm very coming round to the concept because it would keep all the `EnsimeFile` logic in a single place.

[2016-07-23 17:52] fommil commented on #761
`scala-compiler` added to `util` so we can add a `.asScalaCompilerFile` method or something similar at that level and implement it separately.

[2016-07-24 11:01] fommil commented on #1351
@mwielocha I just watched the scaladays talk, very impressive.

[2016-07-25 07:23] sirthias commented on #1351
@fommil What's your time-line on this ticket?
It'll be a few more weeks before the first stable release of *swave*, which will come with proper documentation. However, *swave* is currently somewhat high up on my prio list (because we need it for out own stuff) and probably will be for quite some time, so I'd be able to react rather quickly to support/feature requests.

[2016-07-25 08:22] fommil commented on #1351
@sirthias no solid timelines but certainly not within the next few weeks. We just cut ensime 1.0 so 2.0 is probably going to take us a year, realistically (I'll be delighted if its faster than that). I don't expect volunteers to come forward until the weather gets worse :smile: the number of people attending the monthly hack days has noticeably declined as the sun gets shinier...

[2016-07-25 08:55] sirthias commented on #1351
@fommil I see. So there is chance that *swave* might present another alternative to the existing stack (next to monix). I'll keep you posted on the progress.

[2016-07-25 09:35] fommil commented on #1351
yup. Currently it's swave vs monix vs fs2 vs scala-csp vs our own home-cooked minimal thing. We'd like to strive for zero scala dependencies (to make it easier to support new versions of scala) but we'll settle for lightweight scala frameworks.

[2016-07-26 19:27] fommil commented on #761
I've got `core` compiling now, but with holes in places. We need to be careful about reconstructing `SourceFileInfo`s / `EnsimeFile`s from the `AbstractFile`s that the scala compiler gives us.

[2016-07-29 00:42] ktonga opened #1575 "Completion list contains some elements without `typeInfo` field"
I saw it in **1.0**, not sure if it's already fixed in **2.0**.
It seems to be related to the special case of completing Java class names or constructors.

I was able to reproduce it for the following case (`|` is the cursor position when I triggered the completion):

[code]

For a completion request like this, the server returns some elements lacking the `typeInfo` field,  and some editors' forma

[2016-07-31 16:26] marcsaegesser opened #1577 "Semantic highlighting for comprehensions"
There are two annoying issues with semantic highlighting of `for` comprehensions:
1. The first generator sometimes gets highlighted incorrectly. Sometimes this results in a symbol highlighted partly as one type and partly a different type (e.g. it starts as an object and ends as a function call).
2. The subsequent generators do not get highlighted at all.

Both problems are related to the fact tha

[2016-07-31 17:53] fommil commented on #1577
this sounds like something we should fix in the compiler, or do you have some workaround in mind?

[2016-07-31 17:54] fommil commented on #1577
btw, the compiler doesn't really support `for` comprehensions, it dusugars them at the **parsing** phase (yes, its insane)

[2016-07-31 18:40] hardmettle commented on #761
@fommil I pulled your changes and pushed the merged changes into my branch . Since spent too much time sorting out what changes you've introduced and what changes I have been doing it is all mixed up now . Now that I have your changes can you tell me where to start up again ? What things needs to be completed which are left over?

[2016-07-31 18:41] marcsaegesser commented on #1577
I had in mind two possible approaches.

The first is to simply detect places where we've received overlapping `SymbolDesignation`s and apply some heuristic to select the most appropriate one. Any approach that tries to go from `scala.reflect` ASTs back to code is going to require heuristics and guesses because of all the desugaring that the compiler has done. This approach will never be perfect; I

[2016-07-31 20:57] fommil commented on #761
there are some unimplemented methods, but I guess the best thing to do would be to get the core integration tests compiling and running, then implement missing methods until they pass :smile:

we should probably write a few extra tests for this to make sure we're covered. Once `core` is working, I'll fix up the protocol.

I might drop in and out of this, so please remember to push your changes or

[2016-07-31 20:58] fommil commented on #1577
you know this is basically what our second GSoC was? :stuck_out_tongue_winking_eye: http://ensime.github.io/contributing/gsoc2016/#source-code-preserving-ast it's turned out to be much much harder than expected... so I recommend going for simple heuristic at this stage.

[2016-07-31 21:03] hardmettle commented on #761
The core is compiling ... So I guess next step is to get the it test compiling and running . Just to confirm this should work `sbt it:test-only` isn't it?

[2016-07-31 21:04] fommil commented on #761
`sbt core/it:test`

[2016-07-31 21:04] fommil commented on #761
(don't forget the `core/` bit or it'll try to compile the protocols and get into an infinite loop)

[2016-07-31 21:05] rorygraves commented on #1577
Yeah, do you really want to be parsing the code to work out the location of the for comprehension?
Check out https://github.com/scalameta/scalameta/pull/457   Basically it allows transforms to keep the formatting/whitespace etc.

[2016-07-31 21:29] fommil commented on #1577
@rorygraves but that's a strategic solution, we can't really use it anytime soon. We can't realistically depend on `scala.meta` until ensime 3.0 when we (potentially) drop scala 2.10 support.

[2016-07-31 21:37] rorygraves commented on #1577
Yeah, fair enough, one thought - the scala-refactoring library might have some interesting hacks to deal with stuff in this area (the  munging of for loops is one of things it has to handle)

[2016-08-01 06:06] xeno-by commented on #1577
@fommil What's the timeline of ensime 3.0?

[2016-08-01 06:55] fommil commented on #1577
3.0 becomes the dev branch when we finish 2.0. i honestly have no idea because everything is on a volunteer basis. Well see how contributions pick up when the winter weather comes.

[2016-08-01 07:00] xeno-by commented on #1577
Allright that's another motivation for me to look into 2.10 support.

[2016-08-01 09:11] fommil commented on #1577
I don't know... we're seeing a lot of traction in our 2.0 roadmap. It'd probably be more efficient if you just helped us out to release 2.0 to be honest! :smile:

We only care about 2.10 for sbt. And sbt 1.0 is going to use scala 2.11.

[2016-08-03 00:06] hardmettle commented on #761
@fommil Made some changes in `it` tests to get them compiling and running . But there are still some tests failing ? Do you want me to commit the changes before we can work on passing all the tests?

[2016-08-03 00:14] fommil commented on #761
Yes please always always commit your work, no matter how small, or we'll end up duplicating each other's efforts. I'm dipping in and out of this branch when i find the time. I might get some time this weekend.

[2016-08-04 21:56] hardmettle commented on #761
I have pushed in my changes , you can sync your copy with it. Once you get time to take a look into this branch please review and share your thoughts about the additional work/tests needs to be added.

[2016-08-05 06:38] fommil commented on #761
Cool thanks

[2016-08-08 21:09] fommil commented on #354
exclusion list should be for the indexer, not the db. Although, having an exclusion list for the DB is also interesting... and could be a workaround for performance problems.

[2016-08-09 21:20] fommil opened #1582 "import of objects not appearing in import type at point"
I can create a test project if you're unable to reproduce.

I've noticed a regression in the 2.0-graph version of ensime-server that when I write something like

[code]

where `Foo` is an object that hasn't been imported yet, then `Foo` is not in the list of types to import. I'm pretty sure this used to work.

[2016-08-10 19:58] fommil commented on #761
ok, cherry picked your stuff thanks. I'll chip away at this tonight. I have an evil idea for the protocol... a system property that handles converting outbound messages to the legacy cache directory. Could ease migration of the clients.

[2016-08-10 20:09] hardmettle commented on #761
Can we save the complicated part for peer programming on hackday? I would want to be part of it to understand it better?

[2016-08-10 20:22] fommil commented on #761
yeah, I'll be there, not sure if we'll finish it but we can make a good stab at it! :-)

[2016-08-10 20:49] fommil commented on #761
not much to do...

[code]

err

[2016-08-10 20:55] hardmettle commented on #761
:( I know. .But I am guilty too. .couldn't give much time to it.Focused only on getting through compilation

[2016-08-11 06:46] mickaelistria opened #1584 "implement Language Server Protocol"
lt would be great if Ensime implemrnted the Language Server Protocol, for which multiple tools already have integrations or plans of integration.
https://github.com/Microsoft/language-server-protocol

[2016-08-11 06:54] ktonga commented on #1584
Duplicate of #1498

[2016-08-11 06:54] #1584 closed

[2016-08-13 12:47] fommil commented on #1437
https://github.com/fommil/ensime-server/blob/jar-urls/util/src/main/scala/org/ensime/util/ensimefile.scala

[2016-08-13 13:43] rumoku commented on #1437
i'm picking it up.

[2016-08-14 11:40] fommil opened #1587 "license s-express as LGPL"
I'd like to make `s-express` available as a library that can be used to complement JSON endpoints in more applications, so that writing Emacs apps would be more natural.

This code used to be LGPL but it changed to GPL on `2015-10-31` when we relicensed ensime-server. Before then, it was already LGPL so I've already ticket off Aemon's name :smile:

- [x] @aemoncannon
- [x] @fommil
- [x] @asznajder

[2016-08-14 11:41] rorygraves commented on #1587
Fine by me.

[2016-08-14 12:00] dwijnand commented on #1587
Fine for me too.

[2016-08-14 15:36] fommil commented on #1437
@rumoku hi, I added the utils to the 2.0 branch so you should be able to rebase and avoid conflicts now :smile: let me know if you need any help. I also forgot to give you some ENSIME stickers on Saturday, I'll do that next time.

[2016-08-14 17:50] fommil commented on #761
this branch needs a rebase

[2016-08-14 17:55] hardmettle commented on #761
So are you rebasing your branch? And then I can pull from yours

[2016-08-14 18:41] fommil commented on #761
yeah, I'll try to it tonight or tomorrow.

[2016-08-14 20:30] fommil commented on #761
ok, I rebased. You can `git fetch -a ; get reset --hard fommil/jar-urls`

[2016-08-14 20:34] #1568 closed

[2016-08-14 20:36] idanov commented on #1587
Good to me too :)

On Sun, 14 Aug 2016, 13:00 Dale Wijnand, <notifications@github.com> wrote:

[2016-08-16 07:29] asznajder commented on #1587
No problem

[2016-08-17 21:36] fommil commented on #1152
an interesting impact of fixing this would be that macros should be a lot better in ensime! Because macros don't work in the same presentation compiler that loads them.

[2016-08-18 09:28] ancane commented on #1587
LGTM :)

[2016-08-18 11:24] fommil commented on #1587
thanks all!

[2016-08-19 09:26] chessman opened #1590 "Can't import type when it's defined in package"
build.sbt
[code]
src/main/scala/org/example/Application.scala
[code]
### Steps to reproduce

1. Place the cursor on Directive0
2. M-x ensime-import-type-at-point

### Expected behaviour
import akka.http.scaladsl.server.Directive0

### Actual behaviour
import akka.http.scaladsl.server.package.Directive0

The same behaviour with ensime-refactor-diff-organize-imports. It just removes the correct impo

[2016-08-19 12:00] fommil commented on #1590
ah, yeah, this is known. There might be a dupe, might not be. Could also be fixed in the 2.0-graph experimental branch, can you give it a try? Instructions in ensime.org/contributing

[2016-08-19 17:47] rorygraves commented on #1152
Unless one of the PCs is doing full compilation to bytecode how is the second PC going to apply the macro?  Am I missing something?

[2016-08-19 18:40] fommil commented on #1152
Sbt does the compiling, second one picks it up

[2016-08-20 10:42] fommil commented on #1587
I've updated the `ensime-server` CLA https://gist.github.com/fommil/1a2d1a444113f89b1cd6 and I'll raise a PR with the change later today.

[2016-08-20 13:29] fommil opened #1592 "too many open files"
looks like we have a file leak in the graphpocalypse. I get this about twice when I run `it:test` on a stock ArchLinux system (I think file handle limit is 1000).

[code]

[2016-08-20 17:03] #1587 closed

[2016-08-21 19:41] fommil commented on #1414
@ktonga that's to unblocking akka-streams, we're now looking more likely to be able to make a 2.12-RC release at some point!

[2016-08-21 19:45] fommil commented on #761
I didn't get to this, I was fixing other things that broke. And I need to rebase again as a result.

[2016-08-21 21:27] hardmettle commented on #761
Should I rebase because I was looking into it though I didn't make any changes?

[2016-08-22 00:03] ktonga commented on #1414
No worries @fommil, I feel I owe it to the universe for starting so many projects in my akka-solves-all-the-problems days.

[2016-08-23 19:43] ktonga opened #1594 "Cleanup WebSocket subprotocol negotiation implementation"
All the hacky code in `WebSocketFrameHandler`, related to how we setup the handler after a handshake, was put there to sort out a Netty limitation. It can be easily removed once netty/netty#5734 get released

[2016-08-23 21:29] #1471 closed

[2016-08-24 00:19] hardmettle commented on #761
I have pushed some more changes and fixed one more failing test. Only one more is left which is `DebugTest.scala` . That is WIP .

[2016-08-24 05:12] fommil commented on #761
Awesome! Was that the not-so-simple-java-file-object?

[2016-08-24 07:10] hardmettle commented on #761
Sadly not. I have kept best for the last.I am just quickly clearing off the ones which can be done without any additional big changes. I will soon get to the not so simple one.

[2016-08-27 19:54] hedefalk commented on #1432
Just thinking:

If:

1) There is a simple way for ensime-sbt to ask the project definition if a sourceDirectory is non-recursive (root) or normal (src/main/scala) and
2) There is only black and white - fully recursive or non-recursive, just one folder as opposed to some blacklist of say root/project or something more complicated.

Could we then propose a non-breaking fix only involving ensime-serv

[2016-08-27 21:55] fommil commented on #1432
Hmm, yeah we could do this but it needs client support from all clients. Probably sbt plugin could complain but add this field anyway, resigned.

[2016-08-29 12:05] fommil commented on #1551
it's not entirely clear but there is an open PR on this but it got delayed because of client integration problems, so more work is needed to retain the backwards compatible API https://github.com/ensime/ensime-server/pull/1552

[2016-08-29 13:10] fommil commented on #761
@hardmettle I rebased to `2.0` and cherry picked your commit into my branch. I'm going to look into the `NotSoSimpleJavaFileObject` today

[2016-08-29 13:12] fommil commented on #761
status:

[code]

[2016-08-29 13:39] fommil opened #1595 "documentation server no longer works"
looks like https://github.com/ensime/ensime-server/pull/1573 broke the documentation server. @ktonga

Slightly concerning that this isn't covered even by the emacs tests :-/

I did a `C-c C-v d` over the use of a `@scala.inline` and got this but it can be reproduced easier by clicking on any of the jars listed under the `/docs` REST endpoint.

[code]

[2016-08-29 14:03] ktonga commented on #1595
That's all the stack? I would like to know why the server ended up looking for the type of this missing file.
Do you have any server logs showing the request for the doc URI and the response for the server? I sounds like a relative path is asked to the server so it thinks it's in the working dir

[2016-08-29 14:04] fommil commented on #761
@hardmettle ok, done! `JavaCompilerSpec` now passes. I pushed to my branch. I'll now look at doing an evil hack in the protocol layer (and applying `CanonFile`) to keep all the clients happy if you could look at the failing debug test?

[2016-08-29 14:18] ktonga commented on #1595
Everything is working for me and the tests do cover the docs service. Could you provide a sample link from the jars list?

[2016-08-29 14:24] fommil commented on #1595
I just tried with the `2.0` branch, cleaned everything, started up a fresh ensime server 2.0.0-SNAPSHOT against it, waiting for indexing, then went to the `/docs` page and clicked on the h2 jar. Also reproduces with `scala-library`. I don't know how the logs work now for netty, is there a package I could increase the logging for to see more information?

I use GNU/Linux (ArchLinux) if that helps.

[2016-08-29 14:26] fommil commented on #1595
btw, if I `touch .ensime_cache/index.html` then I do get responses back but they seem to have the wrong meta information because the raw HTML is rendered as text.

[2016-08-29 14:46] ktonga commented on #1595
The problem seems to be the way I'm using now to get the MIME-Type for the file entry. It uses a class from the JDK which relies on platform specific mechanism and is kind of buggy in Java 7. In my case it works perfect just mapping the file extension to the proper MIME-Type but in your case it seems it's trying to read the file header (probably b/c it doesn't have the mapping info) to determine t

[2016-08-29 14:49] fommil commented on #1595
sounds good! I guess javadocs might also have JPGs, PNGs or SVGs in them so supporting them would be good as well as `.html`

[2016-08-29 14:51] ktonga commented on #1595
Sure. I was going to inspect a few jars and take a look at what kind of files I find

[2016-08-29 15:00] ktonga commented on #1595
If you run this in a Scala REPL for your Java version:

[code]

What you get? This should work since 1.6

[2016-08-29 15:02] fommil commented on #1595
[code]

[2016-08-29 15:08] ktonga commented on #1595
Hmmm... seems to be a little bit more reliable than ` Files.probeContentType`. I will give it a try.

Do you think I should add some logging lines to docs service?

[2016-08-29 15:35] ktonga commented on #1595
Can we use it (LICENSE)?
https://raw.githubusercontent.com/spring-projects/spring-framework/master/spring-context-support/src/main/resources/org/springframework/mail/javamail/mime.types

[2016-08-29 18:14] fommil commented on #1595
Yeah we can definitely use apache2, or bsd3 or mit.

[2016-08-29 18:17] ktonga commented on #1595
Yep, I figured out already. Included in the PR I've just opened.

[2016-08-29 19:28] #1595 closed

[2016-08-30 02:58] tonylotts commented on #1556
@fommil, do you mean refined as in https://github.com/fthomas/refined, or as in  something like the following.

[code]

[2016-08-30 05:48] fommil commented on #1556
I mean shapeless tags. We can't add anything more to our dependency list.

[2016-08-30 12:08] hedefalk opened #1597 "Add line, col for positions other than error report ranges (optionally?)"
I remembered incorrectly about the other ticket I had related to row,col positions, https://github.com/ensime/ensime-server/issues/1286. The current use case I have is not the same as before - before was just about row,col from errors/warnings which I guess might be easier.

In vscode, everything handling positions is row,col based. Specifically, I want to create a "DefinitionsProvider" which is u

[2016-08-31 18:03] alexandru commented on #1351
Note, I've just released Monix `2.0.0`, now also cross-compiled for Scala `2.12.0-M5`:
https://monix.io/blog/2016/08/31/monix-v2.0.0.html

[2016-09-02 10:13] bfil commented on #1525
Has anyone had a chance to look at this issue?

[2016-09-02 10:47] fommil commented on #1525
@bfil if you wait until after scala world, we're making a library that you can use to reproduce and investigate further. I wouldn't hold your breath for somebody to fix this for you though, you'll have to get your hands dirty.

[2016-09-02 10:48] bfil commented on #1525
I wanted to give it a try myself, some basic advice would be helpful though, it looks like a server issue to me since I get the same errors on both Ensime and Sublime. But would be great knowing where should I start looking to fix this.

[2016-09-02 11:13] fommil commented on #1525
wait until after scala world and I'll have some tools for you to use.

[2016-09-02 11:16] bfil commented on #1525
@fommil sounds great, will wait for the library. Shouldn't this issue be re-opened?

[2016-09-02 11:17] fommil commented on #1525
no, issues with the presentation compiler will be tracked elsewhere it's not an ensime bug. This is a dupe of #673

[2016-09-02 11:20] bfil commented on #1525
@fommil I thought it wasn't a presentation compiler bug since Eclipse is fine with my cats project, and Eclipse is using the presentation compiler afaik

[2016-09-02 11:26] fommil commented on #1525
until we have a way of testing this kind of stuff I'm assuming it's all presentation compiler related. You could write an ensime specific test if you wanted by following the contributor guide and starting with something like RichPresentationCompilerSpec and pick a project base with cats in it. I think we already have a test project with cats in it.

[2016-09-02 11:27] bfil commented on #1525
Will have a look

[2016-09-02 11:31] hedefalk commented on #1525
I'm interested to follow this too… It's my impression that a lot of the presentation compiler bugs we have seems to be worked around in scala-ide. I know for a fact that I have had a lot of false positives on projects in Ensime that wasn't there in Eclipse. Exactly how this is done, I've been meaning to ask. It just feels that problems in presentation compiler hits harder in Ensime than in scala-i

[2016-09-02 13:41] dragos commented on #1525
There's no specific work-around for such errors, but there's a strict thread discipline to avoid any concurrent queries to the PC. I will be using ensime a lot more once I can get it to work in VS Code (I have the language server, now I need to plug-in a backend, either ensime or the PC directly), so I'll keep an eye on such errors. I am not familiar with the ensime code-base yet, but I think ther

[2016-09-02 13:42] fommil commented on #1525
FYI the tooling I'm referring to is https://github.com/ensime/pcplod

[2016-09-02 13:52] hedefalk commented on #1525
@dragos Have you that language server implemention up anywhere I can look? It's always good to look at the options…

For what it's worth I have been toying a bit more with vscode using the programmatic language api and ensime via my ensime-client lib (same as atom). I have some crude features working:

* definitions (including navigation)
* type hover
* completions
* errors/warnings

Still lots to

[2016-09-02 14:18] dragos commented on #1525
Sure: https://github.com/dragos/dragos-vscode-scala

The language server does not implement the whole protocol yet (although all types are defined). It's probably very close. I might refactor some things, but the rough idea is there. The client spawns and communicates to the server (when saving a file an "alert" is sent back to VS Code).

[2016-09-04 22:20] pascr commented on #1592
It could be linked to orientechnologies/orientdb#6269 so bumping orientdb to 2.2.4 could fix it. The default limit is 1024 but it can be configured with the "storage.openFiles.limit" property.

[2016-09-04 22:30] fommil commented on #1592
cool, thanks @pascr ! we'll try that out :smile: does it work on Java 7?

[2016-09-04 23:15] pascr commented on #1592
@fommil yes it should work, it's built against 1.6 AFAIK

[2016-09-04 23:38] pascr commented on #1351
@fommil to avoid scala dependencies ReactiveX/RxJava (Observable) could also be an option

[2016-09-04 23:44] fommil commented on #1351
that's a good point, although at that point the code isn't going to look very pretty so I'm not sure it would be an improvement over what we currently have. I'd be willing to tolerate a lib for this, only if the author was committed to making active releases.

[2016-09-05 22:44] hardmettle commented on #761
@fommil Sure , I was away for a while. And umm .. I had just this status before I took a break :\ . So what went wrong here? Can you just fix the ```JavaCompilerSpec``` with my changes?
[code]

[2016-09-05 22:47] fommil commented on #761
I think you're using the wrong branch. Make sure to reset the mine, I cherry picked all your changes and rebased. Should only be debugtest to fix.

[2016-09-05 23:25] hardmettle commented on #761
You mean ```git fetch -a``` and then ```git reset --hard fommil/jar-urls``` right?

[2016-09-07 00:43] hardmettle commented on #761
@fommil fixed all DebugTest but one. Not able to find what is going wrong in test ```trigger/continue``` . Can you please take a quick look ?

[2016-09-07 06:28] fommil commented on #761
I'm at Scala World this weekend but I'll try to take a look

[2016-09-08 03:00] nagarajasr commented on #1592
@fommil @pascr orientdb 2.2.4 apparently has a critical bug that can damage data: https://github.com/orientechnologies/orientdb/issues/6638#issuecomment-245297083
so you might want to consider upgrading to later version.

[2016-09-09 09:08] hedefalk commented on #1525
I'm pretty sure that issues like this: https://github.com/ensime/ensime-atom/issues/235 arise from the fact that ensime-atom posts more questions to ensime-server out-of-the-box and that they haven't been noticed that much in ensime-emacs because the client behaves "better".

But to me it sounds like an underlying problem that we should probably adress the way scala-ide does it?

* @dragos So you

[2016-09-09 11:54] fommil commented on #1525
The ensime server also makes sure that requests to the PC are single threaded. That's why it is managed as an actor. I really doubt that this is the cause of the problem.

I don't want to jump to conclusions about what is going wrong without being able to reliably reproduce these bugs and that's why we are building `pcplod`. You can also create ensime tests and if you can reproduce there but NOT i

[2016-09-09 20:34] hedefalk commented on #1525
Ok, cool! I'll try to see if I can make a standalone ensime test for it, I'll start there…

[2016-09-09 20:45] hedefalk commented on #1525
@fommil Sorry to ask, but if I would like to try create an ensime test that exposes this issue, do you think you can point me to a physical location where I should write such a test?

[2016-09-09 20:54] hedefalk opened #1600 "Watch build files and ping client on invalidation"
Watch build files and ping client to re-generate .ensime and restart when changed.

.ensime adds a list of the physical files that is the "source"?

But then the client might as well watch itself if it can parse .ensime (which it always needs to anyways to find java_home, scalaversion and stuff…?)

So, is this really a ticket for ensime-sbt to add a field of "source-files" to .ensime which are the

[2016-09-09 21:36] bfil commented on #1525
@hedefalk I've forked the server and started hacking a test together, I have no idea what I'm doing either, for now I've created a `CatsSpec` under `core/src/it/scala/org/ensime/core`.

I started with a simple test that uses the `askTypeInfoAt` to get the type of a value, and it looks like it's unable to resolve the `cats.data.XorT` type for some reason if I create a simple value using `XorT.right

[2016-09-09 23:21] bfil commented on #1525
Here's what I've done so far:
https://github.com/bfil/ensime-server/commit/f5afd7c95ae9a33d2adbd56fdb35afa95625a9f8

The `TypelevelLibrariesSymbolToFqnSpec` integration test is failing for some reason after my changes, probably due to the cats dependency version?

My integration test to check the type info seems to be passing, not sure where to go from here, or how to trigger the `NoteError`s that

[2016-09-10 00:06] fommil commented on #1600
:+1:

[2016-09-10 00:18] fommil commented on #1525
Sounds like you're on the right tracks. We should have a test template project somewhere with cats on it. Might be in the graph branch.

[2016-09-10 08:02] hedefalk commented on #1525
Cool!

[2016-09-10 11:55] fommil commented on #1525
it's this one https://github.com/ensime/ensime-server/blob/2.0/core/src/it/scala/org/ensime/fixture/EnsimeConfigFixture.scala#L84-L87

[2016-09-10 13:16] bfil commented on #1525
Thanks @fommil

Yeah, that's the one I'm using in my `CatsSpec`.

[2016-09-12 10:47] ktonga commented on #1594
My PR netty/netty#5751 to fix  netty/netty#5734 has been merged and will be released as part of [4.1.6](https://github.com/netty/netty/milestone/153)

[2016-09-12 10:56] fommil commented on #1594
woohoo!

[2016-09-14 14:35] bfil commented on #1525
Any clue why if I change the `cats` dependency in `EnsimeBuild.scala` to `intransitive()` then `TypelevelLibrariesSymbolToFqnSpec` works but my `CatsSpec` fails (cannot resolve cats), while if I remove `intransitive()` my `CatsSpec` passes but then `TypelevelLibrariesSymbolToFqnSpec` fails because it tries to index some `scalacheck` code but fails in doing so?

@hedefalk have you had any luck into

[2016-09-14 14:43] fommil commented on #1525
@bfil @hedefalk we now have pcplod released! Could one of you please submit a PR to cats to add pcplod as a test dependency and write a couple of pieces of idiomatic cats code that causes problems, with tests. It's super easy to use, much easier than writing an ensime test https://github.com/ensime/pcplod

Also, one thing I noticed that might cause problems is if you have compiler plugins in some

[2016-09-14 21:43] bfil commented on #1525
@fommil I've forked cats and I'm trying to create a basic initial test but it seems like `pcplod` cannot find my Scala files in the resources folder, so I'm stuck at square one.

[2016-09-14 22:03] fommil commented on #1525
@rorygraves can you please help out @bfil ? (I'm AFK for a while)

[2016-09-15 07:33] bfil commented on #1525
No prob @fommil I can push what I have in my `cats` fork if that helps.

[2016-09-15 12:19] rorygraves commented on #1525
I will look tomorrow night. Ping me on gitter if I forget.

Sent from my iPhone

[2016-09-15 20:26] hedefalk commented on #1525
@bfil Sorry, I haven't had any time to spare. My idea was to just to look at the request/response logs from ensime-atom and do just the same "headless". My client test suggested that a concurrent ImplicitInfoReq just before typechecking somehow triggers the problem.

@fommil Awesome work!

[2016-09-15 21:07] bfil commented on #1525
@hedefalk oh ok, an headless integration test might be easier.

I've finally managed to make `pcplod` work in the `cats` code base, I move the settings from the tests module to the jvm module and there it finds the test resources just fine, no clue why.. (might be some obscure reason due to the `cats` cross compilation to both JVM and JS).

I'll keep working on it, will give an update if I manage

[2016-09-16 07:01] z4139jq opened #1601 "ensime-show-doc-for-symbol-at-point and jump to definition not working if there are compilation errors"
If there are compilation errors in a .scala file, show doc and jump to definition in this file are not working, here are the messages: Sorry, ENSIME couldn't find the definition, No documentation found.

[2016-09-16 13:48] fommil commented on #1601
This is pretty much by design. Please follow the troubleshooting guide when you have any problems.

[2016-09-16 13:48] #1601 closed

[2016-09-16 21:52] bfil commented on #1525
So, looking at the `?` in type parameters in `EitherT`, which seems to be causing `ensime-atom` and `ensime-sublime` to blow up once the `EitherT.scala` file is analyzed, it looks like `cats` use the `kind-projector` compiler plugin to facilitate writing type lambdas, but it is in its common settings which are applied to each SBT module/project, it also uses macro paradise.

These are a subset of

[2016-09-16 22:22] bfil commented on #1525
Also found this 1 year old Gitter discussion about `kind-projector`: https://gitter.im/ensime/ensime-server/archives/2015/09/30

Since the presentation compiler seems happy with the test I've added using `pcplod` in `cats`, I'm assuming this issue is an Ensime one, I would like to try and add a test in `ensime-server` that uses `kind-projector` as a compiler plugin, but it might be too advance for

[2016-09-16 22:59] bfil commented on #1525
So, just found out that if I add this to my project build (the one that has a dependency on `cats`):

[code]

The errors related to `cats` in Atom just disappear, so it is definitely a compiler plugin related issue, like @fommil suggested.

This makes me quite happy, it means that I can just add the compiler plugin to my projects depending on `cats` as a workaround, and enjoy a working editor!

[2016-09-17 00:12] fommil commented on #1525
This is not spam!!! Great investigations. Make sure to add any plugins your project uses to the root project to make sure ensime sees it, were working on fixing this.

I'm on holiday for 3 weeks so sorry I can't help.

[2016-09-17 05:02] hedefalk commented on #1525
Great catch!

[2016-09-17 09:11] bfil commented on #1525
@fommil no worries, at least we have a workaround.

I do not fully understand what you mean with "add any plugin to the root project", if the compiler plugin is used by a dependency (like in the case of `cats`), the only thing I can do on my side is adding it to my project. Not sure how Ensime handles dependencies' compiler plugins, is the issue that:

1. `cats` is not defining it on its root proj

[2016-09-19 19:43] dragos opened #1603 "add API for "remove file from presentation compiler""
The Scala presentation compiler works by type-checking a set of files in the background. Files are added to the set of "managed" files by `askReload`.  During type-checking errors are reported _only_ for these files.

Usually, files are added to the "managed" set when they are open in a tab and removed when the tab is closed. The smaller the set of files that are managed, the faster the round-trip

[2016-09-19 21:14] dragos opened #1604 "Ensime notes should not remove newlines"
Eclipse is notorious for not handling multi-line error messages, but it shouldn't force everyone else to follow the same limitation.

Ensime removes newlines from Scala errors, even though some clients (like VS Code) would render them just fine. This is particularly annoying for "type mismatch" errors.

If this is a problem in existing clients, maybe a new field could be added, "rawMessage".

[2016-09-20 06:17] netzwerg opened #1605 "Ensime shows false errors in scalajs-react project"
### Steps to reproduce

1. `git clone https://github.com/fhnw-saav/saav.git`
2. `git checkout ensime`
3. Start ensime and typecheck all files in the project

### Expected behaviour

No typecheck errors should be found

### Actual behaviour

False typecheck errors are found:

Spacemacs shows 1 error:
[code]

Atom shows 31 issues (Sorry, I can't seem to copy them – where can I find a log?)

[2016-09-20 19:03] weeshy commented on #954
I've had the same problem with developer ensime version. Few times per hour ensime hangs out with messages like that:

[code]
After that ensime refuses to autocomplete code. The only workaround I had discovered is to restart the ensime. I could not factor out what code exactly causes this behaviour. I use few implicits and macroses in the project but without excess.

[2016-09-22 00:27] fommil commented on #1603
Hmm, yeah this probably shows up when we delete files. I thought we did this when we closed buffers in emacs.

[2016-09-22 00:27] fommil commented on #1604
+1

[2016-09-22 00:28] fommil commented on #1604
Sounds trivial, pr then we can beta test any problems?

[2016-09-22 00:31] fommil commented on #1605
Thanks for the repro! This is duplicate of https://github.com/ensime/ensime-server/issues/673 and we wrote pcplod to help minimise the problem if you'd be interested in investigating further @rorygraves

[2016-09-22 00:31] #1605 closed

[2016-09-22 07:03] netzwerg commented on #1605
For the record:

Scala IDE (4.4.1-vfinal-2016-05-04T11:16:00Z-Typesafe) shows the very same error:

MainApp.java, line 62:
[code]

[2016-09-22 10:46] hardmettle commented on #761
@fommil I tried getting around fixing the DebugTest but cant figure out why is there an issue with file path being different in `DebugBreakEvent` . Can you please take a look?

[2016-09-22 12:56] hardmettle commented on #761
@fommil did you manage to take  a look? I tried getting around the problem but couldnt find a solution to as to why the file paths are not matching and hence the failure of the test.

[2016-09-23 04:09] fommil commented on #761
I'm on holiday, I'll take a look in 3 weeks :-)

[2016-09-23 04:44] fommil opened #1606 "Remove scalariform"
If we create a small sbt Task to format a single file we can remove the formatting api calls. The emacs commands could be transparently changed to send the relevant sbt command instead. We could provide the task under ensime-sbt until upstream take it.

[2016-09-26 08:07] fanf commented on #1605
For the record, it is a problem on the presentation compiler which is tracked here: https://issues.scala-lang.org/browse/SI-9716

Feel free to vote on the issue to raise its awareness from Lightbent.

[2016-09-26 13:56] fommil commented on #1605
They don't work that way. They are over burdened and only respond to cash. If you'd be interested in digging into fixing this yourself, we created pcplod for reproductions, then you can dig into it.

[2016-10-10 21:50] pascr commented on #1592
@fommil Is it still happenning after the #1599 fix?

[2016-10-10 22:03] fommil commented on #1592
Best ask @sugakandrey I've not had a chance to try it out yet

[2016-10-12 13:41] fommil commented on #1152
another thing that we could do as part of this refactor (perhaps we'll create a new ticket) would be to monitor PC actors with heartbeats and basically throw them away / kill them if they disappear for more than 30 seconds. We would need to keep a count of how many PCs are still "being killed" so that we don't blow up the heap. This could be accompanied with an async message to users to let them k

[2016-10-12 14:00] fommil opened #1608 "rewrite parboiled2 bits to use fastparse"
we'll eventually use `scala.meta` and it depends on `fastparse`. It would be silly of us to have two parsers on our classpath, so lets rewrite to use fastparse. (actually we already depend on parser combinators because it's a transitive dependency of scala-compiler for xml support, but hopefully that will go away when scala removes it)

[2016-10-13 20:50] sugakandrey opened #1609 "persist outer class references"
Currently we use an ugly hack, written by me, but as @fommil brought up we could simply get this info from the graph at query time. We even have an edge class for that (`OwningClass`), which should just be generalised to `EdgeT[FqnSymbol, ClassDef]`.

[2016-10-15 13:51] diesalbla commented on #1603
I am currently working on this issue.

[2016-10-15 14:21] fommil commented on #807
@KimStebel

[2016-10-15 17:34] dragos commented on #1603
Cool, let me know if I can help. I know the presentation compiler fairly well.

[2016-10-15 17:52] dragos commented on #1603
This is what the Eclipse plugin is doing, and what I think Ensime should support: https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/org/scalaide/core/internal/compiler/ScalaPresentationCompiler.scala#L297-L300

[2016-10-15 19:17] fommil commented on #1603
we really need to resync with the scala-ide codebase in this area

[2016-10-16 07:18] #1604 closed

[2016-10-16 09:08] #1594 closed

[2016-10-16 21:47] fommil commented on #1566
@dragos pointed out in https://github.com/ensime/ensime-server/pull/1612 that he is using an in-process ensime server, which means that the `String` variant is better. So in light of that, I'm closing this ticket because the benefit of turning `(Option, Option)` into a sealed family is very low compared to the disruption to all the clients.

[2016-10-16 21:47] #1566 closed

[2016-10-19 14:01] fommil opened #1614 "parse this generic string"
I have a jar that I don't control with a sig string like this

[code]

which fails parsing.

1. it would be good to log this out, but continue.
2. check if this is really valid and handle if it is

[2016-10-19 14:02] fommil commented on #1614
almost certainly this is causing refresh indexing to not complete

[2016-10-19 14:08] fommil commented on #1614
@asznajder any chance you could take a look? I'm not sure if the generic is valid or not

[2016-10-19 14:20] fommil commented on #1614
stacktrace is

[code]

[2016-10-19 18:04] fommil commented on #1614
Turns out this is not a valid generic string name. Which leads me to believe that ensime is doing the right thing here. Rather than bend over backwards to support a broken ASM, I suggest we push the problem onto the user (me) to exclude the broken jar from indexing.

[2016-10-19 18:04] #1614 closed

[2016-10-19 18:04] fommil commented on #1614
Of course, if it's trivial to catch and skip exceptions, maybe we should, with very noisy logs.

[2016-10-19 21:51] #1609 closed

[2016-10-20 14:20] sugakandrey commented on #1592
I was able to reproduce it pre efe184ed82c9bf509b2420361d796634dca1bf80 with `ulimit -Sn 1024` on test machine, but testing shows that it's gone for good with orient version upgrade. I'm closing this, if somehow it reappears we can reconsider.

[2016-10-20 14:20] #1592 closed

[2016-10-20 14:22] fommil commented on #1592
I'll try on my machine again at the weekend to really confirm

[2016-10-20 14:23] sugakandrey commented on #1592
@fommil Cool.

[2016-10-21 01:32] yyadavalli commented on #1606
Once https://github.com/ensime/ensime-sbt/pull/230 is merged and the clients updated, we should be able to remove `FormatOneSourceReq` and `FormatSourceReq`, scalariform still stays on for `ExpandSelectionReq`.

But I think the bigger issue is we are removing a feature from ensime and putting in a sbt plugin. Users of other build tools will no longer have access to it, are we okay with that.

[2016-10-21 02:48] yyadavalli commented on #1606
Also, I'm not sure if we could remove the `formattingPrefs` from `EnsimeConfig`

[2016-10-21 05:06] fommil commented on #1606
Yeah, they aren't going to be able to use ensime 2.0 until they update the build plugin anyway.

[2016-10-21 12:52] sugakandrey commented on #1509
Alright, so to do anything with `2.0-graph` we would need #1572 and this ticket at the very least. Also, I had some ideas on how to optimise orient insertion during indexing by grouping `FqnSymbols` by their class. I guess, I'll track the progress here.

- [ ] remove TODOs
- [ ] fix emacs integration tests
- [ ] group `FqnSymbols` by class in `db.persist`

[2016-10-21 13:18] fommil commented on #1509
let's do the optimisation after, create a separate ticket for it and add it to your backlog column. I just want to get it in the 2.0 :wink: the perf is tolerable for now

[2016-10-21 13:34] fommil opened #1616 "java inline warnings/errors are not working"
sad face

I'm using ensime on a java 8 project and not getting the inline squigglies, so looks like a regression, and perhaps something we're not testing.

[2016-10-21 21:26] fommil opened #1617 "remove watch disabling from the .ensime"
It is inconsistent to have server features mixed up with project configuration. Same goes for the "source mode" setting. This should be enabled by system properties for now and #1346 later.

[2016-10-22 08:24] terrencehan commented on #492
@IvanMalison  Have you find any workaround of your issue? I still need to open relevant source file before finding definition now.

For example, if I wanna find the definition of a variable which is declared in supper class, I have to visit the super class first, then M+. works for me.

[2016-10-22 09:06] #1439 closed

[2016-10-22 09:07] fommil commented on #1439
we are very close to having scalariform via sbt, scalafmt will be the same and won't be supported server side (no need!).

[2016-10-22 09:52] fommil commented on #1497
will be redundant when we remove scalariform

[2016-10-22 09:52] #1497 closed

[2016-10-22 09:53] fommil commented on #1603
Hi @diesalbla did you get anywhere with this? If you'd like to pick up another one after, the #1556 might be just up your alley! Especially now you have some experience with the API and internals of the PC actor.

[2016-10-23 02:00] t3chnoboy commented on #425
Was it implemented in https://github.com/ensime/ensime-server/pull/1602 ?

[2016-10-23 08:15] fommil commented on #425
@t3chnoboy no, that's something else, but the graph branch now stores the necessary information.

[2016-10-24 10:12] fommil opened #1621 "ZipArchive monkey assumes binaries never change"
the `loader` needs to be refresh if the `file` changes

[2016-10-24 12:59] yyadavalli opened #1622 "Rewrite expand region without scalariform"
With #1619  done, the only functionality using scalariform is expand region. Rewriting that would enable us to completely remove scalariform from the server and place it in the build tool plugins.

[2016-10-24 15:39] fommil commented on #1621
[code]

[2016-10-24 20:19] dragos opened #1623 "Lucene write lock left behind"
I may not be very clear on the shutdown procedure, but it looks to me like the `IndexerService` never closes the Lucene writer. I regularly see `writer.lock` files inside `.ensime_cache`. Sometimes (not always, surprisingly!) Ensime crashes on startup because the `.ensime_cache/index-..` is locked.

I believe a `writer.close()` should be added somewhere in the IndexerService, and probably a new `s

[2016-10-24 20:23] fommil commented on #1623
just checked and I have one hanging around too... but it is usually harmless. I've never had startup fail because of a locked file... can you please try to capture the log when this next happens?

[2016-10-24 20:25] dragos commented on #1623
Sure

[2016-10-24 20:41] dragos commented on #1622
From the Gitter channel, regarding parse trees via the presentation compiler:

https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/org/scalaide/core/compiler/CompilerApiExtensions.scala
short and sweet
https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/org/scalaide/core/compiler/CompilerApiExtensions.scala#L34
You could modify the scala.tools.ns

[2016-10-25 06:02] #1606 closed

[2016-10-25 07:45] fommil commented on #1622
You know the other option might be @lihaoyi's fastparse and scala parser, which is used by scala meta, I think. Isn't any case, we plan to add it as a dep anyway. Haoyi, does that report back position info?

[2016-10-25 08:13] dragos commented on #1622
You just removed a dependency providing this functionality, and still have a perfectly working parser that's 100% correct (by definition ;-)). I'm not saying the library is bad, it's probably great, but I found Scala dependencies to carry a significant cost when used in such tools. Why would you add one more (with it's own dependencies)?

[2016-10-25 08:28] fommil commented on #1622
@dragos in this case it is ok because `scala.meta` depends on `fastparse` and is therefore going to be "blessed" in future versions of scala. Also, moving from parboiled2 => fastparse was on the cards too, so we're still reducing our dependency list.

[2016-10-25 13:12] yyadavalli opened #1625 "Limit source watching to creation and deletion of files"
Source resolver needs an update only when files are added or deleted

Comments  in #1624

[2016-10-25 19:49] fommil commented on #1622
this might be exactly what Iulian was saying, but I learnt that it may be possible to manually invoke the scalac parser and get back a tree... which is going to be a lot more reliable than either fastparse or scalariform.

[2016-10-25 19:50] fommil commented on #1622
I'm also thinking that we should do more with the inferred curly brackets... perhaps send the info back asyncronously when available and use it in emacs to add transparent faces to enable super fast semantic navigation (go to start/end of block, kill block, etc... a subset of smart-parens)

[2016-10-25 21:08] dragos commented on #1622
Yeah, that's what I was trying to say  :)

[2016-10-25 21:23] #1621 closed

[2016-10-26 04:46] #1617 closed

[2016-10-26 10:43] chiangqiqi commented on #1492
trying to work on this

[2016-10-27 09:42] fommil commented on #1625
yeah, as you noted, I think this is best fixed in #1492 which is why we introduced the workaround in the first place.

[2016-10-27 09:42] #1625 closed

[2016-10-27 09:42] fommil commented on #1346
@yyadavalli how about this one? :smile:

[2016-10-27 09:43] fommil commented on #1346
the `.ensime` format changes are already tracked in another ticket

[2016-10-27 10:40] yyadavalli commented on #1346
I was thinking of doing https://github.com/ensime/ensime-sbt/issues/217 first, but either one should be fine

I think finishing this before #1608 would be better, we can avoid rewriting `SexpParser.scala`

[2016-10-27 10:41] yyadavalli commented on #1346
I believe we can use https://github.com/typesafehub/config with HOCON

[2016-10-27 10:49] fommil opened #1628 "scalac archive loader should not cache zipentry locations"
#1626 introduces another bug, which is that the ziparchive entries are referencing a potentially out of date jar, so the ZipEntry binary locations (and in fact the list of entries), are invalid.

I think we're working around bugs, not just performance problems, that are present in scalac. Right now in scalac it seems to take a snapshot of the file on creation and subsequent updates are ignored. Co

[2016-10-27 10:51] fommil commented on #1346
yeah that would be good! for the sbt one make sure to sync up with @sugakandrey so that you don't duplicate each others work. Maybe communicate on the gitter ensime-server channel? I think the sbt one would be more important than this.

The clients won't need to read the (new) server config files, but the clients will still need to read the `.ensime` files. There might be (or should be) a separate

[2016-10-27 11:07] fommil commented on #1628
proposed fix (to our monkey)

[code]

[2016-10-27 11:12] yyadavalli commented on #1346
Yup, agreed on everything.

The clients can determine whether to read a Sexp or HOCON `.ensime` with their own preferences. They will optionally communicate the format to ensime-server at startup, with the default formats based on protocol.

I can think of a couple of system properties that can be moved to a `ServerConfig` object, I am sure we can provide more options as we move forward. `ServerCo

[2016-10-27 12:32] yyadavalli commented on #1346
Any thoughts on using typesafehub/config

[2016-10-27 12:38] fommil commented on #1346
yeah, it's a java library... I had assumed we'd use it :smile:

but we might want to write a little typeclass derivation thing using shapeless so we don't need to write custom parsers. might be fun... have you seen my shapeless for mortals workshop video? https://github.com/fommil/shapeless-for-mortals

I am aware of a few projects that do this, but they use their own macros and we're trying to re

[2016-10-27 12:44] yyadavalli commented on #1346
I don't think we'll need to write a custom parser, they have a parser packaged, I am not sure of its capabilities

But, yeah I'd be nice to write something with shapeless, a good learning experience for me. I have seen the workshop, it's really good. Haven't tried to do anything with that till now..

[2016-10-27 12:46] fommil commented on #1346
sorry, parser was the wrong word. I mean a way of converting from a `Config` object into any sealed family. If you want examples beyond the workshop, have a look in the graph branch and what we do for writing to orientdb.

[2016-10-27 12:47] fommil commented on #1346
you probably don't need to handle Coproduct, just products (HList)

[2016-10-29 15:48] #1460 closed

[2016-10-30 12:12] #1628 closed

[2016-10-30 21:55] fommil opened #1634 "Remove akka"
The continuation of #1351

[2016-10-30 21:56] fommil commented on #1351
Big problem with swave is lack of 2.10 support and limited docs https://github.com/sirthias/swave/issues/18

[2016-10-30 21:57] fommil commented on #1351
Whatever we choose for searchservice should scale to replace akka

[2016-10-30 22:04] fommil commented on #1634
I keep coming back to core.async http://blog.podsnap.com/scasync.html

[2016-10-31 08:09] sirthias commented on #1351
Docs will completed very soon now (like: end of November).
However, I don't know whether it makes sense for swave to invest into 2.10 support.

[2016-11-02 18:08] dragos commented on #1623
Added a stack trace. Any idea what might be going on here? Why it fails randomly?

[2016-11-02 18:39] fommil commented on #1623
You're using ensime 1.0 instead of dev? We upgraded lucene, that could help.

[2016-11-02 18:40] fommil commented on #1623
Are you maybe restarting a server too quickly after closing one? We've noticed in the Emacs tests that one has to wait a few seconds before the jvm releases the db file locks.

[2016-11-03 20:29] fommil opened #1636 "Upgrade to Java 8"
no objections, but we should probably update the ensime-sbt docs with instructions on how to customise the java version.

[2016-11-04 13:27] sugakandrey commented on #1603
Is anyone against me taking this? I almost got it done before the hackday anyways.

[2016-11-04 14:49] diesalbla commented on #1603
@sugakandrey No problem. I am afraid I did not get too far on this.

[2016-11-04 14:58] fommil commented on #1603
@diesalbla there is always next time :-D

[2016-11-04 18:11] #1603 closed

[2016-11-05 15:49] slothspot commented on #1003
@fommil any progress on this? If not, I would like to start hacking on this and would appreciate any input on where to start.

[2016-11-05 18:00] dragos opened #1640 "Deamon thread keeps the ensime process alive"
I have a bunch of zombies on my system, all due to a few non-daemon threads

[code]

There are a bunch of other thread-pool threads that stick around but seem to be doing nothing:

[code]

[2016-11-05 18:23] rorygraves commented on #1640
I thought daemon threads did not prevent shutdown.

Sent from my iPhone

[2016-11-05 18:25] dragos commented on #1640
You're right.. I picked the wrong one. I'll update the ticket with the other ones.

[2016-11-05 18:52] rorygraves commented on #1640
Yep definately a bug

[2016-11-05 18:55] fommil commented on #1003
great! @slothspot it's probably best that you read and understand all the code/tests under the core module, in the "indexer" package. Good luck. SearchService is a bit messy, but you shouldn't need to get too deeply involved. I'm not sure how to implement flx with lucene, so you might want to do some investigation there.

[2016-11-05 22:04] slothspot commented on #1003
@fommil As I understand, entry point for me is searchClasses/searchClassesMethonds methods pair in SearchService, am I right? And I can't find any tests related to SearchService/IndexService. Are there any?

[2016-11-05 22:13] slothspot commented on #1003
@fommil have found SearchService tests in integration folder. And looks like that is answers my questions.

[2016-11-06 02:20] slothspot commented on #1003
Looks like that lucene itself works for CamelCase:
[code]
passes (with max = 100 in searchesClasses).

In the case of "StrIn" which I transform into "Str*In" I can't make WildcardQuery query work.
Another thing: I don't understand where completion options are filtered somehow. (I've seen scoring in CompletionControl).

So at this moment I have following plan:
0. Extend SearchServiceSpec with wild

[2016-11-06 09:05] fommil commented on #1003
That sounds like a good plan! Yes camelcase has specific support in our codebase. It's actually indexed, so it's super fast. I wouldn't be against holding things in memory to make flx work. In fact, having a fully in-memory lucene is something we've discussed.

[2016-11-06 14:34] sugakandrey commented on #1572
Pretty sure emacs tests are working for `2.0-graph` now.

[2016-11-06 14:34] #1572 closed

[2016-11-06 14:58] #1622 closed

[2016-11-06 16:30] espinhogr commented on #1475
Hi guys, I was thinking about this as my first contribution. Doesn't seem to be too hard (at first glance).

[2016-11-06 18:26] fommil commented on #1475
that'd be great! Start with the contributor guide on the website, and add a flag to the arrow type to indicate (`isInfix` or something) and then work your way through fixing all the compile errors until you hit a point where you need to decide if it is true of false for a given method. Add some tests and that should be it.

Once the server has the support, you could look at using the new API info

[2016-11-06 18:31] espinhogr commented on #1475
Yes, that's what I'm going to try to do. Obviously at the beginning it's like walking in the dark but I'll try to figure out how to walk straight ;-). Thanks for pointing me to the right way for the moment.

[2016-11-08 12:47] fommil opened #1643 "remove commons-io, commons-lang and guava"
there is no reason to use these utils since much of the functionality is now rolled into java 7 or 8 (especially on the IO side) and these are poor substitutes.

We may still wish to use them in the testing projects for assertions on using them from client code, but we shouldn't use them directly in our runtime or test code.

[2016-11-08 12:51] fommil commented on #1643
the use of the `unescapeHtml` could probably handle a much smaller subset of html things.

[2016-11-08 19:42] pascr commented on #1643
Will be happy to give that a go

[2016-11-08 19:47] fommil commented on #1643
cool! starting here is a good place http://ensime.github.io//contributing/

[2016-11-08 19:48] fommil commented on #1643
btw if you can move us to use `Path` instead of `File` that's always good but be careful about conflicting too much with #1637

[2016-11-09 16:56] fommil commented on #1437
we're susceptible to this known JDK issue until we move over to NIO https://bugs.openjdk.java.net/browse/JDK-8024496

[2016-11-09 21:52] #1636 closed

[2016-11-12 12:09] pascr commented on #1643
Starting with commons-lang first.

[2016-11-12 13:19] espinhogr commented on #1475
I've been looking into the code to try to understand better the problem and get used to the codebase. As a result of that, I think the `isInfix` flag is better on the `CompletionInfo` class, even though it's true that this flag is used only for ArrowTypes, as a concept I don't think it belongs to the type. This is due to the fact that in order to decide if it's infix or not we can't rely only on t

[2016-11-12 13:48] fommil commented on #1475
ok, sounds sensible.

[2016-11-12 13:50] #761 closed

[2016-11-12 16:08] hardmettle commented on #1155
Hi @d6y , are you still facing this problem? If yes then can you please give a bit more details about it?

[2016-11-13 09:46] fommil opened #1647 "better support for macros in scala 2.10"
depends on https://github.com/dwijnand/sbt-macro-bugs/issues/1

[2016-11-13 09:51] fommil opened #1648 "support java editing when using jar urls"
loose ends after #1637

we are not supporting java editing when using jar entries (as opposed to extracted files) because we don't fully understand how to add support in the JDK.

To reproduce the problem, remove the `.copy(...)` of the definition of `original` in `JavaCompilerSpec`. To see previous attempts, look in the history of the `JavaCompiler` file for references to `NotSoSimpleJavaFileObje

[2016-11-13 09:51] fommil commented on #1648
@hedefalk a caveat to be aware of with the new jar url feature

[2016-11-13 19:59] fommil commented on #1643
@pascr I completely forgot about the stickers I had in my bag at the hack day. Be sure to ask for some at the next hack day, or email/gitter me your mail address and I'll post some.

[2016-11-14 11:16] fommil opened #1649 "jar url regression"
my bad

[code]

[2016-11-16 10:54] tonylotts opened #1650 "CanonSpec and EnsimeFileSpec fail if JAVA_HOME does not exist"
### Steps to reproduce

1. Remove the JAVA_HOME environment variable:
[code]
2. Run all tests, or just CanonSpec and EnsimeFileSpec:
[code]

### Expected behaviour
CanonSpec and EnsimeFileSpec pass.

### Actual behaviour
CanonSpec and EnsimeFileSpec use the path to the JDK source archive, "src.zip", which is located within the java home directory.
The Path is built from the string returned from ``

[2016-11-16 11:36] fommil commented on #1650
sorry, not a bug. See comments in PR.

[2016-11-16 11:36] #1650 closed

[2016-11-16 12:28] tonylotts commented on #1556
I can take a stab at this.

[2016-11-16 12:35] fommil commented on #1556
+1

[2016-11-16 16:13] vossad01 commented on #1498
I just found that @dragos appears to have an implementation at https://github.com/dragos/dragos-vscode-scala

[2016-11-16 19:36] fommil opened #1652 "Allow empty source dirs"
The java 6 filewatcher couldn't handle empty source dirs, maybe it can now @lxol ?

In which case we nhould allow them, and remove unpleasantness in the sbt plugin.

[2016-11-16 21:26] lxol commented on #1652
The new watcher should handle that. This is from FileWatcherSpec:

 it should "detect added / changed files"
 it should "detect added / removed files"
 it should "detect removed base directory"
 it should "detect removed parent base directory"
 it should "survive deletion of the watched directory"
 it should "be able to start up from a non-existent directory"
 it should "survive removed parent bas

[2016-11-16 23:05] #1649 closed

[2016-11-17 13:59] dragos commented on #1498
Yeap, I'm fine to move that into ensime-server at some point. It's not mature enough (doesn't support the full protocol)

[2016-11-17 14:35] fommil commented on #1498
LOL, yeah, because all the stuff on the ensime organisation all works :stuck_out_tongue_closed_eyes:

[2016-11-17 18:34] nicklan opened #1655 "Debugging server hang in complex project"
I'm working on getting ensime to run a complex project.  The project builds using bazel, so I've written some a basic bazel aspect to try and figure out the config for ensime.  Currently however, ensime simply hangs when I try to use any functionality.

I'm fairly sure this is an error in my config file, but I'm having trouble debugging what the error might be.  I've configured logback to debug ev

[2016-11-17 21:38] dragos commented on #1498
HA, that's one thing, but the other is that I enjoy the monorepo honeymoon: I can easily change the "API" and immediately use it in the client, no need of publishing, and the change can be done in only one repo.

[2016-11-17 21:58] fommil commented on #1498
LOTFL because ensime-server follows that rule too... the philosophy around here is if you follow dev you fix it when it breaks.

[2016-11-17 21:59] fommil commented on #1655
How can we help you to implement this? We have some very detailed documentation to get you started at http://ensime.org/contributing/
Can you please give a reproduction in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also a good starting point. We are more than happy to help you turn it into an automated test, and dis

[2016-11-17 21:59] #1655 closed

[2016-11-21 13:55] fommil opened #1657 "some stray ??? in the jar url code"
some `???` got through code review https://github.com/ensime/ensime-server/blob/2.0/core/src/main/scala/org/ensime/core/RichPresentationCompiler.scala#L252

which means we don't have adequate test coverage here

fyi // @hardmettle

[2016-11-23 00:38] hardmettle commented on #1657
@fommil Will take a look into it.

[2016-11-23 21:15] grouzen commented on #1655
I can confirm the same issue on both my gentoo boxes (I thought I'm the only one with the issue ;))

[2016-11-26 20:10] fommil opened #1661 "use sbt-sensible"
I've published sbt-sensible as a plugin which should let us remove a bunch of the .scala files in project and speed up our build

[2016-11-26 21:35] #1657 closed

[2016-11-27 10:30] fommil opened #1662 "clean up akka logs during testing"
tracked upstream as https://github.com/akka/akka/issues/21895

we could always just monkey patch the file that writes out to stdout...

[2016-11-27 10:30] #1647 closed

[2016-11-27 10:31] fommil commented on #1640
@dragos is this still happening?

[2016-11-27 13:20] #1661 closed

[2016-11-29 16:20] fommil opened #1666 "the build is broken"
regression in sbt-ensime / coursier for 2.10 projects

https://github.com/ensime/ensime-sbt/issues/283

[2016-11-29 18:15] arichiardi commented on #345
Hello everybody, is there a way to build ensime server without having `sbt` installed?

I would be keen of having a look at this, and I also wanted to point to some new cool idea or having the server become an `nrepl` and reuse `cider`'s code (not my idea, see [here](https://github.com/jdee-emacs/jdee/issues/51).

In particular there could be a nrepl middleware project called, for instance, `jdk-n

[2016-11-29 18:39] fommil commented on #345
@arichiardi hmm, hello. Why are you asking this on this old - and closed - ticket?

Please start at http://ensime.org and you'll eventually find yourself in the contributors page.

[2016-11-29 18:45] arichiardi commented on #345
Oh ok sorry, some googling brought me here :smile:

I wanted to test `enjime` so I installed everything and it does works. But then I was trying to auto-complete interface methods for a Java class and came across this.

I checked [Contributing](http://ensime.github.io/contributing/) but could not find anything on how to contribute this Java feature. What do you suggest me to start with?

[2016-11-29 18:50] fommil commented on #345
http://ensime.github.io/contributing/#implementing-a-feature-or-bugfix

[2016-11-29 18:54] fommil opened #1667 "refactoring support for java"
@arichiardi better to start a fresh ticket for a new discussion

You want to implement stub methods for clasess that implement an interface.

This would be considered a refactoring, which we currently don't have any support for in java. But there is precedent for this in scala, which means the protocols and client support are all in place. The idea would be to send a diff back to the client.

Have

[2016-11-29 18:56] arichiardi commented on #345
Ok thank you, I will try to check that

[2016-11-29 19:13] fommil commented on #345
It's best that we start a fresh discussion https://github.com/ensime/ensime-server/issues/1667

[2016-11-29 19:35] arichiardi commented on #1667
Thanks for the ticket, I am not a big Scala dev (I took the Coursera  course but then switched to Clojure) but I'll try my best. The idea is to have the classic completion that all the IDEs have when you implement and interface.

[2016-12-01 00:41] fommil commented on #1666
possible workaround https://twitter.com/alxarchambault/status/804120087468904448

[2016-12-02 22:32] #1666 closed

[2016-12-03 14:29] #1551 closed

[2016-12-05 10:36] hypeboyz opened #1672 "Failed to connect ensime server from emacs"
### Steps to reproduce

1. Start emacs
2. M-x ensime
3. Get the server error

### Expected behaviour

Connected to the server and loaded the project, then returning a sentence
...

### Actual behaviour

Failed to connect: server process exited
...

Everything worked well days ago until Dec. 3. The project I was working on suddenly lost connection and I can no longer connect it. Tried clear .ensime

[2016-12-05 12:44] fommil commented on #1672
Can you please give a reproduction in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also a good starting point. We are more than happy to help you turn it into an automated test, and discuss ideas on how to fix it. Read the http://ensime.org/contributing guide for more information.

We close tickets that look like a kn

[2016-12-05 12:44] #1672 closed

[2016-12-06 13:04] fommil opened #1673 "fix the build"
build is still broken. Looks like

- duplicate resource files when creating assembly file (might need to build this even in PRs)
- flaky ServerStartSpec

[2016-12-07 11:04] tonylotts commented on #1556
@fommil Is there a reference of what these should serialize to in Jerky, Swank, and Swanky?  It's not clear to me from the tests (or I'm just not seeing it).

[2016-12-07 12:10] fommil commented on #1556
the exact same as what they are now. are you looking in the swank/swanky/jerky specs ok?

[2016-12-08 14:51] kolektiv commented on #1414
Is there any movement on this? Should I be tracking 2.0 if that's where it's likely to appear first? (This question asked solely in the spirit of interest, and with no accusation intended whatsoever - I know as well as anyone the challenges of getting stuff out with a lack of time/money/etc.)

[2016-12-08 15:04] chipsenkbeil commented on #1414
@kolektiv, slow progress. ScalaMock just got a 2.12 release, which enabled the Scala Debugger project to add a 2.12 build that just got released yesterday (along with several other improvements): https://github.com/ensime/scala-debugger/releases/tag/v1.1.0-M3

[2016-12-08 15:06] kolektiv commented on #1414
@chipsenkbeil good to know anyway. It's a complex project, always going to be tough. Thanks for the info, i'll keep an eye, and if I ever discover a way to help i will.

[2016-12-08 15:15] chipsenkbeil commented on #1414
@kolektiv, it's definitely coming along. :) I think akka is supposed to be the most troublesome, but @fommil would know more about the current state.

[2016-12-08 22:48] fommil commented on #1414
Seems we're blocked by graphpocalypse and scala-refactoring at this point.

[2016-12-08 23:48] chipsenkbeil commented on #1414
@fommil, is akka done? There wasn't a checkmark by it's name, so I assumed it was still a todo.

[2016-12-08 23:48] fommil commented on #1414
I'm being lazy

[2016-12-09 08:01] #1402 closed

[2016-12-10 11:29] gyfarkas commented on #1470
Hi, Im looking into this now.

[2016-12-10 16:20] mikaelv opened #1679 "Auto-complete the name and type of parameters when inside a function"
It would be nice to reproduce the 'Parameter hint' (Ctrl-P) feature of IntelliJ.

Given a simple case class:
`case class MyClass(attA: String, attB: String)`

When I want to create a new instance, the auto-completion nicely gives me the names and types of the parameters:
`object UseMyClass {
  def apply() = {
    MyClassTAB
  }
}`
=>
`object UseMyClass {
  def apply() = {
    MyClass(attA: String,

[2016-12-10 16:33] mikaelv opened #1680 "Do not underline implicit conversions on multi-line expressions"
This kind of string is underlined to highlight an implicit conversion:

[code]

This does not look great and is not particularly useful when conversion happens on Strings.

[2016-12-10 23:25] fommil commented on #1680
:+1: we should have an exclusion rule

[2016-12-10 23:25] fommil commented on #1679
:+1:

[2016-12-11 17:49] fommil opened #1683 "FileWatcherSpec hangs on Windows"

[2016-12-11 20:14] fommil opened #1684 "Emacs tests are not testing the version we think"
We should test against the assembly jar.

[2016-12-11 21:41] fommil commented on #1683
I wonder if this might be the same JDK bug (that they refuse to acknowledge) that we seen in `CompileTimingSpec`... there will be an accessdenied exception in the logs if so.

[2016-12-11 21:54] #1684 closed

[2016-12-11 21:56] fommil opened #1686 "re-enable the emacs tests"
now that they are wired up correctly, the emacs tests are failing... I think it's probably a regression in the server startup logic.

I'm confident the problem is actually a bad assertion in the test, not a real regression, so I disabled them. But this is obviously bad, so they need to come back real soon.

[2016-12-13 09:53] fommil opened #1688 "assembly license correctness"
blocked by

- https://github.com/sbt/sbt-assembly/issues/169
- https://github.com/sbt/sbt-assembly/issues/224

so any help to unblock these by closing them would be considered a helpful contribution to ensime.

[2016-12-13 21:53] fommil commented on #1683
maybe we're being too aggressively parallel with these tests in CI

[2016-12-13 23:30] zainab-ali commented on #1634
So here's my two pence:
If we want to transition to a stream based solution, we shouldn't so much be asking "what library should we use?", but "what will my streams look like?".   Something like [swave's graphs](http://swave.io/usage/show-off/fibonacci.html) showing where we want to debounce, where the async boundaries are etc.  I've taken a quick glance through the code, but creating something li

[2016-12-14 06:53] fommil commented on #1634
Did you read the blog post and impl linked above? It's definitely the starting point for core.async. go for it!

[2016-12-14 08:35] fommil commented on #1673
I get the feeling that my hosts have made my VPS slower :-/ must be sharing with heavy users. Reducing parallelism might help.

[2016-12-14 10:26] fommil opened #1690 "ensime.exitAfterIndex doesn't work"
the shutdown doesn't happen, probably the mechanism to request the parent to shutdown isn't valid.

[2016-12-14 23:08] #1686 closed

[2016-12-15 18:20] Winiex opened #1691 "dead letters encountered in InspectTypeByNameReq"
I'm trying to run ensime server in terminal using command below:

`java -Xmx2048m -cp tools.jar:scala-compiler-2.11.8.jar:scala-library-2.11.8.jar:scala-reflect-2.11.8.jar:scalap-2.11.8.jar:ensime_2.11-1.0.0-assembly.jar -Densime.protocol=jerk -Densime.config=/Users/winiex/repository/code/hadoop-lab/.ensime org.ensime.server.Server`

All the jars are copied into the same directory. The hadoop-lab

[2016-12-15 21:08] fommil commented on #1691
Best use the troubleshooting guide and gitter channels. We don't use the issue tracker for support.

[2016-12-15 21:08] #1691 closed

[2016-12-16 03:57] Winiex commented on #1691
Okay, sorry for the mistake. Thanks for you reply.

[2016-12-17 22:59] fommil commented on #1398
Reduces to removing akka

[2016-12-17 22:59] #1398 closed

[2016-12-17 23:03] arigoldx commented on #1437
@fommil is this that ticket you were talking about on gitter?

(Asking 'cause it mentions java.io vfs not apache vfs.)

[2016-12-17 23:33] fommil commented on #1437
This is the one. There is a comma missing between java.io and vfs

[2016-12-17 23:56] arigoldx commented on #1437
Woohoo! Thanks!

(:eyes:)

[2016-12-19 22:31] fommil commented on #1683
ignoring for now. When this does hang, we get thread dumps like the above. I suspect we're not forcing the `monitorThread` to die on shutdown. Thoughts @lxol ?

[2016-12-21 09:06] #1683 closed

[2016-12-21 16:45] fommil commented on #1425
depends on https://github.com/ensime/ensime-server/issues/1401 ?

[2016-12-25 23:57] fommil commented on #1673
looks like upgrading drone and getting machines that run on metal (even though they are not particularly fast) has improved things.

[2016-12-25 23:57] #1673 closed

[2016-12-26 15:05] fommil commented on #1557
the old SWANK protocol shouldn't change, but we should make sure that the JERKY consumers are ready for any changes (vim/atom/vscode) so a PR could sit for a few weeks

[2016-12-26 18:02] fommil commented on #1690
the sbt-ensime plugin now has support to run this, so we can test it in CI

[2016-12-29 23:06] jvican commented on #1414
Akka testkit for 2.12 [has been released](http://search.maven.org/#search|ga|1|a:"akka-testkit_2.12").
Scalamock [has also been released for 2.12](http://search.maven.org/#search|ga|1|a:"scalamock_2.12").
There seems to be also a 2.12 compatible version for Slick (only [3.2.0-M2](http://search.maven.org/#search|ga|1|a:"slick_2.12"), though).

I ticked the boxes of scalamock and testkit, please und

[2016-12-30 08:02] bleshik commented on #1616
I've looked in the ensime server logs and seems like FullTypeCheckCompleteEvent is not fired for java files. NewJavaNotesEvent events look correct though.

[2016-12-30 12:06] bomgar commented on #1401
[code]

[2016-12-30 12:09] bomgar commented on #1401
I was surprised that the server actually supports adding an import. This code works:
[code]

But it only adds the import to the end of the import list. The elisp code does a much better job at the moment.

[2016-12-30 14:16] fommil commented on #1401
Also surprised :-) but at least that gives somewhere to start.

[2017-01-04 11:12] fommil opened #1702 ""shutdown if preferred TCP port is not available" flakey"
should retry

[2017-01-04 11:12] #1662 closed

[2017-01-11 19:05] olkinn commented on #425
is this still WIP?

[2017-01-11 19:14] yyadavalli commented on #425
@olkinn I think so, waiting on #1681

[2017-01-11 21:13] fommil commented on #425
Heh, yeah it's taking us forever to get the graph branch merged... we've had bad CI reliability problems hopefully now fixed. We'll probably do Scala 2.12 first since it's easier

[2017-01-11 21:29] sugakandrey commented on #425
It's coming... eventually :)

[2017-01-14 23:54] jozi-k commented on #1492
Hi, I am looking for some low-hanging-fruit issue and got here, but it has been probably already solved.

[2017-01-14 23:57] jozi-k commented on #1475
This also seems like already solved.

[2017-01-15 00:03] jozi-k commented on #1405
I think this is already solved.

[2017-01-15 11:49] fommil commented on #1405
No it's not implemented yet.

[2017-01-15 11:50] fommil commented on #1475
Yup good catch

[2017-01-15 11:50] #1475 closed

[2017-01-15 11:51] fommil commented on #1492
Nope, this is still open! Do you need any help getting started? The contributing page is the best plate to start and we're happy to answer questions on gitter or here

[2017-01-15 13:12] jozi-k commented on #1492
I am greenhorn here, but let me explain why I assumed it had been resolved:
1) Comment from issue description does not exist anymore.
2) PR #1633 mentions this issue as resolved.
If that is not correct, can you explain in more detail what is this issue about?

[2017-01-15 15:14] timcharper commented on #1414
Looks like slick release is pending.

https://github.com/slick/slick/commit/f83fb1c02fa2a1f843b96dd6414ef6522c447f60

[2017-01-15 16:24] fommil commented on #1492
Ah right, I'm thinking of a different sourcemap ticket... there is a ticket to reuse the source resolver in the debug actor.

[2017-01-15 16:24] #1492 closed

[2017-01-18 11:49] fommil commented on #1414
quick update for people, because this ticket has gone stale in preference of discussion on the PR, we are blocked on fixing bugs in scala-debugger and scala-refactoring

[2017-01-18 14:54] chipsenkbeil commented on #1414
@fommil, that's news to  me. What bugs in Scala debugger are blocking you?

[2017-01-18 15:37] sugakandrey commented on #1414
@fommil If you are talking about my PR, that assertion failure in `DebugTest` was actually just a design change in new `scala-debugger` version, not a bug.

[2017-01-18 16:08] fommil commented on #1414
ah! How dare I say there was a bug in the most epically tested lib in the scala ecosystem :stuck_out_tongue_winking_eye:

[2017-01-21 13:09] #1414 closed

[2017-01-21 13:12] fommil opened #1705 "investigate 2.12 test failures in the BigIntConverterSpec"
I may just remove this support, it's not used, but we may have found a corner case bug. In which case, anybody interested in this may need to revert the commit that deletes the support.

[2017-01-21 16:28] alex3kov commented on #1414
Can you give us a quick tip of what to expect? Will 2.12 support be included in ensime 1.12.16, or 2.0.0 stable, or what?

[2017-01-21 20:12] fommil commented on #1414
what is ensime 1.12.16?

[2017-01-22 10:06] fommil commented on #1414
oh, you mean sbt-ensime. That's not how it works... the sbt plugin and server are independent. This support is in the 2.0.0-SNAPSHOT (developer version) and already supported in the sbt plugin. 2.0.0 will be released when all the tickets on the milestone are closed.

[2017-01-22 10:10] alex3kov commented on #1414
Right, sorry, I got server/sbt plugin mixed up :) Which **ensime-server** stable version will support scala 2.12?

[2017-01-22 10:37] fommil commented on #1414
Check the milestone ;-)

[2017-01-23 09:52] taburet opened #1708 "OrientDB integration"
It's started from [that tweet](https://twitter.com/fommil/status/821974729439514624).

Could you guys please provide directions on how to run problematic tests/benchmarks locally w/o involving Docker and all the heavy tech, so I may attach the profiler and debugger easily. Maybe you have some internal benchmarks that are not published in the repo?

[2017-01-23 10:02] fommil commented on #1708
@sugakandrey

[2017-01-24 11:57] fommil commented on #1705
https://issues.scala-lang.org/browse/SI-10162

[2017-01-24 12:07] fommil commented on #1705
https://github.com/scala/scala/pull/5127

[2017-01-24 13:33] fommil opened #1711 "method sigs missing lower bounds"
@dragos on gitter:

[code]

[2017-01-24 14:20] #1705 closed

[2017-01-29 16:30] dragos opened #1713 "MatchError on NoSymbol in askDocSignatureAtPoint"
This seems to completely kill my ensime server (no requests are served anymore). I don't see why that should be the case though, so maybe the error is on my side. But nevertheless ensime should be a bit more robust when things aren't found by the PC.

[code]

[2017-01-29 18:26] dragos opened #1714 "StructureView does not return fields nor local functions"
This might be a design decision, but I think it makes sense to include more information in what is returned by askStructureView. Currently, given the file:

[code]

`askStructureView` returns only 3 entities:
- class Hello
- def foo
- type X

The code in question is in [StructureViewBuilder.scala](https://github.com/ensime/ensime-server/blob/2.0/core/src/main/scala/org/ensime/core/StructureViewBui

[2017-01-29 20:59] fommil commented on #1713
*sigh* this is exactly the sort of thing akka is supposed to magically handle for us, but never does...

[2017-01-30 03:01] ktonga commented on #1713
@fommil That's happening to me a lot as well, I think the server should have sme sort of mechanism to make itself stay in a good shape. But I'm afraid if I propose it you will ask me to implement it :stuck_out_tongue_closed_eyes:

It can monitor the quality of the req/resp metrics and trigger an internal restart of the PC and anything related if the response times go high (ensime-vim timeouts some

[2017-01-30 11:03] #1713 closed

[2017-01-30 11:22] fommil opened #1716 "don't run tests in CI on push"
we should only run the tests for PRs, when we push to the 2.0 branch we should just build and publish. It's a pain when it fails because of a flakey test.

Also, we should probably disable that TCP port flakey test, more trouble than it's worth.

[2017-01-30 13:44] fommil opened #1717 "unit test for negative case in docsig"
i.e. a test for when this logic is triggered https://github.com/ensime/ensime-server/pull/1715

[2017-01-31 21:10] macalinao commented on #1414
woohoo!!!

[2017-02-02 07:33] #1716 closed

[2017-02-07 11:08] fommil commented on #1708
@taburet our graph branch is now passing the tests (including integration tests) on a fast machine, but orient is too slow for our CI.

To reproduce, check out this PR https://github.com/ensime/ensime-server/pull/1681

You only need two dependecies: java 8 and sbt. The latter is just a shell script (but will download a lot of jars into `~/.ivy2` and `~/.sbt` that you can safely clean up after). In

[2017-02-07 11:16] fommil commented on #1708
btw, I should point out that our CI is running on a ramdisk and that this branch is about 10x slower than the H2 solution we have (at writing).

[2017-02-07 15:41] taburet commented on #1708
Thank you, lets see what we can do about it.

[2017-02-07 19:18] antonkulaga opened #1719 "ammonite support"
It would be great to support ensime file generation for ammonite scala scripts (http:// www.lihaoyi.com/Ammonite/ )

[2017-02-07 21:24] fommil commented on #1719
The server consumes those files, it doesn't produce them. You might be able to do that from ensime-sbt, or perhaps in ammonite. If the projects look anything like sbt script style projects, it's very unlikely this will work.

[2017-02-07 21:24] #1719 closed

[2017-02-08 07:27] taburet commented on #1708
`sbt ensimeConfig` line is giving following errors:

[code]

Seems like something wrong with versioning here, since it clearly builds 2.0.0 and refers to 1.0.0 somewhere. Unless you use some kind of a bootstrapping :)

[2017-02-08 07:37] fommil commented on #1708
Oh yes sorry, if you don't actually use ensime, you'll need to create a stub ensime.sbt file, as shown in the .drone.yml file.

[2017-02-08 07:49] taburet commented on #1708
Thanks, that fixed the problem. Launching the test.

[2017-02-08 10:37] fommil opened #1720 "ideas for integration tests performance improvement"
Our CI times are becoming crazy, we need to make it faster.

Integration test times dominate, followed by compile time.

And in the integration tests, performing indexing is one of the slowest bits (it is much worse in the graph branch).

If we could do what we do in the emacs tests, and pre-build a basic DB/index with the java/scala standard libraries, that may speed up the CI. Integration tests

[2017-02-08 10:37] fommil commented on #1720
FYI @sugakandrey

[2017-02-11 15:21] fommil commented on #1690
it does, adding a test.

[2017-02-11 15:21] #1690 closed

[2017-02-11 15:22] #1608 closed

[2017-02-11 22:51] #1481 closed

[2017-02-11 23:45] fommil commented on #1623
I think this might have been fixed with the latest PR, which shuts down lucene properly (although I guess a hard kill of the server can't avoid this). Reopen if you still see it.

[2017-02-11 23:45] #1623 closed

[2017-02-12 12:50] fommil commented on #1643
I've made this a lot easier with my latest PR. We now have a lot of functionality around nio `Path` objects that previously was coming from Guava.

[2017-02-12 21:52] #1720 closed

[2017-02-12 23:05] fommil commented on #1708
@taburet we are now investigating a way of speeding up the CI so we can merged this... we're building up the orientdb for a "typical test" and then re-using it in all the tests. It's having a huge benefit on our CI times (but obviously not addressing the fundamental problem).

However, even though we close down the DB in each of our tests, we're seeing direct memory leaking and we're getting OOMs.

[2017-02-12 23:11] fommil commented on #1708
And also the `SimpleOrient.scala` file, doh! Sorry this one is also important.

Something that I'm sure would really help speed up our insertions would be if there was a fast UPSERT. You'll see we do a get and either a create or an update.

[2017-02-12 23:14] fommil commented on #1708
to reproduce the OOM, follow the (new) instructions in the `.drone.yml` to pre-warm a cache

[code]

and then run

[code]

[2017-02-12 23:16] fommil commented on #1708
incidentally, deleting the `.ensime_cache` and running `sbt ++2.12.1 ensimeServerIndex` in the `testing/cache` directory is a great metric to improve. This is the slowest part of orient for us.

[2017-02-12 23:28] fommil commented on #1708
FYI http://stackoverflow.com/questions/17671066/java-direct-memory-using-sun-misc-cleaner-in-custom-classes

which classes are you storing in direct memory?

[2017-02-12 23:31] fommil commented on #1708
(another option would be to allow us to disable direct memory when running the integration tests)

[2017-02-12 23:37] fommil commented on #1708
[code]

doesn't help

[2017-02-12 23:44] fommil commented on #1708
I seem to have worked around the issue by re-using the same DB instance for all the tests in this spec... but that's a really nasty hack.

[2017-02-12 23:51] fommil commented on #1708
I spoke too soon. It lets me run that one test suite, but when running all the tests, it blows up again.

There is definitely a direct memory leak.

[2017-02-12 23:52] fommil commented on #1708
@sugakandrey ^^^ incase you missed

[2017-02-13 07:15] taburet commented on #1708
What I have found so far:

1. Turning transactions/WAL on and wrapping foreach body into a transaction in GraphService.persist shaves about 30% from execution time. Graph/Blueprints API is an immediate mode API, every tiny change is immediately written to disk, using transactions we may accumulate changes for some period and write them in a single chunk.

2. 30-50% of remaining execution time is s

[2017-02-13 07:54] fommil commented on #1708
Oh wow, glad to hear you've been looking into this in such detail! I did some transaction speed tests 9 months ago and concluded it was slower, maybe things changed.

[2017-02-13 08:18] fommil commented on #1708
Yes there are some extra features in the graph branch, but we seen big slowdowns in an earlier feature-parity commit. I'll have a look at that to make sure we haven't done something silly in the data generation: it would definitely show up under a cpu profile.

As I see it, there are a few problems, in priority:

1. Memory leak when we try to re-use existing databases (highest priority because it

[2017-02-13 08:29] taburet commented on #1708
BTW, additional time maybe saved in SimpleOrient.insertV, multiple calls to `v.setProperty` maybe changed to a single `v.setProperties`, but that requires `v` to be an instance of `OrientElement`.

Please also inspect the contents of `java.nio:type=BufferPool,name=direct`, `java.lang:type=Memory` and `com.orientechnologies.common.directmemory:type=OByteBufferPoolMXBean` JMX beans to diagnose memor

[2017-02-14 12:19] taburet commented on #1708
To summarise all my findings:

* BasicWorkflow on master branch gave a baseline of 15-20 seconds per run.

* Initial testing of BasicWorkflow on graph branch gave 110-115 seconds per run. That is 5-7 times slower than master branch.

* Added transactions and `setProperties` to graph branch which gave 65-70 seconds per run. That is 3-5 times slower than master.

* Noticed big GC pauses on graph bra

[2017-02-14 13:12] rorygraves commented on #1708
Wow. Thank you @taburet. That is a great analysis and hugely helpful.

[2017-02-14 13:34] fommil commented on #1708
yeah, this is really good work! :smile: And I thought you'd just look at the code and say "try increasing the heap size" :rofl:

[2017-02-15 05:24] d1egoaz commented on #1679
I would be happy to know what's the command to get the parameters info even without the auto-complete.
i.e. having the cursor in `|`:
[code]
After I execute the unknown command, I'd to get printed at the bottom of the screen:
[code]

I'm reading `ensime-auto-complete.el` but I'm lost in the world of lisp :disappointed:

[2017-02-15 06:55] fommil commented on #1679
read up on company mode.

[2017-02-15 07:02] lvca commented on #1708
@fommil So how are performance now?

[2017-02-15 07:33] fommil commented on #1708
@Ivca we need to find the time to implement these changes. I'm hoping Andrey has some numbers for us by the weekend.

[2017-02-25 00:10] sugakandrey commented on #1708
@taburet I tried implementing the changes you suggested and while using alternative vertex constructor (instead of setting properties one by one) doest speed things up, I did't have much success with adding transactions. Simply wrapping `foreach` in `persist()` into a transaction slows things down about 30% for me. Should I be using some alternative API to avoid immediate writes here? Perhaps you

[2017-02-25 10:28] sugakandrey commented on #1708
@taburet Thanks, I used SSD.

[2017-02-25 16:51] fommil commented on #1708
we use RAM drive in CI

[2017-03-03 12:14] fommil opened #1729 "idris style pattern match generation"
Using `allKnownSubtypes` we should offer an api call to auto-generate a pattern match over a sealed family.

For unsealed, we could use the graphpocalypse to find known implementations (plus the obligatory runtime failure at the bottom)

[2017-03-03 12:16] fommil opened #1730 "completions ranked by input/output type"
kind of a dual to #1729 it would be good if we had a way of filling in type holes smarter, by looking at return types as well as inputs.

[2017-03-04 22:11] yilinwei commented on #1634
@fommil Just a heads up; I noticed that on #1351 you mentioned rxjava/rx being nasty. I've started writing a wrapper for it, see (link)[https://github.com/yilinwei/rx-cats]  (ignore the name - the cats dep isn't core to the wrapper) which essentially would scalalify it into something more usable (proper variance, using the normal scala functions, type inference goodness).

[2017-03-04 22:31] fommil commented on #1634
if I fall for fs2 with the drone-dynamic-agent project, I may well be tempted to use it in ensime. I think we can assume cats will be around for the long term and available for new versions of scala (and dotty), so I'm coming around to the idea of depending on a few core typelevel libs... surely swapping akka for fs2 would be ok, right?

[2017-03-04 22:53] fommil opened #1732 "accurate testQuick support from the indexer"
one of the crazy drunken ideas that I remembered from scala world, @olafurpg was thinking about an sbt task that would rerun all the tests that are impacted by a change. There is `testQuick` already, but it is source based, and therefore does way too much.... but the graphpocalypse has all the binary dependencies! So maybe we could support a much more accurate version of this, e.g. an api call suc

[2017-03-04 22:59] fommil commented on #1680
maybe we should do what intellij does, and underline the method that is called (but not it's parameters) instead of the thing that is implicitly converted.

[2017-03-04 23:14] yilinwei commented on #1634
Absolutely; in my opinion the only real reason to go for rxjava is that it tends to have relatively good support across java projects. In any case, swapping between `monix`, `rx` and `fs2` ought to be pretty simple unless you use some more advanced features rather than the more high level combinators like `map` and `flatMap`, since they're all essentially monadic.

[2017-03-06 18:59] gargsharad opened #1733 "Failed to download coursier"
Ensime Server not starting

giving error

Failed to download coursier
Exit code: HTTPError: Response code 404 (Not Found)

latest version of atom and ensime

[2017-03-06 19:18] fommil commented on #1733
To post this, you had to ignore quite a lot of messages telling you how and where to get help.

[2017-03-06 19:18] #1733 closed

[2017-03-09 16:08] ShaneDelmore commented on #472
I had forgotten about this issue. Regarding a search syntax, I actually wasn't thinking of a separate search syntax (not sure it would get much use) I was thinking that in actual usage you would either autocomplete and filter the complete by type incrementally or just declare the signature, leave a hole (???? Maybe) then have suggestions to fill the hole based on type.

[2017-03-09 16:21] fommil commented on #472
@ShaneDelmore that's #1730

[2017-03-16 15:08] vermest commented on #954
Hi,

Just my 2 cents...
Can this be the problem of the search service, where the future timeout is hard-coded:
`private val QUERY_TIMEOUT = 30 seconds`

And the search functions are not handling exceptions?:
`/** free-form search for classes */
  def searchClasses(query: String, max: Int): List[FqnSymbol] = {
    val fqns = Await.result(index.searchClasses(query, max), QUERY_TIMEOUT)
    Await.res

[2017-03-16 16:30] fommil commented on #954
@vermest these are different issues, if you think there is some extra error handling you'd like to handle can you please create a PR for discussion (or at least a separate issue)?

[2017-03-17 10:53] vermest commented on #954
OK, sure, I guess, I will look a bit deeper into the whole code before doing that.
Although lately I'm pretty often affected by the similar timeout issues.
Otherwise editor works great, it's just that I have to reload the server ~3 times an hour.
Still faster than Eclipse or Idea ;)

[2017-03-17 11:20] fommil commented on #954
symptom not cause

[2017-03-19 03:50] vpatryshev commented on #978
Had the same in IntelliJ. Full rebuild saved me.

[2017-03-24 14:55] fommil opened #1735 "use presentation compiler to demangle debugging symbols"
as discussed at scalasphere, we should be using a custom profile

Apologies @chipsenkbeil, I've forgotten what you showed me on how we'd implement this. I had grand illusions of being able to do this at the hack day, but never got that far. Now my short term memory of the event has been nuked. Was the recommendation to create custom implementations of `StructureConverter`?

[2017-03-24 17:41] chipsenkbeil commented on #1735
You would want to create your own profile that either inherits from [JavaDebugProfile](https://github.com/ensime/scala-debugger/blob/master/scala-debugger-api/src/main/scala/org/scaladebugger/api/profiles/java/JavaDebugProfile.scala) or [Scala210DebugProfile](https://github.com/ensime/scala-debugger/blob/master/scala-debugger-api/src/main/scala/org/scaladebugger/api/profiles/scala210/Scala210Debug

[2017-03-24 17:45] fommil opened #1736 "remove 2.12 monkey"
sbt-ensime now (well, in a few hours) supports the 2.12.2 feature natively, so we can remove our monkey when it lands.

[2017-03-24 22:49] #1375 closed

[2017-03-24 22:49] #1511 closed

[2017-03-27 11:48] fommil opened #1737 "server freezes up: almost certain we have a semaphore leak"
now that I'm working on projects that are making use of live indexing (my work project for the last 18 months has been using this hack https://github.com/fommil/sbt-big-project/blob/master/src/main/scala/BigProjectSettings.scala#L76-L80 ) I can see that ensime server just locks up after several `sbt compile` cycles.

It's almost certainly because of our crazy use of semaphores (yeah, sorry, introd

[2017-04-07 18:17] fommil opened #1742 "Generate dot files for hierarchies"
This should be possible with the graphpocalypse.

[2017-04-11 05:31] strobe commented on #1643
@pascr Could you create pull request with your commons-lang and HtmlUtil changes?
I tried to do same things for #1740, but after I found that your code was updated recently, therefore I don't wish to repeat your work.

[2017-04-11 06:36] pascr commented on #1643
@strobe sure, will do it later today

[2017-04-11 11:03] fommil commented on #1643
Awesome

[2017-04-14 03:05] smac89 commented on #978
Almost the same solution as above, but I had to close the project and reimport it for this stupid error to go away

[2017-04-15 13:07] fommil commented on #978
locking this because IntelliJ users are showing up and commenting about something that is completely unrelated to ensime.

[2017-04-15 16:59] #1737 closed

[2017-04-15 17:01] fommil commented on #1708
I'm getting an OOM when I run `core/it:testOnly *Semantic*`

[2017-04-15 17:04] fommil commented on #1708
yeah, there is almost certainly a memory leak and OrientDB is not closing its direct memory when a graph is closed.

[code]

[2017-04-15 17:15] fommil commented on #1708
exception occurs even if I apply the commit to be transactional

[2017-04-15 17:26] fommil commented on #1708
how interesting... enabling the log seems to make the problem go away! Needs further investigation.

[2017-04-15 18:12] fommil commented on #1708
getting a little further, only getting OOM in `core/it:testOnly *Debug*`. I'm wondering if we properly close everything in the project fixtures.

[2017-04-15 19:10] fommil commented on #1708
we definitely close everything. I'm still convinced there is a direct memory leak somewhere.

[2017-04-15 19:28] fommil commented on #1708
I got green lights locally.... but *reducing* the mx to 1gb. I have a working theory that there are two memory leaks:

1. if a graph is created and shutdown immediately (no ops)
2. if the heap ms doesn't match the mx. Perhaps a bug in free memory calculation?

[2017-04-15 19:33] fommil commented on #1708
hmm, seems if I set heap to 2gb I get this

[code]

in the logs and almost certainly an OOM when running the tests.

So my theory is that there is a bug somewhere in the orientdb direct memory sweeper. I'd like some way to be able to just clear the memory on demand.

[2017-04-15 19:35] fommil commented on #1708
@taburet any ideas why we get OOM when we use larger heap?

[2017-04-15 19:41] fommil commented on #1708
I must admit, I'm not very happy that OrientDB uses direct memory. It would be far better if this was a flag. It completely messes all our CI memory tuning and it's never good to break outside of the JVM model.

[2017-04-15 19:47] fommil commented on #1708
hmm, `DebugTest` gives some weird things

[code]

[2017-04-15 19:51] fommil commented on #1708
yup, `Field`s are getting created with `null` Access.

[2017-04-15 19:52] fommil commented on #1708
quite explicitly, in fact...

[code]

[2017-04-15 19:56] sugakandrey commented on #1708
Some fields are set as `null`, because we don't know thier values yet, but need to insert something in order to create an edge (e.g. we are inserting a super-class vertex). They should be initialized later.

[2017-04-15 19:56] fommil commented on #1708
this is all over this file.... @sugakandrey why are we inserting `null` ?

[2017-04-15 19:57] fommil commented on #1708
@sugakandrey that sounds like we got the modelling wrong. We should never need to do that. If we don't know some information at the point of insertion, it should be a different vertex that is added later.

[2017-04-15 19:58] fommil commented on #1708
also, there is no reason why all FQNs need to have something like a filename on them... that's a perfect case for all the FQNs in a given class/source file to point to one vertex holding this information.

[2017-04-15 20:02] fommil commented on #1708
I see, so this is when it's the target vertex. e.g. to set "my interfaces".

[2017-04-15 20:03] fommil commented on #1708
we can't have `setMandatory(true)` and `setNotNull(true)` in that case.

[2017-04-15 20:14] fommil commented on #1708
I think we need the ability to point at vertices that haven't been created yet, don't we?

[2017-04-15 20:23] fommil commented on #1708
it's that, or we end up doing a two pass index. Once for vertices, again for edges. That sounds nuts.

[2017-04-15 20:24] fommil commented on #1708
these OOMs are driving me absolutely crazy. I'm about 5 seconds away from just writing a god damned graph database myself.

[2017-04-15 20:37] lvca commented on #1708
Hi @fommil please try leaving the default setting `-XX:MaxDirectMemorySize=512g`. This is just an upper limit for the JVM (and can't be set at run-time). If you want to tune the DISKCACHE, than use the setting `-Dstorage.diskCache.bufferSize=1000` to allocate 1GB of diskcache to OrientDB. The rule of the thumb is that maxheap + diskcache should never be bigger than the available RAM. I hope this h

[2017-04-15 20:42] taburet commented on #1708
@fommil Inspect the contents of `java.nio:type=BufferPool,name=direct` JMX bean, if the value doesn't go above the configured `storage.diskCache.bufferSize` everything is fine and there are no leaks.

[2017-04-15 20:45] fommil commented on #1708
@Ivca you mean `m`, not `g`?

what's the relation between direct memory and the diskcache? I don't want *any* direct memory here, I want to fully control the RAM requirements of the app.

[2017-04-15 20:46] lvca commented on #1708
@fommil I mean `g`. It just an upper limit, if you have a 64bit system, try to leave it that big.

[2017-04-15 20:47] fommil commented on #1708
@Ivca doesn't that give the app the ability to eat all the RAM on the machine? Absolutely no way.

[2017-04-15 20:49] fommil commented on #1708
setting `512m` helps. I don't understand why setting a low direct memory value helps here.

[2017-04-15 21:00] fommil commented on #1708
@taburet `java.nio:type=BufferPool,name=direct` is count=38, MemoryUsed=539327595. Not sure how to get `storage.diskCache.bufferSize`

[2017-04-15 21:09] lvca commented on #1708
OrientDB uses the setting `storage.diskCache.bufferSize` if any, the `-XX:MaxDirectMemorySize` should be bigger than `storage.diskCache.bufferSize` otherwise you get `java.lang.OutOfMemoryError: Direct buffer memory`. If you don't trust OrientDB with a huge number, at least set it to a value bigger than diskcache.

[2017-04-15 21:10] fommil opened #1744 "clean up the graph schema"
in the graphpocalypse, we are still duplicating a lot of data in vertices (e.g. the classname has file name info) that should be their own vertex (class files should be their own vertex).

In addition, we need to work out how to add edges where one of the vertices may not exist yet. This has got to be a solved problem in more recent versions of tinkerpop, otherwise two passes are needed! (or the u

[2017-04-15 21:12] fommil commented on #1708
@Ivca what's the default? When I set direct access to a lower value, it seems more stable so I don't think this is about setting it *larger* than anything.

Shouldn't you be namespacing your sys properties with, e.g. `orientdb.storage.diskCache.bufferSize`?

[2017-04-15 21:13] fommil commented on #1708
seems I can configure it with `OGlobalConfiguration.DISK_CACHE_SIZE.setValue(256)` and the default is 4gb?

[2017-04-15 21:18] fommil opened #1745 "investigate lightweight alternatives to orientdb"
It has been an endless source of performance problems and brings a huge amount of bloat (including this ridiculous direct memory nonsense that completely breaks the JVM heap restriction).

Let's see if any of the other http://tinkerpop.apache.org/ impls (not neo4j because it has a scala internal dep on a single scala version) are worth it. https://github.com/MartinHaeusler/chronos/tree/master/org.

[2017-04-15 21:18] fommil commented on #1745
FYI // @sugakandrey

[2017-04-15 21:21] fommil commented on #1708
thanks @taburet / @Ivca ! Setting the disk cache size to a much smaller number that 4gb really helps and now I can set a low direct memory number and run all tests without OOM.

I think we'd like to launch the next version of ensime with orientdb, but I suspect we might move to something more lightweight... possibly just a key/value store for vertices and a fast write tuple store for vertices. Tha

[2017-04-15 21:27] #1708 closed

[2017-04-15 21:37] lvca commented on #1708
@fommil When you're ready to expore alternative I'm curious about the performance of other key/value datastores in comparison to OrientDB, but used as Key/Value. By the way OrientDB v3.0 is much lighter and faster than 2.2. Furthermore we get rid of all the dependencies from TinkerPop (now it's a separate module), so the entire OrientDB server is a few MB now.

[2017-04-15 21:44] fommil commented on #1708
@Ivca that's very interesting! What's the status of v3.0?

[2017-04-15 21:47] lvca commented on #1708
We already pack 3.0M1, it will be released on Tuesday but it's not production ready. We think to release 3.0M1, then 3.0RC1 and when we reach the stability we can do 3.0GA. I think 3.0GA could be out in 2 months from now.

[2017-04-15 21:49] fommil commented on #1708
ok cool, we'll keep it in mind. Is it pure Java?

[2017-04-15 21:56] lvca commented on #1708
Yes, no JNI.

[2017-04-15 22:00] iravid opened #1749 "completionsAt blocks indefinitely while waiting for the search service"
This is unfriendly to the responsiveness of the Analyzer actor, and can be solved by returning the Future instead of awaiting on it.

[2017-04-15 22:11] fommil commented on #1708
(I was mostly concerned about internally using a specific version of Scala, like neo4j does, but yes not using JNI is always good! Been very guilty of that myself)

[2017-04-15 22:12] fommil commented on #1708
It sounds like v3.0 is basically exactly what we wanted all along! Is it a rewrite?

[2017-04-15 22:49] lvca commented on #1708
Yes for the SQL Engine and the Graph API.

[2017-04-16 10:50] #1749 closed

[2017-04-16 12:20] fommil commented on #1744
we also shouldn't have any domain specific code in the `RichGraph`. It should only be general graph access code.

[2017-04-16 13:07] fommil commented on #1744
we should prefer java collections to the slow scala mutable collections.

[2017-04-16 13:52] fommil opened #1750 "appveyor.yml"
is our ivy/coursier cache location correct? Seems appveyor is downloading stuff all the time

[2017-04-16 15:53] fommil commented on #1750
it could just be because the push webhook was disabled.

[2017-04-18 08:28] fommil opened #1752 "filewatcher not cleaning up properly on Windows"
Sometimes the file watcher hangs on shutdown... e.g. in the `ReverseLookupsSpec` (could be the shared testkit).

As workaround, we just don't wait for the actor system to shutdown in the shared testkit fixture.

[code]

[2017-04-18 08:44] fommil commented on #1752
looks related to `WatchKey.cancel` being unreliable on Windows https://bugs.openjdk.java.net/browse/JDK-8029516

[2017-04-18 08:57] fommil opened #1753 "alternative find usages query using only the indexer"
the current impl of find usages (with the graph) loads all files into the PC. It would be good to have a variant that just returns the files and lines for displaying in the client like a grep query.

[2017-04-18 09:07] fommil commented on #1745
@gosubpl

[2017-04-18 09:43] fommil opened #1754 "show implementing classes"
we kind of have it with the structure view in the graph, but it would be good (like in #1753) to have a version that returns something that can be rendered like grep search results.

[2017-04-18 09:43] #425 closed

[2017-04-18 09:43] #655 closed

[2017-04-18 09:43] #1509 closed

[2017-04-18 09:44] fommil commented on #1754
#1131

[2017-04-18 21:55] olkinn commented on #425
@fommil why did this get closed?

[2017-04-19 06:50] fommil commented on #425
Very nearly! Hopefully today

[2017-04-19 06:52] olkinn commented on #425
oooooh, exciting!!

[2017-04-19 09:11] fommil commented on #1745
we could also try changing our use of orientdb to use the Document API instead of tinkerpop, which allows batch insertions (and possible edges where a vertex is unknown)

http://orientdb.com/docs/2.2/Graph-Batch-Insert.html

[2017-04-19 11:20] fommil opened #1755 "find usages for symbols / types"
consider this more of an API question... "find usages" is a bit ambiguous. It refers to symbols and types, but also in index and in PC. We should maybe consider splitting out the symbol vs type queries as it may involve a change to the way we index things.

I suspect we have a tonne of bugs around false negatives on find usages.

[2017-04-19 13:10] fommil opened #1756 "backpressure in the indexer"
now that writing to the index (the graph) is really slow, we need something like #1351 because I'm loathe to reintroduce the #1739

to put some numbers on this, it means we need 4g to run ensime on ensime-server, but it used to be perfectly fine with 1g... and after initial index it's fine with a few hundred MB.

Workarounds are:

in `global.sbt`

[code]

in `.ensime-server.conf`

[code]

to slow

[2017-04-19 16:49] fommil opened #1758 "faster deletion in the indexer"
if we do a clean / compile cycle, it takes a *long* time for the indexer to catch up and it's sat at 100% CPU while it does it.

@sugakandrey I remember benchmarking this a while ago and it was quicker than H2... did something change?

[2017-04-19 16:56] fommil opened #1759 "enable the 2.12.2 unused linters selectively"
It's too much all at once, but we could go through adding each of the linters from https://github.com/scala/scala/pull/5402 one by one in our `EnsimeBuild.scala`

[2017-04-19 17:01] sugakandrey commented on #1758
I don't think it was faster than H2 ever. When I looked at it, Orient didn't have a way to delete a whole subgraph, so I had to manually traverse all the linked nodes to delete them.

[2017-04-19 17:06] fommil commented on #1758
I thought that was still faster than H2 though. Maybe it was faster when everything was in the same jar? But not so good when it's `.class` files.

[2017-04-19 21:29] fommil opened #1761 "RichGraph.insertE doesn't use e: E"
I spotted this when using the new scalac linters, is this a typo @sugakandrey ?

[2017-04-19 21:30] fommil commented on #1761
ah, this looks like it's just an easy way to provide the type parametre without having to provide the full type sig explicitly.

[2017-04-19 21:30] #1761 closed

[2017-04-20 00:15] #1736 closed

[2017-04-20 03:55] ambjlon opened #1762 "Your build tool has downloaded the stable version of ENSIME but you are using the Developer Emacs install"
system environment:
emacs24.5
maven-ensime-1.1.1
scala 2.12.1
And, I installed ensime throught melpa.

when I typed M-x ensime, I got  an error:
**Your build tool has downloaded the stable version of ENSIME but you are using the Developer Emacs install**

[2017-04-20 06:26] fommil commented on #1762
Troubleshooting

[2017-04-20 06:26] #1762 closed

[2017-04-20 07:16] ambjlon commented on #1762
Sorry, I cannot solve this problem with getting_help.
Is a higher version maven-ensime-plugin needed?

[2017-04-20 07:39] fommil commented on #1762
Use stable ensime for Emacs, and/or get involved with ensime-maven development. Please re-read the Emacs install page.

[2017-04-20 07:54] ambjlon commented on #1762
I installed this version through melpa @_@
![image](https://cloud.githubusercontent.com/assets/4489822/25219534/672d6fd4-25e1-11e7-8fce-eb50c9097621.png)

[2017-04-20 07:56] fommil commented on #1762
@ambjlon you need to read our docs

[2017-04-20 08:28] ambjlon commented on #1762
I have read your docs carefully.  But it still failed.
I suspect that emacs24.5+maven cannot work well.

[2017-04-20 09:38] fommil commented on #1762
@ambjlon http://ensime.org/editors/emacs/install/#installing <= this is not what you did

[2017-04-20 09:42] ambjlon commented on #1762
I did it as "Unstable / Developer Edition" Section.

[2017-04-20 10:07] fommil commented on #1762
http://ensime.org/build_tools/maven/

[2017-04-20 11:25] amanjpro commented on #1762
Ensime maven plugin does not care about the text editor and it's plugin. All it cares about is the pom file

[2017-04-20 11:40] fommil commented on #1762
@amanjpro the webpage probably needs a section to set the server version. In sbt we just default to 2.0.0-SNAPSHOT because the stable emacs client doesn't read this information.

[2017-04-20 12:01] amanjpro commented on #1762
The maven one too just defaults to the snapshot.

[2017-04-20 12:13] ambjlon commented on #1762
Sigh. I cannot solve it ~.
![image](https://cloud.githubusercontent.com/assets/4489822/25230173/9d8e91c4-2605-11e7-8af4-dff199fed7b2.png)

[2017-04-20 12:20] amanjpro commented on #1762
Can you share your pom file?

[2017-04-20 12:21] amanjpro commented on #1762
Or at least the portion which interests the ensime maven plugin

[2017-04-20 12:24] ambjlon commented on #1762
I send it to your email sherwany (dot) amanj at gmail dot com, ok?

[2017-04-20 12:44] strobe commented on #1735
@fommil could you add here some additional context about that "scalasphere" discussion?

[2017-04-20 13:30] fommil commented on #1762
perhaps you could move this to the ensime-maven issue tracker?

[2017-04-20 13:33] fommil commented on #1735
basically the scala-debugger has a bunch of heuristics for converting FQN names of classes / methods into things that make sense in scala language (in the debugprofile). But we don't need to rely on crude guesses in ensime when we can load the files into the PC and resolve them using the `FqnToScalaName` etc utilities. There are quite a lot of these `XtoFqn` or `FqnToX` converters in the code, all

[2017-04-20 13:53] ambjlon commented on #1762
ok~

[2017-04-20 14:16] yangwen0228 opened #1763 "generic completions in Java lambdas crash the compiler"
### Steps to reproduce

1. When type this, it's OK.
[code]

2. Type this:
[code]
3.  After type this, Emacs is disconnected to ensime-server.

### Expected behaviour

Don't disconnect to ensime-server.

### Actual behaviour

Emacs is disconnected to ensime-server. Must execute "ensime" again to create a new server.

[2017-04-20 14:52] yangwen0228 commented on #1763
After some tests, I find that if I type like this, it's OK:
[code]
However, the below code is from the official JavaFx examples:
`cb.selectedProperty().addListener((ObservableValue<? extends Boolean> ov, Boolean oldValue, Boolean newValue) -> {});`

Any suggestions?

BTW, Ensime is really awesome! Many thanks!

[2017-04-20 15:00] rorygraves commented on #1763
This implies something's broke on the Ensime server side.  What does the server log say?

[2017-04-20 15:12] yangwen0228 commented on #1763
Here is the log:
[code]

[2017-04-20 15:15] rorygraves commented on #1763
That's the emacs log. Here is another log of the Ensime process itself. The thing that you have disconnected from.

[2017-04-20 15:36] yangwen0228 commented on #1763
Sorry, where can I get that log? I'm not able to find that.

[2017-04-20 15:45] yangwen0228 commented on #1763
Starting ENSIME server: c:/Program Files/Java/jdk1.8.0_51/bin/java -classpath c:/Program Files/Java/jdk1.8.0_51/lib/tools.jar;C:\Users\yangwen\.coursier\cache\v1\https\oss.sonatype.org\content\repositories\snapshots\org\ensime\monkeys_2.10\2.0.0-SNAPSHOT\monkeys_2.10-2.0.0-SNAPSHOT.jar;C:\Users\yangwen\.coursier\cache\v1\https\repo1.maven.org\maven2\com\zaxxer\HikariCP\2.6.0\HikariCP-2.6.0.jar;C:\

[2017-04-20 15:45] fommil commented on #1763
it'll be in a buffer like `*ENSIME*-`

my bet is we don't handle java 8 language features

can you please write this up as a test case in https://github.com/ensime/ensime-server/blob/2.0/core/src/it/scala/org/ensime/core/JavaCompilerSpec.scala and raise a PR ? You might even be able to fix it easily once you do that.

[2017-04-20 15:55] yangwen0228 commented on #1763
@fommil Thank you! I found the hints in "Troubleshooting" chapter from the ensime.org.
 Yeah, I can spend some time in investigating this code, but I'm not sure whether I can handle this or not. =^_^=

[2017-04-20 15:57] fommil commented on #1763
it all starts with a test...

[2017-04-20 16:37] strobe commented on #1735
thanks.
seems is enough to start.

[2017-04-20 16:57] fommil commented on #1735
some good code to look at would be the tests for the fqn converters. And then, separately, the demangling code in scala-debugger.

[2017-04-20 17:03] iravid commented on #1756
so are we open to depending on fs2?

[2017-04-20 17:08] fommil commented on #1756
@iravid absolutely, although that might need to wait until we cut ensime 2.0 because of scala 2.10 support. What we could do is trim down the 2.0 milestone with all breaking API changes, then cut it and then add purely new features and improvements in 3.0 (2.12 only, possibly 2.11).

[2017-04-20 17:12] iravid commented on #1756
Right. So how about modeling something simple with a `BlockingQueue` in there for now?

[2017-04-20 17:18] fommil commented on #1756
@iravid I don't see how that would make it easier to reason about than the semaphore approach we did before... which got past the tests for almost a year. Do you have something specific in mind? We only really need to backpressure on startup, no need to do it for incremental indexing. That said, if we modelled this with fs2, the two would be the same thing... it'd just be a big Stream of io events

[2017-04-20 17:23] iravid commented on #1756
Exactly as you said - it's conceptually very similar to just handling a stream of IO events. Simpler in my mind than counting semaphore acquires :-)

I'll give it a try after I'm done with #1751.

[2017-04-21 01:10] ambjlon commented on #1762
@amanjpro  Have you received my email?

[2017-04-21 09:07] iravid commented on #1758
I noticed that when deleting files, we're using the transactional graph. Is it possible to switch to the `NoTx` variant when doing a clean/compile cycle?

[2017-04-21 09:13] iravid commented on #1758
Also, it looks like the SQL API for Orient supports batching deletes: http://orientdb.com/docs/last/SQL-Delete-Vertex.html

Perhaps we could traverse the graph, fetch the vertices to be removed, and then perform batch deletions (by ID? not yet familiar with how vertices are identified in orient) using SQL?

[2017-04-21 12:54] #1729 closed

[2017-04-22 11:14] fommil commented on #1755
#1753 is maybe the best place to discuss.

[2017-04-22 11:14] #1755 closed

[2017-04-22 11:16] fommil commented on #1753
(some discussion in linked / closed tickets)

[2017-04-23 22:22] fommil opened #1766 "Drop 2.10"
As per https://mobile.twitter.com/fommil/status/856271274619875329

We are blocked to use cats/fs2/scala.meta and we have 1.0.1 2.0.0-M1 out there. Sbt 1.0 is around the corner with 2.12 in it. I propose the 2.0 milestone continue without 2.10 crossbuild support.

[2017-04-24 01:00] fommil opened #1767 "Support simulacrum generated ops"
https://github.com/mpilquist/simulacrum/issues/80

[2017-04-24 02:19] iravid commented on #1766
Off with its head

[2017-04-24 08:22] fommil commented on #1766
overwhelming support (90%+ on twitter). 2.0 will ship without 2.10 support.

[2017-04-24 14:25] leandrob13 commented on #1766
@fommil that means we could not use ensime for sbt plugin development in v2.0.0?

[2017-04-24 16:27] fommil commented on #1766
@leandrob13 not for sbt 0.13 plugin development. But 1.0 is around the corner.

[2017-04-25 08:34] hzenginx commented on #1003
Hello, This the feature I am missing most, is there any progress on this?
For Indexed methods and classes the solution should be easy as discussed above; also I know presentation compiler has this support too.

If there is no progress yet I can start hacking.

[2017-04-25 08:57] fommil commented on #1003
@hzenginx that'd be great! `ensime-search` only uses the indexer, not the PC. Completions use the PC and the client gets to apply FLX to the full set of valid completions... I think `company-mode` in emacs does that already (if it doesn't then support for that could be added there).

[2017-04-25 08:59] fommil commented on #1003
btw, there are some related tickets on improving search such as https://github.com/ensime/ensime-emacs/issues/186 and #1482 and #472

Before doing any hacking on the indexer, I strongly recommend watching the latest video from scalasphere linked from the contributing page.

[2017-04-25 14:05] hzenginx commented on #1003
@fommil already watched, great talk BTW.

Because ensime is already indexing class and method names I think a simple wildcard query is enough, see: https://github.com/ensime/ensime-server/compare/2.0...hzenginx:2.0
It is passing the tests and working for me on emacs.

Looks like in `Completions` we are filtering some completions which brakes the support for partial CamelCase search for but I am no

[2017-04-25 14:21] fommil commented on #1003
ok cool. I had a quick look, and I see you're adding a new `WildCardQuery`, nice. This is new to me, I'll need to read the lucene docs on it.

When I originally wrote the lucene support I'd come off a project that needed super-optimised lucene queries (it was for investment traders to find specialist products from a huge database) and I did as much index-side as possible... but I think ensime prob

[2017-04-25 14:26] fommil commented on #1003
in fact, I wonder if perhaps we should just remove all our custom indexes and just use this. I still wonder if we even need Lucene.

[2017-04-25 15:32] hzenginx commented on #1003
`WildCardQuery`s are not fast as others of course but I don't think it will be a problem with the size of data ensime dealing with. They can become really slow when they start with a `*` so thats why my implementation is not adding one.
see: https://lucene.apache.org/core/6_3_0/core/org/apache/lucene/search/WildcardQuery.html#WildcardQuery-org.apache.lucene.index.Term-int-

[2017-04-26 17:42] jozi-k commented on #1643
I was going through "low hanging fruit" issues and this one seems to be already resolved.