[2015-07-14 17:51] fommil commented on #1044
Maybe best ask in an SBT forum, sounds like you have ivy cache problems.

[2015-07-14 18:12] richfwebb commented on #1044
Thanks, I appreciate the help.

[2015-07-14 21:06] rorygraves opened #1045 "Rename JERK to DALEK"
Data Access Layer Ensime Koding - ala Scalawags @dickwall  - One for @fommil

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24340499-rename-jerk-to-dalek?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-07-14 21:07] fommil commented on #1045
:smile: or Joshy

[2015-07-14 21:07] fommil commented on #1045
or Jerky

[2015-07-14 21:08] fommil commented on #1045
@dickwall

[2015-07-14 21:26] dickwall commented on #1045
:-) :-) :-)

On Tue, Jul 14, 2015 at 2:08 PM Sam Halliday <notifications@github.com>
wrote:

[2015-07-15 15:00] greenrd commented on #530
Is there a way to show *which* conversion has been applied? I've tried `C-c C-v i` which just shows the original type pre-conversion and *all* the possible implicit conversions which could be applied to that type, and `M-.` which (of course) goes to the target type of the conversion, but neither of those necessarily answer the question.

[2015-07-15 16:15] fommil commented on #530
`C-c C-v e` should do that

[2015-07-15 16:38] greenrd commented on #530
Thanks! It has to be done with point on the method being called, I found.

It should probably be added to the ENSIME->Source menu.

[2015-07-15 16:54] fommil commented on #530
what is this "mouse" of which you speak? :-P

[2015-07-15 19:41] fommil commented on #472
renaming in honour of @viktorklang // @dickwall

[2015-07-15 20:29] rorygraves commented on #530
@fommil If you decide to limit yourself to 1950's  you should probably ban yourself from git, the web and colour monitors as well.  + your shiny phone.

[2015-07-15 20:59] fommil commented on #530
what's a phone?

[2015-07-15 21:00] rorygraves commented on #530
Consider it a magic talky box.

[2015-07-15 21:20] fommil commented on #820
@rorygraves are you ever going to get round to this or should I pick it up?

[2015-07-15 21:21] rorygraves commented on #820
Please pick it up - you are 90% of the way there.

[2015-07-15 21:22] fommil commented on #1045
maybe we could use the DALEK name for the documentation server (we serve up all the scaladocs for the project and that feature currently doesn't have a name). Documents And Lesser ENSIME Knowledge. Or something.

[2015-07-15 21:23] fommil commented on #820
more important stuff, let's unassign it and put it back into the 1.0 backlog

[2015-07-15 21:23] rorygraves commented on #1045
lol, like it.

[2015-07-15 21:24] fommil commented on #1045
should probably have a generated splash page that lists all the javadocs for a project, ordered by name. that would be pretty handy actually.

[2015-07-15 21:26] rorygraves commented on #1045
I think there is a whole bunch of pages we could add to the webserver.

[2015-07-16 02:53] viktorklang commented on #472
Thanks @fommil! :)

[2015-07-16 16:28] tpolecat commented on #425
(Adding myself to this since issue since I'm looking into the db stuff.)

[2015-07-16 16:45] fommil commented on #425
w00t! I should imagine it will dramatically increase the DB size so any thoughts on optimising the storage would be well received (although I suspect having a good filter on which symbols we care about... i.e. not `java.lang.*` or any anonymous classes) would be good enough.

FYI when we call this method https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/indexer/Cla

[2015-07-16 17:45] greenrd opened #1047 "Timeout in debugmanager"
[code]

This is while the debugger is stopped at a breakpoint.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24452483-timeout-in-debugmanager?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tra

[2015-07-18 22:34] #990 closed

[2015-07-18 22:34] #1045 closed

[2015-07-18 23:57] edani commented on #717
This was fixed in #940

[2015-07-18 23:57] #717 closed

[2015-07-19 00:09] edani commented on #814
Hash this been happening lately? I'm having trouble reproducing it.

[2015-07-19 18:59] greenrd opened #1048 "Scala 2.10 version of ensime being used for Scala 2.11 project"
This is causing macros compiled for Scala 2.11 to crash the presentation compiler.

This was originally a 2.10 project. It appears that ensime-sbt has correctly generated the 2.11 deps in `.ensime`, but incorrectly left the version as 2.10.4.

Ah, actually, I guess what is happening is that it is a multi-project build with all the subprojects set to 2.11, but the main project / toplevel is default

[2015-07-19 19:07] greenrd commented on #1048
Yes, that was it. I changed `build.sbt` to set it using `scalaVersion in ThisBuild := "2.11.7"` at the top level, and restarted ensime, and now the 2.11 version of ensime is being used.

[2015-07-19 19:10] rorygraves commented on #1048
Actually raises an intersting question - Ensime has a single presentation compiler, if somebody has a multi-module, multi-version build what do we do:
* Refuse to work
* Pick root one....
* Fix Ensime to spin up multiple PCs (one server, multiple child presentation compilers to handle it)

Not sure how common this usecase is - thoughts @greenrd @fommil ?

[2015-07-19 19:12] fommil commented on #1048
One version only, I don't think multi version projects make any sense. Sounds like maybe an SBT bug?

[2015-07-19 19:12] #1048 closed

[2015-07-19 19:17] greenrd commented on #1048
I don't think it's an sbt bug - in theory different modules in the same build don't have to depend on each other in any way. But I've never seen that ability used.

I think it should just refuse to work - I've experienced presentation compiler instability for months and I'm hoping this mistake was the cause of at least some of those issues...

[2015-07-19 19:20] rorygraves commented on #1048
Agreed - I think rejecting the generation of the gen-ensime talk would make sense (we can't currently support it within Ensime (because of the single PC), rather than throwing spurious errors, outputing 'we don't support this because...' would be helpful.

@fommil Should I enable the sbt issue tracker and move it to there?

[2015-07-19 19:30] fommil commented on #1048
ok, sure. We have two open tickets for the sbt plugin so make sure to move them as well.

[2015-07-20 17:23] DanielJoyce commented on #959
This bug has existed FOREVER in scala ide. Never worked right.

[2015-07-23 07:16] xanderdunn opened #1049 "ycmd support"
Almost exactly one year ago there was a [discussion](https://github.com/Valloric/YouCompleteMe/issues/1078) on adding ENSIME support in YouCompleteMe for vim.  I wonder if any progress has been made in that direction, or at the very least the refactoring you mentioned at the time that would be necessary for support?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https

[2015-07-23 07:35] fommil commented on #1049
Should be easy to add, we implemented JSON over websocket to make it easy. We just need someone the step up to the plate and do it... although offering only completions would significantly limit what ENSIME can do.

[2015-07-23 16:15] xanderdunn commented on #1049
@fommil

Thanks a lot. With luck, I'll be writing primarily Scala over the coming month, which will motivate me to do this.  ycmd/YouCompleteMe also supports file diagnostics (error/warnings), GoToDeclaration/Definition, so that information should also be usable.

[2015-07-23 18:56] fommil commented on #1049
Cool!!

[2015-07-23 21:25] fommil commented on #1049
If have any questions about the API, just ask. The gitter channel in pretty active.

[2015-07-24 17:14] fommil opened #1050 "add fun tests to .ensime"
If the project has custom test phases, they are not currently picked up by our sbt plugin.

@jsuereth any ideas how we can do this?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24898545-add-fun-tests-to-ensime?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-07-24 17:18] fommil commented on #1050
code here, for your reference:

https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala

[2015-07-26 20:58] Vifon commented on #1029
Some more information is available in this issue: https://github.com/ensime/ensime-server/issues/1029

An **incomplete** unittest is available on my fork, on branch `import-test`: https://github.com/Vifon/ensime-server/tree/import-test. I don't know how to make the call to the refactoring functions so that the imports will be sorted like in the call from Emacs.

From what I've gathered, the issue

[2015-07-26 21:53] fommil commented on #1029
renamed to be less emacs-specific, this sounds like a server bug by Vifon's recent analysis.

[2015-07-28 19:59] fommil commented on #472
The more I think about this, the more I believe it is a strategic move for ENSIME. I'm personally putting it as my no. 2 priority after Java support but would love somebody to get there first. Step one is getting people who are excited by this to give us a bunch of examples of the kinds of queries they'd naturally like to make then we can think about how to parse that into a form that can match ag

[2015-07-29 09:39] gregnwosu commented on #949
I have dont have yas enabled for dropdown completion, however I have set my cursor to change colour when a snippet can fire, this works best for me.

[2015-07-29 09:44] fommil commented on #949
@gregnwosu oh, that sounds nice! How did you do that? I think dropdown is automatic... it'd prefer it not to do that.

[2015-07-29 10:02] gregnwosu commented on #949
alas not my own work

from:
http://pages.sachachua.com/.emacs.d/Sacha.html
https://github.com/pcmantz/elisp/blob/master/my-bindings.el
[code]

[2015-07-29 15:15] Hiroyuki-Nagata commented on #1029
I checked the @Vifon 's repository.
There is a problem, if ensime-server processed import some packages and it would be inserted the first line, `AddImportRefactorDesc` would work. But, `AddImportRefactorDesc` don't process like `OrganiseImportsRefactorDesc`, in other words, the import order will be odd. If the function working like both functions exist ( do import and sort ), it will be solved.

[2015-07-30 14:37] fommil commented on #692
another transient http://fommil.com/github.com/ensime/ensime-server/shapeless_upgrade/e31a41db3e97b28d2183c5b2b322b3138ff50c1e

[2015-07-31 20:25] fommil commented on #848
relevant discussion in the emacs mailing list (for elisp passive cleanups) https://groups.google.com/d/msg/gnu.emacs.help/Oza4k-YpZk4/jazksyvgqmkJ

[2015-07-31 23:52] smarter opened #1052 "Spurious type errors are reported when trying to use dotty with Ensime"
I'd like to hack on [dotty](http://github.com/lampepfl/dotty) using Ensime, but it keeps hitting type errors even though the project compiles fine with `scalac`, here's how to reproduce what I'm seeing:
- Open `src/dotty/tools/dotc/core/Symbols.scala`
- Launch ENSIME with `M-x ensime` (after having followed the [Quick Start Guide](https://github.com/ensime/ensime-emacs/wiki/Quick-Start-Guide))
- E

[2015-08-01 07:12] fommil commented on #1052
The first thing I'd like the understand is why Scala ide in OK. It's it suppressing the error or is it using the presentation compiler with an additional parameter that either gets it over this hump or never fires the warning.  @sshafer do you have any ideas on this?

[2015-08-01 08:20] sschaef commented on #1052
Beside from restarting the presentation compiler I don't know how to resolve such an error or why it appears. In Scala IDE we also had and still have problems with flaky tests (i.e. tests that sometimes fail) when we cache compiler instances. We never figured out what the problem really is, restarting the compiler completely or trying to reset as much state as possible were always the ways how we

[2015-08-01 08:25] fommil commented on #1052
@sschaef cool thanks. The confusing thing is that we're restarting entirely, so my our perspective it looks like we're doing exactly the same as `scala-ide` --- yet we're seeing type errors and scala-ide is apparently ok with it.

[2015-08-01 08:34] sschaef commented on #1052
Yes, that is exactly what we see in our test suite. The tests are always the same but sometimes they fail nevertheless. I saw similar errors that were reproducible, i.e. they always appeared. But they always occurred in complex type hierarchies, minimizing them would have taken hours. Therefore I never did it/succeeded with it.

[2015-08-01 18:31] edani commented on #1052
I've seen this type of errors before. Now, at least, we have a reproducible example.

@smarter  if it helps, a workaround is to restart the presentation compiler with `C-c C-c r`, it clears up errors that have been accumulating.

[2015-08-02 20:34] aemoncannon commented on #706
Should this be handled via completion? Start typing "override..." and it
lists the method signature as candidate?

On Thu, Jun 4, 2015, 2:36 AM Sam Halliday <notifications@github.com> wrote:

[2015-08-02 20:56] fommil commented on #706
Possibly part of the passive fixes framework?

[2015-08-03 06:34] rorygraves commented on #1047
@greenrd Sorry, missed this issue.
My guess is that something within the debugging code is failing to send any response to the requestor - we have a default operation timeout of 30 seconds on everything to try to ensure the gui is responsive.

The debugger is the part of ensime requiring the most love and it is on my list to work on when I have free cycles.
If this is repeatable I would typically

[2015-08-04 13:32] smarter commented on #1052
I managed to find a hack that seems to solve the issue, see #1053, would be great if someone with some knowledge of the presentation compiler could take a look to figure out what's going on!

[2015-08-04 15:25] fommil commented on #1052
btw, can you please raise a separate ticket for having to "Enter a single space, in the file, remove it, save the file". This shouldn't be necessary.

[2015-08-04 16:17] fommil commented on #706
@aemoncannon actually, on typing partial `override` would work really well for this too.

[2015-08-06 17:48] fommil commented on #820
the waffle fairy is assigning this to rory (because I know he's almost finished it :smile:)

[2015-08-06 18:16] fommil opened #1056 "go to definition fail: import java.io.File"
When hacking in WebServerSpec in my docserver branch, I'm not able to get typo info on `File` when its in the import list.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25449667-go-to-definition-fail-import-java-io-file?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-08-06 22:33] #920 closed

[2015-08-07 14:40] fommil commented on #954
Stats https://github.com/scala/scala/blob/1fbce4612c21a4d0c553ea489b4765494828c09f/src/compiler/scala/tools/nsc/typechecker/Typers.scala#L5609

[2015-08-07 14:40] fommil commented on #954
https://github.com/scala/scala/blob/1fbce4612c21a4d0c553ea489b4765494828c09f/src/reflect/scala/reflect/internal/Types.scala#L4658

[2015-08-07 14:43] fommil commented on #954
https://github.com/scala/scala/blob/1fbce4612c21a4d0c553ea489b4765494828c09f/src/compiler/scala/tools/nsc/Global.scala#L229

[2015-08-07 14:44] fommil commented on #954
https://github.com/scala/scala/blob/1fbce4612c21a4d0c553ea489b4765494828c09f/src/compiler/scala/tools/nsc/typechecker/Typers.scala#L5417

[2015-08-07 14:45] fommil commented on #954
@sschaef have you seen these stats hooks before? Just pasting lots of links that @xeno-by has told us about

[2015-08-07 15:14] sschaef commented on #954
No I didn't know about them.

[2015-08-07 15:25] fommil commented on #954
looking at the last one, looks like we might be able to use it to detect slow files! Then we can exclude them if the user agrees... perhaps we could agree on a common file format (or code comment) to ignore?

[2015-08-09 00:03] #1052 closed

[2015-08-09 08:30] alxest opened #1059 "How to browse java source files"
I have some scala code using java classes, it compiles well but ensime cannot find its symbol's definition. (to spell out exactly, I use java.util.concurrent._ and want to see definition of ExecutorService, Future, etc)
My original .ensime was like below.
[code]
and I manually downloaded java source code from (http://www.java.net/download/openjdk/jdk7/promoted/b147/openjdk-7-fcs-src-b147-27_jun_20

[2015-08-09 08:34] alxest commented on #1059
Below is my whole .ensime file.
[code]

[2015-08-09 08:40] alxest commented on #1059
Warning messages when I execute "sbt gen-ensime" in commandline.
[code]

[2015-08-09 09:04] alxest opened #1060 "Navigating without full name"
[code]
When I inspect type (by ensime-print-type-at-point in emacs) of IndexedSeq in a2, it gives precisely same as a3 (scala.collection.IndexedSeq).
I can navigate to its definition in a3, (by ensime-edit-definition function in emacs) but I fail in a2.
I think it would be more convenient if I can browse symbol's definition without its full name.
Is it possible in principle? Are there some complex

[2015-08-09 09:24] fommil commented on #1059
What exactly do you mean by "it doesn't work"?

Did you restart the ENSIME server after editing your config file? On first. startup do you see the log message that it is indexing jars? Is Java's rt.jar in that list?

Closing as this is an environmental issue. It definitely does work as we have tests around this. If you can let us know some more info we can help you get the the bottom of it.

[2015-08-09 09:24] #1059 closed

[2015-08-09 09:26] fommil commented on #1060
Hmm, that would imply that type aliases are not working, but we fixed this bug.

Can you please provide a minimal test project on github that displays the bug?

[2015-08-09 09:38] alxest commented on #1059
@fommil
What exactly do you mean by "it doesn't work"?
- It gives me "Sorry, no definition found."
Did you restart the ENSIME server after editing your config file?
- I restarted ensime server.
On first. startup do you see the log message that it is indexing jars? Is Java's rt.jar in that list?
- I submitted startup message below, I don't see "rt.jar" here.
- I found "rt.jar" inside "java-home" di

[2015-08-09 09:39] alxest commented on #1060
@fommil
OK I will try.

[2015-08-09 09:43] alxest commented on #1059
Oops wait a moment please

[2015-08-09 09:48] alxest commented on #1059
- "ensime-inspect-type-at-point" works well.

[2015-08-09 10:06] fommil commented on #1059
You're going the have to give us an example project for this. I'll also investigate the source jar, maybe it's broken.

Most Linux distros provide the source, I'm surprised you need the download a dodgy version. Which distro are you using?

[2015-08-09 12:28] fommil commented on #1059
oh, this is the full source of openjdk, not the classfile sources. You'd need to repackage the sources to be in the format of the `src.zip` that is bundled with JDKs. I recommend just installing via your package manager.

[2015-08-09 12:48] alxest commented on #1059
I should ask server manager to install it tomorrow. Then I will report the result. Thanks for your help!

[2015-08-11 03:23] alxest commented on #1059
@fommil
- I have installed java source files.
- Now auto-generated .ensime file contains java source directory.
[code]
- Warning message on startup ([warn] No Java sources detected in /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.85-2.6.1.2.el7_1.x86_64 (your ENSIME experience will not be as good as it could be.)) is disappeared.
[code]
- However, still java source browsing fails. ("Sorry, no definition f

[2015-08-11 05:36] fommil commented on #1059
The indexing hasn't completed yet according to these logs. Give it a minute and try again.

[2015-08-11 06:12] alxest commented on #1059
@fommil Yes, now it works! Thanks a lot!

[2015-08-11 06:23] fommil commented on #1059
Cool, glad we can still trust our tests :-)

[2015-08-14 10:12] #1006 closed

[2015-08-14 13:06] fommil commented on #930
#1062 is probably going to result in server death when it sees this, so @rorygraves is going to handle the exception. We probably shouldn't be checking that the file exists at all.

[2015-08-14 13:07] fommil commented on #930
(follow the newer stacktrace for more recent line numbers)

[2015-08-14 13:07] rorygraves commented on #930
I'm guessing the typecheck file will include the file contents in this case (as the file does not exist yet) - if it doens't it should fail the request (rather than the server).
Will have a look this evening.

[2015-08-15 01:00] aemoncannon commented on #345
Just an fyi i think i'll take a crack at this soon. My plan is to use the java compiler api to get type checking, then use the AST to power completion. Lookup the qualified type, query our indexer, return the results.

[2015-08-15 09:32] fommil commented on #345
Awesome! It's on my roadmap too but goodness knows when I can get the it. Don't forget to look at netbeans for inspiration.

[2015-08-15 09:53] fommil commented on #345
btw @aemoncannon my plan is

1. scala 2.10 support into the mainline, drop 2.9. I'm starting a new contract in 4 weeks and they use 2.10, I don't expect to ever use 2.9 again (woot!). This shouldn't be too hard but is sort of blocked on drone.io 0.4 being released for matrix builds. The emacs client tests might be tricky too, but maybe we just say that they only matter for 2.11.
2. loose ends in s

[2015-08-15 09:56] fommil commented on #345
actually, somewhat related... I was wondering if we should perhaps have two ensime minor modes in emacs:

* `ensime-project-mode` - for stuff like starting a REPL, search, opening the doc server
* `ensime-scala-mode` - for everything that requires the user to be in a scala file

and I guess, next, `ensime-java-mode`. What do you think?

The alternative is one big `ensime-mode` with lots of `(if (i

[2015-08-15 15:10] aemoncannon commented on #345
@fommil
Your roadmap looks good. I'm still a little apprehensive about performance
regressions with swank-over-websockets, but would love to see all our
network code go away...

I do think having a separate ensime-java-mode is a good idea. Having
separate keymap, documentation, etc would (I'm guessing) help to attract
java devs who don't want to think about scala.
That said, I may be lazy about it

[2015-08-15 15:17] aemoncannon commented on #345
@fommil

Your roadmap looks good.

I do think having a separate ensime-java-mode is a good idea. Having
separate keymap, documentation, etc would (I'm guessing) help to attract
java devs who don't want to think about scala.

That said, I may be lazy about it in the short term...

On Sat, Aug 15, 2015 at 4:56 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-08-15 17:07] fommil commented on #345
Tooling for Android would be really good. In Java land, Spring support is also a natural next stage.

[2015-08-17 13:50] markschaake opened #1063 "Add architecture overview to CONTRIBUTING"
Form a potential contributors perspective, it would be nice if there was an architecture overview to make it less intimidating to approach adding a feature. Specifically, why the SBT build is broken into subprojects and an example of how to thread a new feature through all the necessary layers. Here's an opinion:

Add to the root README a high-level overview of the build breakdown and the role of

[2015-08-17 13:52] markschaake opened #1064 "build should pass with stock sbt launcher script"
I just pulled the latest and ran the tests. Jerk tests failed:

[code]

Here's the perma-link to the source that is failing: https://github.com/ensime/ensime-server/blob/e34e4935c98533ee3c9a3a804650883a7d9bdd9c/jerk/src/main/scala/org/ensime/jerk/JerkFormats.scala#L41

Update (see comments below): this failure occurred for me because I was using the stock SBT launcher script whereas the Ensime pro

[2015-08-17 13:57] fommil commented on #1064
yeah, we've seen a few people with this. It seems to be something to do with the `sbt` that you're using and possibly even Java version. We were unable to reliably reproduce on rory's machine. Try `git clean -fxd` and making sure you're definitely using paulp's script.

I'm guessing you're OS X?

[2015-08-17 14:06] markschaake commented on #1064
I gave paulp's script a shot last week and gave up after it wouldn't even launch the SBT console for me. I just gave it a second chance (with fresh install and also doing the `git clean -fxd` like you suggest):

[code]

Notice it just dumps me back to my zsh prompt after spitting out the warnings.

[2015-08-17 14:08] fommil commented on #1063
the best place for this would be the CONTRIBUTING file. The project is not large enough to require a README per subcomponent. FYI, such an overview is here http://ensime.github.io/talks/scaladays15/#/3/1 with notes in the Architecture section here https://raw.githubusercontent.com/ensime/ensime.github.io/master/talks/scaladays15/scaladays-ensime.org

[2015-08-17 14:11] fommil commented on #888
btw, in Emacs this would be best implemented with `company-quickhelp-mode` https://github.com/expez/company-quickhelp

[2015-08-17 14:12] fommil commented on #1064
what is `sbtp` actually doing? Because it looks like you're passing command line arguments to `sbt`.

[2015-08-17 14:13] fommil commented on #1064
or, do you have an `SBT_OPTS` envar that is being inherited?

[2015-08-17 14:18] markschaake commented on #1064
That must have been it. I removed by `SBT_OPTS` env var and now the launcher seems to work fine.

Is there a plan to stay on paulp's launcher? At work, we are committed to staying on the standard SBT launcher (and pretty much standard everything else). For this reason, I will not be using paulp's launcher as my default (which is why I've installed it as `sbtp` and not `sbt`). I think for an OSS pr

[2015-08-17 14:37] fommil commented on #1064
we're sticking with paulp's launcher because the standard launcher:

1. doesn't allow `.jvmopts`
2. doesn't allow `.sbtopts`
3. doesn't set the Java version correctly

which makes it almost impossible to create reproducible builds.

I would argue that paulp's script is the standard way to invoke the launcher.

Did that fix the jerk tests for you?

[2015-08-17 15:02] markschaake commented on #1064
I don't see it that way. It appears that paulp's script is influencing the future of the "standard" launcher in good ways. But the "standard" in my view (and the view of employers I've had past and present) is whatever is provided by the makers / maintainers of the tool (or what `brew install sbt` or `apt-get install sbt` installs). I believe that a primary goal of the Ensime core maintainers (you

[2015-08-17 15:03] markschaake commented on #1064
I just renamed the issue to better reflect the issue

[2015-08-17 15:16] fommil commented on #1064
just you wait and see what the impact on your "context switch" will be when we show you how to fix this with stock `sbt` :wink: Then maybe you'll see why almost everybody uses paulp's script.

[2015-08-17 15:27] fommil commented on #1064
This works

[code]

I raised https://github.com/sbt/sbt/issues/2161 closing this as upstream bug.

@koshelev had the same problem, so flagging as an FAQ.

[2015-08-17 15:31] fommil commented on #1064
Actually, that's not even enough... you actually need to do this https://github.com/sbt/sbt/issues/2162

[code]

[2015-08-17 15:40] fommil commented on #1064
(or set those settings globally, but since they are typically project specific, you can see why most people prefer paulp's script).

[2015-08-17 16:20] fommil commented on #1064
FAQs are the first linked item from the CONTRIBUTING file, so it meets your criteria of documenting this for new contributors (as that is their first port of call).

[2015-08-17 16:20] #1064 closed

[2015-08-17 16:37] rorygraves commented on #1047
@greenrd - tweaking the DebugManager to be less susceptible to this - PR shortly.

[2015-08-17 19:47] #820 closed

[2015-08-17 19:47] fommil commented on #925
we've not seen this in some time, reopen if you still see it.

[2015-08-17 19:47] #925 closed

[2015-08-17 19:48] #1049 closed

[2015-08-17 19:48] fommil commented on #1049
closing because this is more discussion than bug... did you make any progress?

[2015-08-17 19:49] fommil commented on #949
I've also seen similar things. tracking over at https://github.com/ensime/ensime-emacs/issues/217

[2015-08-17 19:49] #949 closed

[2015-08-17 19:51] fommil commented on #963
tracking under #1047

[2015-08-17 19:51] #963 closed

[2015-08-17 19:52] fommil commented on #930
@greenrd this should be fixed as of today's release. Can you please check?

[2015-08-17 19:52] #930 closed

[2015-08-17 22:59] betehess opened #1065 "emacs frozen right after M-x ensime"
It is "Waiting for connection-info"...

I was having this issue from time to time. I would normally force kill emacs, go back into the project, restart ensime. With the latest update for ensime (today), it systematically freezes right away. I don't think I have anything special in my configuration. I am not sure where to look to provide a better feedback.

<bountysource-plugin>
---
Want to back th

[2015-08-17 23:00] betehess commented on #1065
And Activity Monitor shows that Emacs is stuck at 100% CPU usage.

[2015-08-18 05:54] rorygraves commented on #1065
Hmm sorry about that!,

Can you let me know:

Platform (Windows/Mac etc)
Emacs version.
What is displayed in the inferior-ensime-buffer (assuming you can get to it)

Thanks

[2015-08-18 06:34] fommil commented on #1065
Also, if you can profile where that CPU is would be great. He you have an example project to point us at?

Workaround is the git clone and checkout a version that was working for you, publishLocal and delete the ENSIME classpath cache file in .emacs.d/ensime

[2015-08-18 11:35] hedefalk opened #1066 "Silent server connection fail"
_From @laughedelic on August 17, 2015 17:18_

I think I have this since the last update (no sure).
When I do `Ensime: Start`, the panel appears, but then nothing happens. And in the console there are these error messages:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25900304-silent-server-connection-fail?utm_campaign=plugi

[2015-08-18 11:35] hedefalk commented on #1066
Thanks for reporting!

1) Do you have an .ensime_cache/port file?
2) Is there a ensime-server process on this port?
3) If so, can you see any error message in the .ensime_cache/server.log under your project?

[2015-08-18 11:35] hedefalk commented on #1066
_From @rorygraves on August 17, 2015 19:52_

@hedefalk this could be related to the latest server changes.  Hopefully I haven't broken it!!!

[2015-08-18 11:35] hedefalk commented on #1066
Did cleanLocal and updated server from repo and now get the same:

[code]

[2015-08-18 11:35] hedefalk commented on #1066
Works for me after a `rm -r .ensime_cache`.

@rorygraves Can I take it a server update was made that needed a cleaning out of cache folder?

[2015-08-18 11:35] hedefalk commented on #1066
_From @rorygraves on August 17, 2015 20:51_

@hedefalk Hmm.  Interesting - it appears to believe there was a lock file (the http file showing the port for the websockets client).  You could have got away with removing ```/Users/viktor/dev/projects/ensime-test-project/.ensime_cache/http ```.

I have changed the logic round a bit, but I'm surprised that it stopped it working like that if it had prev

[2015-08-18 11:35] hedefalk commented on #1066
_From @rorygraves on August 17, 2015 21:6_

Btw @hedefalk  Are you using websockets now?

[2015-08-18 11:35] hedefalk commented on #1066
Hm, maybe I had a hard reboot the other day… @laughedelic How about you, can you get the connection up?

And sorry, no, we're still using jerk over swank here. Any cool reason to switch?

[2015-08-18 11:35] hedefalk commented on #1066
_From @rorygraves on August 17, 2015 21:28_

@hedefalk The reason I asked is the latest server changes are fairly strict on message framing - the length should be the number of bytes, not the number of utf-8 characters - see https://github.com/ensime/ensime-emacs/issues/216  Do double check, otherwise you may get wieird parse errors.  (e.g. try the unicode characters for ← and ⇒ in you match state

[2015-08-18 11:35] hedefalk commented on #1066
_From @rorygraves on August 17, 2015 21:29_

Switching to websockets simply means that the message framing problem is handled by the underlying protocol.

[2015-08-18 11:35] hedefalk commented on #1066
@rorygraves Cool. I'll try to do it pretty soon, but the swank protocol seems to work just fine so not top prio for me.

[2015-08-18 11:35] hedefalk commented on #1066
_From @laughedelic on August 18, 2015 11:0_

Hi. I tried to remove `.ensime_cache`, regenerate `.ensime` and start it again. Doesn't help. Here is what I get in the console:
[code]

Here is the content of my `.ensime` and `.ensime_cache/server.log`: [gist](https://gist.github.com/laughedelic/ecd168b4103520558331). And there are no other files in `.ensime_cache/`.

[2015-08-18 11:35] hedefalk commented on #1066
Looks like server chokes on some source-jar and dies?

Shortified stack:

org.ensime.core.Project.<init> -> ensime.indexer.SourceResolver -> ZipFileSystem.init -> org.apache.commons.vfs2.FileSystemException: Invalid relative file name.

[2015-08-18 11:35] hedefalk commented on #1066
@rorygraves I'll move this to server, but feel free to reopen if this is caused by something in Atom client.

[2015-08-18 15:16] fommil commented on #1066
weird "Invalid relative file name"

[2015-08-18 15:17] fommil commented on #1066
could be https://issues.apache.org/jira/browse/VFS-219 ?

[2015-08-18 15:19] fommil commented on #1066
@hedefalk can you please isolate which source jar is causing the trouble? Just do an `unzip -l` on them all and grep for a relative path beginning `../`

[2015-08-18 15:39] fommil commented on #770
the user config would be best implemented as a user-specific `~/.ensime.conf` file using the typesafe config format. We could actually have the fallback behaviour of Project, User, Default and it would be very useful for putting other stuff as well.

[2015-08-18 18:27] hedefalk commented on #1066
@fommil Gonna have to forward to @laughedelic. If the project is something you can share on github I can give it a try.

[2015-08-18 18:29] hedefalk commented on #1066
Ouch, that Apache-ticket is 7 years old :)

[2015-08-18 21:18] betehess commented on #1065
Here are a few more information.

OS X Yosemite 10.10.5. I had installed emacs through homebrew as explained in http://www.emacswiki.org/emacs/EmacsForMacOS.

[code]

The last thing I can see is "Waiting for connection-info". I cannot do anything from there. Is there a place where I can find logs or anything?

Here is how I can systematically reproduce the problem on my machine:

[code]

Then I op

[2015-08-18 21:30] laughedelic commented on #1066
@hedefalk you won't believe me, but now it somehow works.. "_
I wanted to show you the project where it appeared, but then I couldn't reproduce it. I'm not sure what has changed, but if I encounter this problem again, I will let you know.

[2015-08-18 21:31] #1066 closed

[2015-08-18 21:33] fommil commented on #1065
which version of the emacs client are you using? Look in the `.emacs.d/elpa` folder. Update to the latest and try again.

[2015-08-18 21:36] fommil commented on #1065
btw, server logs are in the buffer called `*ensime-inferior-server*`. You can also cancel any emacs hanging by typing `C-g` (this is a standard "exit" command in emacs). If you enable `debug-on-error` and `debug-on-quit` then you'll get some lisp stack traces.

It's definitely not happening for me on Linux.

[2015-08-18 21:37] fommil commented on #1065
actually, the buffer will be called `ENSIME-server-...` for you (because you've copied some config from me :wink:)

I don't advise using `popup-complete-enabled-modes` because we have `company-mode` nowadays. Although I don't think that would be causing a conflict.

[2015-08-18 21:42] fommil commented on #1065
This issue was moved to ensime/ensime-emacs#220

[2015-08-18 21:42] #1065 closed

[2015-08-19 05:32] hedefalk commented on #1066
Great!

[2015-08-19 09:33] fommil opened #1067 "debugger should shut down VMs that it started on failure"

[2015-08-19 09:38] fommil commented on #1047
can you `ensime-update` (in 10 mins) and try this again? Raise a ticket if it still happens.

[2015-08-19 09:38] #1047 closed

[2015-08-19 09:38] #919 closed

[2015-08-19 09:40] #522 closed

[2015-08-19 09:41] fommil commented on #905
`C-c C-d i` inspect value.

[2015-08-19 09:41] #905 closed

[2015-08-19 09:42] fommil commented on #907
is this still happening?

[2015-08-19 09:42] fommil commented on #907
oh, I think we caught all these.

[2015-08-19 09:42] #907 closed

[2015-08-19 09:44] fommil commented on #785
a lot of the actor refactorings should deal with this. We'd need a recent reproduction to be able to say anything.

[2015-08-19 09:44] #785 closed

[2015-08-19 09:46] fommil commented on #1040
I just tried this and it seems to work as expected. If you can reproduce this, please send us an example project and reopen.

[2015-08-19 09:46] #1040 closed

[2015-08-19 09:50] muhmud commented on #905
Sweet! Will try it out so as I can :) 

Sent from my Samsung device

-------- Original message --------
From: Sam Halliday <notifications@github.com>
Date: 19/08/2015  10:41  (GMT+00:00)
To: ensime/ensime-server <ensime-server@noreply.github.com>
Cc: muhmud <muhmud@btinternet.com>
Subject: Re: [ensime-server] Inspecting object when debugging (#905)

C-c C-d i inspect value.

—
Reply to this email

[2015-08-19 12:42] adamchandra commented on #1040
My apologies for such a barebones complaint with no example project. I had this problem for a week or so, then changed a few things in my build.sbt and the problem disappeared. I will try to reproduce it if I can.

[2015-08-20 11:02] fommil opened #1068 "scalariform dies if it doesn't like the input"
we're not handling this error case

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25984049-scalariform-dies-if-it-doesn-t-like-the-input?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-08-20 11:26] hedefalk commented on #1020
Ok, browsing the database I see I have:

net.liftweb.util.ToCssBindPromoter.$hash$greater

but I'm searching for:

net.liftweb.util.ToCssBindPromoter.#>

12:24:23.053 DEBUG None o.e.c.RichPresentationCompiler - using symbol of class scala.reflect.internal.Trees$Select tree
12:24:23.053 DEBUG None o.e.c.RichPresentationCompiler - search: net.liftweb.util.ToCssBindPromoter.#> = None

Don't know exac

[2015-08-20 11:57] hedefalk commented on #1020
Is there any simple way to get the full map of scala class file escapings?

[2015-08-20 12:05] hedefalk commented on #835
@edani Funny. Apparently I never took your comment in, but that's exactly what I realized here: https://github.com/ensime/ensime-server/issues/1020#issuecomment-132981113. These are most definitely dups and I'd suggest closing this one since that other ticket has a better title. I can't seem to find anything about character limit.

[2015-08-20 12:11] fommil commented on #1020
is this maybe a dupe of #635 ?

[2015-08-20 12:13] fommil commented on #1020
aah, no, you're right it's a dupe of #835

[2015-08-20 12:13] #1020 closed

[2015-08-20 12:13] hedefalk commented on #1020
Definitely dupe of #835, but don't know about that one.

[2015-08-20 12:13] fommil commented on #835
related to #635 ?

[2015-08-20 12:15] hedefalk commented on #835
Question: would it be ok to find the mappings of  $hash, $greater, $bang etc. and just translate them before searching db or do we want a greater scope of a fix?

[2015-08-20 12:16] fommil commented on #835
@hedefalk that sounds like a sensible approach. I'm pretty sure I've written this code before.... https://github.com/fommil/lions-share/blob/master/analysis/src/main/scala/com/github/fommil/lion/alloc/domain.scala#L38

[2015-08-20 12:17] fommil commented on #835
btw, this is on the 1.0 milestone which means its on my short-term hitlist. But that's not to say we wouldn't accept a PR on it.

[2015-08-20 12:22] hedefalk commented on #835
Awesome! Still feel a bit intimidated of the server code so I would need some holding hands anyways…

[2015-08-20 12:22] hedefalk commented on #835
Here's the latest NameTransformer from scala: https://github.com/scala/scala/blob/2.11.x/src/library/scala/reflect/NameTransformer.scala

[2015-08-20 15:58] edani commented on #835
I think the right place to do the translation should be here: https://github.com/ensime/ensime-server/blob/ea19d572e94e83a4518713bdb69d75c8b399735e/core/src/main/scala/org/ensime/model/Helpers.scala#L93  for consistency.

As far as doing the translation, going through scala.reflect.internal.Names:  https://github.com/scala/scala/blob/0b47dc2f28c997aed86d6f615da00f48913dd46c/src/reflect/scala/refle

[2015-08-21 02:06] mpollmeier opened #1069 "Ensime-Server crashes on unicode arrow"
This is weired, but reproducible, at least for me: see [minimal sample repo](https://github.com/mpollmeier/ensime-crash-unicode)

As soon as you change the `=>` to the unicode arrow `⇒` in `CrashIt.scala`, ensime crashes with a parboiled error. To reproduce, just clone the above repo, regenerate the .ensime for your environment (e.g. run `sbt gen-ensime`) and start ensime. For me, it fails with th

[2015-08-21 04:52] edani commented on #1069
Is this with the emacs client? This should be fixed by ensime/ensime-emacs#218

[2015-08-21 05:10] mpollmeier commented on #1069
yes that right! updating to the latest melpa fixed it. thank you!

[2015-08-21 05:10] #1069 closed

[2015-08-21 06:28] #835 closed

[2015-08-21 09:39] fommil opened #1071 "at org.ensime.jerk.JerkConversions$fresh$macro$604$1.inst$macro$601(JerkFormats.scala:40) --- i.e. output a minimal stack size in jvm flags"
it seems that the ensime server now requires more stack than the default typesafe sbt config script gives a fresh project. Therefore we'll need to make sure that the `.ensime` config has some java flags that are a bare minimum to start the server.

Doing it in the `.ensime` generation phase means that we solve the problem in one place for all editors.

<bountysource-plugin>
---
Want to back this i

[2015-08-21 09:39] fommil commented on #1071
I should say that the workaround is to add `-Xss2m` to the `:java-flags` in all generated `.ensime`.

[2015-08-21 14:28] hedefalk opened #1072 "No declPos on some methods still…"
I'll try to isolate, but this is using reactivemongo and symbolinfo on insert:
[code]

I get:
[code]

[2015-08-24 08:09] cvogt commented on #425
+1 :)

[2015-08-24 08:11] fommil commented on #425
@cvogt you should know that @tpolecat is putting together a patch to move us to Doobie and he has threatened to look into this :smile: It's also on my personal hitlist soonish.

[2015-08-26 00:44] cvogt commented on #425
@fommil @tpolecat no problem. I like what @tpolecat is doing. I am trying to excite people about type-safe composable queries :), but I also like doobie's free monad. Seems a bite more elaborate than slick's.

[2015-08-26 01:51] tpolecat commented on #425
I should have more time to work on this next month.

[2015-08-26 05:52] fommil commented on #425
I don't really like the scalaz functional style because I find it confuses more than helps, plus is a massive source of object creation / GC overhead. However, in this instance, the benefit is moving away from Slick (which I've now labeled as dirty until FreeSlick is ready) and getting back to raw SQL queries, which were causing compiler warnings in Slick. Hopefully @tpolecat can show us why free

[2015-08-26 08:11] fommil commented on #425
although it is pretty awesome that we now have two of the Scala community's top DB contributors able to help on this :grinning: so whatever happens I'm sure we'll have a rock solid implementation.

Is there any chance of an NIO implementation of the JDBC driver for H2?

[2015-08-26 08:23] jmglov commented on #859
Thanks for this thread! I made exactly the same mistake... missing shebang. To be fair, the sbt setup instructions really should include the shebang in the script.

[2015-08-26 08:46] jmglov opened #1074 "Error running timer ensime-idle-typecheck-function"
When I run `ensime` in a Scala file to start the server, I get the following error message in my minibuffer:

[code]

Here's my package info:

[code]

And here's my `.ensime` from my project directory:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26193038-error-running-timer-ensime-idle-typecheck-function?utm_campaign=plug

[2015-08-26 09:15] fommil commented on #1074
This issue was moved to ensime/ensime-emacs#226

[2015-08-26 09:15] #1074 closed

[2015-08-27 12:59] hedefalk opened #1075 "higher order type param lost when using type alias"
Reported by @d6y on https://gitter.im/ensime/ensime-atom

Hover on EitherT:
<img width="424" alt="screen shot 2015-08-27 at 14 55 06" src="https://cloud.githubusercontent.com/assets/116520/9520931/a61673c6-4ccb-11e5-87cc-5c41c7b588b0.png">

Hover on Result:
<img width="372" alt="screen shot 2015-08-27 at 14 57 21" src="https://cloud.githubusercontent.com/assets/116520/9520970/f50bd098-4ccb-11e5-86

[2015-08-27 13:00] hedefalk commented on #1075
For reference, just scalaz:

[code]

[2015-08-27 13:20] fommil commented on #1075
is this a dupe of #635 ?

[2015-08-27 13:21] fommil commented on #1075
(if not, it's probably a bug in the presentation compiler)

[2015-08-27 13:25] fommil opened #1076 "scala tool to add the type on public methods and vals"
_From @fommil on July 8, 2014 9:31_

_Copied from original issue: fommil/dotfiles#37_

[2015-08-27 15:46] hedefalk commented on #1075
I'll probably install eclipse anyways for reference so i can check if the
same in scala-ide.

tor 27 aug 2015 15:21 Sam Halliday <notifications@github.com> skrev:

[2015-08-27 15:51] hedefalk commented on #1075
Eclipse:

<img width="384" alt="screen shot 2015-08-27 at 17 45 52" src="https://cloud.githubusercontent.com/assets/116520/9525378/2daf78ba-4ce4-11e5-99f4-0a9c3ec02d4f.png">

[2015-08-27 15:58] hedefalk commented on #1075
Idea doesn't even try :)

[2015-08-27 16:04] fommil commented on #1075
ok, well if it works for `scala-ide` then it is a bug in ensime (or they have a horrible hack to workaround it that we should pinch). I suspect this is a dupe of 635 though.

[2015-08-27 16:11] hedefalk commented on #1075
I think the Eclipse one is actually a lot worse. It shows a self
referencing type declaration no?

On Thu, Aug 27, 2015 at 6:05 PM Sam Halliday <notifications@github.com>
wrote:

[2015-08-27 16:45] fommil commented on #1075
ah! Good point

[2015-08-28 08:09] fommil commented on #521
dupe of #988

[2015-08-28 08:09] #521 closed

[2015-08-28 08:23] fommil opened #1077 "delay presentation compiler restarts with source loading"
Just an idea to kick the tires with @dickwall I think there is an old ticket with this in it somewhere.

The problem (as I understand it) is that the presentation compiler starts to misbehave when classfiles underneath it disappear due to incremental compilation. It would be good if we could find the source files associated to the classes that disappear and silently load them into the presentation

[2015-08-28 08:28] fommil commented on #669
This issue was moved to ensime/ensime-sbt#88

[2015-08-28 08:28] #669 closed

[2015-08-28 08:28] fommil commented on #801
This issue was moved to ensime/ensime-sbt#89

[2015-08-28 08:28] #801 closed

[2015-08-28 08:28] fommil commented on #1050
This issue was moved to ensime/ensime-sbt#90

[2015-08-28 08:28] #1050 closed

[2015-08-28 08:29] fommil commented on #1071
This issue was moved to ensime/ensime-sbt#91

[2015-08-28 08:29] #1071 closed

[2015-08-29 19:06] edani commented on #1015
Fixed in #1061

[2015-08-29 19:06] #1015 closed

[2015-08-29 19:08] edani commented on #492
I don't know if this is fixed for good, but #1058 probably made this better.

[2015-08-30 08:11] #1056 closed

[2015-08-31 16:33] aemoncannon commented on #345
FYI little progress on this. Will have PR soon

On Sat, Aug 15, 2015, 12:07 PM Sam Halliday <notifications@github.com>
wrote:

[2015-08-31 17:59] fommil commented on #345
Any progress at all is fantastic. I'm almost done with the Scala 2.10 stuff.

[2015-08-31 22:11] fommil opened #1080 "use stronger compiler flags in our build"
https://tpolecat.github.io/2014/04/11/scalac-flags.html

https://github.com/non/cats/blob/master/build.sbt#L244

[2015-08-31 22:22] fommil commented on #345
looks like dev has picked up on https://github.com/jdee-emacs/jdee so I wonder how much we can share. I think they use the Eclipse compile tree, which I'm very keen to avoid.

[2015-09-01 01:10] aemoncannon commented on #345
cool cool

On Mon, Aug 31, 2015 at 5:22 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-09-01 03:12] geowa4 opened #1081 "[vim] Cannot make bridge file on OS X"
When running ensime-vim with either vim or neovim, I get the following error.

[code]

Looking through the code, I'm not sure why it would do that. Let me know if you'd like me to do anything to help identify and fix the issue.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26350231-vim-cannot-make-bridge-file-on-os-x?utm_campaign=p

[2015-09-01 03:24] nafg commented on #1064
The default launcher does support .sbtopts

[2015-09-01 07:03] paulp commented on #1064
The history has become understandably muddled in the minds of most, so allow me to clarify a few matters. When I called it "an alternative script for running sbt", it was an alternative to a one-line /bin/sh wrapper which invoked java, not to sbt-launcher-package's, which didn't and couldn't exist yet.

What is now being called the "standard" launcher was created by copying mine and tweaking it. [

[2015-09-01 07:16] fommil commented on #1081
I think you meant the report this on the Vim tracker. I'm on a train now, so I can't easily move it. Can you recreate there?

[2015-09-01 07:16] #1081 closed

[2015-09-01 08:44] fommil opened #1082 "active client count is dubious"
seen in https://github.com/ensime/ensime-emacs/issues/230

if a message hits a deserialisation problem, the connection is ended, but a reconnection says there are two active connections. @rorygraves

[2015-09-01 12:36] geowa4 commented on #1081
No, I wanted to do that, but I cannot create issues in ensime-vim.
<img width="198" alt="screen shot 2015-09-01 at 08 35 00" src="https://cloud.githubusercontent.com/assets/136390/9604263/75050a1a-5084-11e5-9873-117facbcfc06.png">

[2015-09-01 12:44] fommil commented on #1081
aah, ok, enabled now. I don't know why that was disabled.

[2015-09-02 10:51] fommil opened #1083 "2.10 OffsetPosition.start"
Happens a lot in 2.10 code.

I think fundamentally we're going to have to ban use of `.start` and `.end` because it breaks in 2.10, and only use the `endOrCursor` variants.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26385015-2-10-offsetposition-start?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_

[2015-09-02 10:52] fommil commented on #1083
(if it was possible to override the `.start` and `.end` methods with a pimp in 2.10 that'd fix this)

[2015-09-02 16:51] #1083 closed

[2015-09-02 22:14] fommil opened #1084 "upgrade to drone 0.4"
its finally released! but apparently not backwards compatible at all http://readme.drone.io/docs/build/#/overview.md so some time needed on each project

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26402732-upgrade-to-drone-0-4?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounti

[2015-09-03 12:38] fommil commented on #1084
ok, this is coming along nicely apart from one little thing... all builds are being reported green blocked on https://github.com/drone/drone/issues/1182

[2015-09-03 21:11] rorygraves opened #1086 "Implement more refactorings"
So much goodness - https://github.com/scala-ide/scala-refactoring/tree/master/src/main/scala/scala/tools/refactoring/implementations

[2015-09-04 21:40] fommil commented on #1084
ok, it's all good, but now the only outstanding issue is https://github.com/drone/drone/issues/1187 and that means we don't get rolling release auto deploys. But it sounds like they are on it and will be available again within a week.

[2015-09-07 02:19] KeenS opened #1087 "ensime server crashes with NoSuchMethodError soon after starting"
When I start ensime from Emacs with `M-x ensime`, I get "Server connection closed unexpectedly: connection broken by remote peer" and `*inferior-ensime-server-project-name*` declaims that

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26493425-ensime-server-crashes-with-nosuchmethoderror-soon-after-starting?utm_campa

[2015-09-07 08:29] fommil commented on #1087
This is a dupe. I'm on a phone now and can't navigate easily but have a look under the 1.0 milestone. Upgrade Scala.

[2015-09-07 08:29] #1087 closed

[2015-09-07 08:36] KeenS commented on #1087
I see. Then please mention least scala version in README

[2015-09-07 09:36] fommil commented on #1087
Feel free to update https://github.com/ensime/ensime-emacs/wiki/Quick-Start-Guide or a PR to support the oldest Scala on each minor release (including updating the build matrix).

[2015-09-07 15:58] fommil commented on #1087
@KeenS the change you made wasn't quite right, we do still support scala 2.10. I've reverted and updated your suggested change.

[2015-09-08 00:29] KeenS commented on #1087
@fommil Thank you for your kind support.l

[2015-09-09 21:04] ambantis opened #1088 "Sorry, no definition found"
when I'm in a project and call `ensime-edit-definition` from emacs, I receive the message "Sorry, no definition found". The issue seems to be that the source jar in question has a single directory that represents two packages, dot separated. If I unpack the source jar and change it so that each package is represented by a separate directory, then ensime is able to take me to the source file.

When

[2015-09-09 22:07] fommil commented on #1088
can you please create a standalone minimal project on github which demonstrates the problem? It's next to impossible to interpret the logs without knowing what your project looks like. (Also, can you please create a fresh ticket over at `ensime-emacs`? Link back to this one for posterity)

[2015-09-10 07:52] rorygraves opened #1089 "Improve error messages on class watcher errors"
An unwrapped NPE during actor initialisation is not very helpful, we should

http://pastebin.com/sqkimp9w

a) move it to a post create step.
b) Catch the raw exception and provide details of files etc.

[2015-09-10 09:27] fommil commented on #1084
publishing is now working again! But we're waiting for a 0.4 update to reenable all the nodes, at the moment only my box is being used (one run at a time).

[2015-09-10 09:27] #1084 closed

[2015-09-10 10:12] fommil commented on #1088
more details in the attached ticket. It looks like there is something funky going on with the FQN renaming. The type-at-point info returns `com.github.sstone.amqp.Amqp$$Publish` but the search is activated for `com.github.sstone.amqp.Amqp$Publish$`

the class files are named

[code]

and live in

[code]

[2015-09-10 10:12] fommil commented on #1088
oh, hold on, I see the bug... `sstone` has named a directory package with a dot in it. We don't support that. This is an upstream bug.

[2015-09-10 10:12] #1088 closed

[2015-09-10 10:22] rorygraves commented on #1088
This feels like something that is either in the jar spec (our bug) or not in it (packaging bug), but I am unable to find a decent spec for it

[2015-09-10 13:03] fommil commented on #1088
I wish Scala compiler was stricter about this stuff.

[2015-09-10 14:18] ambantis commented on #1088
that's precisely the point, the compiler and intellij idea (code navigation) won't tell the user, "there's a problem with this jar", so the user must fix the problem him/herself or use another tool that is more forgiving or live without code navigation to some source code.

[2015-09-10 19:01] fommil commented on #1088
And how exactly do you propose that we detect that there is a problem with the jar?

[2015-09-10 21:15] ambantis commented on #1088
as you can see from the screen prints below, IntelliJ IDEA just works but Eclipse does not (I'm trying to migrate from idea to emacs for scala development work).

From Eclipse, if I attach sources from the original jar, I get a message that attaching the sources did not work. If I "fix" the sources jar, it does import successfully.

So, I don't know, you could just post something in the FAQ in cas

[2015-09-10 21:32] fommil commented on #1088
Given that the author of the broken library in going to fix this, and it all stems from there, I don't believe there is any more for us to do here. We could make the source resolver arbitrarily complex but what we have works for the overwhelming majority of conventions - we expect sources to be in a directory that is either the Java enforced convention or a parent thereof (Scala module definitions

[2015-09-10 21:34] fommil commented on #1088
BTW, if you want to investigate further for your own interests, look at the SourceResolver.scala file.

[2015-09-10 21:39] fommil commented on #1088
Actually I wonder if the last line being changed to forward slash or dot would fix this.

[2015-09-12 09:13] fommil opened #1091 "get coveralls working again"
https://github.com/scoverage/sbt-coveralls/issues/60

[2015-09-13 06:21] ldeck opened #1093 "push ensime-maven-plugin to maven central"
ensime-maven-plugin doesn't appear to be published to any maven repositories.
Please look to push to either maven central (both releases / snapshots) and/or sonatype.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26647926-push-ensime-maven-plugin-to-maven-central?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&ut

[2015-09-13 08:22] fommil commented on #1093
Can you put it on the maven plugin tracker please

[2015-09-13 08:22] #1093 closed

[2015-09-14 18:41] #997 closed

[2015-09-14 21:13] fommil opened #1095 "publish assembled jars"
it would be really nice if we could publish assembled jar files somewhere that can be reached behind most corporate firewalls. Currently the jars come in at about 80MB for each exact version of scala, which is a bit excessive to put up on sonatype (which, in any case, is typically firewalled).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-09-15 15:59] gregghz opened #1096 "org.apache.commons.vfs2.FileSystemException: Invalid relative file name."
https://github.com/lucidsoftware/relate

I've run `gen-ensime` on this project, but from within emacs when I `M-x ensime`, I get the following error in the `*inferior-ensime-server-root*` buffer:

[code]

Here's my `.ensime` file:

[code]

Clearing both `.ensime` and `.ensime_cache` doesn't improve the situation.

I attempted to build/run my own ensime-server in an effort to get more debug info, b

[2015-09-15 16:33] greenrd opened #1097 "Organize imports refactoring removes a needed import"
I had `import spray.routing.Route` as one of my import lines, and it was removed, even though there was a reference to `Route` in the code.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26705950-organize-imports-refactoring-removes-a-needed-import?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)

[2015-09-15 18:31] fommil commented on #1097
I think that is an upstream bug with scala-refactoring lib. It's notoriously bad, especially if you have macros and compiler plugins anywhere near. Let me know if you'd can't find their repo on github. Actually, we should see if it is possible to upgrade.

[2015-09-15 18:31] #1097 closed

[2015-09-15 18:32] fommil commented on #1096
@cvogt recently did something in this area. Are you using ammonite by any chance? It exposes a bug in SBT.

[2015-09-15 18:32] #1096 closed

[2015-09-15 18:33] fommil commented on #1096
BTW, don't worry about the assembly instructions I haven't merged that branch yet. Use my branch in PR.

[2015-09-15 18:35] cvogt commented on #1096
here is the related error message improvement for ensime server: https://github.com/ensime/ensime-server/pull/1092

and here is the fix for ammonite: https://github.com/lihaoyi/Ammonite/issues/227

the bug is really in ammonite, but sbt doesn't catch it, which can be considered a bug as well.

[2015-09-15 18:49] gregghz commented on #1096
yep, using Ammonite.

[2015-09-15 19:53] cvogt commented on #1096
@gregghz then switch to 0.4.6 or 0.4.8 once it is out. be aware that 0.4.6 has a limitation or bug if you will that throws a NoSuchDirectory exception when using rm in certain cases, so consider 0.4.5. With those ensime should work fine

[2015-09-15 21:04] fommil commented on #1096
@gregghz for now, if you want to run your own server, do an `sbt publishLocal`. This will change very soon... just need to get my PR to pass the tests!

[2015-09-16 15:32] gregghz commented on #1096
@cvogt I get this error now if I switch to ammonite 0.4.5:

[code]

[2015-09-17 18:11] aemoncannon commented on #345
Quick update: porting a few things over to the netbeans wrappers. That PR
still on the way...

On Mon, Aug 31, 2015 at 8:10 PM, Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-09-17 21:18] fommil commented on #345
:-)

[2015-09-20 10:39] fommil opened #1098 "minimise dependency list"
minimise the dependency list of the server binary (not so important for tests), especially of scala library dependencies.

This will make it easier for corporates to on-board and continue to use recent versions of the ensime server.

some initial ideas: re-implement the bits of pimpathon that we use as a utils module, pick one of guava or apache io/commons (although this isn't so important because

[2015-09-21 04:38] edani commented on #1041
It's working for me. It may have been fixed by #1058

[2015-09-21 06:08] #1041 closed

[2015-09-21 18:38] greenrd opened #1099 "Server dies after hitting breakpoint in debugger"
It's our old friend `com.sun.jdi.AbsentInformationException: null`

[code]

[2015-09-21 23:45] fommil commented on #1099
Oh joy

[2015-09-21 23:46] fommil commented on #1099
Actually looks like a SWANK thing

[2015-09-22 12:49] rorygraves commented on #1099
So there are two issues here:

1) Why is emacs sending ```org.ensime.server.protocol.swank.SwankRPCFormatException: Invalid rpc request (swank:debug-value nil)``` this should not happen
2) If ```DebugLocateNameReq(DebugThreadId(1355),headers)``` returns no values its probably not an error worthy of a stacktrace - need to investigate the behaviour there.

[2015-09-22 18:27] fommil opened #1100 "Error when running ensime-edit-definition in an ensime-inspect-type-at-point buffer."
_From @reactormonk on September 22, 2015 12:32_

I ran `ensime-inspect-type-at-point`, when through a reference there to a case class, then ran ensime-edit-definition on the definition of the case class. Ensime crashed with the following error:

https://gist.github.com/b972b357270fd6d0a2d4

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2015-09-22 18:27] fommil commented on #1100
Sorry there is really nothing we can do unless you give us an example project with instructions to reproduce.

[2015-09-22 18:27] fommil commented on #1100
_From @reactormonk on September 22, 2015 16:18_

Use the [scalaz](https://github.com/scalaz/scalaz) sources, go to `core/src/main/scala/scalaz/Alpha.scala`, put the cursor at

      case object |A extends Alpha {

Go for `C-c C-v i`, put the cursor at

    object
    scalaz.Alpha|$$A$

and hit `M-.`.

[2015-09-22 18:27] fommil commented on #1100
OK, looks like a server bug. Can you please move this ticket to ensime-server? There is a website that can do it.

[2015-09-22 18:27] fommil commented on #1100
_From @reactormonk on September 22, 2015 17:45_

I think you'll need permission to the repos to do it effectively. https://github-issue-mover.appspot.com/

[2015-09-22 19:01] fommil opened #1101 "publish only a "sumo jar""
i.e. bundle all our module together into one jar, which should make the continuous release a lot faster for end users (and easier for corporates to on-board).

@dwijnand @non how does one do this? I can't find anything about this on google.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26876044-publish-only-a-sumo-jar?utm_campaign=

[2015-09-22 19:36] fommil commented on #1100
oh, I'm silly. This is an emacs bug afterall. I'll reopen the original.

[2015-09-22 19:36] #1100 closed

[2015-09-22 19:38] fommil commented on #1099
@rorygraves I think we should be much more forgiving of these sorts of marshalling errors and not kill the connection. Same with presentation compiler blow-ups... the nuclear option is a bit nasty. Especially since I can't track continuous release at work :-(

[2015-09-22 19:53] aemoncannon commented on #1099
+1

On Tue, Sep 22, 2015 at 2:38 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-09-24 09:53] dwijnand commented on #1101
One project that I know does (or did) this is specs2 (specs2-all.jar I think), so I would look there, hopefully it's straightforward and not a bunch of dir/file path hacked together.

[2015-09-26 18:18] aemoncannon opened #1102 "SExpress parsing very very slow?"
Would someone try to reproduce this experiment?

* Modify the CompletionsReq rpc handler in Analyzer.scala so that it returns a trivial, empty result.
* Modify ensime-idle-typecheck-function (in ensime-startup.el) to do nothing.
* Boot up ensime.
* Type a string of gibberish

I see the queue of rpcs grow rapidly, wait for several seconds then sloowwlly drain. Something is wacky.
My CPU spikes to 1

[2015-09-26 18:20] aemoncannon commented on #1102
That image was sorted by 'Own Time'. Here's by time:
![image](https://cloud.githubusercontent.com/assets/7484/10119076/3d2e87c0-6451-11e5-8cb4-914526c386e0.png)

Are we Thread.sleeping somewhere?? I'm confused.

[2015-09-26 18:35] aemoncannon commented on #1102
Hotspots view:
![image](https://cloud.githubusercontent.com/assets/7484/10119149/72f8b630-6453-11e5-9545-48efe8d8043b.png)

[2015-09-26 18:46] aemoncannon commented on #1102
Server log. Note: nothing but Completion requests with empty results. Also note: many seconds passing

13:43:21.170 DEBUG akka://ENSIME/user/ensime-main/tcp-server/con1/46 o.e.s.RequestHandler - CompletionsReq(SourceFileInfo(/Users/aemoncannon/projects/ensime-server/core/src/main/java/org/ensime/core/javac/TreeUtilities.java,Some(...),None),7815,1000000,false,true)
13:43:21.170 DEBUG akka://ENSIME

[2015-09-26 18:46] aemoncannon commented on #1102
Ohhhhhh.
Duh.
I forgot were sending the *entire fucking file* in the request.
Still, this is way too slow.

[2015-09-26 19:04] aemoncannon commented on #1102
I'm going to try the 'write to temp file and read in server' strategy (which we already support) and see if it scales better for this source file. By the way, the file is only 1000 lines. The problem is that we're shoving 1000 lines through a parser that is carefully scrutinizing each character, looking for escapes and delimiters.

[2015-09-26 19:08] aemoncannon commented on #1102
Then again, the scala compiler has to do that, anyway. Hmm. Maybe parboiled is just really slow?

[2015-09-26 19:09] rorygraves commented on #1102
Cool analysis - we might be missing some parsing tuning in parboiled.

[2015-09-26 19:09] aemoncannon commented on #1102
Will ping back with result of experiment. Apologies for getting so worked up. Performance regressions make me sad : (

[2015-09-26 19:09] rorygraves commented on #1102
No need to apologise this is important stuff.

[2015-09-26 19:16] fommil commented on #1102
Uugg, that sucks. I have an open ticket under "loose ends" for sexpress that might capture this. That said, @sirthius did rewrite spray-json to be zero dependency AND were on the old version of parboiled. An upgrade to parboiled2 might be fruitful. If you could create a good test case, it'd make my job of tying up the loose ends a lot easier (this will be my priority after I manage to onboard ENSI

[2015-09-26 19:22] fommil commented on #1102
(Priority is because this is all related to my scalax talk in Dec. Actually for ENSIME, everything under the 1.0 milestone is what I'd rather work on)

[2015-09-26 19:23] aemoncannon commented on #1102
Enjoy your holiday!

I did the write-to-temp-file experiment and it did the trick. Queue doesn't grow at all (for no op requests) which is what we want. I'll probably push a PR to make that change for emacs, as it seems to be a nice 'feel' improvement for big files.

[2015-09-26 19:24] fommil commented on #1102
@rorygraves what are your thoughts on temp files for comms? I'm actually OK with it, and I'd like us to move towards a .diff approach for refactorings, which lends itself well to temp files.

[2015-09-26 19:25] aemoncannon commented on #1102
Couple random ideas:
* maybe have support for a fixed-length buffer syntax in reader.
* or, a 'channel' id, and we write the file to the channel socket concurrently, where the server will hold it until the id is requested. I think SLIME has something like this.

Honestly writing to temp file doesn't bother me so much.

[2015-09-26 19:26] fommil commented on #1102
:+1: for writing to files. I'll fix the perf issue for the wire protocol when I come back. How does jerky handle it? Good or merely better?

[2015-09-26 19:56] rorygraves commented on #1102
I'm ok with temp file writing as a quick fix, - esp as we already support it.
We should fix the parser as asap.  Interesting about the channel concept.

[2015-09-27 18:41] sirthias commented on #1102
Without having looked any deeper into the source of the problem here I can say that a potential upgrade from parboiled 1 to parboiled 2 would give you a roughly 10-fold parsing performance increase.
How complex is the parser?

[2015-09-27 18:58] rorygraves commented on #1102
Parser is here - https://github.com/ensime/ensime-server/blob/master/sexpress/src/main/scala/org/ensime/sexp/SexpParser.scala

I don't think its complex - will try and update it to parboiled 2 in the next few days

[2015-09-28 08:08] fommil commented on #1101
turns out these are mythical beasts. Shame, would have been awesome!

[2015-09-28 08:08] #1101 closed

[2015-09-28 08:23] dwijnand commented on #1101
Fwiw I'll add it to my todo list. Perhaps one day it'll be a plugin.

On Mon, 28 Sep 2015 09:08 Sam Halliday <notifications@github.com> wrote:

[2015-09-28 09:13] sirthias commented on #1102
Yes, this looks very doable in parboiled 2.
You should see a very nice speedup from the migration.
Let me know if you need support with the migration!
Also, ping me when you are done. I'll have a quick look over your implementation and maybe suggest a few more perf tweaks...

[2015-09-28 09:36] rorygraves commented on #1102
@sirthias Thanks for the offer - I will be sure to take you up on it :smiley:

[2015-09-28 12:54] fommil opened #1103 "upgrade to latest scala-refactoring"
they changed their artefact name, so we missed it

  http://search.maven.org/#search%7Cga%7C1%7Cscala-refactoring

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27000727-upgrade-to-latest-scala-refactoring?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-09-28 15:24] fommil commented on #1095
this is now working in CI. Thank you so much @larsrh for donating the space, and dealing with my fat fingers that managed to publicly publish our (now revoked) private key :smile:

[2015-09-28 15:24] #1095 closed

[2015-09-29 02:19] fommil opened #1105 "remove debug launcher, only attach"
@rorygraves I started some work on this in this branch https://github.com/fommil/ensime-server/tree/debug_attach it is very nearly ready to be used. Basically we're saying we only support attach mode debugging sessions. However, we still need a way to launch JVMs in the tests, so I've been trying to get the java `Process` stuff to work, but it is pretty flakey (no ephemeral ports, and I keep seein

[2015-09-29 17:33] aemoncannon commented on #1105
Do we need to remove the debug-start support entirely? It might be a nice
backdoor to have for people without build support for launching in debug
mode...

On Mon, Sep 28, 2015 at 9:19 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-09-29 18:14] fommil commented on #1105
We could keep it if you think someone's going to use it, but I'm always keen to remove functionality that nobody is using. It probably just depends on how the future of the debugging support goes: I seen a few people chatting on the gitter channel about some ideas that had in that area.

[2015-09-29 19:20] rorygraves commented on #1105
Ok, I've been thinking about this - especially with respect to the ongoing stuff in the gitter channel as well - (I'm going to do a more detailed writeup there) - but I think we should actually support both modes (in the server side) but potentially disable the Ensime launch command within emacs.  There is at least one major bug with source mapping within the debugger at the moment that exists in

[2015-09-30 10:34] dakrone commented on #345
@aemoncannon looking forward to this! @fommil I'm confused about the bounty for this, it looks like there was a $250 bounty but it has already been paid out?

[2015-10-01 00:25] fommil commented on #345
@dakrone yeah we removed the bounties and put them into a slush fund because it was the same people creating the bounties who were closing the tickets.

[2015-10-01 15:11] aemoncannon commented on #345
Quick update: Typechecking and type-at-point working pretty well. Working
on rough support for doc-at-point then PR.

@fommil For completion, we're going to need a search query like "select all
public methods for this fqn (including inherited)"  -- do we have that?

On Wed, Sep 30, 2015 at 7:25 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-10-01 23:28] fommil commented on #345
We can relating create one, the inherited bit will require some SQL wizardry but the data should all be there.

[2015-10-04 19:15] eklavya commented on #913
I used to have a .emacs snippet that enables completion on tab without having to write first two characters. I lost it. Can someone please tell me how to set that up again?

[2015-10-05 19:59] #1029 closed

[2015-10-06 05:58] Hiroyuki-Nagata commented on #1087
I reproduced this issue in my environment. Error log is same as this.
Could anyone tell me why this error occurred ?
Any suggestion for resolving this problem ?

[2015-10-06 07:37] Hiroyuki-Nagata opened #1111 "Shutting down ActorSystem unexpectedly when emacs open some scala files."
Probably related with #944

I doubt SNAPSHOT build ensime brought by `ensime-update` caused it.

* Environment
[code]

* Log
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27193522-shutting-down-actorsystem-unexpectedly-when-emacs-open-some-scala-files?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_sou

[2015-10-06 08:04] rorygraves commented on #1111
Did you do the snapshot build on a different version of scala to to the one your project is using?
[code]

[2015-10-07 02:11] Hiroyuki-Nagata commented on #1111
Thanks @rorygraves
It seems this issue depends on Scala version of target project.
This was happened in a case of `Scala : version 2.10.2`, but not happened `Scala : version 2.10.4`.

[2015-10-09 06:09] ajknoll commented on #970
I'm getting the above stacktrace consistently as well.

[2015-10-09 16:23] fommil commented on #1111
Yes, sorry we were not aware of that version restriction. OK to close based on Scala version? If support for older Scala 2.10 is needed we might be able to do something. Can somebody please update the wiki version requirements if we don't plan to fix?

[2015-10-09 16:23] #1111 closed

[2015-10-09 23:02] diego-alvarez-hs commented on #1036
@fommil Can you point me in the right direction to customize/hide the green dot?

[2015-10-10 00:03] fommil commented on #1036
Look for the ENSIME overlays.

[2015-10-10 01:21] aemoncannon commented on #1036
+1 for not having both forms of deco by default.

On Fri, Oct 9, 2015 at 7:03 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-10-10 21:02] fommil commented on #809
Probably the best thing you can do is create a minimal integration test that fails (in core) and then work back from there.

[2015-10-12 10:49] rorygraves opened #1112 "SExp parser failure in test"
ScalaCheck detected a round-tripping issue:
[code]

[2015-10-12 10:50] rorygraves commented on #1112
Assigned this to myself as I'm switching the parser to parboiled 2

[2015-10-12 12:41] fommil commented on #1112
This is a dupe I think. Check the loose ends ticket in 1.0

[2015-10-12 12:41] fommil commented on #1112
Trigger it more regularly by updating scalacheck

[2015-10-12 20:22] d1egoaz commented on #1036
Tks @fommil

I found the way to hide/change underline color of implicit parameters. It's in the wiki :smile:
https://github.com/ensime/ensime-emacs/wiki/Editing#semantic-highlighting

but there's a issue with the example code, I fixed it in:
https://github.com/ensime/ensime-emacs/issues/260

So, if you want to change the underline color:

[code]

if you want to hide it:
[code]

I don't know if we

[2015-10-12 21:04] fommil commented on #1036
Yeah the sem faces require a full redefine

[2015-10-19 21:11] #959 closed

[2015-10-21 18:00] dakrone commented on #345
@aemoncannon anything I can do to help with testing this?

[2015-10-21 20:53] fommil commented on #345
@dakrone yes! Aemon has a PR open which should work for you. Follow the instructions on the wiki for running from source builds and let us know how you get on with some projects, ideally on github. We might need to look at upgrading the maven plugin to make sure it all works well. Mixed Scala/Java projects with SBT will be easier to test. (Akka comes to mind)

[2015-10-21 20:57] aemoncannon commented on #345
@dakrone
You'll want to grab my PRs for ensime-server and for ensime-emacs

On Wed, Oct 21, 2015 at 3:53 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-10-22 14:42] jasonzoladz opened #1113 "Hangs Emacs on 'waiting on connection info...' both mac and ubuntu"
On atom, ensime works fine.  But it's broken for Emacs -- at least for simple projects.

Minimal reproduce (ubuntu: Emacs 24.4; mac: Emacs 24.5)
- create a new sbt project by hand with a bare-minimum build.sbt
- create one scala package with a single "hello world" object
- `sbt compile`
- `sbt gen-ensime`
- open the "hello world" file
- start ensime

Emacs is rendered unresponsive.  `xkill`

I've

[2015-10-22 17:24] #1113 closed

[2015-10-23 10:40] fommil opened #1114 "get drone working again"
@rorygraves @aemoncannon @edani our build/publishing should be back up again

[2015-10-23 10:40] #1114 closed

[2015-10-23 10:41] fommil commented on #1114
btw, if any of you want the unencrypted version of the `.drone.sec` file, just email me a public gnupg key.

[2015-10-23 16:10] fommil opened #1115 "set up github autoresponder"
it would be good if we had a github auto responder that basically responded to all new tickets with a polite reminder of everything in `CONTRIBUTING.md`:

* check FAQ
* check latest tickets
* if this is a bug, provide reproducible test case in form of github project

no such (easily found) third party service exists, so this might mean coding up a small standalone spray or akka-http app to do the

[2015-10-23 17:43] fommil commented on #1042
@aemoncannon we could use this as a general catch all for the upstream bugs/perfomance problems against VFS2

[2015-10-23 20:11] SethTisue commented on #1115
you might take a look at https://github.com/scala/scabot and see what you can raid. it's a little Akka app that handles similar duties in the scala/scala repo. at minimum, the part of the code that talks to the GitHub API would be useful, I think.

lots of other projects, even within Typesafe & EPFL, have similar things — if there's been any unification effort on this, I'm unaware of it

[2015-10-23 20:47] fommil commented on #1115
great! Although I know zero play, so this might be impenetrable for me. I'll try to learn as much from it as I can.

[2015-10-23 21:57] SethTisue commented on #1115
you're unlikely to bump your head on any Play code; the Play stuff is late addition and is only there to support an experimental web UI that doesn't have much to do with the rest of the code. communication with GitHub is done with Spray.

[2015-10-23 22:01] SethTisue commented on #1115
(it makes only light use of Play API's, so you probably won't bump your head there)

[2015-10-24 13:01] fommil opened #1116 "add tools.jar sources to the updateClassifiers report"
which will make it a lot easier to hack on the Java Compile Tree API. Sources of the JDK are not distributed with the JDK, so you have to download (fixed snapshots) from http://download.java.net/openjdk/jdk8/ and then go into the `langtools/src/classes` directory and zip up the sources.

I expect that opt-in ENSIME developers would set an environment variable like `JDK_TOOLS_SRC` to point at their

[2015-10-24 13:07] fommil commented on #1116
as a workaround, manually add the relevant tools source zip to the `:reference-source-roots` of `.ensime`

[2015-10-24 15:06] fommil opened #1117 "SearchService vs Indexer, pick one!"
its just confusing having two interfaces for this. Since we're using actors for the architecture, we should probably go with Analyzer and just make SearchService an internal helper class.

[2015-10-24 15:08] fommil commented on #1117
or ditch both and create a new actor path at "/project/search"

[2015-10-24 17:34] fommil opened #1118 "upgrade minimal Java to version 7"
I'd feel more comfortable doing this post-1.0 because otherwise some users will be stuck without an ENSIME (it's still not uncommon to use Java 6 in corporates... and it is still the official JRE for Scala until 2.12)

The advantages:

* direct use of the NIO2 API
* able to write a really efficient file watcher backed by NIO2
* use the JDK 7 internal API and correctly track the NetBeans Java versi

[2015-10-26 20:10] fommil commented on #1116
This issue was moved to ensime/ensime-sbt#108

[2015-10-26 20:10] #1116 closed

[2015-10-27 07:38] nafg commented on #1064
@paulp ...other than that github says on top, "forked from paulp/sbt-extras"

[2015-10-27 21:29] gempesaw opened #1126 "ensime-update can't find org-netbeans-modules-java-source;RELEASE731"
Hullo, my `ensime-update` is having trouble, exiting with exit code `1` due to being unable to find some package

[code]

My `~/.sbt/0.13/plugins/plugins.sbt` only contains

[code]

The project's `build.sbt` is

[code]

So far in my flailing, I've deleted and re-created the `.ensime` file with `sbt gen-ensime`, deleted `.ensime_cache` in the project folder, I deleted `~/.ivy2/cache/org.ensime` and

[2015-10-27 21:31] gempesaw commented on #1126
err... okay, I guess for google's sake good thing I bothered to write it up. My `sbt` was installed via `homebrew` and was `0.13.8`; updating via `brew upgrade sbt` to `0.13.9` has done away with this error message.

[2015-10-27 21:31] #1126 closed

[2015-10-27 21:42] adamchandra commented on #1126
I got this error even when using sbt 0.13.9. I hacked around it by adding the neatbeans libraries to my project dependencies (along with the appropriate netbeans repo), which fetched the libraries into my local .m2 directory. Once they were locally cached, ensime-update was able to resolve everything.

Here's what I used in my build.sbt:

resolvers += "Netbeans" at "http://bits.netbeans.org/nexus/

[2015-10-27 21:49] fommil commented on #1126
@adamchandra sounds like you have some user-level config setup to use maven cache instead of ivy cache. It should be downloaded to `~/.ivy2`

[2015-10-27 21:53] fommil commented on #1126
@gempesaw interesting, we explicitly set the version of sbt to 0.13.9, your script version shouldn't matter. https://github.com/ensime/ensime-emacs/blob/master/ensime-startup.el#L231

[2015-10-27 21:59] fommil commented on #1126
@adamchandra actually, sounds like you haven't upgraded the client code yet. Are you using Emacs?

[2015-10-27 22:00] adamchandra commented on #1126
@fommil yes, I'm using emacs. I'll try updating the client code.

[2015-10-27 22:05] fommil commented on #1126
@adamchandra btw, you only need to update the emacs code. It automatically updates the server.

[2015-10-27 22:26] adamchandra commented on #1126
@fommil thank you, the root of my problem was updating the ensime server manually without updating the client code,  everything works properly now.

[2015-10-30 18:45] fommil opened #1128 "Show how two classes are related"
It'd be a great code exploration tool to be able to see the method calls and plumbing classes that are navigated to link two classes together. Extremely useful for large corporate codebases (many a week has been spent in such Archaeology)

[2015-10-30 21:15] aemoncannon commented on #1128
Cool idea. Likewise: paths between packages

On Fri, Oct 30, 2015, 1:45 PM Sam Halliday <notifications@github.com> wrote:

[2015-10-30 23:41] #680 closed

[2015-10-30 23:44] fommil opened #1130 "Bytecode and/or decompiler for missing Java code"
I always meant to add the bytecode viewer back in but never got round to it. I guess this doesn't have to be limited to missing sources.

Today I seen the Eclipse decompiler and it was quite impressive. I've previously used a really good decompiler, I'll try to hunt it down.

It would probably be a nice addition to be able to show Scala sources at various phases of the compile. Somewhat related.

[2015-10-30 23:58] fommil commented on #345
I think we can close this one! :smile: it's not finished, but the game is afoot. Aemon, if you want any of the bounty TAKE ALL MY MONEY!

[2015-10-30 23:58] #345 closed

[2015-10-30 23:59] fommil opened #1131 "Show implementations of a class / interface / trait"
related to #339

[2015-10-30 23:59] fommil opened #1132 "Show implementing members"
related to #339

[2015-10-31 00:02] fommil commented on #748
this now works in 2.11.

[2015-10-31 00:02] #748 closed

[2015-10-31 00:05] fommil commented on #640
I've found that this is useful in the client side, e.g. open the project in `projectile-mode` and therefore know which config to use.

[2015-10-31 00:05] #640 closed

[2015-10-31 00:06] #363 closed

[2015-10-31 00:23] fommil opened #1133 "Graphpocolypse: Proof of Concept"
Many features are not possible without additional information being made available by the Indexer, e.g. #1128, #425, #339, #1131, #1132, #655, #355

It is becoming clear that although Lucene is an excellent way to provide the interface for humans into the data that we store (and has use beyond our current implementation, e.g. #472), a relational database is simply not the right technology to store

[2015-10-31 00:47] fommil commented on #1133
It would be ideal if the technology to drive the graph database was embedded. There are two main players on the JVM:

* http://neo4j.com/
* http://tinkerpop.incubator.apache.org/

I'll have a look at them both over the weekend, but any experience will be listened to (I'm aware of https://github.com/aemoncannon/ensime-server/tree/pig )

neo4j is far more popular, but uses GPL, so we'd have to **con

[2015-10-31 00:50] fommil commented on #1133
@betehess is our regular RDF expert so may be called upon :smile:

[2015-10-31 01:11] fommil commented on #1133
(I've fired off a query to the FSF about the confusing bits of re-licensing)

[2015-10-31 10:45] jexp commented on #1133
For your source-code-datamodel data-model you can check out http://github.com/buschmais/jqassistant / http://jqassistant.org/ which is built on Neo4j

https://github.com/DirkMahler and I worked on this, happy to chat, we can also do a hangout.

[2015-10-31 10:47] jexp commented on #1133
For the license if you don't ship neo4j embedded, but the user has an option to download the neo4j dependencies with a command during install you don't have to re-license as the GPL only triggers when you *ship* with a GPL software.

[2015-10-31 10:55] rorygraves commented on #1133
@jexp This may sound like an odd clarification but bear with me.  Ensime bootstraps in an unusual way.  We create a mini-sbt project that depends on the project published on maven central.  We use this project to download the dependencies and bootstrap the classpath (we have an sbt task that resolves the dependencies into the local ivy cache from maven and generates a classpath file.  Does that co

[2015-10-31 11:03] fommil commented on #1133
We will embed, so GPL applies. Starting a separate process on top of our already flakey SBT start would be the bane of our existence.

[2015-10-31 11:04] fommil commented on #1133
Also, we have the assembly jars.

[2015-10-31 11:35] rorygraves commented on #1133
@fommil Fair enough, wasn't clear on the terminology and I forgot about the assembly jars entirely

[2015-10-31 12:17] fommil commented on #1133
looks like we could improve the integration with Lucene at a later date too! http://neo4j.com/docs/stable/indexing-lucene-extras.html

[2015-10-31 13:06] xeno-by commented on #1133
I don't mind relicensing my contributions.

[2015-10-31 13:30] fommil commented on #1133
thanks @xeno-by ! That just leaves @edani to confirm.

My WIP is https://github.com/fommil/ensime-server/tree/graph_indexer

I've been slowed down by bugs in SBT that make it difficult to include neo4j test artefacts. But I read the neo4j book this morning, so I'm psyched up to get something working by the end of the day.

[2015-10-31 13:59] fommil opened #1134 "minimise the assembly jar size"
which looks like it would replace the `sbt-assembly` plugin e.g. with https://github.com/sbt/sbt-proguard

[2015-10-31 14:12] fommil opened #1135 "refactor: lucene package doesn't need to use reflection"
Since it was written, `shapeless.Typeable` came along, so no need for reflective classes anymore.

Also, it would be more cleanly implemented using the typeclass pattern.

[2015-10-31 14:27] fommil opened #1136 "optional additional indexer data sources"
Possibly for the wishlist... but adding this to our (upcoming) graph indexer could really improve the quality of scala searches @matanster https://github.com/matanster/extractor

Runtime data sources (e.g. from profiling) would be incredibly useful for me to add too.

And then there is https://github.com/google/kythe

[2015-10-31 14:48] fommil commented on #1133
NOTE TO SELF: invaluable docs http://neo4j.com/docs/1.9.9/

[2015-10-31 15:54] aemoncannon commented on #345
I used Android Studio(idea) all day at a hackathon. I think the biggest
differentiator is automatic import handling. Need to think hard how to
streamline this in emacs. Maybe part of general suggestion framework. Could
feed compile errors into the 'suggester'  and then event the diffs to
client..

On Fri, Oct 30, 2015, 6:58 PM Sam Halliday <notifications@github.com> wrote:

[2015-10-31 16:00] fommil commented on #345
sounds good! definitely sounds part of the suggester stuff. There is a bunch of stuff in netbeans for this already. Going on memory, search for the code that suggests creating a `serialVersionID` or the code that suggests static imports (I think I might have written them, it's all a haze) and then find everything else that is in that framework.

[2015-10-31 16:01] fommil commented on #345
:+1: for diffs to do this... if you wrote the emacs side for letting the user choose to apply the suggested refactoring (or just apply it regardless) it would make #996 a lot easier to implement!

[2015-10-31 16:08] fommil commented on #1133
I'm struggling with finding a Java 6 compatible version of neo4j https://github.com/neo4j/neo4j/issues/5798

[2015-10-31 16:08] hedefalk commented on #1133
This one?

http://graphdatabases.com/?_ga=1.225795738.1092093292.1446307597?

[2015-10-31 16:09] fommil commented on #1133
@hedefalk that's the one! it's very light reading

[2015-10-31 16:10] hedefalk commented on #1133
Sending to my kindle…

On Sat, Oct 31, 2015 at 5:09 PM Sam Halliday <notifications@github.com>
wrote:

[2015-10-31 16:11] fommil commented on #1133
oh joy, neo4j uses an incompatible version of Lucene

[2015-10-31 16:13] betehess commented on #1133
How did you guys settle on neo4j? Why not considering [Sesame 4](http://rdf4j.org/)?

[2015-10-31 16:14] fommil commented on #1133
@betehess I haven't seen anything comparing Sesame. neo4j seems to be popular and does everything we need (are you aware of any limitations), I just want a PoC put together.

[2015-10-31 16:15] fommil commented on #1133
also, I want a programmatic API at this stage as it'll help me get something up quicker. Java 6 support is essential.

[2015-10-31 16:22] fommil commented on #1133
ok, reverting our version of Lucene to agree with neo4j

[2015-10-31 16:24] epost commented on #472
There's also [Scaps](http://scala-search.org/), which I recently came across.

As a side note, and FWIW, I'm trying to come up with a useful model for querying software projects in the form of something like Datalog (which gives you automated reasoning), currently with a focus on Haskell and PureScript, but with a view to abstracting away a lot of language-specific details, see [https://gist.githu

[2015-10-31 16:29] fommil opened #1137 "search priority is really rubbish"
I thought I put some effort into this, but it is still rubbish. Every `$` in an FQN name should be penalised. It's really hard to find things with common names.

[2015-10-31 16:30] fommil commented on #472
@epost cool! have you seen the references in #1136 ?

[2015-10-31 16:52] epost commented on #472
@fommil Wow, I hadn't, somehow... Thanks!

[2015-10-31 17:11] fommil commented on #1133
finally got a branch of ENSIME with neo4j in it that runs the neo4j demo apps! If trying out the alternatives involves this much pain, I'm sticking with what I have...

[2015-10-31 17:15] fommil commented on #761
dag namnit, this caught me today when I was swapping versions of a backend library and I couldn't understand why my use of the (changing) API wasn't working.

[2015-10-31 18:06] aemoncannon commented on #761
This seems like two separate issues. The entitled,  about unzipping or not
not zipping, and then the one you mention about stale sources. For the
latter, maybe unpack the sources into jar-name-scoped directories?

On Sat, Oct 31, 2015, 12:15 PM Sam Halliday <notifications@github.com>
wrote:

[2015-10-31 19:52] fommil commented on #1133
you have got to be kidding me, internal parts of neo4j use scala-2.10 so we get runtime failures.

AAAAARGGGGGHH!

[2015-10-31 19:57] hedefalk commented on #1133
Osgi? :)

lör 31 okt 2015 20:52 Sam Halliday <notifications@github.com> skrev:

[2015-10-31 19:57] rorygraves commented on #1133
?????? Ouch.

[2015-10-31 20:38] fommil commented on #1133
this is depressing. Looking into bundling it as a submodule so I can do this spike but seriously considering trashing the whole day's work :sob:

[2015-10-31 20:41] fommil commented on #1133
ok, that looks like it might work. but this is really bad.

[2015-10-31 21:12] fommil commented on #1133
ok, I call it quits on neo4j. Having a secret scala-2.10 dependency is just too much for me to take. Also, given that they have a complex build, it will also significantly complicate our inclusion in the scala-community-build and support for 2.12.

I'm swallowing the sunken cost. One day, pah, sure what's that?

@betehess RDF isn't a selling point to me. What is Sesame's performance like and does

[2015-10-31 22:36] fommil commented on #1133
hmm, the tinkergraph v2 API seems to be Java 6 compatible. That means we can use OrientDB now and then swap the impl (if anything other than OrientDB works for our tight requirements)

[2015-10-31 23:17] fommil commented on #1133
updating https://github.com/fommil/ensime-server/tree/graph_indexer with OrientDB via tinkerpop v2 (we have the option of a scala DSL as well)

if anyone is interested in how far I got with neo4j, this is the dead branch https://github.com/fommil/ensime-server/tree/neo4j

[2015-10-31 23:22] mpollmeier commented on #1133
as mentioned in https://github.com/mpollmeier/gremlin-scala/issues/102 I would recommend to use tinkerpop v3. I'll investigate further tomorrow, but on a high level everything you listed should be fine.

[2015-11-01 01:24] mpollmeier commented on #1133
bummer, didn't see your java 6 requirement. Tinkerpop 3 needs java 8.

[2015-11-01 10:09] fommil commented on #1133
Good news is that Scala 2.12 forces Java 8 so we get a clearer idea of our dependencies eventually.

[2015-11-01 11:20] #1103 closed

[2015-11-01 11:20] fommil commented on #1098
this may be made redundant by #1134 and also I've decided not to bother onboarding an sbt distro version of ensime at my work.

[2015-11-01 11:20] #1098 closed

[2015-11-01 15:33] fommil commented on #1133
padding out the model in a PoC I'm seeing 8 relationships:

* DefinedIn
* InheritsFrom
* OwnedBy
* ReturnsClass
* HasParameter (which has a property for ordering)
* ReferencesClass
* ReferencesField
* ReferencesMethod

and I've encountered our first major problem: we routinely delete entries from the indexer and that's ok because we don't use foreign keys. But in the graph world, deleting an entry

[2015-11-01 20:03] fommil commented on #1133
I'm going to have to leave it there. I am very nearly ready to create a swappable implementation of `DatabaseService` ... but I have to turn my attention to writing my ScalaX talk https://skillsmatter.com/conferences/6862-scala-exchange-2015#program

I should be able to return to this on the 14th December.

[2015-11-01 20:04] fommil commented on #814
I seen something like this in https://github.com/ensime/ensime-emacs/issues/275

I'm pretty sure its a client side bug. I think we decided it was best to bail the server connection if there is a parse error.

[2015-11-01 20:04] #814 closed

[2015-11-03 20:27] cvogt commented on #1133
(btw: no regrets on my slick changes if ensime will benefit from this change.)

[2015-11-03 21:42] fommil commented on #1133
@cvogt :blush: actually it was your PR that forced me to take a long hard look at the search service and admit that we're using the wrong technology.

[2015-11-03 21:44] betehess commented on #1133
Was just wondering: the data model doesn't look super complex and if I understand correctly, things are not persisted: would it make sense to just use a bunch of `Map`s instead of an actual database?

[2015-11-03 22:07] fommil commented on #1133
@betehess it is persisted, that's the point! Recreating this every time ENSIME starts up would be super expensive. Also, I'm pretty sure a bunch of `Map`s would just confuse things: what is the key, do we create a separate index, how do we update a vertex when something changes, do we need to search all values of all maps to find them, etc...

[2015-11-03 22:59] aemoncannon commented on #1133
Historical note: originally we used an in-memory trie, rebuilt on every
boot. The we moved to my crappy lucene version. Then @fommil's better
lucene version. Now time for graphpocolypse ;-)

On Tue, Nov 3, 2015 at 4:07 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-11-04 14:08] hedefalk opened #1140 "symbol search not returning correct line numbers"
_From @caente on November 4, 2015 12:56_

When I search for a symbol, it takes me to the file, but not to the symbol, is this known?

[2015-11-04 14:08] hedefalk commented on #1140
This is a pretty new feature in Atom and I haven't used it much yet - will tomorrow though. It _should_ work client wise and it worked half ok for me (one-off errors kindof). I'll blame server. Please check server communication and see what you get there. (cmd-shift-i on mac to open chrome dev tools in atom). What you get is only line-positions so not col, but for me it has at least done better th

[2015-11-04 14:08] hedefalk commented on #1140
_From @caente on November 4, 2015 13:59_

well this interesting, it actually receives back two objects, the first one has a `pos.line > 0`, but the line number is wrong, the second one has `pos.line=0`
I guess those two objects are the the two elements I see in the search box when I write the name of the method I'm looking for, one is something like `SomeModule$.someMethod` -> this one has the wro

[2015-11-04 14:08] hedefalk commented on #1140
Yeah, this is an important feature for me too. I'm going to move this issue to ensime-server (because ensime-atom just puts the cursor on the line given from server (maybe with an off-by-one error (I'll look at that tomorrow)))

Can you paste the full json you get? Better still if you can isolate the issue in a standalone git project…

[2015-11-04 14:17] fommil commented on #1140
this is actually missing information in the binary files, typically the scala library class files don't include this information. Try it on something in your own classpath, and something from a java third party library.

There might be an open ticket for this actually, as the workaround is to load the target file in the presentation compiler, work out the line number, and then send that on to the

[2015-11-05 08:01] fommil commented on #1140
Actually sounds like the reporter is looking for a method on a trait which at the byte level is going to be on a companion.

[2015-11-05 08:05] hedefalk commented on #1140
Ping @caente in case you don't get updates.

[2015-11-05 08:08] fommil commented on #1140
To be honest I can't really look out this until the new year, I've got too many commitments. This code in currently being rewritten but I doubt it will fixed in this update because fundamentally the indexer is JVM indexing not Scala indexing. Somebody could implement a workaround however.

[2015-11-05 08:14] hedefalk commented on #1140
Fair enough. No pressure, maaan!

Yeah, and workaround now that just adds to what has to be rewritten in the "big graphocalypse" probably doesn't make much sense either?

[2015-11-05 14:16] caente commented on #1140
@fommil for what is worth, there was no trait involved this is the only source code in the project:
[code]

[2015-11-05 17:02] matanster commented on #1133
Just followed here out of no particular reason. @fommil how much is it super expensive to persist the graph to disk and unpickle it on startup? on a testing-related project I use my own-brewed almost generic (but directed) graph library which provides simple [graph api](https://github.com/CANVE/extractor/tree/master/simple-graph/src/test/scala/org/canve/simpleGraph) utilizing maps under the hood.

[2015-11-05 17:29] fommil commented on #1133
@matanster I've not got far enough yet to answer your performance question, but we won't load anything on startup, we query the graph.

We can't use Titan because Gremlin 3 is Java 8+ only.

[2015-11-05 17:32] matanster commented on #1128
I've [implemented this in scala](https://github.com/CANVE/extractor/blob/81143a1fa9025643d43d8d15b974387c98f474f3/compiler-plugin/src/test/scala/extractor/Instantiaion.scala#L71-L77) if it helps in any way, through a [special traverser] (https://github.com/CANVE/extractor/blob/master/simple-graph/src/main/scala/org/canve/simpleGraph/algo/impl/GetPathsBetween.scala). This is really simple once you

[2015-11-05 17:48] fommil commented on #1128
cool, thanks. I think there are some `A*` implementations in the graph database that we're using.

[2015-11-11 03:11] lucasmundim opened #1146 "Allow specifying bind address and a fixed port"
It would be nice to be able to specify a bind address other than 127.0.0.1 and a fixed port instead of a random one.

It'll help running ensime server with docker.

[2015-11-11 07:17] greenrd commented on #948
Yes I am, but `C-c l` says `C-c l is undefined`.

[2015-11-11 07:21] fommil commented on #948
Maybe I forgot the correct command. I think I linked to it from the ensime-sbt README

[2015-11-11 07:24] fommil commented on #1146
This then becomes a security issue. I've made promises that ENSIME can only run out localhost the pass security reviews, but I see your usecase with docker. This is something we'd prefer to support with a server config file, not the .ensime file.

[2015-11-12 14:30] oscar-broman opened #1147 "Strange completion behavior"
[code]

When I do that, it will put `foo.` instead of `fo.`. To avoid this I'd need to type `fo<SPC>` then `.`.

[2015-11-12 14:32] oscar-broman commented on #1147
Wrong repo

[2015-11-12 14:32] #1147 closed

[2015-11-13 21:51] fommil opened #1148 "add the acyclic plugin"
improve the quality of things: https://github.com/lihaoyi/acyclic

[2015-11-13 21:55] rorygraves commented on #894
Need to revisit this - this would have picked up the 'ivy failed to pickup the latest version'
 pretty quickly

[2015-11-13 22:09] fommil commented on #894
I'm not so sure about that. If ivy is borked, there isn't much we can do. Who's to say it was an ensime jar that was broken, or that the metadata even existed in the jar.

[2015-11-13 22:16] rorygraves commented on #894
I'm sort of hoping the non-snapshot stuff actually works as designed

[2015-11-13 22:41] fommil commented on #894
nope. and the thing that I find hilarious is that sbt uses ivy because ivy is supposed to have such a better model, and is so much more customisable.

So, turns out, if your company uses a completely custom ivy repository, sbt basically doesn't have a fsking clue what to do. Apparently, if the really flexible ivy definitions don't look identical to the maven central layout, it all blows up with ex

[2015-11-14 14:51] fommil commented on #1042
* https://issues.apache.org/jira/browse/VFS-536
* https://issues.apache.org/jira/browse/VFS-537
* https://issues.apache.org/jira/browse/VFS-553

[2015-11-14 15:07] #900 closed

[2015-11-14 15:08] #707 closed

[2015-11-14 15:09] #482 closed

[2015-11-14 15:09] fommil commented on #384
this doesn't appear possible.

[2015-11-14 15:09] #384 closed

[2015-11-14 16:51] #1068 closed

[2015-11-14 20:49] noelmarkham commented on #595
Thanks to @fommil in helping get me started with `ensime-server` development today.

A few things about this bug:
* It's actually only `lazy val` _fields_ that are suffering from this issue:  <img width="264" alt="screen shot 2015-11-14 at 20 48 08" src="https://cloud.githubusercontent.com/assets/1492487/11165757/0c55733e-8b11-11e5-9990-becff4206e37.png">
* There's some odd behaviour in the presen

[2015-11-14 20:55] rorygraves commented on #595
I would be interested in the evidence (mostly out of idle curiosity I accept).  Looking forward to the PR.

[2015-11-15 01:53] fommil commented on #1133
@aemoncannon @rorygraves I stayed up **way** too late working on this and I got one of the `SearchService` tests passing!!! (no H2 in sight)

It takes 42 seconds to run that test with OrientDB and it takes 28 seconds in H2. No real optimisations yet (the data structure is a direct clone of H2, and I'm forcing single threaded to avoid problems with upserting). So, given that H2 got a big speed up w

[2015-11-15 01:55] fommil commented on #1133
(also, the batching strategy could be a lot smarter, I'm committing changes a lot... but we should only do that at the end during startup)

[2015-11-15 02:21] #595 closed

[2015-11-15 11:32] fommil opened #1151 "organise imports is much better in scala-ide"
so they must be doing something differently than us. Find out what and take inspiration.

[2015-11-15 11:35] fommil opened #1152 "Analyzer per module"
I'm working on a project that has different `scalacOptions` per module, and some modules have compiler plugins and others don't. To fix this (and get limited scope contextual completions) it would be good if each module had its own analyzer.

However, some problems with this:
1. potentially huge drain on heap usage
2. how do we handle cross-module refactorings? Maybe each refactor needs its own th

[2015-11-15 11:37] fommil commented on #1151
https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/org/scalaide/refactoring/internal/OrganizeImports.scala

[2015-11-15 11:38] fommil commented on #1152
scala-ide say they use a watchdog that closes presentation compilers if they have not been used for 20 seconds and it works well. That could work.

[2015-11-15 17:46] fommil opened #1153 "duplicate FQNs created during indexing"
when debugging the indexer for the graphpocalypse, I noticed that a bunch of FQNs are being indexed twice (i.e. guaranteed UPSERTs during indexing).

An example:

[code]

it looks like the `package.class` and `package$.class` is spitting out duplicate FQNs.

Closer inspection suggests that this is actually a weirdness of the scala bytecode. The `package$.class` has the line numbers, the `package.c

[2015-11-15 17:49] fommil commented on #1153
darn, I think this is a regression introduced by https://github.com/ensime/ensime-server/pull/1110

In my rewrite of the persistence layer, I'm going to treat bytecode and scala names as separate which should be a better fix.

[2015-11-15 17:51] fommil commented on #1153
@edani FYI ^

[2015-11-15 17:54] fommil commented on #1153
hmm, this is not the only source of the problem. We're also getting duplicate FQNs coming from the same file. e.g.

[code]

[2015-11-15 17:56] fommil commented on #1153
method overloading! OK, looks like my classfile indexer has a longstanding bug in it for FQN calculation.

[2015-11-15 17:58] fommil commented on #1153
this might be the cause of #1153

[2015-11-16 19:20] d6y opened #1155 "Kind of duplicate Note"
As [discussed on ensime/ensime-atom](https://gitter.im/ensime/ensime-atom?at=564a07f710f6aea94fddcd44).

It appears that the client is receiving multiple `org.ensime.api.Note`s covering the same error and the same line and column of a file (although different beg and end values).  In Atom that ends up looking like this:

![main scala - users richard developer books essential-slick-code chapter-01

[2015-11-16 21:59] fommil commented on #1155
I can imagine this happens every time the file is type checked

[2015-11-17 12:04] rorygraves commented on #1155
Typically you would get a clearScalaNotes coming between them though if they are difference PC runs.

[2015-11-19 12:39] jarandaf commented on #1126
Not sure how this relates to `ensime-vim`, but I am also getting the same problem.

[2015-11-19 15:14] fommil commented on #1126
ensime-vim has its own issue tracker

[2015-11-19 15:35] gaydenko opened #1159 "false positive error: "<artifact> is defined twice conflicting both originated in...""
After today updating of `ensime-emacs` to `ensime-20151117.2103` starting of editing of any file results in the error, where atifact can be a method, a val or even internal method as `$init$`. The issue doesn't depend on the code under editing. Say, this simple project https://github.com/gaydenko/temp01 is also affected by the issue. ensime-sbt 0.2.1 is in use as a global plugin. Java is Oracle on

[2015-11-19 15:37] #1159 closed

[2015-11-19 15:37] fommil commented on #1159
asked reporter to repost to ensime-emacs

[2015-11-21 16:49] phdoerfler commented on #345
Might someone please take a minute to summarize the current state of Java support for ensime? What about mixed java / scala projects? Do I need to have eclim running? Or does ensime rely on jdee? Or is there simply no support for Java yet? Thanks!

[2015-11-21 17:01] fommil commented on #345
@phdoerfler its too early. We'll announce when its out of alpha.

[2015-11-21 17:09] phdoerfler commented on #345
@fommil  I'll keep my fingers crossed then :)

[2015-11-21 17:23] fommil commented on #345
If you are really really keen, just turn on ENSIME mode when in Java mode.

[2015-11-22 04:14] aemoncannon commented on #345
I've been yak shaving the last few weeks but hope to continue polishing
enjime soon

On Sat, Nov 21, 2015, 11:23 AM Sam Halliday <notifications@github.com>
wrote:

[2015-11-22 09:30] fommil commented on #345
@aemoncannon **you** have been yak shaving? I'm supposed to be writing a talk, but I've ended up refactoring my `.emacs` file. :grimacing:

[2015-11-23 19:22] aemoncannon commented on #345
Btw @phdoerfler and anyone else following along,
I could use some help with my PR for symbol-at-point (vs ensime-server). Specifically figuring out how to make those tests pass with java 6 : )

[2015-11-24 22:31] fommil opened #1160 "<blah> is defined twice conflicting both originated in..."
(fix pushed to master)

_From @gaydenko on November 19, 2015 15:38_

![1447938705](https://cloud.githubusercontent.com/assets/3740016/11276237/5248ae3a-8ef2-11e5-9f36-c7a669f1d767.png)
After today updating of ensime-emacs to ensime-20151117.2103 starting of editing of any file results in the error, where artifact can be a method, a val or even internal method as $init$. The issue doesn't depend on

[2015-11-24 22:31] fommil commented on #1160
Thank you for using ENSIME!

We are getting a lot of bug reports recently that are missing key information, so we're using https://github.com/Astrac/github-autoresponder to ask that everything is captured in the ticket.

Before somebody responds to this ticket, can you please confirm that you have checked the following:

* are you using the latest release of ensime-emacs? Make sure to use MELPA to

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 19, 2015 15:48_

Not sure how to determine server version as far as inferior ensime buffer just tells about SNAPSHOT. Everything else was tried.

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 19, 2015 15:56_

Have added https://github.com/gaydenko/temp01/blob/master/inferior-ensime.buffer.txt

[2015-11-24 22:31] fommil commented on #1160
I'm not able to reproduce. @aemoncannon ?

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 20, 2015 1:4_

Except for methods and vals the errors are rising against class constructors and even constructor parameters. Say:

[code]
or, for parameter:
[code]

[2015-11-24 22:31] fommil commented on #1160
_From @codesuki on November 20, 2015 7:58_

Same error message here!
It works flawless until I compile. After that the whole source is underlined red in emacs.

[2015-11-24 22:31] fommil commented on #1160
ok, my guess is that the file is being seen in class and source form by the presentation compiler and it is not reconciling them.

Can you please give us a complete step-by-step set of instructions of how you do this? Like, command by command. I am unable to reproduce.

[2015-11-24 22:31] fommil commented on #1160
_From @thatismatt on November 20, 2015 18:4_

I am also experiencing this.

I was able to clone https://github.com/gaydenko/temp01 (thanks @gaydenko for preparing the sample project)

The issue did not exhibit itself until doing a `~ compile` at the sbt prompt. Invocations of `compile` alone did not seem to trigger the issue.

Let me know if anything else would be useful.
Hope this helps. And than

[2015-11-24 22:31] fommil commented on #1160
_From @aemoncannon on November 20, 2015 23:35_

Hmm wonder if this is related to my recent changes somehow. I'll check when
I get a chance

On Fri, Nov 20, 2015, 12:04 PM Matt Lee <notifications@github.com> wrote:

[2015-11-24 22:31] fommil commented on #1160
can everybody please check again after an `ensime-update` as we pushed some changes to the server last night.

so the latest is that this is a continuous compile issue? I'm still a bit unclear on the reproduction instructions.

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 21, 2015 1:25_

@fommil , I have tried to `ensime-update`, but ensime update buffer doesn't say about downloading anything (just "resolving").

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 21, 2015 1:30_

Yes, I have `~compile` (or, for Play project, `~stage`) running in the dedicated (that is having own terminal) sbt console.

At my case to rise the error on `temp01` it is sufficient to, say, change the file and to save it. Underlining appears with short delay (say, 3-5 second).

Any file saving (after it was changed any way) temporary turns underlining

[2015-11-24 22:31] fommil commented on #1160
_From @thatismatt on November 21, 2015 9:46_

Here are my reproduction steps:
[code]
Let me know if I can be of help in anyway, I'd be happy to screenshare etc. if that would be useful.

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 21, 2015 9:47_

@thatismatt , @codesuki , can you confirm it? -

[2015-11-24 22:31] fommil commented on #1160
@thatismatt great! That's exactly what I've been wanting from the start of this ticket. I'll see if I can reproduce.

[2015-11-24 22:31] fommil commented on #1160
_From @thatismatt on November 21, 2015 10:4_

@gaydenko I have never seen the issue unless the external sbt process has `compile`-d (or similar, e.g. `package`)

@fommil No problem. Hope it repros the issue for you.

[2015-11-24 22:31] fommil commented on #1160
_From @thatismatt on November 21, 2015 10:16_

I don't know if this is a useful detail as it would appear obvious to me, but just in case here it is:

Once the red squigglies have appeared a `M-x ensime-reload-open-files` fixes the problem until the next external compile.

[2015-11-24 22:31] fommil commented on #1160
That is actually incredibly useful. It means the source mode view and binary mode view are out of sync in the pres compiler.

[2015-11-24 22:31] fommil commented on #1160
aha! ok, I see the reproduction now. @aemoncannon perhaps the recent sourcefileinfo stuff broke this?

[2015-11-24 22:31] fommil commented on #1160
the workaround is indeed to type `C-c C-c c`, which leads me to the next bug... (wait for reference)

[2015-11-24 22:31] fommil commented on #1160
_From @thatismatt on November 21, 2015 12:13_

I'd be interested in trying to fix this, do you think I could handle this as an ensime noob? Any pointers on where to start?

[2015-11-24 22:31] fommil commented on #1160
@thatismatt it might be tough to fix it, but it would be incredibly useful if you could provide us with a unit test! Creating a test in the emacs side (if your lisp is up to it) is probably the better way to go because it would be incredibly difficult to write a server side test that has the `sbt` interaction.

That said, we could probably mimick the behaviour by using `Files.touch` on the classfi

[2015-11-24 22:31] fommil commented on #1160
@thatismatt also, please ask questions on gitter (different rooms for server vs emacs) and we'll try our best when somebody is around! (although note that the issue tracker has a larger audience so if there is nobody on gitter, make sure to post here too)

[2015-11-24 22:31] fommil commented on #1160
_From @aemoncannon on November 21, 2015 17:45_

@fommil. I wouldn't be surprised. We'rr constructing our batch source files
differently, and that might have subtly changed hashcode or equals
behavior. Trivial change in inmemirysourcefile to verify this theory (use
file based rather than string constructor).

I'm moving today so won't be much help.

Note changing that constructor will break other t

[2015-11-24 22:31] fommil commented on #1160
I think this report was actually before the `Array[Char]` change was merged. Good luck with your move!

[2015-11-24 22:31] fommil commented on #1160
_From @aemoncannon on November 23, 2015 21:10_

Am able to repro this. Here's a paste of my emacs events. I have a hunch...

(:clear-all-scala-notes)
(:compiler-restarted)
(:scala-notes
 (:is-full nil :notes
           ((:file "/usr/local/google/home/aemon/projects/ensime-server/core/src/main/scala/org/ensime/core/Project.scala" :msg "broadcaster is already defined as value broadcaster" :severity

[2015-11-24 22:31] fommil commented on #1160
_From @aemoncannon on November 23, 2015 21:18_

nm, i thought i had a hunch. incidentally, this should work per https://github.com/scala/scala/blob/33e32179fd6dcf06554b817f54b97ac5a6e052ab/src/compiler/scala/tools/nsc/interactive/Global.scala#L1147

[2015-11-24 22:31] fommil commented on #1160
_From @thatismatt on November 24, 2015 11:46_

I just felt I should say I that although I am still interested in creating a regression test for this, it is unlikely that I will get around to it within the next couple of weeks. So I didn't want my interest to prevent someone else getting on with it. Sorry about this!

[2015-11-24 22:31] fommil commented on #1160
_From @michalrus on November 24, 2015 17:22_

@fommil, that workaround doesn’t work for me, the whole file stays red. What else could I do? Downgrading seems impossible, as you’re only publishing snapshots of the server, right?

[2015-11-24 22:31] fommil commented on #1160
_From @gaydenko on November 24, 2015 17:25_

@michalrus , probably `C-c C-c r` - till next red world :)

[2015-11-24 22:31] fommil commented on #1160
@michalrus https://github.com/ensime/ensime-emacs/wiki/Quick-Start-Guide#installing-the-server-from-assembly-builds-or-source

[2015-11-24 22:31] fommil commented on #1160
we should probably try to trigger this in the `BasicWorkflow` test

[2015-11-24 22:31] fommil commented on #1160
_From @michalrus on November 24, 2015 18:5_

Thank you both, I ended up using server version from three weeks ago, works. :)

[2015-11-24 22:31] fommil commented on #1160
oh bugger, this actually impacts everybody, I'm seeing it now in all my projects (I missed it because I've not been writing scala this last week... just my slides). I don't know how we missed it. @aemoncannon do you think we should revert the changes that did this, or are you close to a solution / workaround? (I'm actually not 100% sure which commit caused the problem)

[2015-11-24 22:37] fommil commented on #1160
@aemoncannon  re: is it possible we took a pres.compiler update?

I'm not sure, but the timing would suggest either https://github.com/ensime/ensime-server/commit/7be05ed08f529acee5ef8dbac37fa13f10a28c1d or https://github.com/ensime/ensime-server/commit/990c1cf234c5a6e0aae5261dfa8096ec4efc763f

[2015-11-24 22:38] fommil commented on #1160
but https://github.com/ensime/ensime-server/commit/a71407d30dacf89eaefabfc587beb58cc3de7c64 definitely came after the report

[2015-11-24 22:43] fommil commented on #1160
my money is on 990c1cf234c5a6e0aae5261dfa8096ec4efc763f

[2015-11-24 22:44] fommil commented on #1160
I'll try to bisect manually.

[2015-11-24 22:46] aemoncannon commented on #1160
Yes. I agree that is a likely candidate. Hopefully we can work around -- I
like being able to work on unsaved files : (

On Tue, Nov 24, 2015 at 4:44 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-11-24 22:48] fommil commented on #1160
yeah, it stinks of a compiler bug if this is it. maybe we should ask on the scala-ide list.

Anyway, I have to go to bed soon but I'll try to find the failed commit and then revert back to the last one that works. I think we could write a test that fails (and would be great to have one) in BasicWorkflow where we touch the classfiles (simulating compilation) and then wait for clean notes to come th

[2015-11-24 22:57] fommil commented on #1160
26ff41b is good. 6572e8f is bad. I'll revert to 26ff41b

[2015-11-24 23:03] fommil commented on #1160
ok, I've pushed a reversion commit. @aemoncannon you should be able to get back to where we were by reverting the revert and building on top of that.

[2015-11-24 23:34] fommil commented on #1160
damnit!!! That still doesn't fix it. OK, I have no idea what the problem is. Going further back in the history.

[2015-11-24 23:38] fommil commented on #1160
70ac83a is dodgy too. I wonder if this has been here for ages and/or recent ensime-emacs changes have exaggerated it?

[2015-11-24 23:38] fommil commented on #1160
@michalrus which commit did you use that works for you?

[2015-11-25 00:18] michalrus commented on #1160
@fommil, it’s 8599baf0627ca146c36631c83f85ae91d8bcfadc, from 3 weeks ago… Quite old. :(

[2015-11-25 00:18] fommil commented on #1160
@michalrus and which version of the ensime-emacs, or are you using MELPA latest?

[2015-11-25 00:19] michalrus commented on #1160
@fommil, 08a1b96af8cbd5b9cc47284c1b3e380be173e825

[2015-11-25 00:24] fommil commented on #1160
Doh! I thought I was still getting problems with 70ac83ac5ed2cc0709737009aeaa9667574d651f ... but I just forgot to redeploy my build. It seems good. We're ok! I can sleep now :-) should be redeployed to sonatype / typelevel within 10 minutes.

[2015-11-25 00:24] michalrus commented on #1160
Great to hear that.Thank you! :smiley_cat:

[2015-11-25 00:25] fommil commented on #1160
well we still need to get to the bottom of the problem, this will probably flag up another bug that people were seeing (but less critical).

[2015-11-25 03:08] aemoncannon commented on #1160
7be05ed should be a no-op for files on disk, so my guess is that 990c1cf is the culprit.

[2015-11-26 10:35] InTheNow commented on #1133
For graph databases, I'm __really__ surprised that no one considers RDF/OWL, and it's nice scala interface [banana-rdf](https://github.com/banana-rdf/banana-rdf). Sesame and Jena implementations can be embedded, btw.

Some people worry about the performance of RDF, especially applied mathematicians with an interest in GPU's :wink:

[GPU accelerated graph](https://www.blazegraph.com/product/gpu-acc

[2015-11-26 12:35] sschaef commented on #1133
I think the proposal so far is mainly concentrated on class file indexing. RDF/OWL are way more powerful/general, therefore may be too complex to start with. I didn't know banana-rdf so far and I'm happy to know that it exists because I have a lot more interest in a more general indexer than the one that is described here.

[2015-11-26 12:46] fommil commented on #1133
@sschaef I'm hoping that v2 will have the `scalap` stuff it in as well :smile:

I see RDF as just another front-end like gremlin. So far all the problems I'm seeing are to do with the performance of the back-end (particularly the time to persist).

I'm keen to see what banana-rdf can do to help make the domain modelling and automation of things like indexing / querying easier (by indexing, I mean

[2015-11-26 12:53] fommil commented on #1160
possibly related https://scala-ide-portfolio.assembla.com/spaces/scala-ide/tickets/1002427-restart-presentation-compiler-after-performed-rename-refactoring/details

[2015-11-26 15:41] dragos commented on #1160
Are you running the presentation compiler with a "sourcepath" option? Probably you do, otherwise you wouldn't find symbols for sources that weren't built yet. In that case, you might introduce double definitions: once in your memory file, another time in the sources on disk.

Why do you create memory sources?

[2015-11-26 15:50] fommil commented on #1160
@Dragos OK, good hint! So that we can support buffers which have not yet been saved to disk (at all, so no file at all). This is quite common in Emacs: scratch buffers, but is also how new files originally appear.

[2015-11-26 20:06] fommil commented on #1160
I think I'm starting to get a hang of this reproduction now. I'll try to send a PR with a failing test (at the least) tonight. The key thing seems to be making an edit (i.e. in-memory) and then saving the file. The interaction with the `~compile` seems to be a red herring (probably just triggering the same issue).

[2015-11-26 20:21] fommil commented on #1160
weirder and weirder. Minimal reproduction:

1. compile and open file (no ensime)
2. start ensime
3. sbt clean

or

1. clean and open file (no ensime)
2. start ensime
3. sbt compile

interestingly, the errors go away as soon as the user starts typing (i.e. in-memory mode) but reappear when the user saves the buffer.

[2015-11-26 21:40] fommil commented on #1160
and now that doesn't work. great.

[2015-11-26 21:47] fommil commented on #1160
bizarre, it does work if I do the first approach with `sbt clean`, but not if I delete the files on disk. the act of doing the clean via `sbt` is causing something extra to happen. maybe an extra ensime call in the sbt hook or something.

[2015-11-26 21:53] fommil commented on #1160
not an sbt-mode interaction... happens if `clean` is called from a non-emacs terminal. sbt is definitely doing somethnig funky here.

[2015-11-26 22:03] fommil commented on #1160
this might be related to https://github.com/sbt/sbt/issues/106

[2015-11-26 22:29] fommil commented on #1160
I'm now trying to reproduce in `BasicWorkflow` doing this

[code]

but I'm not seeing any ScalaNotes coming through. it's very weird, we're not getting any notes at all.

[2015-11-26 22:32] fommil commented on #1160
oh great, that's because I'm ignoring them.

[2015-11-26 22:36] fommil commented on #1160
ok, should have a test before gonig to bed

[2015-11-26 22:39] fommil commented on #1160
hmm, no. turns out I'm not ignoring them. I have no idea why we aren't seeing the scala notes. this will have to wait another day.

[2015-11-26 22:53] fommil commented on #1160
oh, how interesting... we're not ignoring notes, its just the issue is not flagged up by this test. It looks like we might actually have to use the original test reproduction, not just any old file.

[2015-11-26 23:07] fommil commented on #1160
(this does make me think that perhaps we should introduce a warning into the testing files, so that we can cover the notes behaviour incase it ever does break)

[2015-11-27 06:20] rorygraves commented on #1160
No notes because no errors in the file. Makes sense to have a file with some.

[2015-11-27 06:41] fommil commented on #1160
I had a thought, maybe the problem only manifests when type checking using the Right variants.

[2015-11-27 22:24] fommil commented on #1160
bloody hell, still can't get an automated reproduction. `Right` isn't the trigger. Maybe the symbol designations request triggers it...

[2015-11-27 22:34] fommil commented on #1160
my `*ensime-events*` following the instructions above (actually a `clean` didn't cause the problem, but the `compile` did. This seems to be non-deterministic)

[code]

[2015-11-27 22:38] fommil commented on #1160
(btw, I've noticed that we seem to be doing file typechecking and symbol designation queries a lot more than we maybe should be)

[2015-11-27 23:28] aemoncannon commented on #1160
Could it be related to the compiler restart / reload sources?

On Fri, Nov 27, 2015, 4:38 PM Sam Halliday <notifications@github.com> wrote:

[2015-11-28 09:18] fommil commented on #1160
It seems that way but I can't automate what I'm seeing when I do it manually.

[2015-11-28 10:43] fommil opened #1161 "Google Summer of Code"
@aemoncannon you obviously know about these :smile:

  https://developers.google.com/open-source/gsoc/faq

how much work is it to put in an application? If we could find a willing student it might be really good. Doesn't have to be limited to the server, could even be a case of getting one of the other editors up to par with Emacs.

[2015-11-28 11:18] fommil commented on #1160
hmm, when investigating this I have found an (unrelated?) problem with the file listeners... when sbt deletes the entire target directory and outputs the class files really quickly (e.g. for small projects) the file watchers don't always see the classfiles.

[2015-11-28 11:58] dragos commented on #1160
I don't know the ensime protocol very well, but are you calling `askReload` on each source? There's logic in the presentation compiler to handle "loaded" sources, and I think it's related to double-def errors. I think source files are checked first to see if they are in the "loaded" set, based on SourceFile equality. Maybe your in-memory implementation should have a different `equals` implementati

[2015-11-28 12:08] fommil commented on #1160
@dragos cool. Actually I'm not 100% sure that the in-memory stuff is to blame here, I was able to get (non-deterministic) failures just by using on-disk loading and various combinations of sbt clean/compile.

It's driving me crazy, but I'm trying to write a test now that basically simulates lots of sbt clean/compiles and file typechecking... hopefully by repeating that I'll guarantee a high possib

[2015-11-28 12:29] fommil opened #1162 "filewatcher doesn't initially see files in directories that are deleted and created quickly"
I have a commented-out failing test  for this in `CompileTimingTest`

[2015-11-28 13:12] fommil commented on #1160
I wonder if we're getting stale errors from presentation compilers that we've thrown away... we never get to remove them from the reporter. Hmm.

[2015-11-28 13:56] fommil commented on #1160
I have a theory about what is going on here. As the scala-ide people have pointed out, there is a bug in `scalac` where it sometimes complains about double definitions when classfiles are changing under the hood. We actually deal with this already via the VFS file watchers, **but** I just discovered that on a full `sbt` clean/compile cycle we can miss the changes. I've put in a fix for this in a s

[2015-11-28 14:04] fommil commented on #1160
just manually reproduced (still can't automate it), even with the VFS fix, which means we were restarting the compiler. Bugger. Best guess is that this is stale reporter stuff.

[2015-11-28 14:53] aemoncannon commented on #1160
Equals for sourcefiles is defined using path. Could this be related to
canonicalization?

On Sat, Nov 28, 2015, 8:04 AM Sam Halliday <notifications@github.com> wrote:

[2015-11-28 15:05] fommil commented on #1160
@aemoncannon when I have manually reproduced, every reference to the File has been canon. But maybe we've mixed up the contents-in and actual source file? I can't see an obvious place for that.

Also, I have (non-deterministically) reproduced without any in-memory files. So I'm starting to think this is a race condition in the pres compiler and that it's not fully cleaning everything.

[2015-11-28 15:08] fommil commented on #1160
looking at that code now, it looks like we are using the right file name when creating `InMemoryFile` (actually we do `.canon` needlessly because it's been done already by the protocol layer)

[2015-11-28 15:12] fommil commented on #1160
oh, maybe the `InMemoryFile` equals is not compatible with the other impls of `SourceFile`!

[2015-11-28 15:12] fommil commented on #1160
so all it would take would be to load the in-memory version of the file once to screw things up. OK, I'll create a test now.

[2015-11-28 15:16] fommil commented on #1160
W00T!!!! That was it, thank you @dragos and @aemoncannon for saving my sanity!

[2015-11-28 15:19] fommil commented on #1160
reproduction here https://github.com/fommil/ensime-server/blob/test_duplicate_classes/core/src/it/scala/org/ensime/intg/CompileTimingTest.scala

fails with

[code]

[2015-11-28 15:22] fommil commented on #1160
`BatchSourceFile` has

[code]

which should, on the surface, work... hmm

[2015-11-28 15:35] fommil commented on #1160
if we force everything to use our `InMemoryFile`, it all works. I'm going to issue a PR that skips `getSourceFile` and see how that fares.

[2015-11-28 15:44] fommil commented on #1160
something inside `scalac` must be doing equality checks on the `file: AbstractFile` instance instead of relying on the `BatchSourceFile.equals`. Wow, this is really fsked up!

[2015-11-28 15:52] fommil commented on #1160
bugger, moving everything to `InMemoryFile` breaks a bunch of other tests. I think we might have to just accept that `scalac` doesn't really support that "magic constructor" `BatchSourceFile` that you found @aemoncannon :-(

[2015-11-28 16:15] fommil commented on #1160
hmm, unless we detect if a file reference is being changed between memory and non-memory and unload before loading the alternative.

[2015-11-28 16:49] fommil commented on #1160
I can't believe how long it took to track this one down. Luckily I still have some hair left. I'll raise this as a PR and potentially temporarily break the `ensime-emacs` tests so that they Do The Right Thing.

[2015-11-28 16:53] rorygraves commented on #1160
Be fair to yourself, this one is gnarly....

[2015-11-28 18:13] #1160 closed

[2015-11-28 18:13] #1162 closed

[2015-11-29 11:50] michalrus commented on #492
When trying to jump to the definition of `org.scalatest.prop.GeneratorDrivenPropertyChecks`, I’m getting “Sorry, no definition found.”. I’ll try to prepare a test for this, as suggested by @fommil in the gitter channel.

Sidenote: IntelliJ can’t find the source either. :smiley_cat:

[2015-12-06 20:56] fommil commented on #1133
branch moved to https://github.com/fommil/ensime-server/tree/graphpocalypse

I've not been doing any work on this as my highest priority has been https://github.com/fommil/sbt-big-project and writing my scalax talk

[2015-12-08 16:23] aemoncannon commented on #1161
Relavent timeline here:
8 February, 2016 19:00 UTC	Mentoring organizations can begin submitting applications to Google.
19 February 19:00 UTC	Mentoring organization application deadline.
20 February - 26 February	Google program administrators review organization applications.
29 February 19:00 UTC	List of accepted mentoring organizations published on the Google Summer of Code 2016 site.

[2015-12-08 16:25] aemoncannon commented on #1161
Looks like there's a place on mentor application for established orgs to mention up-and-comers. That would be helpful.

Also 'most important' part is the Idea List. That should be *no* problem.

[2015-12-11 01:44] morgen-peschke commented on #1126
I'm also having this issue. In my case the update was initiated by the emacs client.

Is there a workaround that does not involve adding to the project dependencies? I'm having this issue on a shared project. I doubt my collaborators would appreciate additional dependencies to accommodate my preference for Ensime over another IDE :)

[2015-12-12 11:19] ancane commented on #761
:+1:

[2015-12-12 11:23] ancane commented on #888
:+1:

[2015-12-12 11:26] ancane opened #1173 "Search in javadocs"
1. Create and implement an API endpoit that takes a search term and returns a list of javadoc URLs.
2. Implement the search bar in HTTP server.

Related to #472

[2015-12-12 11:31] ancane commented on #471
:+1:

[2015-12-12 14:06] rumoku commented on #750
Intellij IDEA does not list *color*_  ,  but instead *color* only.

[2015-12-12 14:38] fommil commented on #1112
[code]

[2015-12-12 14:49] ancane commented on #471
I'm working on this in my branch https://github.com/ancane/ensime-server

[2015-12-12 15:04] fommil commented on #1112
[code]

[2015-12-12 15:06] fommil commented on #1112
relevant for #1102

[2015-12-12 18:04] rorygraves commented on #1112
For those interested ```SexpSymbol("nilabc")``` was correctly rendered to ```nilabc``` but parsed back to ```SExpCons(SexpNil, SexpSymbol("abc"))```

[2015-12-12 19:48] #1112 closed

[2015-12-12 22:16] rorygraves commented on #471
Very cool - looking forward to this one!

[2015-12-12 22:46] fommil commented on #471
:+1: yup!

[2015-12-12 23:54] raboof opened #1176 "Analyzing implicits can confuse the compiler"
In the following snippet:

[code]

.. an implicit conversion from `scala.concurrent.duration.IntDuration` is used. This initially works, however after getting the implicits information for this while file (ImplicitInfoInRegion), suddenly this implicit is no longer applied.

[2015-12-13 00:01] raboof commented on #1176
I have added 2 reproduction tests in https://github.com/raboof/ensime-server/tree/sideEffectMarkingImplicits, one in `RichPresentationCompilerSpec` and one called ImplicitsBug.

From what I've been able to see so far it appears `RichPresentationCompiler.wrapLinkPos` appears to be the culprit and has an unexpected side-effect.

The test in `RichPresentationCompilerSpec` actually succeeds (in other

[2015-12-13 00:06] fommil commented on #1176
I want to close this as "can't reproduce" so much, but I have seen it with my own eyes. This is going to linger for years until some mad genius like @paulp comes along and  points at an obscure SI ticket from 2005 that hints at a terrifying inadequacy that makes us all question our reason for using this language.

[2015-12-13 00:08] fommil commented on #1176
Holy shit, you were able to reproduce? OK, all cards are being gathered again.

[2015-12-13 00:09] aemoncannon commented on #1176
Let's just restart the compiler on every request :-p

On Sat, Dec 12, 2015, 6:06 PM Sam Halliday <notifications@github.com> wrote:

[2015-12-13 11:51] fommil commented on #1176
I'm going to have to call in the heavies: @sschaef @dragos have you ever seen anything like this?

[2015-12-13 12:34] sschaef commented on #1176
Indeed, I know this problem. ;) @dragos just fixed it a few week ago in Scala IDE. But I can't remember what the origin of the problem was. Give me some time, I'm going to search for the ticket/PR.

[2015-12-13 12:43] sschaef commented on #1176
I was mistaken - we couldn't fix the problem. Iulian only opened a ticket: https://scala-ide-portfolio.assembla.com/spaces/scala-ide/tickets/1002552-implicit-not-found-after-scaladoc-request/details#

I talked with Jason about it and we came to the conclusion that the problem probably arises because we don't use Scaladoc correctly in Scala IDE. I looked into that by myself but couldn't find the or

[2015-12-13 12:50] fommil commented on #1176
interesting, I wouldn't have thought that scaladoc would play any part in this. We do have code that requests scaladoc information, but its not obvious that we'd be requesting that information here. CC @retronym because its starting to feel like a party in this ticket now.

[2015-12-13 15:55] raboof commented on #1176
My shot-in-the-dark guess (without looking at the code) would be that requesting scaladoc information, like our reproduction, calls `Global.getLinkPos` (or something even deeper) at some point.

[2015-12-14 14:26] dragos commented on #1176
That should be fixed in the upcoming 2.11.8. See scala/scala#4777

[2015-12-14 15:14] fommil commented on #1176
oh, wow! Can we try this out in a nightly release or something?

@raboof can you please submit the test (not the project test) as an ignored test?

[2015-12-14 15:22] dragos commented on #1176
Sure. Scala IDE nightlies should already have this fix.

[2015-12-14 15:23] fommil commented on #1176
ok, I guess we just need to figure out how to test against scala nightlies

[2015-12-14 15:29] raboof commented on #1176
@fommil unfortunately only the project test successfully reproduces the problem (the presentation compiler test still succeeds, I haven't been able to track down the difference yet).

I'll try to run the project test in https://github.com/raboof/ensime-server/tree/sideEffectMarkingImplicits against a Scala IDE nightly - unless someone beats me to it ;).

[2015-12-14 19:24] fommil commented on #1176
OK, commiting that as an ignored test would also be good.

[2015-12-14 22:20] raboof commented on #1176
Submitted as PR #1177

[2015-12-16 03:49] metatron-the-chronicler opened #1179 "scala js cross build ensime server starts in emacs but does not connect"
build.sbt:

Note that I did try this with lazy vals but the result is the same.
[code]

.ensime file:

[code]

Ensime server will start in emacs but the editor itself will never connect.

[2015-12-16 06:52] fommil commented on #1179
Hi, can you open this against ensime-emacs please?

[2015-12-16 06:52] #1179 closed

[2015-12-16 06:53] fommil commented on #1179
You might want to look at my kerbal-calculators project for examples of scalajs projects that work with ENSIME.

[2015-12-18 20:27] fommil commented on #1133
I'm going to try and spike this over the weekend:

1. feature parity
2. refactor the SearchService into an actor only
3. introduce a server config object (we'll need it later for ignoring noise)
4. performance improvements for startup (reuse objects during startup)

then I can start looking at adding new features.

[2015-12-18 20:28] fommil commented on #1042
this one is really killing me at work too! Been thinking about making a Java 7 filewatcher as a dependency, and then using it if its available, otherwise falling back to the Java 6 implementation from VFS.

[2015-12-19 06:37] jlallison opened #1185 "UNRESOLVED DEPENDENCIES org.ensime#ensime_2.10;0.9.10-SNAPSHOT: not found"
Using sbt .13.9 and scala 2.10.4 both on AWS emr-4.2.0. Attempting to establish ensime connection through emacs running on a client with ensime as available 12/18/2015 via MELPA.

Various errors akin to this have been noted in the archives. Is this a known issue, explainable or easily resolved?

[info] Resolving org.scala-sbt#precompiled-2_8_2;0.13.9 ...
[info] Resolving org.scala-sbt#precompiled-

[2015-12-19 08:24] fommil commented on #1185
Please raise tickets on the ENSIME Emacs tracker. Also, read CONTRIBUTING.

[2015-12-19 08:24] #1185 closed

[2015-12-19 11:01] fommil commented on #1161
I've put the feelers out on twitter. Let's see what comes back in terms of students.

[2015-12-19 11:31] fommil opened #1186 "update and improve / consolidate all documentation"
Since the great big split into modules, the documentation is really complex.

There is a lot of shared content that is editor agnostic (e.g. ensime-sbt, workflow, server side developer docs etc) but intro to new users should be editor specific.

The big question is: do we put the docs all in one location or try to split them across multiple wikis? Probably the former is preferable (less confusing)

[2015-12-19 11:33] fommil commented on #1185
actually, this is a proxy issue. Probably best to ask about it from an sbt expert, or use the pre-built ensime jars https://github.com/ensime/ensime-emacs/wiki/Quick-Start-Guide#installing-the-server-from-assembly-builds-or-source

[2015-12-19 12:16] fommil commented on #492
I just got a missed hit on `Future.sequence` in `SearchService` in our `SearchService`. Hmm.

[2015-12-19 18:35] fommil commented on #1133
I have feature parity, I think (maybe even a little better) but I'm getting stung with https://github.com/orientechnologies/orientdb/issues/5490

[2015-12-19 19:02] fommil commented on #1133
*sigh* and now https://github.com/orientechnologies/orientdb/issues/5491

people actually use these graph databases in production systems, right?

[2015-12-20 16:48] fommil opened #1189 "SWANKY (over WebSockets)"
can't believe we didn't have a ticket for this.

[2015-12-20 16:49] fommil commented on #1189
oh, we did have this: #834 but that is also a more general refactor of the actual protocol itself too.

[2015-12-20 16:49] #834 closed

[2015-12-20 17:25] VlachJosef commented on #492
I'm getting the same missed hit on `Future.sequence` but when I jump to `Future` definition and then try again, then it is working.

[2015-12-20 17:31] fommil commented on #492
@VlachJosef that's usually a sign that the indexer is broken. Actually, I bet I know what that is and I think the Graphpocalypse might fix it (FQNs of methods must include their parameters and return type)

[2015-12-20 17:57] fommil commented on #1133
good news is I think I've fought through all the OrientDB reliability issues... but the bad news is that the duplicated FQNs for methods stings us a lot more in OrientDB than in H2 so I need to fix that bug first.

[2015-12-20 19:13] fommil opened #1190 "correctly index methods by FQN and Descriptor"
I'm currently working on this as part of the Graphpocalyse but it might make sense to split this out as a separate piece of work and support it in H2 first of all.

We can trivially get the FQN and Descriptor from the bytecode, but getting it from the scalac `Symbol` is tricky.

`Helpers.symbolIndexerName` and `DocFinding.javaFqn` should really be sharing the same logic, which could be implemented

[2015-12-20 19:26] fommil commented on #1190
@VlachJosef btw this is related to the problem with jumping to method sources, I think.

[2015-12-20 20:08] fommil commented on #1190
good old `scala.meta`
https://github.com/scalameta/scalameta/blob/master/scalahost/src/main/scala/scala/meta/internal/hosts/scalac/reflect/Platform.scala

[2015-12-20 20:43] fommil commented on #1190
my WIP is in https://github.com/fommil/ensime-server/tree/index_method_descriptors

which now really clarifies the distinct graphpocalypse changes (I'll come back to it after fixing this)

https://github.com/fommil/ensime-server/tree/graphpocalypse

[2015-12-20 20:49] fommil commented on #1190
and also https://github.com/lihaoyi/Metascala/blob/master/src/main/scala/metascala/imm/Type.scala#L48-L52

[2015-12-21 14:54] fommil commented on #1190
https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/org/scalaide/core/internal/jdt/model/ScalaStructureBuilder.scala

[2015-12-22 06:56] fommil commented on #1190
Jason says this is how to do it in 2.12

[code]

[2015-12-22 16:59] theefer commented on #716
I believe this is still an issue, as classes seem to be resolved globally in a multi-project, rather than in the local sub-project, which is an issue if sub-projects declare the same class (e.g. `lib.Config`).

How much work would it be to address this issue? Has there been any progress toward a fix?

As this is the main blocker for me to use ensime for various projects, I'd really love to see it

[2015-12-22 17:29] fommil commented on #716
can you give an example of what you want to achieve? there are two things that can be done, independently, each solving different problems.

[2015-12-22 17:55] theefer commented on #716
Sure. For example I'm working on the [grid](https://github.com/guardian/grid) project which uses a [multi-project sbt structure](https://github.com/guardian/grid/blob/master/project/Build.scala). Each of these sub-projects has its own different `lib.Config` class (e.g. [kahuna's](https://github.com/guardian/grid/blob/master/kahuna/app/lib/Config.scala) and [media-api's](https://github.com/guardian

[2015-12-22 18:08] aemoncannon commented on #716
We used to support this by launching multiple ensime instances. You'd pick the desired subproject on launch, and that, coupled with the config, was enough to build the proper deps list (all subproject dependency info was (still is?) encoded in the monolithic .ensime.

This got thrown out at some point. Options as far as I can tell:
* old-school: multiple ensime launches. needs server support. mono

[2015-12-22 18:13] theefer commented on #716
One use case I forgot to mention, in case it's relevant, is that all the sub-projects are independent, but [they all depend on the `common-lib` sub-project](https://github.com/guardian/grid/blob/master/project/Build.scala#L107), so they need to be able to [resolve its definitions](https://github.com/guardian/grid/blob/master/media-api/app/controllers/MediaApi.scala#L30-L36) too.

[2015-12-22 18:37] fommil commented on #716
I think we can support this new in the server quite easily. More thoughts in #1152 hoof to help you implement this before one of us gets around to it!

[2015-12-22 18:37] #716 closed

[2015-12-22 18:38] fommil commented on #716
Autocorrect hates me.

[2015-12-22 18:40] fommil commented on #716
Also, to support the kind of workflow aemon is talking about on the client side, follow https://github.com/ensime/ensime-sbt/issues/116

That is something that may be relevant for me so I may be looking into it in a few months

[2015-12-22 18:43] fommil commented on #716
Hydra mode is probably better long term, especially if the indexer is updated the understand module dependencies. Old school++ may be needed to tame large projects.

[2015-12-22 19:29] sugakandrey commented on #1161
I'm very interested in participating. Currently in the third year pursuing my CS degree, long time emacs user and been using ensime to write scala for a year more or less. Would be glad to be of any help.

[2015-12-22 20:03] fommil commented on #1161
Sweet!

[2015-12-23 22:33] noelmarkham commented on #888
I'm hoping to take a look at this over the Christmas break and into the New Year. Just checking I'm not treading on any toes here?

[2015-12-23 22:35] fommil commented on #888
Awesome! Not sure what my response time is going to be like over Xmas but I'll try to answer any questions you ask... eventually.

[2015-12-23 22:36] noelmarkham commented on #888
Same :)

[2015-12-23 22:36] fommil commented on #888
I wrote a regex in paranamer (javadocs implementation) that might be useful for you on the server side.

[2015-12-23 22:37] noelmarkham commented on #888
Sounds good - any work/help welcomed!

[2015-12-23 23:13] fommil commented on #1186
https://github.com/ensime/ensime-docs

[2015-12-26 20:26] fommil commented on #471
@ancane how are you getting on with this? Need any help?

BTW, have you released your popup-imenu browser yet?

[2015-12-26 20:30] ancane commented on #471
@fommil Thanks, doing good. Close to finish with the traverser for structure view.
And I made the PR for popup-imenu https://github.com/milkypostman/melpa/pull/3405.

[2015-12-26 22:41] lxol opened #1194 "Bug in a rename function id refactor request"
A refactor rename request produces a wrong result for a function id when param's opening and closing parentheses are on different lines.
For example the snippets below is an attempt to rename `doIt` to `doItNow`
[code]

[code]

I will submit a reproduction ignored test for the issue.

[2015-12-26 23:01] fommil commented on #1194
hmm, this is probably an upstream bug with scala-refactoring. Can you please re-raise with them, the failing test case is good!

[2015-12-26 23:01] #1194 closed

[2015-12-26 23:37] noelmarkham commented on #1186
Ok, so I've been having a think about the best way to lay out the documentation for the whole of ENSIME, and I think this makes sense to me:

 * Update both ensime.github.io and ensime.org, to point to a nice, concise one-pager, effectively answering "What is ENSIME, how do I get it, and how do I get going with it for my editor." Off the top of my head, something similar to http://brew.sh/ or http

[2015-12-26 23:40] fommil commented on #1186
Good thinking!

We now have a dedicated repo for the documentation, so we can use it for either pages or a wiki. I do have a preference towards wikis because it is easier to create a structure around it and it's easier for people to contribute to.

Agree that all editors/projects should have their own getting started page, but I'd recommend that it be in the docs repo and that all our projects hav

[2015-12-27 08:45] lxol commented on #1194
done
https://github.com/scala-ide/scala-refactoring/issues/119

[2015-12-30 19:43] lxol commented on #1194
https://github.com/scala-ide/scala-refactoring/pull/121

[2015-12-31 04:44] fosskers opened #1197 "Force downloading of javadocs?"
I'm working on an application that needs access to Google's APIs. It does this via [Google APIs Client Library for Java](https://developers.google.com/api-client-library/java/).

I've added the following to the `libraryDependencies` list in my `build.sbt`:

[code]

Now, in a source file, I import the following:
[code]
which compiles. The trouble is, the ensime typechecker tells me: `ERROR: object

[2015-12-31 10:20] fommil commented on #1197
The tool that generates your .ensime is responsible for doing this. ensime-sbt does it.

[2015-12-31 10:20] #1197 closed

[2015-12-31 14:44] fommil commented on #1197
but, it just sounds like you need to regenerate your `.ensime` and then restart ensime. BTW, these kinds of tickets are best raised on the client that you're using, not the server.

[2015-12-31 17:07] fosskers commented on #1197
Thank you, I'll keep that in mind. I has assumed it was some problem with the underlying server, hence I opened it here.

[2015-12-31 17:09] fommil commented on #1197
thing is, if you report problems on the server, nobody knows which client you're using. ENSIME is not just about Emacs anymore... actually we have more Sublime and Atom users these days than Emacs users.

[2015-12-31 17:15] fosskers commented on #1197
Ok, it worked. I did `gen-ensime` within `sbt`, and that pulled down what I need. Thanks again.

[2015-12-31 18:31] tanzoniteblack opened #1198 "Java completions shouldn't contain private functions"
When using ensime to work on Java files (which I know is still in alpha), the completions list contain private functions for other objects.

This is not true when working with autocompletions for Java objects from within a scala file.

[2015-12-31 18:34] fommil commented on #1198
yeah, we should probably filter by ability to see the symbol. Does our scala mode handle this correctly?

[2015-12-31 18:36] tanzoniteblack commented on #1198
The scala mode handles it correctly.

[2015-12-31 18:54] aemoncannon commented on #1198
Good catch! Should be a pretty easy change

On Thu, Dec 31, 2015, 12:36 PM Ryan Smith <notifications@github.com> wrote:

[2016-01-01 00:56] tanzoniteblack opened #1199 "Java symbol at point doesn't work at beginning of word"
Using `|` to represent cursor position, running the ensime-emacs command `ensime-rpc-symbol-at-point` in java-mode at `|UserDetails` returns `nil`, while running it at `U|serDetails`, `UserDetails|`, or anywhere else inside the symbol, returns valid information. This works as I would expect in scala-mode.

I'm filing this bug against ensime-server, since it looks like this emacs function is just a

[2016-01-01 06:59] fommil commented on #1199
OK cool, this sounds like the sort of thing that could be written up as a failing test in the server. Do you think you'd be able to do that if we help? Have you got paulp's sbt-extras installed? That's the only dependency, everything else bootstraps.

[2016-01-01 08:46] fommil commented on #1134
we no longer need to include the scala compiler (version specific) jars https://github.com/ensime/ensime-sbt/issues/119

[2016-01-01 10:39] fommil commented on #716
I've implemented subproject restrictions when generating `.ensime` files in https://github.com/ensime/ensime-sbt/issues/116

It should make it into ensime-sbt 0.3.0, which I plan to release today/tomorrow.

[2016-01-01 15:08] theefer commented on #716
Amazing, thanks, looking forward to giving it a go!

Sorry if this is a silly question, but what do you mean by subproject restrictions, and how is it going to help with the subproject object resolution issue? I assume it's the Old school++ route? Will the idea be to run `gen-ensime NAME` for each sub-project?

Happy New Year!

[2016-01-01 15:10] fommil commented on #716
old school++, although I would tend to only do one at a time... it's more for managing an extremely large mono repo.

[2016-01-01 17:30] tanzoniteblack commented on #1199
If you point me in the right direction of where such a test would live, I could write something out. Honestly, if you point me in the right direction of where the code that does this kind of thing lives, I could probably also fix the issue. Only reason I haven't started working on bugs in this projects, like I have in ensime-maven and ensime-emacs, is that I haven't gotten around to exploring the

[2016-01-01 17:34] fommil commented on #1199
ok cool, some docs

https://github.com/ensime/ensime-emacs/wiki/Quick-Start-Guide#installing-the-server-from-assembly-builds-or-source

and the test for this would probably be somewhere like https://github.com/ensime/ensime-server/blob/master/core/src/it/scala/org/ensime/core/JavaCompilerSpec.scala

[2016-01-01 18:50] aemoncannon commented on #1199
Please do add test.

To fix, see TreeUtilities.java and look for pathFor, which creates
TreePaths given a compilation unit and an offset.

On Fri, Jan 1, 2016, 11:34 AM Sam Halliday <notifications@github.com> wrote:

[2016-01-02 16:17] fommil commented on #1190
@paulp apologies for pinging. We'd like to resolve FQNs for `scala.tools.scalap.scalax.rules.scalasig.Symbol` as well as `scala.reflect.internal.Symbols.Symbol`. It would be convenient to turn the latter into the former, to avoid duplicating the effort.

You probably know this code better than most https://github.com/scala/scala/blob/2.11.x/src/scalap/scala/tools/scalap/scalax/rules/scalasig/Symbo

[2016-01-02 19:44] #1199 closed

[2016-01-02 19:52] fommil commented on #1190
some progress (at least for `Symbols.Symbol`)

- https://github.com/fommil/ensime-server/blob/index_method_descriptors/core/src/main/scala/org/ensime/core/SymbolToFqn.scala
- https://github.com/fommil/ensime-server/blob/index_method_descriptors/core/src/it/scala/org/ensime/core/SymbolToFqnSpec.scala

I'm a bit confused about what to do for `scala.Boolean` and co vs their primitives. I wonder if th

[2016-01-02 20:53] sschaef commented on #1190
What is the confusion regarding `scala.Boolean`?

[2016-01-02 21:01] fommil commented on #1190
I don't know when to resolve them and when not to. They aren't completly erased into primitives.

[2016-01-02 22:05] paulp commented on #1190
Other than to wonder if you've seen `def javaClassName` I can't comment except to say this code has been written a hundred times but never yet correctly.

`scala/Boolean` will never appear in a correct jvm-level descriptor or signature. It's `Z` in a position where a primitive type can appear (e.g. method parameter type or return type) and `java/lang/Object` where it can't - type argument.

[2016-01-02 22:31] fommil commented on #1190
@paulp no, I had not seen that, looking into it. I don't know how I missed that. It doesn't solve everything but it might save me a few lines of code (I think). Is `javaClassName` "broken"?

I was thinking along similar lines re: `Boolean`. But, there is also the case where the user really wants to see the methods on `Boolean` in which case we **do** want to see something like `scala.Boolean.&&` (

[2016-01-02 22:41] paulp commented on #1190
In principle `javaClassName` (which should just be `javaBinaryName.toString`) is as close to canonical as you will find, since it's the method used in bytecode generation. Probably you can still be burned by phase issues.

[2016-01-02 22:46] fommil commented on #1190
@paulp oh joy. And any ideas on the pickler side?

[2016-01-02 22:52] paulp commented on #1190
Not sure what you mean by the pickler side, but I think that even if I could help you on that point I wouldn't because I do not wish to be an enabler. My helpfulness streak sometimes gets the better of me, but only briefly.

[2016-01-02 22:55] fommil commented on #1190
@paulp cheers anyway, by pickler I meant `scala.tools.scalap.scalax.rules.scalasig.Symbol`

[2016-01-02 23:00] paulp commented on #1190
AFAIK that's just yet another re-encoding of the symbol structure. It might only exist to get around the nightmare of the global-internal path-dependent types. But all that code predates me and has barely been touched in maybe ten years.

[2016-01-02 23:03] fommil commented on #1190
indeed it is. And, of course, the only way to create an instance seems to be to enter the `Pickler` phase, create some `Array[Byte]`s, and then parse it again. Joy. Going the other way would appear to involve loading every symbol into a presentation compiler that has access to the bytes or sources, which would probably blow up the heap on any desktop machine for a big project.

[2016-01-02 23:34] fommil commented on #1190
int/boolean example `scala.Int.$plus(I)I` (the FQN of "plus" between two integers) Simple rule can be: always resolve to a primitive, unless its the base class name of a method.

[2016-01-03 01:21] aemoncannon commented on #1198
@tanzoniteblack, want to take a crack at this?

[2016-01-03 05:46] tanzoniteblack commented on #1198
Sure. I'll take a look when I get a chance. Probably sometime tomorrow.

[2016-01-03 11:21] fommil commented on #1186
@aemoncannon can you please point `ensime.org` at `ensime.github.io` ?

[2016-01-03 22:20] fommil commented on #1190
wo0t! @aemoncannon check out this

- https://github.com/fommil/ensime-server/blob/index_method_descriptors/core/src/main/scala/org/ensime/core/SymbolToFqn.scala
- https://github.com/fommil/ensime-server/blob/index_method_descriptors/core/src/it/scala/org/ensime/core/SymbolToFqnSpec.scala

and I can now see why the logic can't be fully shared with the doc finding, because there are weird rules like

[2016-01-03 22:22] rorygraves commented on #1190
Cool stuff

[2016-01-03 23:36] aemoncannon commented on #1190
Awesome! Will take a look soon. Will this format be public, e.g. exposed
via symbol-by-name at some point?

On Sun, Jan 3, 2016, 4:22 PM Rory Graves (@a_dev_musing) <
notifications@github.com> wrote:

[2016-01-05 16:42] tanzoniteblack commented on #1198
@aemoncannon I have some tests sitting on a branch (https://github.com/ensime/ensime-server/compare/master...tanzoniteblack:java-private-completions?expand=1), but it's not immediately obvious to me how to actually filter out the privates.

[2016-01-06 12:09] fommil opened #1208 "support for pre-built indexes"
(I'm sure we had one for this already, I can't find it... let's mark it as dupe of this when we find it)

It would be really useful to be able to have a pre-built index mode where the user can store template projects and use them as the initial index of a project. A bit like we do in our tests!

Now imagine entire teams sharing a pre-built index for their SNAPSHOT releases of massive projects.

Th

[2016-01-06 13:49] fommil opened #1209 "CI is broken"
Sorry all @ensime/server-panel @ensime/emacs-panel @smootoo I upgrade docker on our build machines yesterday (Ubuntu promised it was a security update) and now all the builds are hanging.

Looks like it might be this

  https://github.com/docker/docker/issues/18180

I'll fix as a priority tonight.

[2016-01-06 23:49] fommil commented on #1209
I downgraded `docker` and that seems to have fixed it. However, I need @rorygraves to hard restart his server as it took it down, then I'll need to add his box again as a node.

[2016-01-06 23:52] fommil commented on #1209
@smootoo it looks like you were allowed to log on to `fommil.com` so you should have been able to add your projects. I've flagged you as admin.

[2016-01-07 12:47] myrjola commented on #345
Hi! Was all current work regarding ENJINE already merged? Is there any documentation related to the Java support? I could give it a shot and help out if I can.

[2016-01-07 12:54] fommil commented on #345
@myrjola it's ongoing, you can try it out by just turning on `ensime-mode` when in a java file. Have a look in https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/core/JavaAnalyzer.scala to see what is currently implemented.

[2016-01-07 14:22] myrjola commented on #345
Thanks @fommil! I got autocompletion working, so ENJINE is already quite usable. Great work so far!

I noticed some problems. For example `ensime-show-all-errors-and-warnings` works, but `ensime-print-errors-at-point` hangs for me. Probably it is not implemented as there is no references to error or warning in `JavaAnalyzer`. Is it too early to start opening issues and PRs?

[2016-01-07 14:33] aemoncannon commented on #345
Not too early. Go for it!

On Thu, Jan 7, 2016, 8:22 AM Martin Yrjölä <notifications@github.com> wrote:

[2016-01-07 15:59] fommil commented on #345
@myrjola the absolute best way to open a ticket is to submit a PR with a failing test. We can help with that, start by looking in the core/it folder for similar tests (look for tests with Java in their name). It should be reasonably obvious how to copy/paste the template.

[2016-01-07 16:00] fommil commented on #345
BasicWorkflow could probably do with a java file added to it, it's a big generic integration test that everything is all wired up correctly.

[2016-01-08 00:39] jvican commented on #384
@fommil Sorry, could you explain why it's not possible? I am really interested in this feature. My memory footprint doubles just because of this.

Anyway, from my understanding of the new Scala compiler `dotty`, I have a hunch that this could be possible. However, there is still a long way to go.

[2016-01-08 08:14] fommil commented on #384
SBT doesn't expose the presentation compiler. ENSIME doesn't use the compiler. There is no benefit to be gained here.

[2016-01-08 09:02] jvican commented on #384
Oh right, I miss that. So, basically, there is no way to share sbt? I have no idea, but could it be feasible to write a sbt plugin that is receiving commands sent by ensime, run them and return the result? (in case sbt is async, which I think so) Or perhaps that's too much overhead/complex?

[2016-01-08 10:02] jvican opened #1211 "`EnDeclaration` is not working"
This issue is related to [ensime-vim](https://github.com/ensime/ensime-vim). I open vim, wait for the `ensime analyzer` to be ready and run `EnDeclaration`. Nothing happens.

On the `ensime-vim` side:
[code]

On the `ensime-server` side:
[code]

My `.ensime` looks like this:
[code]
Running sbt `0.13.9` and scala `2.11.7`.

[2016-01-08 10:05] rorygraves commented on #1211
I suspect that your cache directory is out of sync with the latest ensime server changes, can you please clear your .ensime_cache, regenerate your .ensime and try again?

[2016-01-08 10:07] fommil commented on #384
I'm a bit confused what you're asking for. ENSIME doesn't use sbt, the developer uses sbt themselves (one instance) if that is their build tool. It's not everybody's build tool.

[2016-01-08 10:09] fommil commented on #1211
yeah, I think Rory has it. Please reopen if it still happens after that.

[2016-01-08 10:09] #1211 closed

[2016-01-08 10:09] jvican commented on #1211
Yep, got it! Why is that happening?

[2016-01-08 10:11] rorygraves commented on #1211
Database Schema has changed due to recent work, we don't currently detect this,  If we did then we could automatically rebuild the database.

[2016-01-08 10:11] fommil commented on #1211
hmm, no, we're careful about the schema and we have versioning. My guess is you created an ensime server and then killed the process, and it was partway through creating the schema.

[2016-01-08 10:12] jvican commented on #384
Ups, sorry, I took for granted that `ensime` is using `sbt`. I don't know why. Thanks!

[2016-01-08 10:12] rorygraves commented on #1211
Whoops my bad, spreading false rumors....

[2016-01-08 10:14] fommil commented on #1211
btw we have this checklist for working through problems in ENSIME Emacs https://github.com/ensime/ensime-emacs/wiki/issue

I can imagine ENSIME Vim could have a similar thing... might be worth following if anything else like this comes up (although chances are most problems you encounter will be due to the Vim client simply not supporting it yet).

We're very tolerant of false alarms on the issue

[2016-01-08 10:16] jvican commented on #1211
Is there anything that can be done to avoid those kind of errors @fommil? I think it's not the first error that happens because of bad initialization.

Yes, I will give those pending features a try! Hope me to be around.

[2016-01-08 10:40] fommil commented on #1211
it's probably related to the basic state of ensime-vim. Once you get the launching stabilised, this will be extremely rare.

We should touch base after the Emacs launching refactorings, we're hoping to use coursier instead of sbt.

[2016-01-08 10:50] jvican commented on #1211
Nice, `coursier` is great, let me know if I can help.

[2016-01-08 22:57] fommil commented on #1209
for future reference, this is the script to run to generate all the necessary crypto on the docker server https://gist.github.com/bradrydzewski/a6090115b3fecfc25280

[2016-01-08 23:03] fommil commented on #1209
and put this in `/etc/defaults/docker` (substitute IP address)

[code]

[2016-01-08 23:46] fommil commented on #1209
then you send the `key.pem` and `cert.pem` to me, and I put it in a folder and run something like

[code]

[2016-01-08 23:56] fommil commented on #1209
![everything's fine](https://media.giphy.com/media/3rgXBtMidPgPQb1is8/giphy.gif)

[2016-01-08 23:56] #1209 closed

[2016-01-09 01:56] rlvoyer opened #1214 "SearchService parsing exception"
It looks as though the ENSIME indexer is blowing up while trying to index [rojoma-json](https://github.com/rjmac/rojoma-json) classfiles.

[code]

[2016-01-09 02:51] jasonij commented on #1214
Yeah, it happens with [socrata-http](https://github.com/socrata-platform/socrata-http) too. It's the `-impl` directory. The idea, I think, was that things in `-impl`are implementation details that a developer shouldn't have to bother with. However, it does monkey up ENSIME.

[2016-01-09 09:22] fommil commented on #1214
Those classnames are breaking the JVM bytecode naming standards, so we'll have to put in a workaround. If you'd like to have a look at this, in should be pretty simple. First look in DescriptorParserSpec and add a test (obvious, some examples to copy) then DD the extra rules in DescriptorParser

[2016-01-09 10:25] fommil commented on #1214
the dollar sign is not a valid package descriptor name. We can workaround this but I advise flagging this upstream. In @jasonij's case, it looks like the dash is used in a package, but that is also not allowed. Both packages must be doing this in bad macros.

Incidentally, is there any reason why you wouldn't use spray-json-shapeless or circe for JSON? This seems like a pretty obscure library.

[2016-01-09 11:12] fommil commented on #471
@ancane there was a long-standing bounty on this ticket. If you don't claim it, then the money sits in a bank account for eternity and nobody gets it. Please claim it at https://www.bountysource.com/issues/2916173-summarise-file-aka-structure-view

[2016-01-09 11:12] #471 closed

[2016-01-09 11:18] fommil commented on #471
@ancane are you signed up for gitter.im ?

[2016-01-09 18:10] ancane commented on #471
@fommil Thanks, I'm glad bounty waited for me ;)
Which room should I look for at gitter?

[2016-01-09 18:19] jvican opened #1215 "Missing inference type for by name parameters"
When checking the type param of the function `startServer` in `spray`, I get this response:
[code]
As you see, the second list of parameters of the function has the type `<byname>` when it should have the type `spray.routing.Route`. However, the `name` field gives the right type.

[2016-01-09 18:28] fommil commented on #1215
can you provide the example project that created this? It's usually more interesting than the result.

[2016-01-09 18:28] fommil commented on #471
https://gitter.im/ensime/ensime-server

[2016-01-09 18:29] jvican commented on #1215
[code]

[2016-01-09 18:29] fommil commented on #1215
no, I mean the project itself. The source code that triggered it. Everything else is kind of irrelevant compared to the source code that produced this.

[2016-01-09 18:32] jvican commented on #1215
Oh, sorry. Do you want to check the whole project or only the main class?
Main class [here](https://gist.github.com/jvican/7802cd14791261485930). Whole project will be more difficult, it's private, but if you really need it I could make it public.

[2016-01-09 18:33] fommil commented on #1215
yes, please copy that source here. It's the most important bit.

[2016-01-09 18:34] jvican commented on #1215
[code]

[2016-01-09 18:37] fommil commented on #1215
I can imagine what's happening here. I have had to implement some workarounds for by-name parameters in the FQN calculations.

[2016-01-09 18:39] jvican commented on #1215
Great! When are you guys releasing the next version? (aprox)

[2016-01-09 18:42] fommil commented on #1215
every commit that is merged is released, but my personal backlog is so big I don't think I'll get around to this anytime soon. Maybe somebody can pick it up at the hack day, unless you're interested?

[2016-01-09 18:45] jvican commented on #1215
Count me in, I will take it but give me some time as well as I will be busy the next week.

[2016-01-09 21:53] cocodrino opened #1216 "ERROR akka://ENSIME/user/ensime-main/tcp-server/con1 o.e.s.t.TCPConnectionActor - Error seen during message processing, closing client connection"
Hi guys, after update to emacs 15 I'm receiving this error, I've deleted my ensime emacs package and reinstalled but it still doesnt works

this is the error

[code]

do you know how fix it?...please let me know if u need more details/info.thanks!!!

[2016-01-09 22:46] fommil commented on #1216
please follow the Troubleshooting Guide here https://github.com/ensime/ensime-emacs/wiki and then raise a ticket on the ensime-emacs server once you have the information that it requests. Please do not include anything other than the stacktrace from the server logs.

[2016-01-09 22:46] #1216 closed

[2016-01-10 01:37] rlvoyer commented on #1214
@fommil: I'd be happy to try to attack a workaround. While we can consider moving away from rojoma and socrata-http for some projects at Socrata, it's unlikely we'll phase them out everywhere, so it'd be nice if we could add some workarounds to work with them w/ ENSIME. As for why we're using rojoma... One of our colleagues started building it quite a while ago (before the Scala JSON ecosystem had

[2016-01-10 04:18] chipsenkbeil commented on #1209
@fommil, do you have a recommendation for restricting access to `fommil.com`? Looks like you can do something with iptables as described [here](https://forums.docker.com/t/restricting-external-container-access-with-iptables/2225/2).

[2016-01-10 10:55] fommil commented on #1209
I've not done it before but that looks sensible, I think you only want the one line for public access on the external interface.

[2016-01-10 11:28] jvican commented on #472
This sounds awesome. Is anyone working on this (perhaps @epost)? I would like to pick it up.

[2016-01-10 11:34] fommil commented on #472
@jvican excellent! First thing to do is research on what the natural queries would look like. Maybe study scalex a bit? I can help with Lucene implementation.

[2016-01-10 12:15] jvican commented on #472
Cool, I have enough info to start the research. I will upload a doc with naive examples of the queries any time soon!

[2016-01-10 18:26] fommil commented on #1161
Apparently the deadlines are coming up soon https://developers.google.com/open-source/gsoc/timeline

We have until the 19 February to submit applications.

@sugakandrey you're basically the only person who has registered interest, so it's up to you to make some suggestions for the topic :smile: If you draw a blank, we can help out. I'd recommend thinking about what your dream feature or integratio

[2016-01-10 21:51] fommil opened #1217 "Java 7 NIO filewatcher"
@aemoncannon creating this just because one of us will eventually work on this.

We should put this in a separate repo so it can build under java 7. I'll try to get a docker image built for that.

One of the upstream tickets in #1042 points to some prior art in this area. Also, I think sbt might have some Java 7 file watchers, so we could potentially depend on their IO library if its in there.

[2016-01-10 21:57] sugakandrey commented on #1161
Right now I'm a little bit busy with the upcoming exams, but will try to come up with something as soon as I get some spare time, which will hopefully be soon.

[2016-01-10 22:29] rlvoyer commented on #1214
@fommil: actually, it seems to me as though the use of the dash inside a symbol inside a package name is totally acceptable albeit unconventional. I'm having trouble finding official documentation on this point. The best I can find is [this old blog post by Daniel Spiewak](http://www.codecommit.com/blog/java/interop-between-java-and-scala) where he writes:

[2016-01-10 22:31] fommil commented on #1214
@rlvoyer it's probably allowed by the JMV bytecode internals, but it is most certainly **not** allowed according to the Java Language Specification (I read that chapter in detail when writing the `DescriptorParser`... amusingly, there are classes in the `sun.` namespace which are also not valid, possibly to avoid people calling them from Java)

[2016-01-10 22:48] rlvoyer commented on #1214
The Scala compiler is translating the dash into "$minus" and if I'm reading the spec correctly, "$minus" is a valid identifier. According to [the spec](http://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.8), a valid identifier must start with a "Java letter":

[code]

For example, here's the output from Scalap when pointed at one of the classes in the relevant package:

[code]

I'm a

[2016-01-10 23:03] fommil commented on #1214
Hmm, interesting! I thought we'd nailed the spec. Always room for improvement.

[2016-01-11 00:56] fommil opened #1218 "LICENSE sign off"
Put in a github service to make sure contributors are aware of the license they are using when submitting. There's got to be something.

We will never ask for copyright assignment to us. It'd be too impractical anyway.

[2016-01-11 10:17] fommil commented on #1214
oh but hold on, @rlvoyer an `Identifier` is not a valid character in a package name in the JLS. It seems to be permitted in the bytecode, evidently.

[2016-01-11 17:19] rlvoyer commented on #1214
@fommil what makes you say that? Section 6.5 of the JLS has this recursive definition of PackageName:

[code]

My interpretation of this is that a package name is one or more "."-separated Identifiers. Am I misreading this?

[2016-01-11 17:23] fommil commented on #1214
heh, no I must have misinterpreted it. That's a real pain actually, because a lot of people use `$` to detect the class part of a FQN.

BTW, if you want a **real** challenge, try rewriting the parser with parboiled2. It should give us a performance boost.

[2016-01-11 17:28] rlvoyer commented on #1214
My level of familiarity w/ the ENSIME codebase and w/ parboiled is limited to about the 1.5 hours I spent looking at it this weekend, split between understanding the code and understanding the Java Language spec. :) But if you're looking for more contributors, I'm happy to help where I can.

[2016-01-11 17:42] jasonij commented on #1214
A dash in the package name (as in `-impl`) is legal in Scala but illegal in Java.

[2016-01-11 21:59] fommil commented on #1217
specifically https://issues.apache.org/jira/browse/VFS-537?focusedCommentId=14491540&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-14491540

[2016-01-11 22:14] fommil commented on #1218
Using https://www.clahub.com

Our CLA reads "I, the contributor, agree to release my contributions to this projects under the terms of the GPL 3.0, except for changes to the api module which is under the terms of the Apache 2.0."

And I added one on ensime-emacs too which reads "I, the contributor, agree to release my contributions to this projects under the terms of the GPL 3.0."

[2016-01-11 22:15] fommil commented on #1218
and it works! https://github.com/ensime/ensime-server/pull/1219

[2016-01-11 22:23] fommil commented on #1218
alternative (incase the above goes down) https://cla-assistant.io/ https://github.com/cla-assistant/cla-assistant

[2016-01-11 22:29] fommil commented on #1218
moved to cla-assistant because clahub is not actively maintained.

[2016-01-11 22:54] #1218 closed

[2016-01-11 23:17] jvican commented on #1217
I will pick this up and try to solve this issue.

After some discussion at gittter, we have come up with two possible paths to solve this:

1. Detect Java 1.7+ automatically at runtime and then use the `FileWatcher` API. If only Java 1.6 is available, use sync monitoring of files/folders as it is now on `ensime-server`.
2. Since there are a lot of bugs related to VFS, it could be better to just ro

[2016-01-12 00:45] jvican commented on #1217
Already working on the second option after a fruitful conversation with @propensive. Hope to have this ASAP. I will start by implementing the ZIP scanner (https://github.com/propensive/rapture/issues/52) and the move on to the JAR one and the monitoring API.

[2016-01-12 02:02] ChavXO commented on #1161
I'd be interested at well. Where can we post ideas for suggestions?

[2016-01-12 06:45] fommil commented on #1161
Here is good, or gitter / email

[2016-01-12 16:10] rorygraves opened #1221 "SymbolDesignationsReq kills the presentation compiler if file does not exist"
[code]

[2016-01-12 16:47] fommil commented on #1221
the problem is that `SourceFileInfo` (which should be in `common.scala` not `outgoing.scala`) doesn't contain a `contents` or `contentsIn`. We otherwise support `File`s that do not exist (e.g. new buffers or scratch playgrounds).

Arguably, this is a client side bug and the current behaviour is correct according to the documentation https://github.com/ensime/ensime-server/blob/6d52e1090ffcd39ca25e

[2016-01-12 19:50] fommil opened #1222 "use sbt-catalysts"
there is lots of stuff that could be ripped out or simplified from our build definitions because its now available in https://github.com/InTheNow/catalysts

[2016-01-12 19:51] InTheNow commented on #1222
And  https://github.com/InTheNow/sbt-catalysts

[2016-01-12 19:52] fommil commented on #1222
oh! I'm reading the wrong one.

[2016-01-12 21:07] chipsenkbeil opened #1223 "Migrate to use Scala debugger api"
Currently, the Ensime server uses the in-house debugging logic mixed with Akka message passing to handle debugging. Now that the [Scala debugger api](https://github.com/ensime/scala-debugger) is part of Ensime, we should look into migrating the server to using the api.

At this point, I don't know what the feature parity is between the debugger api and server; so, the debugger api might need a cou

[2016-01-12 21:41] fommil commented on #1223
might make sense to have a milestone for this if you can break it up into lots of smaller tasks. Or use this ticket as an epic and use

- [ ] checkboxes
- [ ] like this

[2016-01-15 10:05] fommil commented on #1217
@jvican given that the filewatchers are reasonably high priority and I need something similar in https://github.com/fommil/sbt-big-project can we say that the rapture stuff is more likely a strategic replacement for Apache VFS and shouldn't block any work on async file scanners?

[2016-01-15 10:06] fommil commented on #1217
@jvican don't forget about random access within zip/jar files and the ability to have a URL-like naming convention (which goes into the DB, so would be ideally a like-for-like replacement for the current VFS URLs)

[2016-01-15 10:09] fommil commented on #1186
@aemoncannon ! Ping

can you please point `ensime.org` at `ensime.github.io` ?

[2016-01-15 10:57] fommil opened #1226 "H2 read is a bottleneck"
this may well be completely replaced by the Graphpocalypse, but at least in the short term we would benefit from some low hanging fruit optimisations to the SearchService startup. This is particularly true for large projects.

e.g. maybe we don't need to always read before a write, and we certainly don't need to read the full list of everything twice during startup. We can assume the state does no

[2016-01-15 11:19] jvican commented on #1217
Hi @fommil, we can proceed as you prefer. I am already working on the rapture thing and I could have it in one week and a half tops (everything). Perhaps, even sooner. I'm taking into account the random access within zip/jar files and the URL-like naming convention but I will discuss this with @propensive. I imagine he will prefer a more generic API that may not suit us 100%. However, if necessary

[2016-01-15 11:26] fommil commented on #1217
awesome! But you're not working on the filewatchers right now though, right?

They will require a standalone project that builds on Java 7, so they won't fit into rapture unless they are an extension module.

[2016-01-15 11:30] jvican commented on #1217
No, I was planning to work before on the JAR/ZIP scanner, but if you really need them I will hurry and give them priority. Hope to have them before :+1:

I will create that standalone project then, are you planning to move to JDK7 any time soon, right? Then, we could merge the projects or just declare mine as a dependency.

[2016-01-15 11:37] fommil commented on #1217
The other way around, the jar/zip scanner is not a priority so take your time and do it right :smile:

I have a priority on the JDK7 scanners for other reasons, so it is more likely that our efforts will overlap. i.e. focus on the jar/zip stuff

[2016-01-15 11:40] jvican commented on #1217
Yep, sorry, I mean the filewatchers. I will give them priority if you really need them. How much time can you wait for them?

I could just focus on that before the JAR/ZIP scanner. Therefore, I can help you.

[2016-01-15 11:43] fommil commented on #1217
@jvican I need them yesterday :smile: I'll try to set up an empty repo tonight for them. They need to be Apache 2.0 licence because I need them in `sbt-big-project`.

It's fine if you focus on the jar/zip stuff... I will probably work on them.

[2016-01-15 12:29] propensive commented on #1217
The file watchers will be an extension module. That's how things are usually implemented in Rapture. There's a single, big Rapture project with everything in, but also a hierarchy of smaller projects, so it would be straightforward to depend on just the filesystem stuff, and not pull in a vast number of dependencies.

[2016-01-15 13:19] fommil commented on #1217
@propensive would you be interested in looking through the ensime server code to see where we could use other parts of rapture instead of hand-rolled or guava/commons?

[2016-01-15 18:48] fommil commented on #1217
@aemoncannon @propensive @jvican we now have the docker image `ensime/ensime:v2.0` which contains OpenJDK 7 and Emacs 24.{4, 5}. We won't use this for `ensime-server` but we can use it for dependency projects. I'll probably use it in my `sbt-big-project` build, where I'll be writing NIO hacky FileWatchers, but I imagine that we'll eventually get something tidier in Rapture by the sounds of it.

[2016-01-15 19:07] fommil commented on #1217
sorry that's `ensime/ensime:v2.x`

[2016-01-16 00:07] fommil opened #1227 "dummy ticket for ancane"
@ancane it seems that bountysource can't handle the other ticket for various reasons, please claim this ticket.

[2016-01-16 00:08] fommil commented on #1227
@ancane go here to claim https://www.bountysource.com/issues/29923274-dummy-ticket-for-ancane

[2016-01-16 00:08] #1227 closed

[2016-01-16 15:08] jschlather commented on #1226
I think I can tackle this, but I need a little bit of context around what's happening on startup and which methods I'm safe to avoid on startup. So it seems like we have the following chain of things that are performed on startup for SearchService

[code]

So we have a db.knownFiles which seems to scan the database and then indexBases() which hits the database and checks if each base is stale. It

[2016-01-16 15:22] fommil commented on #1226
@jschlather great! `refresh()` is only called during startup so there is no need for a flag. But files can certainly be fresh on startup, so we definitely need to check them. But there is probably some double reading going on here in terms of asking the DB twice for files.

[2016-01-16 16:07] fommil commented on #1226
Also, we could probably benefit from upserts http://stackoverflow.com/questions/15286084/insert-into-h2-table-if-not-exists instead of read/write

[2016-01-16 16:33] jschlather commented on #1226
Okay, I don't think we can remove the initial table scan, since we use that for deleting references to stale files. In which case I'm not seeing anymore db reads during the startup procedure, can you point me to them?

Also, if I did this with merge it looks like we'd probably need to drop down to raw SQL. Because slick at best supports [insertOrUpdate](http://underscore.io/blog/posts/2015/07/14/u

[2016-01-16 20:07] fommil commented on #1214
btw, some people worked on this at the hack day, so expect a fix soon. @jasonij you'll need to give us an explicit example of what is going wrong for you because hyphens in the package name worked for us. A failing test case in `DescriptorParserSpec.scala` would be good.

[2016-01-16 22:45] jasonij commented on #1214
It's the same problem in a different package:
[code]
Go `-impl`!

Thanks for taking an interest in this one. I'm eager to dig into the ensime codebase but I'm not yet familiar enough with it for a quick-fix PR.

[2016-01-17 01:22] fommil commented on #1186
we can now track this under the ensime.github.io repo

[2016-01-17 01:22] #1186 closed

[2016-01-17 22:58] rlvoyer opened #1229 "Project waiting for init..."
I have started Scala development on a new machine and I am unable to get ensime up and running. The ensime server logs this line and then never does anything else:

[code]

I'm seeing this behavior when attempting to get it working for development on the ensime-server project, but I've confirmed that the behavior is consistent w/ other Scala projects on my machine. Here's what my environment looks

[2016-01-17 23:02] fommil commented on #1229
what exactly are the steps that you took... literally every command you type when starting Emacs.

Also, please reopen in ensime-emacs.

[2016-01-17 23:02] #1229 closed

[2016-01-18 16:44] fommil opened #1230 "optional jars instead of class directories"
In large projects it can be possible to insert jars in-place to where the sbt `packageBin` is expected.

It would be good to support these jars instead of class directories when `exportJars` is enabled.

This is high priority for me, because this is now my workflow at work :-) Will require work in `ensime-sbt` to support.

[2016-01-19 05:06] jlallison commented on #1185
Checked with an sbt expert who didn't see it as a proxy issue. Followed the above link and do not see any ensime jars, ensime .els, yes but no jars. Are you sure the link is what you intended?

[2016-01-19 10:50] fommil commented on #1230
https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/indexer/FileWatchers.scala#L44 is looking specifically for classfiles, it also needs to handle jar files and I think this just works.

[2016-01-19 16:28] fommil opened #1233 "a slow indexer can dramatically slow down type-at-point"
I am experiencing serious performance problems with the indexer on a huge project.

When a fresh server starts up against a project, type-at-point is pretty snappy. However, after a while, it starts timing out.

I suspect we are querying the indexer and it is timing out, resulting in the type-at-point timing out. We should have aggressive timeouts for the indexer in these sorts of queries to get t

[2016-01-19 16:30] fommil commented on #1233
(I'm just guessing, it might be totally unrelated to the indexer...)

[2016-01-19 16:39] aemoncannon commented on #1233
I have seen this too. Are there lucene queries that can realistically run
for multiple secs?

On Tue, Jan 19, 2016, 10:30 AM Sam Halliday <notifications@github.com>
wrote:

[2016-01-19 16:45] fommil commented on #1233
it's probably more a case of waiting for a connection or hitting a `synchronized` somewhere. I don't think lucene or h2 is ever that slow.

[2016-01-19 18:12] aemoncannon commented on #1233
that's what i figured. our index is just not *that* big.

On Tue, Jan 19, 2016 at 10:45 AM, Sam Halliday <notifications@github.com>
wrote:

[2016-01-19 18:15] rorygraves commented on #1233
Running the indexer on ensime-server creates ~80M temporary objects

[2016-01-19 18:15] rorygraves commented on #1233
So it basically comes down to replacing DescriptorParser with a parboiled2 parser

[2016-01-19 18:18] aemoncannon commented on #1233
Should we consider antlr? I assume parboiled2 is still going to have a lot
of the combinator overhead. Antlr parsers are near optimal.

On Tue, Jan 19, 2016 at 12:15 PM, Rory Graves (@a_dev_musing) <
notifications@github.com> wrote:

[2016-01-19 18:22] rorygraves commented on #1233
To the best of my knowledge, parboiled2 is a complete reimplementation using a PEG parser and is much more efficient (orders of magnitude type)

[2016-01-19 18:59] fommil commented on #1233
That's during creation, this is all on lookup that I'm sung the slowdown.

[2016-01-19 19:00] fommil commented on #1233
Sung -> seeing *thanks*, Google

Do we have a separate ticket for the parboiled 2 implementation? Might need to create one because the previous ticket was for sexpparser

[2016-01-19 21:19] fommil opened #1234 "bundle the JDK 6 tools sources"
All the OpenJDK sources are tagged here

  http://hg.openjdk.java.net/jdk8u/jdk8u/tags

instead of requiring the user to bundle this, we should just ship a zip of the official JDK of our build, and then merge this back into `ensime-sbt` to simplify the testing (which also requires this manual step).

[2016-01-19 22:07] fommil commented on #1217
empty repo set up at https://github.com/ensime/java7-file-watcher and @lxol has a prototype, while @jvican works on the abstract file system layer in Rapture.

[2016-01-19 22:15] fommil commented on #1217
@lxol note that it is a scala project. If it turns out that you only have java files, then just turn off the scala stuff by doing

[code]

[2016-01-20 10:23] fommil commented on #807
found myself needing this more and more recently

[2016-01-20 14:09] rorygraves commented on #1233
Ok, actually went ahead and re-implemented the DescriptorParser in PB2 - it saves about 30% of the indexing time - the slow one now is the pickling - it has its own parser for loading classfiles to get to the pickle sig, a bit of hacking would probably make that go away (reading the sig information directly)

PR coming shortly.

[2016-01-20 15:41] fommil commented on #1233
"a bit of hacking" **giggles uncontrollably** (once you see that code, you cannot "unsee" it...)

[2016-01-20 15:42] rorygraves commented on #1233
I mean - extract the symbols from the classfiles ourselves, its running an entire custom parser when we need at most 2 bits of info from each file.

[2016-01-20 15:47] fommil commented on #1233
*muahahahahahahaha!*

Actually we'll use all that information shortly, so don't count your chickens. That's the only way we can get the scala names for the symbols.

[2016-01-20 16:03] aemoncannon commented on #1233
Can we use ASM? Is much fast

On Wed, Jan 20, 2016, 9:47 AM Sam Halliday <notifications@github.com> wrote: