[2014-12-18 19:30] aemoncannon opened #710 "Integration suite consistently stalls at 'Test rename refactoring over multiple files'"
![image](https://cloud.githubusercontent.com/assets/7484/5494257/7689a2a8-86c0-11e4-8ee2-44dc167b573c.png)

No assert failure. Just hangs waiting for something. Seems to happen every time for me. Emacs 24.4.5, OSX

[2014-12-18 19:39] #467 closed, assigned to aemoncannon

[2014-12-19 07:57] alex3kov opened #714 "Ensime server starts, but stays disconnected"
After `M-x ensime` it goes through usual messages of starting ensime and analyzing project, then reports that ensime is ready, but it is not connected and no ensime functionality is available in editor.
![2014-12-19-105403_1600x900_scrot](https://cloud.githubusercontent.com/assets/3616242/5501536/b0228b30-876d-11e4-8323-0bffce241b75.png)
I see no errors in *ensime-events* or *inferior-ensime-serve

[2014-12-19 10:20] fommil opened #715 "company-mode/yasnippet doesn't work so well for closure parameters"
@aemoncannon this new completion is really amazing... but I found a case where it doesn't work so well: complete on a function that takes a function type as parameter and the yasnippet behaviour is not so clean. In particular, the input types are included in long-form for the inputs to the closure.

[2014-12-19 10:23] #715 closed, assigned to nobody

[2014-12-20 19:14] theefer opened #716 "Wrong resolution of objects with the same name within multi-projects"
When several multi-projects of a project directory have classes or objects with the same name (e.g. `lib.Config`), ensime doesn't seem to correctly resolve the link to the instance within the same project (as the compiler does via sbt); often it resolves to an instance in another project.

[2014-12-21 00:44] edani opened #717 "Terrible slowness when inspecting types or packages"
Inspecting types or packages with many elements (such as RichPresentationCompiler or org.ensime) now takes forever, and often fails due to the 30-second timeout.

The inferior-ensime-server log shows that the interval between `search:` messages (emitted by `locateSymbolPos`) is tens to hundreds of milliseconds. It used to be about 1ms, which leads me to believe the database is the problem, or perh

[2014-12-21 04:12] aemoncannon opened #718 "Clarify the difference between (ensime-connection) and (ensime-current-connection)"
Basicall: The former throws, the latter return does not. Maybe rename one of them and audit all code that uses these.

[2014-12-21 11:02] kopiczko opened #720 "tests fail under Java 8"
OS: os x 10.9.5

[code]

[code]

[code]

[2014-12-21 11:35] kopiczko opened #721 "Incorrect class names indexing"
OS: os x 10.9.5

[code]

`sbt test` gives:

[code]

[2014-12-21 17:23] #721 closed, assigned to nobody

[2014-12-21 18:06] #630 closed, assigned to edani

[2014-12-21 19:35] #603 closed, assigned to nobody

[2014-12-22 05:55] #648 closed, assigned to nobody

[2014-12-22 08:24] #688 closed, assigned to nobody

[2014-12-22 15:10] aemoncannon opened #723 "When completing higher-order functions, offer a choice of expansion styles."
Currently, for company-mode completion, we have a post-completion hook that yas-expands a (dynamically constructed)template for the parameter list. This works well, but is a little awkward for methods like map, where while sometimes you want to do foos.map(bar), many times you'd prefer foos.map { c => println('yo!'); bar(c) }

One option would be to include 'map' twice in the candidate list, one f

[2014-12-22 15:16] #710 closed, assigned to nobody

[2014-12-23 03:50] #718 closed, assigned to aemoncannon

[2014-12-23 21:49] rorygraves opened #725 "Add other refactoring supported by scala-refactoring"
The scala-refactoring library supports more refactorings than we currently support:
http://scala-ide.org/docs/current-user-doc/features/typingviewing/refactoring/index.html
Although many of the missing features may require significant emacs side support as they are often very interactive (e.g. merging parameter lists etc)..

[2014-12-24 20:04] rafael opened #726 "Git Dependencies"
I have some project that depend on git repos. It looks something like this:

[code]

This throw's  an error when trying to run gen-ensime:

[code]

The workaround that I've use so far is to comment the dependencies, run `gen-ensime` and then add the git dependencies manually. I've been trying to debug why ensime can't find these ones, but no luck so far.

Is there a known issue related to this ?

[2014-12-26 04:45] metatron-the-chronicler opened #727 "Feature: change type of variable"
Often I find myself wanting to change the type of a variable to another type usually from

    A => Foo[A]
It would be nice if Ensime had a wrap in type command that would effect this kind of transformation.

[2014-12-26 09:55] #663 closed, assigned to edani

[2014-12-26 15:37] fommil opened #730 "completion debugging stacktraces when no ensime server connected"
the new completer doesn't like it at all when there is no ensime server connected. Sometimes (e.g. during rebases or when working in badly broken codebases) I like to work without the ensime server and it makes it pretty difficult to do so. Can we have a graceful no-op when there is no server connected?

[2014-12-27 16:16] metatron-the-chronicler opened #732 "Melpa badge shows a different version than the one in Melpa itself"
The version in Melpa is 20141225.1206, however the badge reads 20141101.910.

[2014-12-27 16:29] metatron-the-chronicler opened #733 "Ensime-20141225.1206 ensime no longer functions void function -find"
I managed to fix this by upgrading my installation of dash.  Is there a way that ensime can be made to pull  in updated packages from melpa?

[2014-12-27 16:37] metatron-the-chronicler opened #734 "Completion functions for Autocomplete/Company should be distinct packages"
Is there a way to make company *not* start when I start ensime?  I use autocomplete and have no need for company.  I would think that the completion functions for AC and Company should be optional distinct libraries rather than hard dependencies.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7311586-completion-functions-for-autocom

[2014-12-27 21:55] #732 closed, assigned to nobody

[2014-12-28 15:22] cvb opened #736 "Ensime find type mismatch, while app can be compiled with sbt and runs fine"
Hi, when using spray-routing ensime complains about each directive having argument.

Here is example https://github.com/cvb/ensime-typecheck-fail/blob/master/src/main/scala/Stub.scala#L8
Ensime says `type mismatch;  found   : Symbol  required: spray.routing.directives.AnyParamDefMagnet`

Here is implementation of `anyParam` https://github.com/spray/spray/blob/master/spray-routing/src/main/scala/sp

[2014-12-29 12:16] #736 closed, assigned to nobody

[2014-12-29 12:51] #689 closed, assigned to nobody

[2014-12-29 12:53] #628 closed, assigned to nobody

[2014-12-29 12:59] fommil opened #737 "PR to scala/dotty with the typelevel .ensime work"

[2014-12-29 13:01] fommil opened #738 "use shapeless 2.1 TypeClass for product/coproduct marshalling"
i.e. bring https://github.com/milessabin/shapeless/pull/262 into ENSIME

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7354829-use-shapeless-2-1-typeclass-for-product-coproduct-marshalling?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2014-12-29 15:03] erikkaplun opened #739 "JdbcSQLException: Table "FILECHECKS" not found"
Running on 20141225:

[code]

[2014-12-29 16:15] #739 closed, assigned to nobody

[2014-12-29 21:16] #591 closed, assigned to nobody

[2014-12-29 21:16] #677 closed, assigned to edani

[2014-12-30 05:35] edani opened #742 "RFC: ideas to better support multiple scala versions"
1) The first idea takes work !  @marcsaegesser suggested at some point that the parts that depend on the pres compiler should be spun out into a separate library that the server could load at runtime depending on what version is needed. That's a lot less code to backport than the entire ENSIME project, which could be written in any scala version we want. And thanks to @rorygraves' tireless efforts

[2014-12-30 07:30] #605 closed, assigned to nobody

[2014-12-30 12:47] fommil opened #743 "programmatic API"
Strategic as per @rorygraves' scalax talk (and would probably be best represented as a milestone)

ENSIME could become a programmatic API for various code analysis/automation tools.

Also, this would be an amazing prototype for Odersky's compile trees.

We might want to break the project into submodules:

* `sexp` (possibly even separate into another project when stabilised)
* `api` (for the compi

[2014-12-30 12:52] fommil opened #744 "enhanced debugging via compile trees"
Tracking https://github.com/lampepfl/dotty/issues/322

[2014-12-30 12:56] fommil opened #745 "Slick go back to SQL instead of the DSL"
thanks to https://issues.scala-lang.org/browse/SI-8261 and scalaquery's lack of support for raw SQL, we had to use the slick DSL.

I find that DB DSLs end up horrendously more complicated than SQL with tooling support for rowmapping, etc, so I always prefer the raw SQL.

Once 1.0 is out, it looks like we can go back to the simpler raw SQL approach in our DB layer.

[2014-12-30 12:59] fommil opened #746 "Refactor/clean emacs settings and validation"
As discussed in https://github.com/ensime/ensime-emacs/pull/66 we could do with checking everything during client initialisation and simplifying what settings should be made available as emacs-land config (javahome shouldn't be, for example).

This would go a long way towards killing our biggest FAQ  #670

@pnathan would you like to take this?

<bountysource-plugin>
---
Want to back this issue? **

[2014-12-30 18:46] #726 closed, assigned to nobody

[2014-12-30 19:11] #742 closed, assigned to nobody

[2014-12-31 07:26] #375 closed, assigned to nobody

[2014-12-31 12:52] #558 closed, assigned to nobody

[2014-12-31 12:54] eallik opened #748 "Automatically mark unused imports"
Most IDEs of any language I've seen automatically mark unused imports with e.g. a yellow underline; is there a way to get Ensime to do that? If not, could it be implemented? `ensime-refactor-organize-imports` is way too agressive for this and besides does more than just remove unused imports (e.g. it regroups and flattens the imports, which I'd like to manage manually).

<bountysource-plugin>
---

[2014-12-31 20:00] #720 closed, assigned to nobody

[2015-01-01 21:14] rorygraves commented on #748
+1

[2015-01-01 21:23] rorygraves opened #749 "Weird issue when writing test for public symbol search"
Was trying to add a test for the public symbol search If I add these two extra test calls I get inconsistent results.
If I run it as part of a full test run it failes with empty results, if I run the BasicWorkflow test as a single test the below code passes.
also the results for java.io.File look odd to me - @fommil / anybody got any idea whats going on?

[code]

[2015-01-01 21:32] aemoncannon commented on #748
It looks like the OrganizeImports refactoring supports removing unneeded
without re-organizing.

    /**
     * Recomputes the imports and removes all existing
     * imports not in the computed set. This mode preserves
     * the user's formatting of imports, and is used for
     * refactorings that modify imports but don't want
     * to fully reorganize them.
     */
    val RecomputeAndModify

[2015-01-01 23:17] fommil commented on #749
are you waiting for the index to be finished?

[2015-01-01 23:35] aemoncannon opened #750 "Synthesized field setters do not appear in completion results."
// e.g.
object Hello {
 var color:String = "red"
 def main() {
   this.co<TAB>
   // should list color_= as a completion option
 }
}
// Note that explicitly defined setters *do* appear in completion results.

[2015-01-01 23:56] aemoncannon opened #751 "Insufficient information in CallCompletionInfo to determine if 0-arity method should be completed with "" or "()""
I'm not even sure if such information is available in the AST, but if it is, it'd be nice to know, so we could support this convention.

[2015-01-02 00:16] aemoncannon opened #752 "Completion engine fails to find members when infix method call syntax is used, in certain contexts."
val t = Set\[String\]("a", "b")
t.//TAB yields results
t //TAB yields nothing

However!

val t = "apple"
t.//TAB yields results
t //TAB yields results!

[2015-01-02 00:35] aemoncannon opened #753 "Should be able to invoke parameter list expansion at will (even if there's only one completion candidate)."
company-mode will not initialize completion if there's only a single candidate, and therefore will not run the post-completion action, which in our case is necessary to expand the parameter list.

@dgutov Do you have a suggested workaround?

[2015-01-02 01:12] aemoncannon opened #754 "company-mode menu sometimes jumps around the screen"
This doesn't always happen, but when it does it's fairly annoying.
Any ideas @dgutov ?   We're using an async candidate function.
https://drive.google.com/file/d/0B-vtUjWF36KRcEtxUUFERzFxMTg/view?usp=sharing

[2015-01-02 01:56] aemoncannon opened #755 "Add support for wartremover"
Seems like there'd be value in having wartremover warnings show up in Emacs.

[2015-01-02 01:57] aemoncannon commented on #755
We'd want to respect wartremover configuration as it appears in sbt.

[2015-01-02 04:34] peterbecich opened #756 "Control+D does not work with continuous build and test in ensime-sbt buffer"
In the `ensime-sbt` buffer, I can't seem to return to the sbt prompt after entering `~run`.  With just `run`, `Control+d` works fine.

`Control+q Control+c` or `Control+q Control+d` do not work, either: http://stackoverflow.com/a/8948621/1007926

From the `inferior-ensime-server` buffer:

[code]

[2015-01-02 04:35] demon386 commented on #714
I encounter the same problem when I put the source code in the wrong directory (src/scala/Main.scala). Once I move it to src/main/scala/Main.scala, it connected successfully.

[2015-01-02 04:41] aemoncannon commented on #714
That's expected. If your source is not in a valid source root, ensime won't
locate the connection.

On Thu, Jan 1, 2015 at 11:35 PM, M. Tong <notifications@github.com> wrote:

[2015-01-02 06:44] aemoncannon commented on #751
Actually:
* is-callable is nil for parameter-less scala methods, which gives the desired result in Emacs
* is-callable is t for zero-param java methods, which *should* give the desired result in Emacs
* but, we had a bug where empty param sections were being marked as implicit. Fixed in pull request #757

[2015-01-02 06:44] #751 closed

[2015-01-02 08:34] dgutov commented on #754
This is bad. Do you have a step-by-step reproduction scenario?

I would very much like to look at it.

[2015-01-02 09:17] rorygraves commented on #755
I love the idea of integration of these kind of tools into emacs.  A couple of thoughts:

1) Would we need to mandate the version of wartremover (as it becomes a presentation compiler dependency?
2) You would need some kind of wartremover overview view in emacs (i.e. show all errors and jump to source).

The other option for running such integrations is to have a secondary process (basically runni

[2015-01-02 09:50] dgutov commented on #753
Is this the same as https://github.com/company-mode/company-mode/issues/205?

IOW, the problem isn't "only one completion candidate", but that the method name is already complete. I don't have a good workaround, though, aside from wrapping the command, like it was suggested in that issue.

[2015-01-02 10:56] fommil commented on #756
I don't believe we have an sbt mode anymore, we're outsourcing to sbt-mode and just adding a few hooks around it. If you're used to the old mode, it might be worth reading the updated docs as this was a fairly recent change.

Reopen if you still believe this is an issue.

[2015-01-02 10:56] #756 closed

[2015-01-02 10:57] fommil commented on #752
Weird

[2015-01-02 15:49] aemoncannon commented on #755
Good points. The version thing is tricky. I *really* don't want to run sbt
in the background - it's just too huge and slow.

On Fri, Jan 2, 2015 at 4:17 AM, Rory <notifications@github.com> wrote:

[2015-01-02 15:52] aemoncannon commented on #753
Yep, it is the same. And I think the solution in that thread is good enough
for us.

Thank you for your time.

On Fri, Jan 2, 2015 at 4:50 AM, Dmitry Gutov <notifications@github.com>
wrote:

[2015-01-02 15:52] aemoncannon commented on #754
I will see if I can whittle it down to something reasonable.

On Fri, Jan 2, 2015 at 3:34 AM, Dmitry Gutov <notifications@github.com>
wrote:

[2015-01-02 16:31] aemoncannon commented on #754
No small repro case yet (unless you feel like installing ensime), but I
think I see what's going on. We request max-results at a time from our
server. Currently max-results is set low, 30, and it's quite possible that
the first 30 will not contain the eventual match.

As the prefix lengthens, so long as the last batch had max-results
candidates, we request a fresh batch. Each time a new batch is r

[2015-01-02 17:01] dgutov commented on #754
Erm, are you calling the async callback several times? I didn't expect anyone to do that. :)

I guess I should add a check. But meanwhile, change the code to buffer the results and only pass them to the `candidates` callback when the list is complete. Or just fetch them all together.

If we allowed the callback to be called several times, this would probably be a non-issue, but other things become

[2015-01-02 17:12] aemoncannon commented on #754
Well, for the record it worked pretty well : )

Initial tests are looking good for removing the limit altogether. Fingers
crossed.

Thanks again.

On Fri, Jan 2, 2015 at 12:01 PM, Dmitry Gutov <notifications@github.com>
wrote:

[2015-01-02 17:23] #754 closed

[2015-01-02 17:47] edani commented on #756
@peterbecich To be more specific, this is probably a question to ask on https://github.com/hvesalai/sbt-mode/issues/  . There seems to be a similar issue open over there.

[2015-01-02 17:57] edani commented on #749
One thing I noticed with the emacs integration test, is that the indexer isn't really ready when the `:indexer-ready` message is sent, I've been meaning to look into it. In the meantime I've been adding a 5-second delay.

[2015-01-02 18:27] rorygraves commented on #749
Lol - that hint spurred a thought and a code dive and I think I may have spotted the problem:

[code]

The index commit is async to the indexed count - which is what we are waiting on.
Just testing a PR, but hopefully this means we can remove random waits :)

[2015-01-02 18:28] rorygraves commented on #749
I'm guessing the bad reads occur before the commit completes and see the empty index

[2015-01-02 19:11] #753 closed

[2015-01-02 19:22] edani commented on #755
Looking at this: https://github.com/puffnfresh/wartremover/blob/master/sbt-plugin/src/main/scala/wartremover/package.scala , wartremover is a compiler plugin so it should be possible to not make it a dependency of ENSIME, and rather add it to the scala (pres or full?) compiler instance at runtime.

[2015-01-02 19:37] aemoncannon commented on #755
Last time I checked pres-compiler didn't play well with compiler plugins.
But that may have changed.

On Fri, Jan 2, 2015 at 2:22 PM, Eric Daniel <notifications@github.com>
wrote:

[2015-01-02 19:47] fommil commented on #749
oh yeah, we should make the added/removed `Future` really only finish when this has finished. I knew there was something dodgy going on in here...

[2015-01-02 20:50] rorygraves commented on #749
Cool - I believe I have a fix and its playing nicely with my test - PR shortly.

[2015-01-02 20:55] fommil commented on #749
I've been meaning to refactor the `SearchService` for a while, I was never 100% happy with it during the rewrite of the DB layer.

[2015-01-02 22:40] photex opened #759 "Running multiple instances of Ensime used to work"
Seems, that up until recently (within the last couple of weeks, I've been on vacaction), I was able to run ensime for multiple projects (using emacs). After updating this morning and eventually sitting down to do some work, the first project started up and worked fine, but now the second bails with "an exception in main" which I'm pretty sure is because this second project is trying to use the sam

[2015-01-02 22:44] photex commented on #759
Oh, well, just a moment... it seems that this has more to do with Gradle. I think multiple sbt projects work fine.

[2015-01-02 22:44] #759 closed

[2015-01-02 23:15] fommil commented on #759
Best kind of bug report :smile:

[2015-01-03 01:11] fommil opened #760 "reinvestigate missing line numbers in scala classes"
I'm sure I introduced a regression in the classfile indexer... this info is definitely in there.

[2015-01-03 01:15] aemoncannon commented on #760
I was under the impression that this information is optional, depending on
the debug level passed to scalac. Could that be the issue?

On Fri, Jan 2, 2015 at 8:11 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-03 15:51] fommil commented on #760
I am not 100% sure. I see line numbers in stack traces, so I'm inclined to believe they are there to some extent.

[2015-01-03 16:02] fommil opened #761 "don't unpack jars/zip files"
currently we unpack files from archives and then tell clients about the unpacked version.

Two steps:
1. update emacs client to handle read-only loads of archived files (I'm sure this is supported)
2. update server to send URLs to the compressed files

[2015-01-03 20:57] edani commented on #760
Line numbers were there for the libraries I checked (and the ENSIME log confrms it in "Search:" log lines)

I fixed the main problem which was incorrect translation of a scala symbol into a JVM class name.  Here is the breakdown of remaining issues:

- Cosmetic: line numbers are often off by one or more. This is more visible for class/trait/object definitions since we use the constructor's line nu

[2015-01-03 21:01] edani commented on #761
Third step: update emacs client (and protocol) to send URLs of compressed files when doing symbol lookups / sem highlight / etc.

[2015-01-03 21:13] edani commented on #448
I'm stuck with the coverage. We can instrument all source files with `edebug` and get stats on how many times each form was called. It works great when it works... but I hit a problem that I think is related to macros defined in ensime-emacs. Their execution fails in edebug but I can't pinpoint why.

[2015-01-03 21:43] rorygraves commented on #448
Could the macro issue be related to issue that prevents the compilation on melpa? (https://github.com/ensime/ensime-server/issues/310)

[2015-01-04 13:19] rorygraves opened #763 "public symbol search count bug"
From ```BasicWorkflow```

The below request returns 3 results rather than the requested 2, and I believe the order should be weighted so that java.io.File comes first.

[code]

[2015-01-04 21:50] eallik opened #765 "Type hints not shown on hover"
It used to be the case that as you hovered your mouse cursor over an expression/variable, its (computed) type would be displayed in the minibuffuer. Some time ago, after having updated my Ensime, this ceased to be the case. Has this feature been removed intentionally? Can I somehow re-enable it? I now just resort to `C-c C-v i` but in addition to being less convenient, it very often just displays:

[2015-01-04 22:39] aemoncannon commented on #765
It looks like track-mouse is ni in ensime buffers. Maybe one of our
dependencies is resetting it after we set it to t.

On Sun, Jan 4, 2015 at 4:50 PM, Erik Allik <notifications@github.com> wrote:

[2015-01-05 04:56] aemoncannon commented on #752
Fixed in PR #762

[2015-01-05 04:56] #752 closed

[2015-01-05 05:07] aemoncannon commented on #765
It looks like it just randomly gets flipped to nil.. just by clicking in the buffer. Weird.

[2015-01-05 09:42] fommil opened #766 "scala 2.9 branch broken"
server fails to start with

[code]

[2015-01-05 09:56] fommil commented on #766
it was sbt being crap. `rm -rf ~/.ivy2/cache/org.scala-lang`

[2015-01-05 09:56] #766 closed

[2015-01-05 10:00] fommil commented on #613
ouch, I just got bit by an ugly thing... I have a directory containing 50GB of XML data under my root module directory. Unfortunately it is being watched. This needs a rethink.

[2015-01-05 10:14] fommil commented on #613
actually I think I just understood your suggestion, @edani , which is the correct solution: watch parent directories non-recursively all the way to the root to find when directories are deleted/recreated and attach new recursive file watchers when that is detected.

[2015-01-05 16:54] aemoncannon commented on #761
For reference, here's how cider-mode opens paths within archives
https://github.com/clojure-emacs/cider/blob/e871b4c669bc887e2cdfec4445a0115c602f8d0d/cider-interaction.el#L536

[2015-01-05 19:27] fommil commented on #613
I've tried out the 2.1 SNAPSHOT of VFS and this seems to be fixed upstream, so we're blocked externally until they release it.

[2015-01-05 19:41] fommil commented on #613
Damnit, I wasn't running the right version of the ENSIME server when I ran this test. It has **not** been fixed upstream so a better workaround is required.

[2015-01-06 02:02] aemoncannon commented on #761
Interesting, looks like Emacs virtualizes file interactions with file-name-handler-alist: http://www.gnu.org/software/emacs/manual/html_node/elisp/Magic-File-Names.html

[2015-01-06 02:17] aemoncannon commented on #761
We would need to agree on a file name format for files-within-jars. Looks like cider does:
^(jar|zip):file:(.+)!/(.+)
Where I guess '!/' is the separator between jar path and compressed file path.

[2015-01-06 08:53] fommil commented on #761
if it agrees with the Apache VFS naming conventions, then we're sorted! https://github.com/ensime/ensime-server/blob/master/src/main/scala/org/ensime/indexer/package.scala#L15

[2015-01-06 09:59] fommil commented on #613
Oh great, https://issues.apache.org/jira/browse/VFS-553

[2015-01-06 10:04] fommil commented on #613
also, I noticed that there is a typo in my last patch... the removal of the root dir is being applied on every class dir. Not causing a problem, but is pretty inefficient.

[2015-01-06 11:47] fommil opened #769 "can see ENSIME-server classpath in completion options"
start a new project with no dependecies, you can still complete (e.g. importing packages) on ENSIME classfiles and dependencies.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7527351-can-see-ensime-server-classpath-in-completion-options?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accep

[2015-01-06 15:15] fommil opened #770 "completion blacklist"
A bunch of the standard completions, e.g. `ensuring`, are just noise to me. I'd like to exclude them from completions with user config.

[2015-01-06 15:27] aemoncannon commented on #770
What if we just gave them a very low ranking?
On Jan 6, 2015 10:15 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-06 16:01] fommil commented on #770
I'd prefer to just exclude some stuff

[2015-01-07 09:41] fommil opened #772 "don't auto complete in comments / documentation"
@aemoncannon I'm not sure how easy/hard this would be to fix. If we're passing the cursor location along with the object to complete, we should be able to ask the presentation compiler if we're in a comment block or not.

[2015-01-07 14:39] eallik opened #773 "Auto-generate .ensime from Emacs (or equivalent)"
Eclipse, IntelliJ and other IDEs typically don't need an external re-generation of the project file after changes to dependencies or other project settings, whereas it seems that with Ensime, a re-run of `gen-ensime` on the SBT console is needed after most changes to `build.sbt`.

Is there a way to somehow make this transparent/automatic? Also, are there any plans to make Ensime automatically veri

[2015-01-07 16:49] fommil commented on #773
errr, you should never need to `rm -rf .ensime_cache` !! If you can tell us when you need to do that, it would be very interesting.

With regards to refreshing `gen-ensime`, you could write a lisp script to detect timestamp changes and then re-run `sbt gen-ensime` followed by a server restart. This isn't something I'd want to support by default because it will be heavily dependent on user details.

[2015-01-07 18:22] edani commented on #773
Regarding running `sbt gen-ensime` automatically, that would be a good thing to add to the doc. @eallik if you can figure it out it would be appreciated. Otherwise I can look into it.

[2015-01-07 18:27] edani commented on #773
Also on this topic, it would be nice if ENSIME server could support updating the project classpath, and maybe other aspects of the config, without a server restart. It might be just a matter of restarting the indexer.

[2015-01-07 19:05] fommil commented on #773
I don't know if it's worth it... once the dependency jars are in place, the server starts up from cold basically instantly, and the indexer is designed to minimise the changes it needs to make to an existing persistent database. That's why deleting the cache is the worst thing to do, performance wise.

[2015-01-07 19:06] fommil commented on #773
:+1: to an emacs function that can do the reload.

[2015-01-08 00:35] aemoncannon commented on #773
+1 for having an immutable config..if we can get away with it.
On Jan 7, 2015 1:06 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-08 03:52] metatron-the-chronicler opened #774 "ensime-sbt 2.11 artifact missing from sonatype repo"
It seems that ensime-sbt 1.5 snapshot is missing from the sonatype snapshot repository.  Looking at the repository index I do see a folder for 2.10 though.

[2015-01-08 08:04] fommil commented on #774
Yes, that's because sbt runs on scala 2.10

[2015-01-08 08:04] #774 closed

[2015-01-08 09:10] fommil opened #775 "M-. fails when used on a case class .apply"
when working on the 1.0, I'm going to try to add examples of failing M-. use within the ensime-server source code here, so that we can interactively debug what is failing and catch the lions share of the failures.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7582830-m-fails-when-used-on-a-case-class-apply?utm_campaign=plugin&utm_c

[2015-01-08 09:12] fommil commented on #552
I was thinking about using https://github.com/sbt/sbt-start-script for this but it copies the dependencies.

A cleaner way to do it might be for the callout to sbt to simply write out the classpath to a file, then read that into emacs and call `exec` directly.

That approach will require attaching a second process to a `comint` after its first process terminates. @aemoncannon @edani is that possib

[2015-01-08 14:20] aemoncannon commented on #775
Great
On Jan 8, 2015 3:10 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-08 14:22] aemoncannon commented on #552
I have no idea! : ) but I bet its doable.
On Jan 8, 2015 3:12 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-08 14:23] aemoncannon commented on #772
Hmmm, this depends a lot on what compiler does with the docs. Will look
into it.

@aemoncannon <https://github.com/aemoncannon> I'm not sure how easy/hard
this would be to fix. If we're passing the cursor location along with the
object to complete, we should be able to ask the presentation compiler if
we're in a comment block or not.

—
Reply to this email directly or view it on GitHub
<https://gi

[2015-01-08 14:35] fommil commented on #552
sweet, I'll look into the sbt side and share a branch with you both when my elisp foo runs out.

[2015-01-08 15:06] fommil commented on #772
we might also be able to leverage the `scala-mode2` comment detection

[2015-01-08 15:35] fommil opened #776 "give travis/docker one last try"
install our own JDK with sources

[2015-01-08 15:36] fommil commented on #776
this is quite clearly a dupe of #597 doh!

[2015-01-08 15:36] #776 closed

[2015-01-08 15:36] fommil commented on #597
I'll take this and give travis one last go with its new docker support.

[2015-01-08 15:37] fommil opened #777 "Jenkins/Travis ensime-server builders to run the elisp tests"
as discussed offline, will need changes to the emacs sbt launcher to support a temporary ivy cache, into which we will publish the build.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7590426-jenkins-travis-ensime-server-builders-to-run-the-elisp-tests?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=gi

[2015-01-08 15:39] fommil commented on #448
was considering moving this to housekeeping, but it's still code because the macro thing needs to be resolved before we can get the coverage reports.

[2015-01-08 15:41] fommil commented on #355
this is the search brother of #126

[2015-01-08 15:41] fommil commented on #770
this is the completion brother of #354

[2015-01-08 15:43] #561 closed

[2015-01-08 15:43] #626 closed

[2015-01-08 15:44] fommil commented on #419
I don't know why I added a bounty on this. @aemoncannon or @edani if you'd like to claim I'd happily close the ticket.

[2015-01-08 15:46] fommil commented on #423
@rorygraves claim!

[2015-01-08 15:46] #423 closed

[2015-01-08 15:47] fommil commented on #423
it would be better if they were in the separate `Integration` phase, but I appreciate that sbt is crap.

[2015-01-08 15:50] fommil commented on #448
:+1: to possible connection with #310 ... sounds too similar

[2015-01-08 15:51] fommil commented on #310
@JulesGosnell fancy taking a look and fixing our lisp macros?

[2015-01-08 15:55] fommil commented on #760
oh cool, I missed your analysis.

[2015-01-08 15:55] #760 closed

[2015-01-08 17:05] edani commented on #448
It's possible, but "edebug" is kind of complicated, it reads a lisp definition and rewrites it laced with debug forms. It can't do that correctly with macros unless it's supplied with extra information. My problem is that I can't locate the exact point where the error happens (that is, what macro caused it)

[2015-01-08 17:07] edani commented on #552
I like that idea too. Also the great thing is that the classpath can be cached so e.g. in the emacs test suite there's no need to run stb more than once.

[2015-01-08 17:22] fommil commented on #552
@edani @aemoncannon

This should produce a file `classpath` which contains the OS-dependent string for the classpath part.

https://github.com/fommil/ensime-emacs/tree/one_process

[2015-01-08 17:23] fommil commented on #552
sorry, missed a bit... pushing change now

[2015-01-08 17:29] fommil commented on #552
actually that's missing the tools.jar, but I think I can fix that.

[2015-01-09 09:23] fommil opened #778 "make ENSIME look nice in visualvm"
Easily done, and makes us look classy: http://stackoverflow.com/questions/1334907/

[2015-01-09 10:16] xyalan commented on #670
I have the same issue in gui mode.In terminal mode work well.

[2015-01-09 10:18] fommil commented on #772
it would be pretty sweet if we could turnon flyspell completion in comments.

[2015-01-09 10:21] fommil commented on #772
also, when  completing in strings it would be good if it was restricted to the interpolated scala bits only

[2015-01-09 10:22] fommil commented on #670
solutions at the top

[2015-01-09 10:38] fommil opened #779 "organise (not optimise) imports"
related to #748 it would be really nice to have rules that reorganise imports. Ideally we could allow users to define this but as a first stab we could use something non-offensive such as:

1. java imports
2. scala library imports
3. middleware imports
4. project imports

followed by a space and then repeat (in the same order) for imports that provide some implicit (we could play it safe and lump

[2015-01-09 14:02] fommil opened #780 "optimise imports drops inner classes"
possibly an upstream bug with scala-refactoring, if one has imports like

[code]

then a `C-c C-r o` will drop the `Bloo`

[2015-01-09 17:16] aemoncannon commented on #779
Yeah I like this. I wonder how we can tell between java and scala imports..

On Fri, Jan 9, 2015 at 4:38 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-09 17:18] aemoncannon commented on #778
Reminds me that ensime does not have an official icon.

On Fri, Jan 9, 2015 at 3:23 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-09 17:22] aemoncannon commented on #552
Oh man that would be sweet.

On Fri, Jan 9, 2015 at 3:16 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-09 17:27] aemoncannon commented on #448
Hey Eric, does the 'testcover' library do the same rewriting?
http://www.gnu.org/software/emacs/manual/html_node/elisp/Test-Coverage.html

It's a shame there isn't built in coverage... the build in profiler is
Sweet.

On Thu, Jan 8, 2015 at 11:05 AM, Eric Daniel <notifications@github.com>
wrote:

[2015-01-09 17:27] fommil commented on #779
Oh I mean J2SE vs Scala Stdlib. It would be great if we could also split up the middleware into java/scala! (We could potentially do this by looking at the source resolver)

[2015-01-09 17:28] fommil commented on #778
what about ![this](https://avatars0.githubusercontent.com/u/5089042?v=3&s=200)

[2015-01-09 17:36] aemoncannon commented on #779
Ah I see. So the first cut would only require textual sorting.

On Fri, Jan 9, 2015 at 11:27 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-09 17:37] aemoncannon commented on #778
Where's that come from??

On Fri, Jan 9, 2015 at 11:28 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-09 17:55] fommil commented on #778
ensime organisation. I thought you made it!

[2015-01-09 23:03] albertmichaelj opened #781 "Another case where Ensime starts but stays disconnected"
I am using Ensime on OS X, and I can generate the .ensime file fine but when I run M-x "ensime" there are no error messages given, but the buffer doesn't connect to the ensime server. This is identical in symptom to Issue #714, however there are no symlinks in my buffer names. I've looked everywhere, but I can't find a similar problem. Buffer name is "/Users/Michael/Documents/Project/aorta/project

[2015-01-09 23:48] aemoncannon commented on #781
We don't support project/ as a source root. This is intentional as we also
don't add the SBT lib to the class path. I suppose that could change.
On Jan 9, 2015 5:03 PM, "albertmichaelj" <notifications@github.com> wrote:

[2015-01-09 23:54] albertmichaelj commented on #781
Ah! It works perfectly if I don't use the build file when I run M-x "ensime". Out of curiosity, why don't you support project/ as a source root? I'm brand new to scala and sbt entirely, so I'd love to understand the justification.

Thanks!

[2015-01-09 23:58] aemoncannon commented on #781
Its just a different context - the class path is completely different than
that of src/ sources. You'd need a separate compiler instance to handle it,
and nobody ever wanted it bad enough : )
On Jan 9, 2015 5:54 PM, "albertmichaelj" <notifications@github.com> wrote:

[2015-01-10 00:34] fommil commented on #781
I think you want #669

[2015-01-10 00:34] #781 closed

[2015-01-10 16:25] aemoncannon opened #782 "When completing in a 'case _ =>' context, and matching on a case class, might be nice to prioritize the variants of that class."

[2015-01-10 17:34] aemoncannon commented on #778
Nope. @rajish Maybe you know who made the icon?

[2015-01-10 17:37] rorygraves commented on #778
Am I missing something from the link - you can't do it from ensime - you need to add an extension in jvisualvm to update the icon - that doesn't seem worth the effort.

[2015-01-10 18:32] rajish commented on #778
@aemoncannon, yep,  that was me. Do you need inkscape file?

[2015-01-10 19:45] fommil commented on #778
I think you just drop in a classfile that matches the API. In any case, Scala does it so we can look into how they do it.

@rajish that'd be great, thanks!

[2015-01-11 02:34] aemoncannon commented on #675
A couple questions:
1) How do we handle docs for sources in progress? Like what if I've yet to generate docs for my current project, or the docs are just stale due to local changes? CompilerControl#askDocComment might help here.

2) How much do we want to be able to suck docs into Emacs? I think this would be quite cool, especially in situations like completion where looking aside to html docs wou

[2015-01-11 16:51] aemoncannon commented on #761
So... why do we want to do this? : )  It occurs to me that it's kinda nice to keep the client ignorant of archives. I mean, what's the down side?

[2015-01-11 16:56] fommil commented on #675
1. we don't do anything right now (they aren't even in `EnsimeConfig`), but `ensime-sbt` does download/resolve the jar file of the javadocs/scaladocs so getting hold of the files is trivial.
2. I would love to see two types of documentation. a) ensime-server actually serves the javadocs/scaladocs for all middleware as if it was a webhost statically serving those files. ensime-emacs simply points t

[2015-01-11 17:00] aemoncannon commented on #765
Actually, this happens with --no-init in fundamental-mode. Starting to look like a bug in Emacs.

[2015-01-11 17:00] fommil commented on #761
we never clean up after ourselves when we unextract, plus we have to do the file handling on the server side which is work that we'd rather not have to do.

[2015-01-11 17:49] aemoncannon commented on #761
Agree it's annoying.

Do you mean the unpacking itself? It looks like we do it with minimal
effort (loc-wise). Even the elisp to support files in jars will probably be
longer.

I'm wondering if this is a place where we can take a little hit in
complexity to make clients live's easier.

On Sun, Jan 11, 2015 at 11:00 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-11 18:25] fommil commented on #761
yeah, low priority

[2015-01-12 16:33] albertmichaelj commented on #505
I have this same problem on Windows but not on OS X. I think it has to do with Windows not correctly disconnecting from the server. I get the error "Server connection closed unexpectedly: connection broken by remote peer" anytime I kill the *inferior-ensime...* buffer in windows, and then when I re-open emacs and run M-x ensime it thinks a server process is already running, so it tells me to delet

[2015-01-12 16:58] fommil commented on #505
interesting. That must mean that the shutdown hooks to delete the port file are not running in windows. Perhaps emacs is more aggressively killing the server process.

[2015-01-12 17:03] albertmichaelj commented on #505
It's possible that it's unique to my particular emacs configuration on Windows, though I don't see why. Is there any information that I can provide to help isolate the issue?

[2015-01-12 17:09] aemoncannon commented on #505
One idea: Could be related to deleteOnExit not working for open files on
Windows. One thing to check would be if any process has the port file open
after the server is up and running. The prime suspect would be Emacs
itself. I seem to remember Process Explorer being useful for questions like
this.

On Mon, Jan 12, 2015 at 11:03 AM, albertmichaelj <notifications@github.com>
wrote:

[2015-01-12 17:20] fommil commented on #505
oh, maybe we actually need to set a `runShutdownHook` instead of `deleteOnExit`. I've found it to be more reliable. In fact, I'm certain I have a little utility function for this somewhere

(not quite what we want) https://github.com/fommil/common-utils/blob/master/src/main/java/com/github/fommil/utils/Workarounds.java

[2015-01-12 17:44] edani commented on #505
I've seen the same problem on Windows but I kept it on the back burner. There are two issues:
- killing the emacs buffer doesn't kill the process, so I have to kill it manually. It used to work though, so I'm thinking that once we stop using stb to launch ensime-server the problem will go away
- as you said,  deleteOnExit doesn't seem to be called when the process is killed in the task manager  (I

[2015-01-12 18:00] fommil commented on #505
that sounds like a bug in emacs. Killing the buffer of a comint is supposed to kill any process associated to it.

[2015-01-12 18:03] aemoncannon commented on #505
Maybe dumb question: Why don't we delete the portfile immediately? ( why
wait)
On Jan 12, 2015 12:01 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-12 18:03] aemoncannon commented on #505
Er.. Nm that is dumb. If no client ever connects it'll leak
On Jan 12, 2015 12:03 PM, "Aemon Cannon" <aemoncannon@gmail.com> wrote:

[2015-01-12 18:13] fommil commented on #505
we could delete it when someone connects, but that might defeat the point of detecting existing servers and will bring its own problems.

[2015-01-12 18:36] albertmichaelj commented on #505
(I'm brand new to ensime) I'm a little confused. Let's see if I understand: When I run M-x ensime, I start and connect to an instance of the ensime-server. On Windows, when I kill the buffer or Emacs it is not killing the ensime-server process which, if it did, would clean up the port file automatically. Since the port file is not being deleted, does this mean that I'm spawning a bunch of orphaned

[2015-01-12 19:03] edani commented on #505
@albertmichaelj   on Windows (and probably every other OS)  `M-x ensime-shutdown`  does the right thing so that's the workaround for now.

[2015-01-12 20:07] albertmichaelj commented on #505
Thanks @edani, that works great! I still get the message `Server connection closed unexpectedly: connection broken by remote peer` when I use `M-x ensime-shutdown`, but the port file is correctly deleted and I can reconnect just fine.

[2015-01-12 23:31] aemoncannon commented on #419
Question: what is an 'internal' function? is it one that a user would not
call interactively? or is it one that we would not expect/want to export
outside of ensime codebase? or is it one that should be private to a
particular module, i.e. file.

For example, should ensime-util functions all have the '--', or should none
of them have it (as they're all used in other modules)?

My gut is that it's

[2015-01-13 02:11] aemoncannon opened #784 "Generated protocol assertions for elisp."
Would be neat if we could generate a series of elisp assertions like:

(assert-completion x)
(assert-position x)
(assert-note x)
...

These would act as a poor man's type checking / documentation in elisp, and would be easy to maintain because they'd be gleaned directly from the case classes in Model.scala.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2015-01-13 07:38] fommil commented on #419
The latter, private.

[2015-01-13 14:02] photex opened #785 "Noisy presentation compiler can cause emacs to crash"
... and I'm not sure how to debug this in order to give you  more information.

I started a new job on Monday and it's one of the largest codebases I've personally worked with. Ensime can start fine for the most part, but if I do something like start sbt it'll crash emacs. SBT has to be set to use 4gb heap just to work with this project.

This is OSX using the latest Emacs.app from emacsforosx.com

[2015-01-13 14:05] aemoncannon commented on #155
@edani
FYI I'm working on a cleanup of the completion stuff. Mostly just separating auto-complete backend from company backend. Afterward I want to give this a serious look.

[2015-01-13 14:39] fommil commented on #785
I wouldn't call that gigantic. My project at work needs a **lot** more than 4gb :wink:

Sounds like ENSIME just needs more heap. If you increase the heap size for sbt even further, the `gen-ensime` task will automatically pick up on it and create an appropriate `.ensime` config for you. Alternatively, you can manually edit the `.ensime` to pass more heap to the java process that starts the ensime

[2015-01-13 14:49] photex commented on #785
It doesn't change the fact that this is crashing *emacs*, sbt is fine. The
project breadth is large enough that interacting with ensime in the emacs
process is literally causing emacs to crash for some reason. Not a simple
"darn, the ensime server bailed", no the actual emacs instance goes down.
That's the bug I'm reporting here.

On Tue, Jan 13, 2015 at 3:39 PM, Sam Halliday <notifications@github

[2015-01-13 15:29] aemoncannon commented on #785
Could you specify the sequence of events that leads to the crash? How are
you starting SBT? When exactly does it crash?
On Jan 13, 2015 8:49 AM, "Chip Collier" <notifications@github.com> wrote:

[2015-01-13 15:49] photex commented on #785
It hasn't been the same thing each time... it's more like, after a certain
amount of time. If I watch the ensime server process buffer there is a lot
of output with a relatively high frequency of exceptions raised by
something in the presentation compiler.

It's happened when opening a file, it's happened when starting sbt (C-c C-b
s), and it's happened while just scrolling through the project fil

[2015-01-13 16:11] fommil commented on #785
that sounds weird. Are you definitely using the latest version of ensime?

[2015-01-13 16:11] rorygraves commented on #785
@photex Can you give me a couple of examples of the errors from the presentation compiler?

[2015-01-13 16:12] rorygraves commented on #785
@fommil Do we truncate the ensime buffer in emacs at all?  Could it be something stupid like running out of memory within emacs because of the number of errors?

[2015-01-13 16:20] photex commented on #785
@rorygrave Here is one of the exceptions from the presentation compiler: http://hastebin.com/dafotapuhe.log

and here is an error that makes up most of the rest of the buffer (with the symbol being different):
http://hastebin.com/mepumenupi.m

So I just updated from MELPA to make sure I had the latest, and I compiled the project from my shell before starting ensime and I don't have any of these er

[2015-01-13 16:25] fommil commented on #785
what version of scala is your project? And can you confirm that this is in the `.ensime`?

[2015-01-13 16:28] photex commented on #785
Scala 2.10.4

This is also listed correctly in .ensime

On Tue, Jan 13, 2015 at 5:25 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-13 16:37] fommil commented on #785
does the problem arise if you do an `sbt clean` then restart ENSIME then look at a file? What then happens if you do a `sbt compile`?

I think Rory's instinct is correct here: sounds like the number of messages coming from the ensime server are enough to cause emacs to OOM. We should probably filter stack traces to reduce the noise.

[2015-01-13 16:40] rorygraves commented on #785
If that is the issue we should also look at size limiting the buffer (dropping the head when the buffer goes over a certain size)  (and reducing the noise obviously).

[2015-01-13 16:45] aemoncannon commented on #785
Could be Emacs is freaking out trying to create all the overlays for a
massive number of notes. One quick check you could do is to redefine the
note creation function to a no-op. Evaluate the following:

(defun ensime-add-notes (lang result))

And then try.

On Tue, Jan 13, 2015 at 10:37 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-13 16:49] edani commented on #155
@aemoncannon If you can wait a few days, I made more server-side changes and I need to push client changes to go with them.

[2015-01-13 16:55] edani commented on #448
I did look at testcover, it uses edebug then rewrites the result one more time! This is what I tried first and I also had problems with it, but I don't remember the details. Maybe I can give it a second look (it might make it easier to locate the "edebug" problem)

[2015-01-13 16:59] photex commented on #785
Ok, if I run clean, then yes the ensime buffer grows by thousands of lines
per file opened, and every file I open after that starts adding on. The
line count went to ?? after 20k or so.

I'll repeat all of this again after setting ensime-add-notes as suggested.

On Tue, Jan 13, 2015 at 5:45 PM, Aemon Cannon <notifications@github.com>
wrote:

[2015-01-13 17:11] fommil commented on #785
Two things we can do:

1. don't log so much when the presentation compiler borks (or send it to a file)
2. emacs don't hold onto the whole log file

[2015-01-13 17:13] fommil commented on #785
BTW, I wouldn't expect the presentation compiler to actually work after you run clean. It needs the classes of your file's dependencies to be compiled before it can infer anything. The problem here seems to be that the presentation compiler is very noisy when it goes wrong.

[2015-01-13 17:18] aemoncannon commented on #155
@edani You mean wait on the re-org?

On Tue, Jan 13, 2015 at 10:49 AM, Eric Daniel <notifications@github.com>
wrote:

[2015-01-13 17:53] edani commented on #155
@aemoncannon  I meant wait on looking at this issue (#155). I'll have an update on this shortly.

[2015-01-13 18:03] aemoncannon commented on #155
@edani
Okey dokey.

FWIW I just ran these benchmarks:

(defun bench-file ()
    (benchmark-run 1000
      (ensime-eval `(swank:typecheck-file ,buffer-file-name))))

(defun bench-contents ()
    (benchmark-run 1000
      (ensime-eval `(swank:typecheck-file ,buffer-file-name
,(ensime-get-buffer-as-string)))))

;; Result of 3 runs each, where each run is: (total-elapsed-time #of-GCs
#total-GC-time)

[2015-01-13 18:04] aemoncannon commented on #155
This was on Analyzer.scala with ~11k characters.

On Tue, Jan 13, 2015 at 12:02 PM, Aemon Cannon <aemoncannon@gmail.com>
wrote:

[2015-01-13 18:17] rorygraves commented on #155
Wow, thats quite a difference, I guess this is encoding and decoding the buffer in emacs?

[2015-01-13 18:23] aemoncannon commented on #155
I suspect its the string creation yeah, but we can tease out the culprit
with profiler
On Jan 13, 2015 12:17 PM, "Rory" <notifications@github.com> wrote:

[2015-01-13 18:49] fommil commented on #155
when I finally get round to moving us fully over to S-Express for the protocol, the contents-over-the-wire might be better.

[2015-01-13 18:58] rorygraves commented on #155
I'm guessing it's the enacts rather than jvm side.

Sent from my iPhone

[2015-01-13 19:44] fommil opened #786 "support scalajs crossbuild projects"
Problem: ENSIME will double count source directories that are referenced in more than one module. Previously, we thought this would never happen, but it turns out that this is exactly how ScalaJS advises setting up a cross-compiled project (i.e. code that is compiled to both scala and javascript, running tests in both the JVM and Rhino).

This might not be such a big deal, because there is only on

[2015-01-13 19:46] fommil commented on #786
I think I was worrying about nothing, we seem to be coping just fine... it feels weird though, like something **should** have broken.

[2015-01-13 19:46] #786 closed

[2015-01-13 19:48] lihaoyi commented on #786
@fommil want to ask on the mailing list? People there can point you at existing discussion and the path forward.

[2015-01-13 19:50] lihaoyi commented on #786
or on the gitter channel https://gitter.im/scala-js/scala-js#

[2015-01-13 19:51] eallik commented on #765
Is there a workaround? or just `C-c C-v i` until fixed?

[2015-01-13 19:59] fommil commented on #765
try setting the value back to what you want in the `scala-mode-hook`?

[2015-01-13 19:59] aemoncannon commented on #765
And don't click the mouse ;)
On Jan 13, 2015 1:59 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-13 20:08] eallik commented on #765
evaling `track-mouse` yields `t`, yet it's not working, so which variable do you mean?

[2015-01-13 20:11] aemoncannon commented on #765
Hmm that's not what I was seeing. You evaling in a Scala buffer?
On Jan 13, 2015 2:08 PM, "Erik Allik" <notifications@github.com> wrote:

[2015-01-13 20:38] aemoncannon commented on #155
Here's a dump from the profiler (doesn't add up to 100 because of keyboard
handling etc that's not part of the bench). The gist is that it *looks*
like it's spending most of the time waiting on the socket.

   - bench-contents                                            1826  47%
      - let                                                      1826  47%
       - list

[2015-01-13 20:54] aemoncannon commented on #155
A note on scaling: DebugManager.scala is 3 x the size of Analyzer.scala.
Bench-file takes, again, ~2s. Bench-contents takes 16s.

Caveat:  I bet this is very OS and Platform dependent. I'm on OSX with a
solid state drive. Though, for bench-file,  I'm guessing all the reads are
coming from in-memory disk cache anyways.

On Tue, Jan 13, 2015 at 2:38 PM, Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-01-13 21:18] edani commented on #765
`C-c C-v t` shows the type in the echo area, just like hovering should. It's less disruptive than `C-c C-v i`    (and myself, I prefer that to hovering).

[2015-01-13 21:18] aemoncannon commented on #155
A third alternative would be to write to a temp file then read it in and lie to the compiler about its path: new BatchSourceFile(AbstractFile.getFile(pathToTemp), contents)

[2015-01-13 21:25] edani commented on #155
@aemoncannon  Thanks for doing that benchmark. While sending the contents over the wire isn't great, it still isn't horrible (100 requests per second... the fastest typist apparently does 290 wpm, which translates to 24 cps).

[2015-01-13 21:40] aemoncannon commented on #155
True. Slower is not necessarily too slow.
On Jan 13, 2015 3:25 PM, "Eric Daniel" <notifications@github.com> wrote:

[2015-01-14 00:09] eallik commented on #765
@edani: that's immensely useful, thanks!!

@aemoncannon: yes, in a scala buffer.

[2015-01-14 01:04] aemoncannon commented on #448
Bummer. Yeah, Emacs needs native support for this. The native profiler has
been a revelation.

On Tue, Jan 13, 2015 at 10:55 AM, Eric Daniel <notifications@github.com>
wrote:

[2015-01-14 01:15] aemoncannon commented on #155
One contributor to the speed difference might be that reading a string from a sexp stream requires examining every single character. Is this an escape? Is this a delimiter? It's not a great fit for passing a big array of bytes. This could be alleviated if we had a sized vector type in our sexp format. As it stands, I'm leaning toward writing to a tmp file being the best solution (unless there are

[2015-01-14 09:55] fommil opened #788 ""C-c C-v e" show compile errors always double prints"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7750763-c-c-c-v-e-show-compile-errors-always-double-prints?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_so

[2015-01-14 11:21] fommil commented on #761
I got stung by this today. Was looking in Gen.scala of scalacheck, then upgraded scalacheck and did a jump to source and was really confused why I could see methods that the compiler refused to see.

As a workaround, we should perhaps delete the dep-src directory on startup.

[2015-01-14 17:58] edani commented on #155
OK, I'll put out a version that uses temp files.

[2015-01-15 02:09] aemoncannon commented on #785
@photex Any luck?

[2015-01-15 08:51] photex commented on #785
@aemoncannon it definitely made things snappier.

I haven't had a crash since making sure I run compile first thing.

[2015-01-15 09:22] fommil commented on #785
@photex this is something we'd like to fix before releasing the 1.0 Stable. It could take some time before any of us get around to it, would you be interested in fixing it and providing a Pull Request? It should be simple to fix and we can point you at the suspicious code in the server (plus if you have any experience with logback config files, that would be useful)

[2015-01-15 09:54] photex commented on #785
@fommil I'd be happy to contribute. Sounds like it's two parts, keeping the process buffer truncated and logging externally?

[2015-01-15 10:11] fommil commented on #785
1. that will probably be when we create the buffer https://github.com/ensime/ensime-emacs/blob/master/ensime-mode.el#L553

2. we might not need to log externally, if we can make the messages more terse. If we could get logback to filter the stacktraces to exclude presentation compiler internal packages, that would be good. Alternatively me might just not include the stacktrace/cause in the log mes

[2015-01-15 16:42] aemoncannon commented on #505
Note: I tried calling delete-process on the server process on OSX. It kills the process immediately, and does *not* clean up the port file. Judging from the output it looks like it gets a SIGKILL. So whatever is happening when I kill the buffer on OSX, it's being more polite than delete-process.

We might be able to add a kill-buffer-hook to the server process, and send SIGINT ourselves with inter

[2015-01-15 16:52] aemoncannon commented on #505
@albertmichaelj could you try evaluating: (-each ensime-server-processes 'interrupt-process) to see if that cleans the portfile?

[2015-01-15 18:18] albertmichaelj commented on #505
I just evaluated the list expression ``(-each ensime-server-processes 'interrupt-process)`` (using ``M-:``, is that what you wanted?), and it gave me the following the first time:

[code]

And the command in the mini-buffer was ``Server connection closed unexpectedly: connection broken by remote peer``. After this the port file was gone, but it wouldn't let me reconnect to the ensime server using

[2015-01-15 18:39] aemoncannon commented on #505
Server connection closed unexpectedly is expected. That's what we print
when we detect the connection was closed unexpectedly (in this case on the
server side).

I think the first backtrace was a result of a stale connection sitting in
ensime-server-processes.

The rest of your report is encouraging. Sounds like sigint does the job on
windows, so might be as simple as adding interrupt-process to
k

[2015-01-15 21:18] aemoncannon commented on #505
@albertmichaelj Would you try evaluating the following while the inferior-server buffer is active?
(add-hook 'kill-buffer-hook 'interrupt-process nil t)
Then kill your server buffer. Is the portfile removed?

[2015-01-15 21:23] albertmichaelj commented on #505
Just did it, and it works if I manually kill the buffer (without closing emacs). However, if I close emacs with the inferior-server buffer still up, the port file is not deleted.

[2015-01-15 21:34] aemoncannon commented on #505
@albertmichaelj That's good. Now how about if you add:
(add-hook 'kill-emacs-hook 'interrupt-process nil t)

[2015-01-15 22:53] albertmichaelj commented on #505
Okay tried it, but it didn't work. I don't know if maybe kill-emacs-hook isn't correctly being called when I close emacs. It still works fine if I add-hook 'kill-buffer-hook and then close the buffer, but nothing happens if I add the kill-emacs-hook with or without the kill-buffer-hook as well. Is there a reason that kill-emacs-hook wouldn't be called?

[2015-01-15 23:21] aemoncannon commented on #505
Bummer. A long shot, but you might also try:
(add-hook 'kill-emacs-hook 'ensime-kill-all-ensime-servers)
That is, make it a global hook.

[2015-01-15 23:22] aemoncannon commented on #505
Btw, thanks for all your help testing : )

[2015-01-16 01:13] aemoncannon commented on #772
@fommil Working well for you?

[2015-01-16 01:14] #730 closed

[2015-01-16 01:14] aemoncannon commented on #723
@fommil How's this working for you?

[2015-01-16 01:16] #697 closed

[2015-01-16 07:45] fommil commented on #772
Yes it is, thank you!

[2015-01-16 07:45] #772 closed

[2015-01-16 07:47] fommil commented on #730
I did notice a weirdness about this.

Start with a new file and try typing the first "package"  definition line. I get stack traces.

I turned off debug-on-error so I don't see it anymore but it would be nice to handle it.

[2015-01-16 07:48] fommil commented on #730
Actually that's a totally different issue, but it has the same effect.

[2015-01-16 07:49] fommil commented on #723
This is really funky! I had a double take the first time it asked and now I am used to it and have only myself to blame if I pick the wrong braces :-)

[2015-01-16 07:49] #723 closed

[2015-01-16 16:50] aemoncannon commented on #505
@albertmichaelj
To double-check that emacs is indeed calling the kill-emacs-hook, we could
try something like:
(add-hook 'kill-emacs-hook (lambda () (with-temp-file "~/test.txt" (insert
"exiting...")))

If it is indeed being called, then there is just something wrong with our
hook functions. Maybe try:
(add-hook 'kill-emacs-hook (lambda () (-each ensime-server-processes
'interrupt-process)))

I do

[2015-01-16 16:57] albertmichaelj commented on #505
I just tried ``(add-hook 'kill-emacs-hook 'ensime-kill-all-ensime-servers)``, but once I do, emacs won't even shut down. It give me the following error message when I try to shutdown emacs:

``kill-emacs: Symbol's function definition is void: ensime-kill-all-ensime-servers``

So, kill-emacs-hook is doing the correct thing, but somehow it's not correctly interrupting the process.

I'm happy to help

[2015-01-16 17:10] aemoncannon commented on #505
Weird. Is the function defined before you try to exit? Should be in ensime-test.el

[2015-01-16 17:13] fommil commented on #505
ensime-test.el is not part of the ELPA distribution

[2015-01-16 17:15] aemoncannon commented on #505
Ah hah : ) OK maybe try the lambda I mentioned that calls interrupt process
on each.

On Fri, Jan 16, 2015, 11:13 AM Sam Halliday <notifications@github.com>
wrote:

[2015-01-16 17:22] albertmichaelj commented on #505
Yep, I got the package from ELPA, so I don't have it.

``(add-hook 'kill-emacs-hook (lambda () (-each ensime-server-processes 'interrupt-process))) `` works. I don't know if there things I'm not seeing, but emacs closes cleanly and the port file is gone.

[2015-01-16 17:43] aemoncannon commented on #505
Great maybe we've got a plan. Would you like to put together a pull request?

Yep, I got the package from ELPA, so I don't have it.

(add-hook 'kill-emacs-hook (lambda () (-each ensime-server-processes
'interrupt-process))) works. I don't know if there things I'm not seeing,
but emacs closes cleanly and the port file is gone.

—
Reply to this email directly or view it on GitHub
<https://github.com

[2015-01-16 21:01] fommil commented on #785
another noisy stacktrace I've been seeing

[code]

[2015-01-17 01:54] aemoncannon commented on #730
https://github.com/ensime/ensime-emacs/pull/77

On Fri Jan 16 2015 at 1:48:04 AM Sam Halliday <notifications@github.com>
wrote:

[2015-01-17 10:08] chrisbarrett opened #789 "Global scalariform settings"
I have scalariform settings that I would like Ensime to apply to all my projects. Is there a way to provide global formatter settings?

Currently I'm copying & pasting `:formatter` fields into all the `.ensime`s I create, but there must be a better way!

[2015-01-17 10:12] fommil commented on #789
use scalariform-sbt and set your settings there: either per-project or globally, and the ensime-sbt plugin picks them up automatically.

Note that scalariform is in a bit of a mess right now, with people publishing their own artefacts (using the same FQNs as the original!!!!) because the original author has given up. We're trying to get the people involved to come up with a solution.

[2015-01-17 10:12] #789 closed

[2015-01-17 10:14] fommil commented on #789
for any other global customisations, use this approach https://github.com/ensime/ensime-server/wiki/Quick-Start-Guide#installing-the-ensime-sbt-plugin

[2015-01-17 10:14] chrisbarrett commented on #789
Thanks for the quick reply :+1:

[2015-01-17 13:30] eallik opened #790 "Disconnected immediately, and then on reconnect, Symbol's value as variable is void: ensime-default-server-port"
I've just set up a fresh project using Ensime 20150117.107; as soon as I do `M-x ensime`, it immediately displays "Disconnected" in the mode bar, without even waiting for the first `RET`. When I then attempt to `ensime-connect`, it says:

    Symbol's value as variable is void: ensime-default-server-port

`build.sbt`:

[code]

SBT version 0.13.7

`project/plugins.sbt`:

[code]

[2015-01-17 13:37] eallik commented on #790
OK, turns out the issue was solved by moving my `.scala` file from under the project root to under `src/main/scala` — is that intended behavior? I thought SBT projects could have `.scala` files directly under the project root.

[2015-01-17 13:45] fommil commented on #790
yes, that is intended behaviour. We don't support "script" style projects although there is a ticket to do so in #668

[2015-01-17 13:45] #790 closed

[2015-01-17 17:28] fommil commented on #597
I'm looking at this now.

[2015-01-17 18:25] fommil commented on #692
* move back into `org.ensime.sexp` (in prep for separation)
* option not to write out case class fields that are `nil` (@aemoncanon requested)

[2015-01-17 19:21] fommil commented on #777
This is the emacs test that rory set up on Jenkins. If we install emacs24 on Travis, we can include this as part of the server tests.

[code]

[2015-01-17 19:22] fommil commented on #777
But we need a way to set the scala version that is being tested by the emacs test... @edani or @aemoncannon is that parameterisable?

[2015-01-17 19:29] fommil commented on #777
emacs24 is not available on Ubuntu LTS 12.04 (precise) without using a custom build http://ubuntuhandbook.org/index.php/2013/09/install-upgrade-to-emacs-24-3-in-ubuntu-13-04-12-10-12-04/

Do we want to only support emacs24, or should the tests run on emacs23 ? http://packages.ubuntu.com/precise/emacs23-nox

[2015-01-17 19:32] fommil commented on #777
aemon's travis runs on the old infrastructure give hints about which packages need to be installed. I guess we could just grab the .deb files, extract them into $HOME and set PATH/LD_LIBRARY_PATH and hope... https://travis-ci.org/aemoncannon/ensime-emacs/builds/44688907

[2015-01-17 19:33] fommil commented on #777
aah, cool! I just spotted this, so looks like you have indeed thought about the version of scala to test.

[code]

Then all we need to do is set `ENSIME_TEST_SERVER_VERSION=$TRAVIS_SCALA_VERSION`

[2015-01-17 19:34] #597 closed

[2015-01-17 19:40] fommil commented on #777
reminder: set the `SBT_OPTS` so that sbt runs in offline mode when starting ensime-server. That way we will be sure to use the version we just built.

[2015-01-17 20:42] fommil opened #792 "resolve the scalariform classpath/version mess"
Scalariform used to be maintained at https://github.com/mdr/scalariform by @mdr and is pulled in by https://github.com/sbt/sbt-scalariform

Scalariform is most actively maintained at https://github.com/daniel-trinh/scalariform by @daniel-trinh with a corresponding https://github.com/daniel-trinh/sbt-scalariform

Unfortunately, daniel kept the same FQNs when he published his artifacts under a diffe

[2015-01-17 20:42] fommil commented on #709
I think I know what this is: it's a symptom of the mess of #792

[2015-01-17 20:42] #709 closed

[2015-01-17 20:47] aemoncannon commented on #597
Nice!

On Sat, Jan 17, 2015, 1:34 PM Sam Halliday <notifications@github.com> wrote:

[2015-01-17 20:55] fommil commented on #552
@aemoncannon @edani have either of you had any time to look at my branch? I did some research on comint-mode and couldn't find any documentation on how to add a callback to the process for when it dies. Also, I noticed that we return the process from the function that starts the server, and that might be used elsewhere. However, there is no reason to do this because comint allows looking up the pr

[2015-01-17 20:56] fommil commented on #552
If I could work out how to attach a callback to a process when it finishes, I could polish this off.

[2015-01-17 21:00] aemoncannon commented on #552
@fommil look for set-process-sentinel

On Sat, Jan 17, 2015, 2:56 PM Sam Halliday <notifications@github.com> wrote:

[2015-01-17 21:07] aemoncannon commented on #777
Recommend testing vs emacs 24.

23 also maybe, if its not a pain.

That env var is not currently threaded through ensime-test.. I don't think.
We'll need to fix that and a couple hard coded instances of "2.11"
On Jan 17, 2015 1:40 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-17 21:09] fommil commented on #552
awesome! I can finish this off now. If anybody fancies taking it, please ping me. I'm moving house soon anyway, so likely AWOL for a few weeks.

[2015-01-17 21:47] daniel-trinh commented on #792
When you say "FQNs moved to a new location", does this mean renaming all of the packages from using `org.scalariform` in the source files to `another.fqn`, in `scalariform` and `sbt-scalariform`??

[2015-01-17 22:13] fommil commented on #792
@daniel-trinh good to hear from you :smile: yes, that is exactly what I mean

[2015-01-17 22:21] fommil commented on #552
@aemoncannon uuugh, this is going into territory in elisp that I'm not familiar with. The process is handed around to lots of places and I'd like it to be the buffer that is handed around instead. Is there any chance you could have a look at refactoring that code to be independent of a process, please? Then I can add the sbt magic.

[2015-01-17 22:35] fommil commented on #552
a potential workaround to avoid a large refactor would be to launch a piece of elisp as a process (I'm not sure if this is even possible?) It would spawn the sbt job, then gather the parameters to exec into java. The real problem here is that sbt can't exec. I'm not fussed if this means spawning a second emacs process, just so long as it can properly exec into the java process entirely.

[2015-01-17 22:36] aemoncannon commented on #552
I see. Because you want to swap the process. Doable. Maybe next day or two.

On Sat, Jan 17, 2015, 4:21 PM Sam Halliday <notifications@github.com> wrote:

[2015-01-17 22:37] fommil commented on #552
That'd be awesome thanks. I'll do a little bit of research on spawing off elisp as a separate process. That might serve as a good workaround. I'll ping you if I make any progress.

[2015-01-17 22:42] aemoncannon commented on #552
Not sure about execing from elisp but godspeed ;)

On Sat, Jan 17, 2015, 4:37 PM Sam Halliday <notifications@github.com> wrote:

[2015-01-17 22:46] albertmichaelj commented on #505
Let me know if you need anything else from me in terms of testing.

[2015-01-17 23:34] fommil commented on #552
Yeah, I did the research, and I learnt a lot of mad things about spawning other emacs servers and talking to them, but ultimately it is not possible to `exec` out of emacs.

I think it boils down to one of three options: a) refactor loads of code to pass buffer references instead of one process b) write different scripts for UNIX/Windows that run the logic under one process c) find out some magica

[2015-01-18 00:09] fommil commented on #552
there is a variant of `3`: return a mock process and then populate it later. e.g. via https://github.com/nicferrier/emacs-fakir

Then the job becomes making sure that the mock perfectly proxies the underlying ensime-server process (e.g. signals and sentinels)

[2015-01-18 02:13] aemoncannon commented on #552
I think I prefer A, because it's cross platform and doesn't require magic.

Is there perhaps a D, where we introduce a new buffer/proc pair for the SBT
run, wait til its done, kill it, then start buffer/proc for server?

I don't think A,D are toooo heinous on the elisp side -- I wouldn't mind
working on it.
On Jan 17, 2015 6:09 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-01-18 07:16] edani commented on #552
I've been busy theses past few days but I'm back now... Aemon, if you want I can work on this after I'm done with #155.

[2015-01-18 10:10] fommil commented on #552
@edani great!

@aemoncannon if you think you can do that without blocking the user on sbt, then it is definitely an option. I don't think we need to keep the process if we have the buffer though.

I'm wondering why we need to keep a reference to the process/buffer at all, because connecting remotely doesn't need this. Maybe option E can be just removing the need to store anything.

[2015-01-18 10:57] fommil commented on #792
@daniel-trinh probably the best fqn to rename to would be `org.scalariform` => `danieltrinh.scalariform` as that will involve two `git mv`s (one for main, one for src) and then a global search/replace in `package org.scalariform` and `import org.scalariform`.

[2015-01-18 11:03] fommil opened #795 "add contributing.md file"
as per https://help.github.com/articles/setting-guidelines-for-repository-contributors/

might help encourage people to check the FAQs first :smile:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7847505-add-contributing-md-file?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bountie

[2015-01-18 12:00] fommil commented on #447
this report is particularly interesting from a coverage pov https://coveralls.io/files/430345582

[2015-01-18 12:12] rorygraves commented on #447
yep - means there is a bunch of core functionality that the current tests are not covering.
The analyser has the same problem https://coveralls.io/files/430345560 (the calls are probably related.
And the debug manager isn't much bettter https://coveralls.io/files/430345602

[2015-01-18 12:13] rorygraves commented on #447
Pretty much sums up why I don't trust our coverage yet - whilst we aer hitting 75% core components are not covered.

[2015-01-18 17:07] aemoncannon commented on #447
Yeah that's weird..

On Sun, Jan 18, 2015, 6:13 AM Rory <notifications@github.com> wrote:

[2015-01-18 17:07] aemoncannon commented on #552
Storing the server proc was a recent change I made, so we can say 'starting
up' in the period before we've connected -- it gives us a place to hang a
config object. I suppose you could just iterate buffers to find the server
buf, and store config as a buffer local var instead. So long as we don't
lose the messaging. (Looking at my PR might be helpful)

@edani Have at it!

On Sun, Jan 18, 2015, 4:1

[2015-01-18 22:04] rorygraves opened #799 "Explain use of swank:call-completion"
I was looking at uncovered code and worked back to swank:call-completion trying to work out what 'id' was.
The comment says
[code]
but neither of these methods exist - I can however see it called by ```ensime-client.el``` which is called from ```ensime-auto-complete.el``` but my lisp-foo is not strong enough to decypher the magic.
Can somebody ( @aemoncannon / @edani  ?) explain which call the id

[2015-01-18 23:50] edani commented on #799
The type id is returned by swank:completions  (which I gather replaced both swank:scope-completion and swank:type-completion at some point).   It's also returned by several other calls such as swank:inspect-type-at-point or any other call that returns a TypeInspectInfo, if that makes the test easier to write.

Also type IDs are generated in org.ensime.model.ModelBuilders.cacheType  so you can also

[2015-01-19 00:28] aemoncannon commented on #799
Yep
On Jan 18, 2015 5:50 PM, "Eric Daniel" <notifications@github.com> wrote:

[2015-01-19 01:45] aemoncannon commented on #799
The purpose of call-completion is to retrieve detailed types for parameters
and return type, after a completion is chosen. It accepts a type id because
type id is the abbreviated form that is included with each completion.
On Jan 18, 2015 6:28 PM, "Aemon Cannon" <aemoncannon@gmail.com> wrote:

[2015-01-19 09:13] rorygraves commented on #799
I knew we employed you guys for a reason :smiley:
Thanks for the info - will update the comment and add some test coverage.

[2015-01-19 09:13] #799 closed

[2015-01-19 14:06] aemoncannon commented on #505
I'm going to wait for the no-fork stuff to go through first, as it'll touch
the same bits.
On Jan 17, 2015 4:46 PM, "albertmichaelj" <notifications@github.com> wrote:

[2015-01-19 16:53] aemoncannon commented on #777
https://github.com/ensime/ensime-emacs/pull/79

On Sat Jan 17 2015 at 3:07:30 PM Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-01-19 17:29] ShaneDelmore commented on #472
I think this is an incredibly useful idea, if it could find functions by signature available in the current project or libraries, instead of just open buffers.  On my team we are starting to see a lot of duplicated methods rewritten by multiple developers because it is easier to write yet another max function than it is find out if there is already one written by your coworkers you can re-use.

[2015-01-19 17:31] fommil commented on #777
@aemoncannon FYI https://github.com/rolandwalker/emacs-travis/issues/4

Also, I've had some twitter interaction with @travis-ci about emacs support on docker. The problem might go away.

[2015-01-19 17:33] fommil commented on #472
:smile: I know, it'd be awesome. We're currently working towards stabilising for 1.0 but if you were able to help out by coming up with a way of indexing (in lucene) and persisting (in SQL/H2) the domain objects that we produce during classfile/depickle parsing, then we'd love to hear/chat more about this.

[2015-01-19 18:04] ShaneDelmore commented on #472
I just discovered the project, and am pretty new to Scala in general but if I am capable I would love to help out as I would like to do a little more open source work.  Baby steps, first I have to get ensime actually working (I am currently an intellij user and find it doesn't "just work" on multi-project sbt projects that intellij works with.  I would just end up adding noise right now I think bu

[2015-01-19 18:07] fommil commented on #472
hmm, that's a shame. I thought it did "just work". Are you using the sbt plugin to generate the .ensime file?

We could modularise the task of working on this ticket if that helps:

1. create some standalone tests (also define user input/expected response)
2. think about how to index/persist the project's information for searching
3. implement it in our existing lucene/h2 persistence
4. add protoc

[2015-01-19 18:11] rorygraves commented on #472
@ShaneDelmore Dive in - any help you give (low hanging or otherwise) is all appreciated :smile:

[2015-01-19 18:24] aemoncannon commented on #472
+1 : )
On Jan 19, 2015 12:11 PM, "Rory" <notifications@github.com> wrote:

[2015-01-20 03:40] aemoncannon commented on #777
@fommil Merged changes to read env var.

On Mon, Jan 19, 2015, 11:31 AM Sam Halliday <notifications@github.com>
wrote:

[2015-01-20 12:07] fommil commented on #792
daniel has PRs on this to both his projects, action on me to check that everything works.

[2015-01-20 17:03] hamnis opened #800 "Release SBT plugin"
Can we please have a release of the sbt plugin?

[2015-01-20 17:30] fommil commented on #800
you mean a non-snapshot release?

This will be part of https://github.com/ensime/ensime-server/milestones/Stable%201.0

[2015-01-20 17:30] #800 closed

[2015-01-20 21:30] fommil opened #801 "sbt debugging launcher"
http://stackoverflow.com/questions/26851495

https://groups.google.com/d/msg/sbt-dev/bHOwIVKB9gM/GGHBWKptCzYJ

So this is to add support for `module:jdb-test` style syntax in our sbt-plugin, which would allow the client to launch the debugger and attach all in one convenient keybinding.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2015-01-22 09:09] fommil commented on #777
https://github.com/travis-ci/travis-build/pull/372

[2015-01-22 18:25] tjweir opened #804 "elisp tests should use versions defined by ensime-pkg"
Hello,

I just recently upgraded my ENSIME to the latest in ELPA, Version: 20150119.1350 and any attempt to use auto-complete leads to the error of:
"Symbol's function definition is void: -find"

My sbt plugin is 0.1.5-SNAPSHOT

*inferior-ensime-server* buffer says:
Ensime : 0.9.10-SNAPSHOT

*Messages* Buffer says:
Connected to ENSIME speaking protocol 0.8.10, please wait while the project is load

[2015-01-22 19:05] aemoncannon commented on #804
-find should be an alias for -first in dash.el. I'm guessing ensime-pkg.el
needs to be updated with the latest version. That said, this should have
been caught by a test..
On Jan 22, 2015 12:25 PM, "Tyler Weir" <notifications@github.com> wrote:

[2015-01-22 19:11] aemoncannon commented on #804
Dotemacs_test.el should be using the versions from ensime-pkg.el, but it
isn't. I'm guessing that's why this slipped through.
On Jan 22, 2015 1:05 PM, "Aemon Cannon" <aemoncannon@gmail.com> wrote:

[2015-01-22 19:25] tjweir commented on #804
Ok, based on Aemon's comments, I looked at what version of dash.el I had installed.
It was: dash-20140121.427
When I upgraded to: dash-20141220.1452
and now everything is working as expected.

Thank you for your help.

Shall I close this, or do you want to leave it open to improve the tests?

[2015-01-22 19:36] aemoncannon commented on #804
Leave open, please. The package is broken until we fix the version, and we
should fix the tests as well.

On Thu Jan 22 2015 at 1:25:09 PM Tyler Weir <notifications@github.com>
wrote:

[2015-01-22 19:38] tjweir commented on #804
Ok, thanks again for the help.

ENSIME is what made me switch from Vim to Emacs!  :)

[2015-01-22 19:56] aemoncannon commented on #804
Glad to be of service. If you enjoy elisp we welcome pull requests : )

On Thu Jan 22 2015 at 1:38:40 PM Tyler Weir <notifications@github.com>
wrote:

[2015-01-22 20:51] tjweir commented on #804
I do tend to need a reason to learn a new language. :)

[2015-01-22 20:52] rorygraves commented on #804
We welcome Scala PRs too ;)

[2015-01-24 03:44] omnisis commented on #714
I just ran into this issue on Mac OS X.  The problem was that I had my sources in a path ~/code which was symlinked into my dropbox account folder.  I also tried using '/tmp' which on my MBPro is symlinked as well! (/private/tmp).  Only after putting it off a folder with no symlinks at all did the problem go away.  This is a pretty limiting bug in my mind since its hard to control source paths bei

[2015-01-24 05:22] aemoncannon commented on #714
I hope to have a fix for the symlink issue soon. Stay tuned.

On Fri, Jan 23, 2015 at 9:44 PM, Clifford James <notifications@github.com>
wrote:

[2015-01-24 18:18] aemoncannon opened #805 "Install pkg from dir for test"
http://endlessparentheses.com/new-in-emacs-25-1-easily-install-multifile-package-from-a-directory.html

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8007114-install-pkg-from-dir-for-test?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2015-01-24 22:06] aemoncannon commented on #714
See: https://github.com/ensime/ensime-emacs/pull/82

[2015-01-25 05:12] edani commented on #552
I'll be travelling in the next few days but I should have this finished by the end of next week.

[2015-01-25 10:04] #714 closed

[2015-01-25 10:05] fommil commented on #552
:-)

[2015-01-25 15:59] aemoncannon opened #806 "Exception on startup, related to protocol version check"
Might be related to my local configuration?

Debugger entered--Lisp error: (error "Invalid version string: 'nil'")
  signal(error ("Invalid version string: 'nil'"))
  error("Invalid version string: '%s'" nil)
  version-to-list(nil)
  version<(nil "0.8.11")
  (if (version< (ensime-protocol-version) "0.8.11") (ensime-eval-async (list (quote swank:typecheck-file) file-name contents) continue) (ensime

[2015-01-25 16:02] aemoncannon commented on #806
@edani (ensime-protocol-version) successfully returns "0.8.10" when executed in a buffer context afterward. Not sure why it's returning nil in this situation. Possible we're trying to typecheck before the connection info (including protocol version) is retrieved?

[2015-01-25 16:05] fommil commented on #806
I doubt it, all that stuff is statically available on the server side. Any chance you can take a dump of the wire message to debug?

[2015-01-25 16:09] aemoncannon commented on #806
The server is returning the version just fine, I think the problem is that the client is asking for it prematurely.
o.e.s.protocol.swank.SwankProtocol - Writing: (:return (:ok (:pid nil :implementation (:name "ENSIME-ReferenceServer") :version "0.8.10")) 1)

[2015-01-25 16:10] aemoncannon commented on #806
Didn't get this bug the second time I M-x ensime'ed, *did* get it the third time.

[2015-01-25 18:25] fommil commented on #806
Hmm. Should we re-poll until we get a sensible result from the server? Probably as a graceful failure right now, we should just handle `nil` result and echo something to the error/message area.

[2015-01-25 18:59] aemoncannon commented on #806
Yeah. Ideally we'd wait to start these timers until the connection info is
received, but if that's a pain, just bail on nil protocol.

On Sun, Jan 25, 2015, 12:25 PM Sam Halliday <notifications@github.com>
wrote:

[2015-01-26 13:07] #737 closed

[2015-01-26 13:36] #620 closed

[2015-01-26 13:39] fommil opened #807 "M-. should jump to super implementation"
when called on a method definition (not usage), `M-.` should jump to the nearest place up in the hierarchy where it is defined.

[2015-01-26 13:45] fommil opened #808 "add scaladoc sanity check to travis"
turns out that the artefact will fail to deploy if there are typos/syntax errors in the scaladocs. This currently happens only when we try to deploy, so we should check that the scaladocs compile in the main test script.

[2015-01-26 15:03] fommil commented on #807
related to #775

[2015-01-26 15:04] fommil commented on #763
#637

[2015-01-26 15:04] fommil commented on #763
thought it was a dupe, but its a separate issue

[2015-01-26 15:05] fommil commented on #599
related to #775

[2015-01-26 15:05] fommil commented on #425
this might be dropped from 1.0 unless it turns out to be easy to implement

[2015-01-26 15:06] fommil commented on #339
this might be dropped from 1.0 unless it turns out to be easy to implement

[2015-01-26 15:13] fommil commented on #801
some good responses in SO from josh and eugene! This might involve an emacs component for easy debugging launch.

[2015-01-26 16:10] sellout opened #809 "Don’t highlight entire file as errline when presentation compiler crashes"
Whenever the presentation compiler crashes, the entire file gets highlighted as errline with a “presntation compiler crashed” title text. This isn’t particularly helpful.

I would prefer if maybe it just added a special annotation to the mode-line lighter and let scala-mode2 highlight the file normally.

[2015-01-26 16:22] fommil commented on #809
yes, that sounds sensible. This should be relatively easy to do, as well. Fancy having a go at implementing this? If so, we can include in 1.0

[2015-01-26 16:31] sellout commented on #809
Sure, I’ll take a look today.

[2015-01-26 16:39] fommil commented on #809
:smile: to do the modeline thing, you'll need to do emacs client changes. To edit the server side, that's probably in SemanticHighlighting.scala or similar.

[2015-01-26 22:23] fommil opened #810 "use "scala.slick.driver.H2Driver" for DatabaseService"
trivial change that might give a performance boost, but potentially requires a rebuild of the schema... so saving this to be done along with a genuine change to the schema, e.g. #339 or #425

[2015-01-27 19:23] aemoncannon commented on #345
I just started working with a VeryLargeJavaCodeBase, so I might make some movements in this direction. My tentative plan is to make minimal adjustments to Ensime to support (probably in this order):
1 navigation
2 inspection
3 completion
As you say, 1,2,3 all require a typed java tree, so the big question is where to get that. I previously integrated with eclipse jdt for java error highlighting, b

[2015-01-27 19:41] rorygraves commented on #345
@fommil Wanted to work on this at some point incase he was made to go back to a VLJCB.

I definitely think ti would be good to support scala/java mixed projects (and by extension java projects).
The protocol could be made either more agnostic or into language agnostic and language specific subsections quite easily.

I suspect @fommil  has a lot to say on this one - I know he has some ideas about t

[2015-01-27 19:45] aemoncannon commented on #345
@rory Yep. Most of the UI in emacs will work fine. The debugger should
require zero work. I'm guessing the indexer will be easy as well.

On Tue Jan 27 2015 at 1:41:48 PM Rory <notifications@github.com> wrote:

[2015-01-27 19:47] rorygraves commented on #345
btw, I know there has been some radio silence from me recently - I've actually been improving the tests of the debugger (found a couple of bugs/problems which I'm working on).  PR soon.

[2015-01-27 20:06] aemoncannon commented on #345
@rory Cool yeah, I can barely get 5 mins a day lately. That's great about debugger coverage.

[2015-01-27 20:26] fommil commented on #345
Awesome! I *strongly* recommend looking at NetBeans as the inspiration as they use the official java compile tree. I have contributed to NetBeans in the past and their hints framework (ie prompts to fix/tidy code) should be reasonably easy to port /include.

The NetBeans completion code is tied up in their framework but is easy to understand and covers a lot of corner cases.

I'd be happy to study

[2015-01-27 20:29] fommil commented on #345
Indexer should already work out of the box now. We should really be looking at the depickler to populate scala specific info.

In the long term, having Spring support would also be essential (eg jump to definition/implementation taking xml wiring into account and working in the xml).

[2015-01-27 20:32] fommil commented on #345
Btw for your sanity, check out Project Lombok and beware that I am probably the only Scala dev on the planet who loves Spring :-D

[2015-01-27 20:37] aemoncannon commented on #345
: )

On Tue Jan 27 2015 at 2:33:00 PM Sam Halliday <notifications@github.com>
wrote:

[2015-01-27 20:40] #806 closed

[2015-01-28 01:36] aemoncannon commented on #345
@fommil Pointers on starting out with Netbeans would be great. Do they publish artifacts?

[2015-01-28 03:20] aemoncannon commented on #345
@fommil Lombok looks sweet. If only such things were remotely permissible in my situation.

[2015-01-28 05:29] aemoncannon commented on #505
@albertmichaelj Would you test the PR I just created vs Windows?

[2015-01-28 08:59] fommil commented on #345
They were using mercurial when I was contributing: https://netbeans.org/community/sources/hg.html

Try grabbing the source and grepping for "halliday" in the commit author log and that'll bring up all the classes I knew well. Their completer was fully sync (which was a bit of a mess) but all the hints framework was beautifully async.

[2015-01-28 14:42] albertmichaelj commented on #505
Unfortunately, I won't be able to test it out until early next week (traveling...), but I'd be happy to then. Could you give me more detailed instructions on how to test the fix? I've been using melpa to install packages for the most part so far.

[2015-01-28 16:01] aemoncannon commented on #505
I think once I fix the error I'll just merge. Our tests were pretty
conclusive.
On Jan 28, 2015 8:42 AM, "albertmichaelj" <notifications@github.com> wrote:

[2015-01-28 22:23] fommil commented on #792
@daniel-trinh I made contact with @mdr on twitter, he says he can give you the right to publish to the main artefact out sonatype (you'll need to get in contact for this I should imagine)

[2015-01-29 04:14] aemoncannon commented on #505
@albertmichaelj When you get a chance, upgrade from melpa and see if the problem persists. Thanks

[2015-01-29 07:37] rorygraves opened #812 "Debugging error conditions return error"
If you take a debugging action when the VM is terminated the api layer handles it badly.
Originally it would have simply sent a 'false' back to the client, now the false causes a type safety failure (because of the callRPC method expects a typed response.

Need to think about how to address this - if we Option every call then we end up with strange things like Option[Option[String]] on some calls.

[2015-01-29 15:15] photex commented on #785
Hi folks!

Is there a guide about getting started hacking with ensime? As mentioned in my first post I literally just started at my current job so have been primarily focused on getting into the swing of things, but I'd really like to take a stab at this now.

[2015-01-29 16:04] fommil commented on #785
@photex https://github.com/ensime/ensime-server/wiki

[2015-01-29 16:04] fommil commented on #785
or do you mean hacking **on** ensime?

[2015-01-29 16:18] fommil commented on #613
there is definitely something funky going on here still. My search/goto source functionality (i.e. the indexer) is knocked out when I do a recompile after a change to a class in a very low down module.

[2015-01-29 16:20] photex commented on #785
Both actually.

[2015-01-29 16:29] fommil commented on #785
not really, just dive in to the code. This should get you set up from a practical perspective https://github.com/ensime/ensime-server/wiki/Quick-Start-Guide#installing-the-server-from-source

[2015-01-30 14:59] aemoncannon commented on #345
It looks like timing is good for a good emacs java solution:
http://www.reddit.com/r/emacs/comments/2o4x49/emacs_for_java/

On Wed, Jan 28, 2015, 2:59 AM Sam Halliday <notifications@github.com> wrote:

[2015-01-30 15:18] rorygraves commented on #345
Sounds like it's your time to shine :)

Sent from my iPhone

[2015-01-30 16:33] fommil commented on #345
I investigated a lot of these alternatives about 6 months ago and they were basically all dead projects

[2015-01-31 11:51] fommil opened #813 "modularise"
break into:

* sexp
* api
* server

which will probably necessitate moving to a project/Build.scala style project. Easily done, but it'll be a PITA for merge conflicts moving everything around.

This allows us to use the sexp/api layers in the sbt-plugin (but remember that it'll be taking them from the 2.10 branch) and potentially other build plugins.

<bountysource-plugin>
---
Want to back this i

[2015-01-31 23:45] aemoncannon opened #814 "Public symbol search failing with swank protocol exception"
- Received msg: (:swank-rpc (swank:public-symbol-search ("getFromFil") 50) 207)
[info] 17:44:12.828 [default-akka.swank-dispatcher-198] ERROR o.e.s.protocol.swank.SwankProtocol - Exception whilst handling rpc org/ensime/server/protocol/swank/SwankProtocol$StringListExtractor$
[info] java.lang.NoClassDefFoundError: org/ensime/server/protocol/swank/SwankProtocol$StringListExtractor$
[info] 	at org.e

[2015-02-01 00:19] fommil commented on #814
I've also noticed that search has been a bit temperamental lately.

[2015-02-01 05:40] #155 closed

[2015-02-02 15:03] fommil opened #815 "should close refactoring buffer after use"
if one does a refactor, e.g. clean imports, the buffer hangs around afterward. Maybe not a big deal but it does add to the clutter.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8222222-should-close-refactoring-buffer-after-use?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bountie

[2015-02-02 15:22] albertmichaelj commented on #505
Just got a chance to test it, and it works great. Port file is deleted when Emacs is closed as well as if I kill the inferior-ensime buffer. It looks like it is fixed to me.

[2015-02-02 16:25] aemoncannon commented on #505
Hot damn! Thanks

On Mon, Feb 2, 2015, 3:22 PM albertmichaelj <notifications@github.com>
wrote:

[2015-02-02 16:26] #505 closed

[2015-02-02 17:29] fommil commented on #505
w00t!

[2015-02-04 16:32] eallik opened #816 "IncompatibleClassChangeError on C-c C-d r"
When running one of my app entry points, I get:

[code]

The entry point under question is a simple object with a `main` method.

[2015-02-04 16:41] aemoncannon commented on #816
Is it possible your app is being run with a funny configuration (hitting a
stale library..)? Ensime talks to the process under debug through a thin
IPC channel. We can't do much about what happens over there.

On Wed, Feb 4, 2015 at 4:32 PM, Erik Allik <notifications@github.com> wrote:

[2015-02-05 00:53] aemoncannon commented on #675
FYI doing some work on this here: https://github.com/aemoncannon/ensime-server/blob/fiddling-with-doc-server/src/main/scala/org/ensime/core/DocServer.scala

Lots to be done, but mostly handles making urls for thing-at-point, extracting the jars (lazily), falling back to oracle, etc.

[2015-02-05 01:59] aemoncannon commented on #675
TODO:
  * Inspect actual jar contents to determine scaladoc vs javadoc. Not enough to look at where the symbol was defined.
  * Add the ensime doc jar to the :doc-jars list in ensime-sbt.
  * Resolve ambiguity if/when two jars supply docs for the package -- need to check for the actual desired file.
  * Method types
  * Package types

[2015-02-05 14:35] aemoncannon opened #817 "Trying to 'sbt publish-local' the plugin and getting crazy errors"
Am I doing something dumb?

sbt --version
sbt launcher version 0.13.5

sbt publish-local
[info] Loading global plugins from /Users/aemon/.sbt/0.13/plugins
[info] Loading project definition from /Users/aemon/projects/ensime-sbt-cmd/project
[info] Set current project to ensime-sbt (in build file:/Users/aemon/projects/ensime-sbt-cmd/)
[info] :: delivering :: org.ensime#ensime-sbt;0.1.5-SNAPSHOT :: 0.

[2015-02-05 15:37] fommil commented on #817
try cleaning out all the caches: the project, ~/.ivy2 and potentially ~/.sbt

[2015-02-06 08:22] aemoncannon commented on #817
Thanks. I think it was confused because I had a global ensime-sbt plugin?
Anyway after reinstalling all the things it worked. There goes an hour!
On Feb 5, 2015 3:37 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-02-06 10:53] rorygraves opened #820 "Update comms to use spray.io/akka.io"
Apparently this was all ported to 2.9 by spray, so there is no reason not to move to akka.io on the server.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8342438-update-comms-to-use-spray-io-akka-io?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2015-02-07 12:04] #552 closed

[2015-02-07 13:53] aemoncannon commented on #552
Awesome!
On Feb 7, 2015 6:04 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-02-07 16:37] aemoncannon opened #821 "Initial Semantic highlighting of open buffer list takes too long"
This can sometimes take 25-30s as the jvm + pres compiler both need to warm up. We should do this lazily, when the buffer is viewed the first time (i believe there's a recently introduced hook for this...)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8376261-initial-semantic-highlighting-of-open-buffer-list-takes-too-long?utm_camp

[2015-02-07 16:38] aemoncannon commented on #821
(obviously this is only a problem if you're booting ensime when you already have several scala files open)

[2015-02-07 17:18] aemoncannon commented on #814
Saw this again just now when doing an import-type-at-point

[2015-02-07 17:21] fommil commented on #814
if this is a problem with the protocol, then maybe my branch will fix it (and introduce it's own set of problems!)

[2015-02-09 07:39] zph commented on #733
On my setup, it seems that the ensime version requirement for Dash wasn't being loaded. So emacs was using an outdated `dash`. The version in `ensime-pkg.el` seems correct.

Manually upgrading dash via `package-list-packages` resolved the issue.

[2015-02-09 07:45] #733 closed

[2015-02-10 10:58] fommil opened #822 "very slow if ensime-server not up"
Sometimes I am reading sources or making changes to code that doesn't have an ENSIME server behind it (just check changes) and I noticed that moving the cursor and editing is really slow.

We must be doing something on every keypress that is expecting a result, even when there is no connected server or .ensime config for the project.

[2015-02-10 12:43] jcazevedo commented on #822
I don't notice this if I have no ENSIME connection started. However, if I start ENSIME for a project and switch to another Scala buffer that has no connection to ENSIME, moving the cursor and editing becomes painfully slow. A quick profiling seems to relate this issue with `ensime-modeline-string`.

[2015-02-10 14:35] aemoncannon commented on #822
Ah. I know what's wrong. ensime-modeline-string does a bunch of work to
determine which connection if any should be associated with the file. If a
connection is found, we cache it (see owning-connection-for-source file ..
I think), but if no connection is ever found, we continue to search each
time the modeline wants to repaint, which is a lot. This was recently
aggrevated by the addition of symli

[2015-02-10 18:28] aemoncannon commented on #822
Another idea: memoize the file-truename function. That way we won't be
looking at the disk. I'm guessing that'll take care of the bulk of the
slowdown.

On Tue Feb 10 2015 at 8:35:33 AM Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-02-11 02:44] aemoncannon commented on #822
Does this sort out the issue? https://github.com/ensime/ensime-emacs/pull/91

[2015-02-11 08:54] fommil opened #823 "drop the jdk hack in travis"
blocked on

* https://github.com/travis-ci/travis-ci/issues/3187
* https://github.com/travis-ci/travis-ci/issues/3188

[2015-02-11 09:52] wiegraffolles opened #824 "sbt-scalariform dependency non-existent"
When installing ensime-sbt, the package sbt-scalariform is required by ensime-sbt, and it requests that sbt pull down this package from the following url:

https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/sbt/sbt-scalariform_2.10_0.13/1.3.0/sbt-scalariform-1.3.0.pom

However this file does not actually exist on the Sonatype server *for any file version* and this causes the inst

[2015-02-11 10:01] fommil commented on #824
it does exist at the releases repo, not the snapshot one. It sounds like something weird is going on with your sbt resolution. Moving to daniel-trinh's branch is not trivial and is being resolved elsewhere #792 and when that is fixed (upstream blockage) this will fix itself.

[2015-02-11 10:01] #824 closed

[2015-02-11 10:03] fommil commented on #792
@daniel-trinh @mdr any updates on this?

[2015-02-11 10:05] fommil commented on #822
nope, doesn't speed it up :-(

As a workaround, I `M-x ensime-mode` to turn off ENSIME. It impacts me most when hacking around in the project build files, which don't have an ENSIME server attached.

[2015-02-11 13:45] aemoncannon commented on #822
OK thanks. I think I know what's missing.
On Feb 11, 2015 4:05 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-02-11 15:14] fommil commented on #810
after starting freeslick, I learned that the `driver` param is for the real driver and the slick "driver" is really just a profile. We're doing the right thing already.

[2015-02-11 15:14] #810 closed

[2015-02-11 22:47] oneself opened #825 "Bad source jar kills the server"
Hi,

I have a bad source jar in my dependency graph.  When ensime loads up, it tries to access the jar, get's an exception, and dies.  I think that this should not kill the server.  The specific jar source should just not be available.

I was able to solve this temporarily by removing the offending jar from :reference-source-roots in .ensime.

Here's the stack trace I get when I M-x ensime.  Note

[2015-02-11 23:03] fommil commented on #825
As discussed on email, I don't believe we should handle dodgy jars. We could, perhaps, have a more explicit error message await how to resolve the problem. It is, ultimately, a an environment problem.

[2015-02-12 00:13] Gastove opened #826 ".ensime and :java-home"
As of the latest release I've hit the following: the `:java-home` ensime config is listed as optional, claiming it overrides `ensime-default-java-home`. However, that variable never seems to get defined. And the error that ensime throws is the ever-maddening `Ensure that SBT is on yoru Path and that your config matches etc`, which claims `:java-home` is optional.  As soon as I set `:java-home`, ev

[2015-02-12 02:58] alpeb commented on #769
For some reason `.ensime_cache/build.sbt` is being created with `-Dscala.usejavacp=true`. Even though in `Analyzer` the presentation compiler settings are set to override this to `false`, some weird logic here ignores that:
https://github.com/scala/scala/blob/2.11.x/src/compiler/scala/tools/util/PathResolver.scala#L239
The result being that the presentation compiler ends up having the ensime jar i

[2015-02-12 07:23] rorygraves commented on #769
@alpeb Good spot.  That is pretty weird logic within PathResolver - I'm guessing ```Defaults.useJavaClassPath``` must pick it up from the ```-D``` variable.  The build.sbt is generated on the emacs side https://github.com/ensime/ensime-emacs/blob/master/ensime-startup.el#L218
@fommil @aemoncannon Am I missing something in thinking this can simply be removed?

[2015-02-12 07:41] rorygraves commented on #825
We should probably alert on the failure and continue.  It should definitely be a soft failure rather than killing the server.  Obviously a better error message would help too :)

[2015-02-12 09:00] fommil commented on #825
I don't think so, because then we'll have to handle the dodgyness everywhere that we touch the jar or its entries, that's a lot of error handling. If the jar is dodgy, I believe we should just fail fast with an error. The reality is that the jar **is** dodgy and should be deleted/replaced by the user.

[2015-02-12 09:02] fommil commented on #769
this isn't as simple as it sounds. The presentation compiler behaves differently on scala 2.9, 2.10 and 2.11 so we'd need some testing around this to confirm the cause/solution.

Incidentally, `.ensime_cache/build.sbt` is no longer used so this may be a relic of the old launcher. The flags are now added by the elisp code.

[2015-02-12 09:06] fommil commented on #826
it's not optional, it's required. I'll update the docs.

[2015-02-12 09:06] #826 closed

[2015-02-12 09:07] fommil commented on #826
How did you generate your `.ensime`?

[2015-02-12 10:12] fommil commented on #642
Also, no need to ask the server about what the classpath is... it's all in the `.ensime` file.

[2015-02-12 13:53] #822 closed

[2015-02-12 15:55] Gastove commented on #826
Heh. Python script -- the project I'm work on is all maven all the time. The script is handy -- and I can use ensime at all -- but it's not exactly reference-grade, shall we say.

[2015-02-12 16:00] fommil commented on #826
hehe. I think somebody made a maven plugin, it would be good if you could consolidate your efforts.

[2015-02-12 16:02] Gastove commented on #826
Oh my lord. I started hacking on one last week, but it's not exactly top-of-mind at the moment -- but if the repo for that winds up linked or posted somewhere around here, I'd be happy to try and pitch in. Sounds a heck of a lot better than, uh, what I've got now.

[2015-02-12 16:32] fommil commented on #826
hmm, I can't seem to find a link to it on the wiki! We must have forgotten to document it... but I know one exists.

[2015-02-12 17:57] aemoncannon commented on #826
https://github.com/parsnips/ensime-maven-plugin

On Thu Feb 12 2015 at 10:32:53 AM Sam Halliday <notifications@github.com>
wrote:

[2015-02-13 20:21] #808 closed

[2015-02-13 20:21] #823 closed

[2015-02-13 20:30] aemoncannon commented on #823
nice!

On Fri Feb 13 2015 at 2:21:43 PM Sam Halliday <notifications@github.com>
wrote:

[2015-02-14 22:45] aemoncannon opened #828 "Company mode completion is annoying if you start typing in the middle of an existing symbol"
The cursor keeps jumping to the end. Try it, it's annoying.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8583888-company-mode-completion-is-annoying-if-you-start-typing-in-the-middle-of-an-existing-symbol?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2015-02-15 07:32] peterbecich commented on #670
I had the same error, and eventually found a different solution.

After updating the Ensime package in Emacs to 20150211.1505, that error appeared.  Deleting `.ensime`, `.ensime_cache`, the Ivy caches in `~/.ivy2` did not fix it.  SBT was on the Path, although the variable `ensime-sbt-command` was nil.  Changing the SBT version used by the project from 0.13.5 to 0.13.7 and regenerating the `.ensim

[2015-02-15 10:21] #763 closed

[2015-02-15 12:08] fommil commented on #390
Just a quick update on this, I think I'm ready to put in the first PR as the tests are green.

1. ~~rewrite SwankProtocolConversions to use S-Express~~
2. rewrite SwankProtocol to use S-Express (kill off old SExp/WireFormat code)
3. change the protocol to use the "natural" S-Express transformations (lots of emacs work)
4. use Shapeless-powered

once that's all done, the entire Swank protocol layer

[2015-02-15 16:14] aemoncannon opened #830 "When selecting a completion from classpath (provided by indexer), don't insert fully qualified name."
I feel like a more useful behavior would be to insert unqualified while at the same time inserting the import. Thoughts?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8596916-when-selecting-a-completion-from-classpath-provided-by-indexer-don-t-insert-fully-qualified-name?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=i

[2015-02-15 16:45] fommil commented on #830
yes, agreed! I think this is a regression as it didn't always do this.

[2015-02-15 17:29] fommil commented on #813
I'm working on this as a follow up to

Having #669 would be incredibly useful...

[2015-02-17 04:56] edani commented on #788
Is this still happening? I can't reproduce it.

[2015-02-17 06:44] fommil commented on #788
Yeah I still see it. If you can't see it maybe I have some funky config.

[2015-02-17 06:46] edani commented on #471
@IvanMalison's PR was added to scala-mode2 a while ago. It does a pretty good job considering that it relies on scala-mode2's syntax parser. Here is a way to see how it looks   (make sure you update to the latest scala-mode2)

[code]

It shows the scala file's structure in the "Index" menu a well as the speedbar. Speedbar has a few problems:

- it doesn't auto-refresh
- when refreshed manually, th

[2015-02-17 06:56] IvanMalison commented on #471
I meant to try to get around to implementing this in ensime, but it never really happened. How difficult would it be to get source code location information from the compiler frontend.  If it's something that could be done relatively quickly, I'd be happy to take a stab at it. I did write a tiny bit of code to grab type information from ensime, but it probably isn't worth including in ensime:
http

[2015-02-17 07:21] rorygraves commented on #471
@IvanMalison The source locations should not be hard to get from Ensime - I think the info might already be available via ``` inspect-type-by-name``` ,  ``` inspect-type-by-id ``` and ``` inspect-type-at-point ``` Ensime calls.

[2015-02-17 07:23] edani commented on #471
I don't think it's hard,  SemanticHighlighting.scala already does something similar, maybe you could
make small changes to it. You'd get the whole structure in one call.

Right now it takes the scala parse tree and returns information about specific leaf nodes but classes/methods/etc .definitions are in the same structure.

I guess the node types we care about for this are `ClassDef`, `ValDef` and

[2015-02-17 07:27] rorygraves commented on #471
Lol @IvanMalison - can you tell people are really keen on this feature? :smiley:

[2015-02-17 20:25] fommil commented on #717
looks like H2 picked up on the regression http://www.h2database.com/html/changelog.html

[code]

might be worth doing an upgrade and seeing if things are ok. Good to stay current with H2 when we can as they are always doing good work under the hood.

[2015-02-17 21:34] fommil commented on #777
boring, I know, but I'm pouring myself a good whisky and getting this one sorted tonight once and for all. It's **far** too useful.

[2015-02-17 22:07] fommil commented on #777
the dreaded

[code]

I think I know how to fix it.

[2015-02-17 22:53] fommil commented on #777
@aemoncannon I'm getting somewhere on my master ensime-server branch. `emacs23` is installed by default (but `package.el` isn't, so I download it) but the output on travis incomprehensible:

https://travis-ci.org/fommil/ensime-server/builds/51148569

It looks like it's starting up a console emacs in the dumb terminal instead of doing it all in the background. Any ideas? Maybe `xvfb` isn't kicking

[2015-02-17 22:53] fommil commented on #777
aah, maybe they haven't installed an X capable `emacs`

[2015-02-17 23:00] fommil commented on #448
http://sachachua.com/blog/2015/02/continuous-integration-code-coverage-emacs-packages-travis-coveralls

[2015-02-18 03:58] aemoncannon commented on #777
Possible to manually install an emacs in the mean time, as we do in travis.yml?

[2015-02-18 07:45] fommil commented on #777
Yup I'll do that

[2015-02-18 15:52] fommil commented on #775
Got one. Not in our codebase, but should be easily reproducible.

I `M-.`d on a `spray.can.Http$Connect.apply`. The exact source for the target is at https://github.com/spray/spray/blob/v1.3.2/spray-can/src/main/scala/spray/can/Http.scala#L43

maybe there is something special about case classes and companions that we need to support.

[code]

[2015-02-18 15:56] aemoncannon commented on #775
I hit a very similar thing on the doc branch. The problem is that the
symbol at point is the 'apply' method of a synthetic Object which doesn't
exist in sources. In both cases we need to do a little dance to find the
intended target.

On Wed Feb 18 2015 at 9:52:43 AM Sam Halliday <notifications@github.com>
wrote:

[2015-02-18 15:59] fommil commented on #775
interesting. Also note it doesn't work even if the source code is open in another window (I navigated there using the search)

I'm renaming this ticket. If anymore are encountered we can create new tickets.

[2015-02-18 16:01] fommil commented on #775
@aemoncannon I've been using my branch for the last few days to check I don't get exceptions on normal ops. I'm not happy with that, so will move over to your branch to enjoy the docs :smile:

[2015-02-18 16:03] aemoncannon commented on #775
@fommil Cool. I bet it would work if you explicitly declared an object Bla for the case class with a custom apply method.

[2015-02-18 16:04] fommil commented on #775
@aemoncannon actually in this case I'm using a custom apply. Curiouser and curiouser.

[2015-02-18 16:04] aemoncannon commented on #775
@fommil :-)   Don't forget to grab that elisp I posted on my PR. I found it
was necessary to explicit escape the urls.

On Wed Feb 18 2015 at 10:01:53 AM Sam Halliday <notifications@github.com>
wrote:

[2015-02-18 16:04] aemoncannon commented on #775
@fommil Huh.

On Wed Feb 18 2015 at 10:04:31 AM Aemon Cannon <aemoncannon@gmail.com>
wrote:

[2015-02-18 16:08] fommil commented on #775
funnily enough, now that you've added spray-can we **do** see this in the ensime source as well :smile:

[2015-02-18 16:57] fommil opened #832 "import type fails for package objects"
e.g. write something that uses a `FrameCommand` (from the spray websocket extension) and we'll add this import

[code]

but it should be `spray.can.websocket.FrameCommand`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8686272-import-type-fails-for-package-objects?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&ut

[2015-02-18 20:17] sachac commented on #448
@edani: If you're referring to the code breakage related to Lisp error: (invalid-read-syntax "Failed matching" (&rest gv-place form)), I think it's because ensime-client.el has

    (setf (ensime-protocol-version process) nil
          (ensime-pid process) nil
          (ensime-server-implementation-name) nil
          (ensime-connection-name) nil
          (ensime-analyzer-ready nil))

The last f

[2015-02-18 21:12] aemoncannon commented on #448
@sachac  Thanks for looking into this! I believe it should read:
    (setf (ensime-protocol-version process) nil
          (ensime-pid process) nil
          (ensime-server-implementation-name process) nil
          (ensime-connection-name process) nil
          (ensime-analyzer-ready process) nil)

[2015-02-18 21:36] fommil opened #833 "remove blobs from the history"
Would anybody object if we ran this script on the server/emacs repos?

  https://github.com/rtyley/bfg-repo-cleaner

Perhaps just the emacs one initially. Looking into the emacs travis testing has made me realise how big these repos actually are because they used to ship jars with them and that's all in there forever.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-02-18 21:39] aemoncannon commented on #833
Fine by me. But for the purposes of testing, is it possible to do a
'shallow' clone or something?

On Wed, Feb 18, 2015 at 3:36 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-02-18 21:45] fommil commented on #833
possibly, that might be useful

[2015-02-18 22:09] fommil commented on #777
I tried to compile this locally but the sheer number of dependencies for the GTK+ build is rather big and it's not possible to build a fully statically linked emacs. Bugger, I think we're really blocked on https://github.com/travis-ci/travis-ci/issues/3244

[2015-02-18 22:30] IvanMalison commented on #471
@rorygraves I'm pretty keen on it too.

[2015-02-18 22:48] fommil commented on #448
@sachac please claim your bounty on this

[2015-02-18 22:48] #448 closed

[2015-02-19 00:09] edani commented on #448
Very nice!

[2015-02-19 00:17] adelbertc commented on #472
Hey folks,

Just had a brief chat with @fommil - I have entertained the idea of (attempting to) write a Hoogle-ish tool for Scala. I'm currently playing around scraping what I need from the compiler via a compiler plugin, but it looks like there's some similar discussion/work being done here.

My vision for such a thing would be very similar to that of Hoogle - being used via command line, via an

[2015-02-19 02:39] aemoncannon commented on #472
@adelbertc
For maximum flexibility, I'd suggest following scala-refactoring's example and depend only on the compiler. As in: trait { self: Global => your code here }. That way it's easy to drop into ensime and other tools. scala-refactoring is also nice in the way that it provides tools for building an index (required for things like global rename), but is agnostic to the threading model of the h

[2015-02-19 07:11] rorygraves commented on #472
@adelbertc Yes I am  - I've been slowly but surely teasing apart the expectation that emacs is sitting on the other end.  I should put together a outline 'analysis' project that you can play with.

[2015-02-19 07:38] fommil commented on #472
For this particular feature, you don't need to go near Global because the classfile indexer and scalap will give you everything you need. This all kicks in during the startup phase so if you wrote a scalax / hoogle database schema / lucene model then you'd start up ensime, wait for "index complete" and make as many queries from whatever their you want :smile:

[2015-02-19 08:08] rorygraves commented on #472
I agree with @fommil  - all of the information you require should be available for the Ensime api, Ensime protects you from the internal compiler differences.  I have a plan - give me 24 hours for a test project, but it will be a bit of a hack job in first instance as until @fommil refactors are complete we don't have a clean (non-lisp) remote api.

[2015-02-19 08:35] adelbertc commented on #472
Woah what, ENSIME already has the type signatures of the methods/functions scraped?? Or am I misunderstanding?

[2015-02-19 08:43] rorygraves commented on #472
@adelbertc I believe so, and in a Scala version independent way as well.  And if it doesn't have it fully exposed we should fix it so it is.

[2015-02-19 08:51] adelbertc commented on #472
Oh come on, I *just* spent 2 hours of my night messing around with `scala.tools.nsc._` :-)

That's awesome!! Pesky part is done then, on to the fun part! Looking forward to your test project @rorygraves

[2015-02-19 09:04] fommil commented on #472
@adelbertc have a read of https://github.com/ensime/ensime-server/blob/master/src/main/scala/org/ensime/indexer/SearchService.scala and think about where your stuff would plug in.

Our scraping backends are currently:

* https://github.com/ensime/ensime-server/blob/master/src/main/scala/org/ensime/indexer/ClassfileIndexer.scala
* https://github.com/ensime/ensime-server/blob/master/src/main/scala/o

[2015-02-19 09:16] fommil commented on #692
* upgrading scalacheck reveals lots of bugs

[2015-02-19 09:19] fommil commented on #390
@rorygraves had a good idea: release 1.0 sooner without any protocol changes at this point. I'm in favour of that, as it means we can change the protocol on the unstable branch, impacting less people, and not have to worry about backporting to scala 2.9.

[2015-02-19 09:22] rorygraves commented on #472
@adelbertc Interestingly @fommil  interpreted the question is different ways.
To me I was trying to supply an api that you can use during your search/indexing phase - i.e. using Ensime as an api to interate over the classes/types/methods to discover the available info that you would index/store elsewhere. (so I could see a global database fed by different projects/runs and exposed on a website - t

[2015-02-19 09:23] fommil opened #834 "Refactor the protocol"
1. WebSockets, making it easier to use ENSIME from non-emacs clients
2. SWANK to use "natural" S-Express form
3. Shapeless 2.1 to remove almost all the marshalling code

[2015-02-19 09:24] fommil commented on #704
I'm using https://github.com/wandoulabs/spray-websocket at work and it's very easy to use. Closing and tracking under #834

[2015-02-19 09:24] #704 closed

[2015-02-19 09:26] fommil commented on #472
:smile: yup, add Hoogle/Scalex to the ENSIME server. If you can have it working up to unit tests, we can do the wiring into the protocol layer for you.

[2015-02-19 09:32] rorygraves commented on #390
More that if as part of 1.0 we were going to make a number of tweaks ot the protocol it might be worth release 0.9.1 stable (now) - 0.9.2 stable (+protocol tweaks) ... (1.0.0 stable) once we were 1.0 feature complete..

[2015-02-19 11:20] alpeb commented on #769
I tried issuing a PR in in scala for this, but they're arguing the command-line option should take precedence:

https://github.com/scala/scala/pull/4342#issuecomment-74977198
https://issues.scala-lang.org/browse/SI-9159

[2015-02-19 11:47] fommil commented on #769
@alpeb if we don't pass the CLI argument and **just** set it in code, do you think that would work for 2.9, 2.10 and 2.11?

[2015-02-19 13:02] alpeb commented on #769
I've commented out `-Dscala.usejavacp=true` in `ensime-startup.el` and attempted using Ensime in a minimal project with scala 2.9.3, 2.10.4 and 2.11.5. Ensime symbols are not there and completion seems to be working fine. Not sure if this is enough of a test though.

[2015-02-19 14:36] fommil opened #835 "support symbolic methods (those that are renamed in bytecode)"
which is a bit annoying for scalaz and akka tell/ask

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8712706-support-symbolic-methods-those-that-are-renamed-in-bytecode?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campai

[2015-02-19 14:38] fommil commented on #769
@alpeb did you start up the server every time you changed the version of scala?

If so, then it sounds like this flag was completely superfluous, so please submit a PR to remove it.

[2015-02-19 15:00] alpeb commented on #769
Yea, before each test I changed the scala version in my sample project's `build.sbt` and killed the `.ensime` file and `.ensime_cache` dir, and then ran `sbt gen-ensime` before launching Emacs. I'll submit the PR tonight.

[2015-02-19 15:22] fommil commented on #769
cool. No need to delete the cache, but it's certainly safe to do so.

You can now create one-liner PRs directly in github, they added the feature a few weeks ago. Just click edit on the file in the ensime repo.

[2015-02-19 18:17] adelbertc commented on #472
@rorygraves So the test project you were talking about is to provide an API to allow me to get access to the information I need, e.g. all functions/methods defined along with their type signatures? Will I be able to get at these in a structured format, like some sort of ADT or case class or whatnot (as opposed to a string-y dump that I have to parse)? I'm currently mostly interested in getting wha

[2015-02-19 18:29] fommil commented on #472
@adelbertc I think you'll find it easier to get it set up within ENSIME. You'll have access to the project definition and H2/Lucene is already there for you to use, with the data you need being streamed at you (instead of pull), and it can be a **lot** of data.

I think the best way for you to start would be to write up some TDD unit tests with user input and expected responses. It makes sense for

[2015-02-19 20:02] rorygraves commented on #472
@adelbertc Yes thats exactly what I'm aiming for.

[2015-02-19 20:24] fommil commented on #472
@adelbertc the case classes that are passed to you are generated in the two files I referenced above (classfileindexer and classfiledepickler), look in https://github.com/ensime/ensime-server/blob/master/src/main/scala/org/ensime/indexer/domain.scala for the classfile parsing and the depickler returns objects from the Scala Compiler API (which is less pretty).

[2015-02-19 21:26] adelbertc commented on #472
@fommil Just took a look, looks like everything I need :-) I'll play around with it tonight - will probably first just work with the indexer first since that's all you folks are using. I'll create a topic branch on my fork (will link when I push come code) to share progress.

To scrape the methods it looks like I just need to:

1. Use `ClassfileIndexer#indexClassFile` to get `RawClassFile`s
2. Pok

[2015-02-19 22:21] fommil commented on #472
@adelbertc there is a naming clash with "indexer". For legacy reasons the whole search service is referred to as "indexing", but that's really made up out of Lucene Indexing, and H2 Database. We use both.

There is **loads** of good stuff could happen in `SearchService`. I'm really hoping to implement hierarchy browsing in the next few weeks. e.g. "what implements this?"

[2015-02-19 22:22] fommil commented on #472
@adelbertc you don't need to use ClassFileIndexer. If you hook into the right part of SearchService, it'll be handed to you. You'll probably want to add a Pickler stage to there as well, as it will give you all the type information.

[2015-02-20 04:06] adelbertc commented on #472
Yep taking a look, I (think I) see what needs to be done and where :-)

[2015-02-20 07:47] rorygraves opened #836 "Publish doc and source jars."
When using Ensime as an api not having linked docs/sources - esp considering @aemoncannon current work.

[2015-02-20 07:51] rorygraves commented on #472
In the alternate universe thread - here is the test project I promised - https://github.com/rorygraves/ensime-analyser  Its very rough and ready and I have already discovered several things that need tweaking in Ensime to support this better.

[2015-02-20 09:07] fommil commented on #836
:stuck_out_tongue: you silly https://oss.sonatype.org/content/repositories/snapshots/org/ensime/ensime_2.11/0.9.10-SNAPSHOT/

[2015-02-20 09:07] #836 closed

[2015-02-20 16:37] fommil commented on #642
I think my protocol non-change actually broke launching the REPL. Implementing this will fix that.

[2015-02-20 16:38] fommil opened #837 "search not showing results, but working"
I can do an `ensime-search` followed by the name of a class I'm interested in, but nothing appears in the search list, but pressing enter will bring me to exactly where I wanted to go. Looks like a rendering bug.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8751284-search-not-showing-results-but-working?utm_campaign=plugin&utm_con

[2015-02-20 16:42] aemoncannon commented on #642
Good candidate for rpc call to rip out before 'stable'

On Fri Feb 20 2015 at 10:37:13 AM Sam Halliday <notifications@github.com>
wrote:

[2015-02-20 16:55] aemoncannon commented on #837
Pretty sure we actually scrape the ui text in a lisp integration -- pretty
funny that we can still be thwarted by rendering of invisible text. Abandon
all hope, ye who enter here.

https://github.com/ensime/ensime-emacs/blob/master/ensime-test.el#L1702

On Fri Feb 20 2015 at 10:38:04 AM Sam Halliday <notifications@github.com>
wrote:

[2015-02-20 17:11] fommil commented on #837
something funny was going on. I wonder if the result had been cached or something.

[2015-02-20 17:51] adriaanm commented on #769
Glad you were able to workaround the finicky flag. Classpath handling in scalac (especially the usejavacp and usebootcp flags) are in desparate need for a rewrite (probably going to happen when we work on Java 9/jigsaw support), but many tools depend on their existence, so this is going to take some time on our end.

[2015-02-21 06:24] ahanwadi commented on #703
Seeing the same issue.

[2015-02-21 07:28] ahanwadi opened #838 "ensime is not highlighting errors on mac"
Basically, error highlight works when error is at the file scope but it does not work when inside object or class. Checking the text property and output from the inferior buffer it is clear that error is reported correctly but is not shown.

Starting ENSIME server: /Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/Contents/Home/bin/java -classpath /Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/

[2015-02-21 07:40] ahanwadi commented on #838
My bad - the errors were highlight correctly. The confusion was for unknown symbol error - instead of text , the unknown symbol was highlighted/underlined.

[2015-02-21 07:40] #838 closed

[2015-02-21 10:39] fommil commented on #703
yeah, this one sucks. I think to properly fix it we'd have to use font-locks instead of overlays.

[2015-02-21 11:40] fommil commented on #813
I'm hoping to get this done today. It's turning into a refactor of the testing because now we can really just define actual projects for the test projects and pull them in.

It should be relatively easy to add tests for `git submodules` if we really want to, which should make recreating user bugs really easy.

[2015-02-21 11:51] fommil opened #839 "gen-ensime for submodules only"
It would be really useful for our test harness if we could generate a `.ensime` just for specific submodules.

That way we could compile all the sources, generate a `.ensime`, and in the server integration tests have everything we need handed to us without the need to pass any parameters to the java process.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2015-02-21 12:15] fommil commented on #839
an alternative would be to depend on the .ensime for ensime itself and then filter submodules. Hmm, I might do that (either solution puts a dependency on ensime-sbt from the server, which might result in weird dependency cycles).

[2015-02-21 12:17] fommil commented on #839
hmm, that means the integration tests would depend on `gen-ensime` but not the project build. That's a possible workable solution.

[2015-02-22 20:45] fommil commented on #813
@rorygraves  almost done. I have a whole new set of integration test fixtures now that make integration testing really easy. Just polishing the debug/workflow tests (which can now be split up with no performance penalty)

[2015-02-22 20:59] rorygraves commented on #813
@fommil Awesome, looking forward to reviewing it all.

[2015-02-24 00:00] sachac commented on #448
@fommil The people who wrote the tests deserve so much more of the credit. =)

[2015-02-24 05:35] aemoncannon opened #840 "Infinite recursion in protocol"
23:32:50.583 [default-akka.actor.default-dispatcher-4] ERROR akka.actor.ActorSystemImpl - Uncaught fatal error from thread [default-akka.actor.default-dispatcher-3] shutting down ActorSystem [default]
java.lang.StackOverflowError: null
	at org.ensime.sexp.SexpList$.rec$1(Sexp.scala:68) ~[ensime_2.11.jar:0.9.10-SNAPSHOT]
	at org.ensime.sexp.SexpList$.rec$1(Sexp.scala:68) ~[ensime_2.11.jar:0.9.10-SN

[2015-02-24 07:38] fommil commented on #448
Oh that's OK, we're using the bounties to try and attract more contributors :-) if you don't want it, at least recycle it and put it on a ticket you'd like to raise awareness on.

[2015-02-24 08:55] fommil commented on #840
What was the input string? Might just be a really big s-expression.

[2015-02-24 08:57] fommil commented on #840
dupe of #692 (but seeing the input string would be good for testing)

[2015-02-24 08:57] #840 closed

[2015-02-25 17:22] MasseGuillaume commented on #472
Hey,
As pointed out Scalex is out of date. @ornicar want to put his efforts on http://en.lichess.org/ and he does an excellent jobs!

I'm starting [metadoc](https://github.com/metadoc). The idea is to have a way to zoom from all available Scala projects to a class' def. Mac users may know [Dash](http://kapeli.com/dash) documentation tool, I'm solving a similar problem.

What I achieve so far:

1)

[2015-02-25 21:24] fommil opened #842 "ensime-sbt 0.1.5 to maven central"
@edani @aemoncannon just to let you know I released this to central due to popular demand.

[2015-02-25 21:24] #842 closed

[2015-02-26 22:07] fommil commented on #777
unblocked! :smile:

[2015-02-26 22:16] aemoncannon commented on #777
Hate to be a debbie downer, but what about emacs 24? Technically some
packages we use require it (company-mode)

On Thu, Feb 26, 2015 at 4:08 PM Sam Halliday <notifications@github.com>
wrote:

[2015-02-26 22:24] fommil commented on #777
@aemoncannon this actually helps. Now that they install emacs-gtk that means all the dependencies for emacs24 will be available so we can potentially build our own and dist to travis for the build matrix.

[2015-02-26 22:25] fommil commented on #777
btw, I'm thinking for post 1.0 we should think about making the minimum requirements be:

* scala 2.10
* java 7 (async file system messaging)
* emacs24

[2015-02-26 22:44] fommil opened #844 "JSON protocol"
#390

Yup, I just committed to doing this for 1.0 :smile:

No changes to the protocol, just a JSON protocol using the natural marshallers for the existing API.

Shapeless 2.1 could make it extremely easy.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8989946-json-protocol?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=

[2015-02-26 23:59] aemoncannon commented on #777
+1

On Thu, Feb 26, 2015 at 4:25 PM Sam Halliday <notifications@github.com>
wrote:

[2015-02-27 02:20] aemoncannon opened #845 "Refactor API to combine *byName *atPoint calls"
Is this worth doing? The proliferation of public calls is a little annoying, but maybe this is actually simpler and more understandable. Thoughts?

A quick survey yields:

  def rpcInspectTypeAtPoint(f: String, range: OffsetRange): Option[TypeInspectInfo]
  def rpcInspectTypeById(id: Int): Option[TypeInspectInfo]
  def rpcInspectTypeByName(name: String): Option[TypeInspectInfo]

  def rpcSymbolAtP

[2015-02-27 07:59] #828 closed

[2015-02-27 08:00] fommil commented on #845
:+1: should we leave this until post 1.0 when we can go crazy and refactor a whole bunch of protocol stuff?

[2015-02-27 15:55] aemoncannon commented on #845
Cool

On Fri, Feb 27, 2015, 2:00 AM Sam Halliday <notifications@github.com> wrote:

[2015-02-27 20:21] coventry opened #847 "ensime-inf-switch fails because classpath property is a list of strings."
When I run `C-c C-v z` (`M-x ensime-inf-switch`), it fails with the following backtrace:

[code]

As a quick fix, I built the repl command "manually" with the classpath as a concatenated list separated by colons, and it worked.  However, I don't know what else this breaks.  Anyway, with this function `C-c C-v z` does what I expect.

[code]

Maybe I have some incompatible library preventing ensime

[2015-02-27 20:31] aemoncannon commented on #847
Hiya. Looks like a regression. Want to do a PR?

It may be of interest that we plan to get rid of ensime-rpc-repl-config and
simply derive the classpath from the ensime config, which is available
locally.

Something like:
(defun ensime-inf-get-repl-cmd-line ()
  (when (ensime-connected-p)
        `("scala" "-classpath" (ensime-config-build-repl-classpath
(ensime-config)))))

Where 'ensime-config-b

[2015-02-27 20:41] fommil commented on #847
yup dupe of #642, we'd love a PR on this! It shouldn't be too hard either

[2015-02-27 20:41] #847 closed

[2015-02-27 21:08] aemoncannon opened #848 "Framework for passive fixups"
Two aspects to this:
- A backend system for subscribing to interesting events, changes to particular AST fragments, looking at a certain type of file, etc, and then computing fixups.
  - A gui that gives a non-intrusive notification when fixups are available.
  - A gui for applying said fixups.

[2015-02-27 21:09] fommil opened #849 "integrate with sbt-server"
@jsuereth @eed3si9n may have more to say. Initial thoughts are:

1. tighter feedback from the compiler (perhaps even better incremental compile)
2. notifications when the build definition has been reloaded ... recreate the .ensime and bounce the server transparently to the user.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9029580

[2015-02-27 21:11] fommil commented on #848
:+1: certainly important for Java... but even in Scala there are some obvious cases (like "implement this missing method").

For Java, I strongly recommend just re-using/borrowing the NetBeans API and implementations. Extremely useful stuff in there (I know, I wrote some of them :stuck_out_tongue: )

[2015-02-27 22:05] fommil commented on #848
I'm actually keen for Java stuff to be a focus for post 1.0, so moving to that milestone so it doesn't get lost.

For post 1.0 my personal priorities are:

1. refactor protocol messages, marshalling and use WebSockets: will make it **really** easy to extend in the future and lowers the barrier to entry for new contributors.
2. really spend some time in the model/search layers to ensure we're passi

[2015-02-27 22:08] aemoncannon commented on #848
+1 this will be a big quality of life improvement for me at work ;-)

On Fri, Feb 27, 2015 at 4:05 PM Sam Halliday <notifications@github.com>
wrote:

[2015-02-27 22:14] fommil commented on #738
#834

[2015-02-27 22:14] #738 closed

[2015-02-27 22:14] fommil commented on #310
@JulesGosnell Ping!

[2015-02-27 22:17] #817 closed

[2015-02-27 22:44] coventry commented on #847
Hmm.  I can probably do a PR, but I'm new to scala and don't fully understand #642.  What is the alternative to calling the scala binary, exactly?

It looks like a jumped on the melpa version of ensime at a time when the codebase is a bit unstable.  Can you please recommend a stable version I could use for production work?

[2015-02-27 22:48] fommil commented on #847
@coventry this is the most stable version there is. We're working towards 1.0 and this is actually on the roadmap.

If you want a quick workaround, just use the sbt command `console` to get a REPL.

With regards to a PR, all you need to do is to aggregate all the jar files from the ensime config file and call out to the `$JAVA_HOME/bin/java` system binary with the jars on the classpath and calling

[2015-02-27 22:49] fommil commented on #847
(btw, this is a pure elisp task, so no need to be a Scala expert :smile:)

[2015-02-27 22:50] fommil commented on #847
we should also probably reconcile our REPL mode with the one in `sbt-mode` as there is a lot of common functionality there.

[2015-02-28 00:18] coventry commented on #847
OK, so pull the jars from `:compile-deps` in `.ensime` and make a classpath out of that?  Sounds simple enough.  Can there be more than one subproject in `.ensime`?  If so, how to distinguish the correct one?

[2015-02-28 00:22] fommil commented on #847
@coventry yup! just aggregate all of them

[2015-02-28 00:23] fommil commented on #847
@coventry if you want an example .ensime run `gen-ensime` on my branch of ensime: https://github.com/fommil/ensime-server/tree/modularise (will be master very soon)

[2015-02-28 00:40] #813 closed

[2015-02-28 01:08] aemoncannon commented on #847
@coventry Also, there's some elisp in ensime-config.el that demonstrates
collecting things from all submodules into a single list. Best.

On Fri, Feb 27, 2015 at 6:23 PM Sam Halliday <notifications@github.com>
wrote:

[2015-02-28 03:15] coventry commented on #847
Won't that cause mysterious problems down the line for some poor soul who inherits a project where subprojects depend on different but identically named jars?

[2015-02-28 03:32] aemoncannon commented on #847
Even if their names are the same, their paths will be different, so
shouldn't be a problem.

On Fri, Feb 27, 2015 at 9:15 PM coventry <notifications@github.com> wrote:

[2015-02-28 04:33] codeck opened #850 "current snapshot doesn't work"
ensime update fails always because lack of "testingempty" "testingsimple"  "testingdebug".
my env: scala 2.11.5 sbt 0.13.7 ensime 0.9.10-SNAPSHOT

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9038491-current-snapshot-doesn-t-work?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bount

[2015-02-28 08:45] fommil commented on #850
Oh crap, I'll fix that asap.

[2015-02-28 09:26] fommil commented on #847
when you have the list, just remove duplicates (the same jar may appear in several modules, and it usually points to the same location in the ivy/maven cache).

[2015-02-28 09:59] fommil commented on #850
This was an upstream bug in sbt https://github.com/sbt/sbt/issues/1888

I've worked around it, and pushed a new snapshot. Thanks for reporting!

[2015-02-28 09:59] #850 closed

[2015-02-28 10:19] fommil commented on #692
example of a transient failure https://travis-ci.org/ensime/ensime-server/builds/52514899

[2015-02-28 13:55] fommil commented on #804
@aemoncannon did you get the elisp tests using the package file?

[2015-02-28 13:56] fommil commented on #848
@rorygraves this would work well for the "add type to public member" stuff we always want to implement

[2015-02-28 14:00] fommil commented on #777
right. I'm going to destroy this one today.

[2015-02-28 14:14] rorygraves commented on #848
Sounds good to me!

[2015-02-28 14:48] fommil commented on #777
damnit, the ppa .deb uses gtk3 which isn't on `precise` by default. Building my own emacs24 with gtk2 support...

[2015-02-28 14:56] aemoncannon commented on #804
@fommil yeah. See dot-emacs.el. though still not pinned to specific
versions : \
On Feb 28, 2015 7:55 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-02-28 14:57] aemoncannon commented on #777
God speed!
On Feb 28, 2015 8:48 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-02-28 14:59] #804 closed

[2015-02-28 14:59] fommil commented on #777
I've got a build of 24.4 (should we be using 24.1 for testing?)

[code]

and going to dist it to dropbox now.

[2015-02-28 15:19] aemoncannon commented on #777
Eh, maybe ideally? But this is fine.
On Feb 28, 2015 8:59 AM, "Sam Halliday" <notifications@github.com> wrote:

[2015-02-28 15:21] fommil commented on #777
emacs 24.1 fails immediately...
[code]

[2015-02-28 17:31] fommil commented on #777
wtf, `Finished suite with status 0.` yet `The command "sbt ++$TRAVIS_SCALA_VERSION publishLocal && cd $HOME/ensime-emacs && test/run_emacs_tests.sh" exited with 1.`

[2015-02-28 23:28] #777 closed

[2015-03-01 01:59] coventry commented on #847
My changes are at https://github.com/coventry/ensime-emacs/commits/new-repl-launch-logic but it's not ready for a PR.  The java invocation fails with `Could not find or load main class scala.tools.nsc.MainGenericRunner`.  I'm also still not convinced this way of constructing the classpath is appropriate.

[2015-03-01 02:14] aemoncannon commented on #734
Closing, as we do provide a (perhaps less than perfect) option.

[2015-03-01 02:14] #734 closed

[2015-03-01 06:40] edani commented on #849
This would be nice. I miss C-c C-c e` showing actual compiler errors, the links from sbt-mode just aren't the same.

[2015-03-01 08:55] fommil opened #856 "Build stability"
Still not using non parallel, but I found out how to do this.

I get transients, even locally, in the emacs debugging test and this seems to hang the build a lot.

A timeout out the emacs expectations would also be good.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9075727-build-stability?utm_campaign=plugin&utm_content=tracker%2F

[2015-03-01 10:28] fommil commented on #856
[code]

results in

[code]

[2015-03-01 10:31] fommil commented on #856
(note, this is transient, and happens if I use the JAVA_HOME to be the jre or the jdk)

[2015-03-01 18:14] fommil commented on #856
I tested a homebrew version of ensime-server with logging-to-file enabled and seen this:

[code]

And I'm now amazed that this ever worked :smile: looks like a genuine bug (possibly in the emacs test) because the `.ensime` doesn't have the scala-library on its dependency list.

[code]

btw, this is the same thing in ensime/ensime-emacs#97

[2015-03-01 20:16] rorygraves opened #858 "Refactoring failure: assertion failed: bad position: [2651:2615]"
@bjarkevad is seeing an issue during refactoring:

https://gist.github.com/bjarkevad/dfa2ab229c8316fceef5

The refactor request itself (inline local).

Things to do/confirm

1.  Scala version of project
2.  Minimised example
3. Report to https://github.com/scala-ide/scala-refactoring and/or request a release of 0.6.3

[2015-03-01 20:17] rorygraves commented on #858
I'm guessing its an edge case bug in the refactoring library - need to ascertain the shape of the refactor (its a commercial project so no immediate reproducible case.

[2015-03-01 21:58] fommil commented on #858
https://github.com/bjarkevad/ensime-refactoring-bug

[2015-03-01 22:19] fommil commented on #858
one thing to point out here: it looks like the starting position is **after** the ending position. Might be of use to upstream.

[2015-03-02 04:41] sutram opened #859 "M-x ensime fails with minimal logging"
HI,

I am using this with emacs 24.4.90 running on OS X Mavericks.

Ensime used to work a couple of days ago and then I upgrade Emacs to 24.4 and Ensime to the latest MELPA version and the only error I get is:

Updating ENSIME server...
Process *ensime-update* exited: exited abnormally with code 126

Any idea what is going on or a workaround to get this working again?

I deleted the Ivy cache and

[2015-03-02 07:58] fommil commented on #859
Can you see the output of the ensime update buffer?

[2015-03-02 07:59] fommil commented on #859
Workaround is always the publishLocal wind a version that worked for you : both client and server, but I suspect this is just a caching issue.

[2015-03-02 08:11] fommil commented on #859
You could also turn on emacs debug on error.

[2015-03-02 08:12] fommil commented on #859
And did you recreate your ensime config file?

[2015-03-02 13:38] fommil commented on #856
I'm have a PR in to ensime-emacs to fix this, but we are getting exit 1, despite the tests returning 0.

I wonder if `Xvfb` is somehow getting in the way.

[2015-03-02 17:00] #769 closed

[2015-03-02 17:41] sutram commented on #859
Hi, I did recreate the .ensime file and I blew away the .ensime_cache directory. The ensime update buffer has nothing in it.

This error happens immediately after hitting M-x ensime and return

I am sorry but how should I use publishLocal?

Thanks

[2015-03-02 17:54] fommil commented on #859
did you delete the `~/.emacs.d/ensime` folder as well?

You can also try `ensime-update` just to try to get that buffer to do something.

[2015-03-02 18:35] edani commented on #859
I was meaning to say something, a recent change redirects the output of the "ensime update" process to stdout.

@sutram  A workaround is to comment out this form:

[code]
in ensime-startup.el  and  restart emacs.

After that you can see the process' output.

[2015-03-02 19:07] sutram commented on #859
@edani Sorry, that did not work. It seems that it doesn't get very far before that error comes up. Is it possible that the .ensime file can't be parsed properly?

@fommil I deleted  ~/.emacs.d/ensime and ran M-x ensime-update. The ensime update buffer is still blank and I get the same error

[2015-03-02 20:01] fommil commented on #859
@sutram how are you generating the `.ensime`?

[2015-03-02 20:56] fommil commented on #856
t'was a bug in emacs-24.4 by the looks of it. I'll use 24.3 on the ensime-server and a matrix of 24.{1,2,3} on ensime-emacs.

[2015-03-02 21:07] fommil commented on #856
ha! And after all that, seems we're using an emacs-24.3 function `display-buffer-at-bottom` @edani any way of using something else in its place so we can only require 24.1 at a minimum?

[2015-03-02 21:10] fommil opened #861 "Support emacs-24.1"
This upstream commit introduced `display-buffer-at-bottom` to emacs-24.3

https://github.com/emacs-mirror/emacs/commit/5938d5196d09aff887aa74603c102b1f303a613a

We're using that function, so it means that our minimum requirement is 24.3. It would be good to require at least 24.1, for some older machines (bear in mind that Ubuntu LTS is still on emacs23, which I doubt we can realistically support).

[2015-03-02 21:14] fommil opened #862 "support emacs-24.4 in our tests"
Looks like emacs-24.4 `kill-emacs` doesn't actually work properly. It either hangs, or doesn't exit 0 as requested.

@aemoncannon any chance you could have a look at alternative ways of exiting from the tests?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9131021-support-emacs-24-4-in-our-tests?utm_campaign=plugin&utm_content=track

[2015-03-02 21:33] fommil commented on #862
I was originally suspicious of this upstream commit https://github.com/emacs-mirror/emacs/commit/7932d062cf85c2c37bd15b22be30a65c034001fc but actually I'm seeing quite a lot of hanging on travis when we try to exit. https://travis-ci.org/ensime/ensime-emacs/builds/52804848

I wonder if perhaps we have a race condition to exit the tests.

[2015-03-02 21:35] fommil commented on #862
e.g. https://travis-ci.org/ensime/ensime-emacs/jobs/52804849 has "Finished suite with status 0" about halfway down.

[2015-03-02 21:39] edani commented on #856
@fommil   OK I'll look into it.

[2015-03-02 21:41] aemoncannon commented on #861
If this is the only thing blocking, then yeah, I think it's worth it.

On Mon, Mar 2, 2015 at 3:10 PM Sam Halliday <notifications@github.com>
wrote:

[2015-03-02 21:44] fommil commented on #862
`kill-emacs` might be a wild goose chase. A bigger problems seems to be that our tests just hang at the end.

@aemoncannon would it be hard to put a timeout limit on the async emacs tests? And do you have any ideas why the logic to exit might not be kicking in?

[2015-03-02 22:16] sutram commented on #859
@fommil "sbt gen-ensime"

I checked sbt version and it is the right version 0.13.6

[2015-03-02 22:21] edani commented on #861
I'm trying to wade through the emacs 24 changes to see what's available... We could simply replace it with `display-buffer`

[2015-03-02 22:28] fommil commented on #862
another build where it exits 1: https://travis-ci.org/ensime/ensime-emacs/jobs/52813805

so maybe there was a regression in kill-emacs that we have to workaround. Maybe we have to bleed stdin before exiting?

[2015-03-02 22:35] aemoncannon commented on #862
hmm.. i wonder if our kill-emacs hook (recently introduced) could be
causing issues.

On Mon, Mar 2, 2015 at 4:28 PM Sam Halliday <notifications@github.com>
wrote:

[2015-03-02 22:41] fommil commented on #862
ooh, that sounds suspicious indeed

[2015-03-03 00:56] codygman commented on #773
I came here to recommend automating generating the .ensime file as well. I know it's "just typing in ` sbt gen-ensime`" for every new project, but I work with 10+ languages and it's nice to reduce all those "you just have to do X simple thing(s)" as much as possible.

Then you end up with interactive environments across languages where you don't have to remember a lot of (usually meaningless for t

[2015-03-03 05:47] aemoncannon commented on #835
Looks like indexer is returning no hits for !:
23:46:11.567 [Scala Presentation Compiler []] DEBUG o.e.core.RichPresentationCompiler - search: akka.actor.ScalaActorRef.! = None

[2015-03-03 06:33] fommil commented on #773
Running the generate task can be very slow, and there is no easy way to auto detect a change in the build, so that's why we've not done this yet. Open to suggestions, and especially PRs :-)

[2015-03-03 06:34] fommil commented on #835
I've probably put a minimum character limit. Doh!

[2015-03-03 06:59] #856 closed

[2015-03-03 07:00] fommil commented on #862
nope, that didn't seem to help emacs24 https://travis-ci.org/ensime/ensime-emacs/builds/52856527

[2015-03-03 09:19] fommil opened #863 "enable all elisp files in coverage"
We're currently ignoring `ensime-client.el` and `ensime-startup.el` in the coverage tests. I assume it was disabled because of macros or something like that.

It would be good to cover everything, although covering startup might be tricky because we intentionally do the `update` stage separately.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2015-03-03 09:20] fommil commented on #863
this is a dud.

[2015-03-03 09:22] fommil opened #864 "merge update and suite in elisp coverage report"
https://github.com/sviridov/undercover.el/issues/6

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9147536-merge-update-and-suite-in-elisp-coverage-report?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-03-03 09:38] eallik commented on #773
but how do Eclipse and IDEA do it?

[2015-03-03 09:52] fommil commented on #773
Most people I know turn off that "auto refresh" feature because it locks up the IDE. Refreshing from an SBT project can take ~10 minutes on corporate sized projects thanks to awesome ivy resolution (even when the files are held locally).

We could add support for trivial projects that only have a `build.sbt` (in which case it's as simple as comparing the timestamps of `.ensime` and `build.sbt`), o

[2015-03-03 09:55] fommil commented on #863
not a dud, we need to ignore `ensime-startup.el` or we get an error.

[2015-03-03 09:57] fommil commented on #863
let's bundle this under #864

[2015-03-03 09:57] #863 closed

[2015-03-03 09:58] fommil commented on #859
@sutram any more success?

Something else you could try is to clone the `ensime-emacs` directory and run the shell script under `test` from the top directory.

[2015-03-03 09:59] fommil commented on #859
@sutram I don't mean the version of `sbt`, I mean the version and distribution of the `sbt` script itself. Is it `paulp`'s `sbt-extras` script? (It should be)

[2015-03-03 16:15] aemoncannon commented on #773
+1

On Tue, Mar 3, 2015 at 3:52 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-03 16:19] aemoncannon commented on #862
assuming you didn't mean to close?

[2015-03-03 16:19] fommil commented on #862
I did, but then it started failing again, so it is right to open again.

[2015-03-03 16:23] aemoncannon opened #865 "RFC: inspector interface changes"
Currently we have a 'doc' link for types, where docs are available. And members themselves are linked to docs. This is inconsistent, and doesn't leave much room in the UI for source-code links. Proposal:

* Don't put any explicit links to docs or sources in the inspector. All hyperlinks are intra-links.
* Bind M-. to go to source, and C-c C-v d for docs.
* Display a (message ..) on entering inspec

[2015-03-03 16:39] sutram commented on #859
@fommil I cloned ensime-emacs and ran the script under the test directory. It opened up console emacs and went through and downloaded a bunch of dependencies and then bam! - the same error with an empty ensime-update buffer

I do have Paul's sbt from https://github.com/paulp/sbt-extras and I tried that and I get the same result. The version I have is 0.13.5

[2015-03-03 17:08] sutram commented on #859
Oh and when I tried to close that console mode emacs, I actually got a stack trace:

Debugger entered--Lisp error: (file-error "Opening input file" "no such file or directory" "/Users/sutram/ensime-emacs/emacs.d/ensime/classpath_2.11.5_0.9.$
  insert-file-contents("/Users/sutram/ensime-emacs/emacs.d/ensime/classpath_2.11.5_0.9.10-SNAPSHOT")
  (progn (insert-file-contents (ensime--classpath-file en

[2015-03-03 17:32] fommil commented on #859
your log messages are being truncated unfortunately but in any case this is after the update script.

Right, try this, remove all the `/tmp/ensime_update_*` directories, run `update-ensime` (or the tests)... and then go into the newly created temp directory, then type `sbt saveClasspath`

[2015-03-03 17:48] edani commented on #835
Doesn't scalac translate punctuation into alphanumeric strings? In that case the indexed name would be $bang$ or something.

[2015-03-03 18:24] edani commented on #865
That would work I think. Note, the current behavior on methods is for <RET> to link to the source code and fall back on doc if there's no source. It looks like the source code availability broke within the past few weeks so it always links to the docs.

[2015-03-03 18:53] sutram commented on #859
This is the top level error when I run the test:

Debugger entered--Lisp error: (file-error "Opening input file" "no such file or directory" "/Users/sutram/ensime-emacs/emacs.d/ensime/classpath_2.11.5_0.9.$
insert-file-contents("/Users/sutram/ensime-emacs/emacs.d/ensime/classpath_2.11.5_0.9.10-SNAPSHOT")

I checked /tmp and there are no files/directories with the pattern ensime_update_* and neithe

[2015-03-03 20:16] fommil commented on #859
possibly. Let's hack it by hand. Create a folder containing a subfolder called `project`. In the project folder, create a file called `build.properties` containing only

[code]

then create (in the top folder) a file named `build.sbt` containing this

[code]

then type `sbt saveClasspath` and let us know what happens.

My money is still on some weird Ivy bug. You can copy the resulting classpath f

[2015-03-03 21:09] sutram commented on #859
sbt saveClasspath created classpath_2.11.5_0.9.10-SNAPSHOT and it contains a bunch of jar paths in it - all from the ivy cache.

I then copied it to both the cloned ensime-emacs dir's emacs.d/ensime and the global ~/.emacs.d/ensime.

I was able to then execute test/run_emacs_tests.sh and it seems to be bringing up ensime server so at least that works.

Running M-x ensime within my project however

[2015-03-03 21:11] fommil commented on #859
change the build.sbt to your version of ensime and run again

[2015-03-03 21:21] sutram commented on #859
To my version of Scala or Ensime?

[2015-03-03 21:23] fommil commented on #859
scala

[2015-03-03 21:31] sutram commented on #859
Ok I changed the version to 2.10.4 and ran test/run_emacs_tests.sh. This time, it tried to start the server and bailed with this exception:
Exception in thread "main" org.ensime.sexp.DeserializationException: Didn't expect a SexpNil
        at org.ensime.sexp.formats.package$.deserializationError(package.scala:5)
        at org.ensime.sexp.formats.StandardFormats$$anon$3.read(StandardFormats.scala

[2015-03-03 21:35] fommil commented on #859
I meant the `sbt saveClasspath` bit.

[2015-03-03 21:38] sutram commented on #859
Yes, I did run sbt saveClasspath after changing the scala version to 2.10.4 in build.sbt. After that, I copied over the classpath file to ensime-emacs/emacs.d/ensime and got the error in my previous post

[2015-03-03 21:41] fommil commented on #859
and what about if it runs on your own project?

[2015-03-03 21:44] fommil commented on #859
ouch, I'm able to reproduce. Looks like the recent changes to `ensime-sbt` broke for the 2.10 (and probably 2.9) branches! As workaround on your project, try removing the `doc-jars` entries.

@edani is there any way we could get have the `*ensime-update*` buffer hang around incase it fails like this?

[2015-03-03 21:56] fommil commented on #859
actually, I'm not fully able to reproduce. The tests don't work but I'm able to start up ensime against a 2.10 project (actually ensime-sbt itself).

This is **really** weird.

[2015-03-03 21:59] fommil commented on #859
aha! I think I figured out why the tests are failing for 2.10. This is a totally unrelated issue.

But I have no idea why the actual server is failing to start for you. Try downloading the `ensime-sbt` git project and doing an `sbt gen-ensime` and see if you can open that up. At least we have that reference point (unless your project is OSS).

[2015-03-03 22:05] sutram commented on #859
Before I do that, would blowing away the entire ivy directory help since you mentioned that it could be a potential Ivy bug? Unfortunately my project isn't OSS.

[2015-03-03 22:06] fommil commented on #859
@sutram just move it to the side... it can take a long time to rebuild it. But yes, that's been my suspicion from the start. Ivy is a big pile of :hankey:

[2015-03-03 22:15] fommil opened #866 "emacs tests matrix on scala 2.9/2.10"
I just tried running the tests on scala 2.10 and (after fixing a typo) they run but exit 1. Needs some TLC.

We should really get this pipeline in place for 1.0.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9169017-emacs-tests-matrix-on-scala-2-9-2-10?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=gi

[2015-03-04 01:17] peterbecich opened #867 "RFE: ensime-typecheck-subproject"
Working through the "Functional Programming in Scala" project:  https://github.com/fpinscala/fpinscala

This project has code duplicated between subprojects, but no duplicated code within any single subproject.  `ensime-typecheck-all` seems to not keep these subprojects separate, so shows a lot of `defined twice` errors.

Is there a different function to typecheck just the 'working' subproject?

I

[2015-03-04 01:48] aemoncannon commented on #866
Agreed

On Tue, Mar 3, 2015 at 4:15 PM Sam Halliday <notifications@github.com>
wrote:

[2015-03-04 07:14] edani commented on #867
At the moment, support for subprojects is very basic, ENSIME just merges all the paths together. See #716 .

[2015-03-04 08:53] fommil commented on #867
Interesting. This particular use feels like a corner case... bordering on bad design by the upstream author. If you want to workaround it, I recommend creating two `.ensime` files: one for questions and one for answers.

[2015-03-04 08:54] fommil commented on #867
actually, this would probably be solved by #839

[2015-03-04 16:04] aemoncannon opened #868 "Add a variant of rpcGetMemberByName that accepts fqn, member name, member type"
As it exists, the rpcGetMemberByName call is not capable of uniquely identifying an overloaded member. Follow the example of rpcGetDocUriByName and accept fqn, member name, member type id. This will allow us to pinpoint the right sourcecode in the inspector.

Related: make this call package-aware. This will fix the package browsing in inspector.

Also: refactor rpcGetDocuriByName to use the new rp

[2015-03-04 16:05] aemoncannon opened #869 "Fix support for package lookups in rpcDocUriByName"
Need this for the inspector, and would likely be useful elsewhere.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9196030-fix-support-for-package-lookups-in-rpcdocuribyname?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2015-03-05 14:51] #861 closed

[2015-03-05 17:25] edani commented on #868
When I added rpcGetMemberByName, my goal was to rely less on type IDs, because it's now easier to restart the presentation compiler which blows the type IDs away.  What would you think of passing the type's string representation, the one that's used in doc URLs ?

[2015-03-05 20:22] aemoncannon commented on #868
@edani Hmm, yeah I think that would work. We'd have to return 'signatureString' for each member when inspecting, so we'd have it on hand. Could adapt rpcDocUriForSymbol, and perhaps rpcCallCompletionInfo as well, to use this approach.

[2015-03-05 20:23] aemoncannon commented on #868
I wonder if there's a more succinct way of identifying an overload. Is there a natural ordering on overloads? If so, we could just return the index.

[2015-03-05 20:32] andreasjansson commented on #825
I'm seeing the same issue, and I "fixed" it by just removing the dodgy jars from my .ensime. Like the OP, the jars broken for me are source jars, and ensime runs just fine without them. Could we emit a warning and ignore broken jars, as long as they're source jars?

[2015-03-06 10:47] fommil commented on #825
@andreasjansson if that helps, then sure. Have a look in `SourceResolver` and we'd be happy to take a PR on this.

[2015-03-06 10:47] fommil commented on #825
(if you could find a dodgy jar on maven central that we can use for integration testing, then add it to the relevant `testing` project in `project/Build.scala`)

[2015-03-06 12:10] alpeb commented on #780
I was gonna tackle this one but I can no longer reproduce it. Can you?

[2015-03-06 19:54] fommil commented on #859
did you have any joy with this? I'm closing as it seems to be a local setup issue but I'm happy to keep helping you out on this thread.

[2015-03-06 19:54] #859 closed

[2015-03-06 20:55] kindoblue opened #870 "Failure in launching Scala REPL for a Play project"
On Mac Yosemite 10.10.2, Emacs 24.4.1, after a successful launch of Ensime (from Elpa ensime-20150305.651)

I tried to run the scala REPL (C-c C-v z). I got an error message back:

    Wrong type argument: stringp, ("/Users/ice/.ivy2/cache/com.google.code.findbugs/jsr305/jars/jsr305-2.0.3.jar" "/Users/ice/.ivy2/cache/com.typesafe.play/build-link/jars/build-link-2.3.8.jar" "/Users/ice/.ivy2/cache/c

[2015-03-06 21:21] sutram commented on #859
Unfortunately, no. I haven't had to time to debug further but will try this again over the weekend

[2015-03-06 23:38] fommil commented on #870
yeah, this is known #642 . Just use the `console` from `sbt-mode`

[2015-03-06 23:38] #870 closed

[2015-03-06 23:39] fommil commented on #859
also check that sbt is really running from emacs. Try using `sbt-start` to confirm.

[2015-03-07 00:55] sutram commented on #859
@fommil Wow! That was it! I didn't have a shebang within the sbt script that launches sbt. It seems bash is forgiving but Emacs isn't.

I can't believe we spent so much time investigating this. Oh well. Thanks a lot for pointing me in the right direction. It was driving me crazy.

[2015-03-07 05:59] aemoncannon opened #872 "Audit performance"
I've started to notice the compiler getting backed up with calls to semantic highlighting. Wondering if there's any low-hanging perf. fruit here.

[2015-03-07 08:36] fommil commented on #859
Lol, oh well, at least it works again :-)

[2015-03-07 08:37] fommil commented on #859
Feel free to issue a PR that detects this and issues an appropriate warning

[2015-03-07 10:33] raboof opened #873 "Better parsing error message when starting Server"
I get a parsing error when starting the Server from emacs.

[code]

It would be nice if the error could more clearly state that this is an error while parsing /home/aengelen/xebia/customername/projectname/.ensime

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9293145-better-parsing-error-message-when-starting-server?utm_campaign=plu

[2015-03-07 10:46] raboof opened #874 "SexpParser should allow symbols with dots in their name"
I'm using version 0.1.5 of ensime-sbt and version 20150305.651 of the ensime plugin in emacs.

I'm new to all this so not so comfortable tracking versions yet. It seems ensime-sbt generates the following line in my .ensime:

[code]

Which cannot be parsed by ensime-server:

[code]

So it seems it's using ensime 0.9.10:

[code]

It's unclear to me though which of these versions is out of date and h

[2015-03-07 10:47] fommil commented on #873
If you'd like to see this change, a PR to wrap the call with an exception would be welcome https://github.com/ensime/ensime-server/blob/master/server/src/main/scala/org/ensime/server/Server.scala#L36 But make sure that you do not swallow the originating exception.

[2015-03-07 10:55] fommil commented on #874
I think the problem is actually your project's custom scalariform settings. It looks like we're not handling `alignSingleLineCaseStatements.maxArrowIndent` which is probably because it has a space in it https://github.com/mdr/scalariform/blob/master/scalariform/src/main/scala/scalariform/formatter/preferences/PreferenceDescriptor.scala#L138

I suspect our SExp parser needs to be updated to handle

[2015-03-08 12:07] fommil opened #875 "include ensime-startup.el in coverage"
We are currently excluding `ensime-startup.el` from the coverage runs (see `dotemacs_test.el`). If we include it, the tests just hang with

[code]

@sviridov (apologies for pulling you in if you'd rather not be) do you have any advice on how we could find the problem and fix it in our code? Our repo is https://github.com/ensime/ensime-emacs

<bountysource-plugin>
---
Want to back this issue? **[Po

[2015-03-08 12:15] fommil opened #876 "include ensime-client.el in coverage"
very much related to #875 but this time the tests just hang with no output at all.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9321665-include-ensime-client-el-in-coverage?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm

[2015-03-08 12:26] fommil commented on #849
dupe of #384 (which was once an OMG Ponies and has a reasonable bounty on it!)

[2015-03-08 12:26] #849 closed

[2015-03-08 12:27] fommil commented on #384
@jsuereth @eed3si9n may have more to say. We have a small bounty on this if you'd like to send people our way :smile:

[2015-03-08 12:32] fommil commented on #876
utter nonsense, I had a typo. This seems to work now :smile:

[2015-03-08 12:32] #876 closed

[2015-03-08 12:55] sviridov commented on #875
@fommil Ok, I will fork it and make some experiments.

[2015-03-08 12:57] fommil commented on #875
:smile: actually our coverage is kinda broken anyway in master. I have a fix ready in my branch, should be merged in the next few minutes.

[2015-03-08 13:03] fommil commented on #792
@daniel-trinh have you applied for publishing rights on sonatype yet? I think that's probably the next step and Matt could approve you being added to the list.

[2015-03-08 13:05] fommil commented on #875
@sviridov  apologies in advance because this involves a lot of automatic downloading of Java  / Scala jars that will probably be completely irrelevant to you other than this bug report. But I'll explain to you what is happening and how to clean up afterwards.

If you clone our repository

git clone --depth 1 https://github.com/ensime/ensime-emacs

you can run the tests with

  test/run_emacs_tests

[2015-03-08 13:25] fommil commented on #875
@sviridov master is good again, please rebase

[2015-03-08 14:47] sviridov commented on #875
@fommil I found a problem.

`undercover.el` is heavily based on `edebug`. And `edebug` has some problems with `ensime--select-server-version` function ([here](https://github.com/ensime/ensime-emacs/blob/master/ensime-startup.el#L252)). `edebug` replacing function declaration with his own. Most of the time it's ok but not in this case.  `edebug` considers "0.9.10-SNAPSHOT" as docstring and not as r

[2015-03-08 15:20] fommil commented on #875
Cool! Great find. We can replace that function with a defcustom

[2015-03-08 17:00] #875 closed

[2015-03-08 20:58] sutram opened #877 "Generated .ensime does not contain "provided" jars"
I am getting errors from Ensime and narrowed it down to two jars and their associated dependencies. I assume, these jars don't show up in the generated .ensime because I am using "provided" to keep them out of the final assembly jar.

Part of my build.sbt. The .ensime file does not contain the first two or their associated dependencies.

libraryDependencies ++= Seq(
  "org.apache.spark" % "spark-c

[2015-03-08 21:26] fommil commented on #877
if you have a look in the `ensime-sbt` repo you'll probably be able to fix this quite easily.

As a workaround, I recommend using exclusion rules in your `assembly` packager to decide what is/isn't relevant for bundling. And if you're using `assembly`, make sure that you're obliging the open source licenses of everything you're bundling because not all OSS licenses allow this.

[2015-03-08 21:34] sutram commented on #877
So changing https://github.com/ensime/ensime-sbt/blob/bf43c9cf04b4618058ab329632b213fd00998b30/src/main/scala/EnsimePlugin.scala#L148 to:

val filter = ""

should do the trick?

I am not sure why "provided" should exclude the jar from .ensime since those jars are still needed for compilation.

Thanks

[2015-03-08 21:52] fommil commented on #877
I don't think that's relevant for you. This filter is only for projects that are sbt plugins. You need to add the provided phase to the calculation of `mainJars`

[2015-03-08 22:37] fommil commented on #877
uuugh, I had a look and I have no idea how to do this because sbt basically has the most insanely ~~complicated~~ obfuscated API on the planet. Your best chance of getting this to work is to ask on the sbt mailing list and then send us a PR with a fix, because I usually prefer to be poked in the eye with a laser than to have to touch the SBT code.

[2015-03-08 22:39] fommil commented on #877
although maybe you're right... maybe `provided` should always be included. Can you try with a `publishLocal` removing the `filter` and replacing all references to it with the string `provided`?

[2015-03-09 03:04] sutram commented on #877
@fommil I changed that line to val filter = "provided" and it worked.

Thanks

[2015-03-09 03:22] sutram commented on #877
Though I assume that changing

val mainJars = jarsFor(Compile) ++ unmanagedJarsFor(Compile)
to
val mainJars = jarsFor(Compile) ++ unmanagedJarsFor(Compile) ++ jarsFor(Provided)

is a better approach and this works too.

[2015-03-09 04:34] aemoncannon opened #879 "Lots of CPU being spent on reading from socket ( dominates server cpu usage )"
Profile captured while doing a few completions.

I don't notice anything suspicious about the read loop. The stream is buffered. My guess is that I'm seeing the cost of reading the file multiple times.

![image](https://cloud.githubusercontent.com/assets/7484/6549973/4aaf3cf0-c5eb-11e4-85a3-fe8362ff659f.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2015-03-09 07:38] fommil commented on #879
This might be an artefact. When doing profile runs I often ignore socket reads and folk join internals because it seems the confuse the profiler.

[2015-03-09 07:40] fommil commented on #877
Oh cool, I didn't know that Provided (with a capital) was a thing.

Would you like to have a think about this and send us a PR? It feels dirty the have the filter AND a different phase, so it would be good to pick one only.

[2015-03-09 14:57] aemoncannon commented on #879
@fommil Fair. But *something* is making things noticeably more sluggish.
I'm seeing a lot more completion timeouts than I have in the past. I'm
going to do some experimentation.

On Mon, Mar 9, 2015 at 2:38 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-09 15:38] fommil commented on #879
hmm, if there is no log in the server side then maybe hunt for work in `Future`s... they swallow exceptions.

[2015-03-09 18:01] sutram commented on #877
Please review this pull request:

https://github.com/ensime/ensime-sbt/pull/83

[2015-03-10 07:44] #873 closed

[2015-03-10 07:44] #874 closed

[2015-03-10 07:45] fommil commented on #874
Do an ensime-update (in about 30 mins) and this should be fixed :-)

[2015-03-10 09:25] raboof commented on #874
Confirmed, thanks!

[2015-03-10 10:37] raboof opened #880 "C-c C-c is undefined"
Since this morning's `M-x ensime-update`, `C-c C-c` no longer seems to work.

`M-x ensime` does lead to a 'welcome message'. Doing it again leads to a 'Connected to ENSIME, please wait until the project is loaded'.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9394261-c-c-c-c-is-undefined?utm_campaign=plugin&utm_content=tracker%2F2

[2015-03-10 11:00] fommil commented on #880
`C-c C-c` isn't one of ours... https://github.com/ensime/ensime-server/wiki/Emacs-Command-Reference#presentation-compiler what are you expecting it to do?

[2015-03-10 11:00] #880 closed

[2015-03-10 11:04] raboof commented on #880
Ah, found it at https://github.com/ensime/ensime-server/wiki/Quick-Start-Guide#starting , didn't realize it's more general than ensime.

While not strictly an ensime issue, any clue why it's not available? I know it worked before (and provided me with the scala errors)

[2015-03-10 11:08] fommil commented on #880
I have this bound, which sounds like it's what you're looking for to jump to sbt compile errors

https://github.com/fommil/unix/blob/master/.emacs#L381

Maybe we bound `C-c C-c` in a really old version of ENSIME, I don't know. If you bind `C-c C-c` you'll lose all the prefix commands and you'll have to rebind them.

[2015-03-10 12:22] raboof commented on #880
PEBKAC: you have to be in a buffer that contains a .scala file for `C-c C-c a` to work, I missed that. Sorry about the noise :)

[2015-03-10 12:25] fommil commented on #880
you can add the mode to any buffer you want, but yes it's not on by default :smile:

[2015-03-10 20:59] fommil commented on #862
I narrowed this down to the `ensime-update` function. Patch the tests so they run quicker with this:

[code]

I've had trouble with the bisecting, doing another run.

[2015-03-10 21:18] #877 closed

[2015-03-10 21:20] fommil commented on #872
yeah, I'm seeing that as well sometimes. I wonder if we get caught in a spin loop or something.

I have a YourKit license at work, I might investigate starting up with the profiling agent attached when I'm noticing this sort of thing.

[2015-03-10 21:24] fommil commented on #862
FYI this is the bisect script, might be useful again

[code]

git bisect start emacs-24.4 emacs-24.3
git bisect run ../ensime-emacs/bisect-script.sh

[2015-03-11 02:21] aemoncannon commented on #872
Two things I can rule out:
  * it's not reading the file over the socket (we actually don't do that for this call)
  * it's not a problem with slow serialization (i truncated the symbol list before serialization)

I just saw it tick through 15 out of 20 highlighting items rather slowly, then stall for several seconds, then finish a couple more, then time out the rest. Something funky going on.

[2015-03-11 04:46] aemoncannon commented on #692
Still seeing the recursion fails occasionally in sexplist apply

[2015-03-11 05:21] aemoncannon commented on #872
More learnings:
* the call to askLoadedTyped is by far the biggest time sink. times vary wildly from 4ms to 17,000ms
* seems to be strong correlation between particular source files and time to load type tree.
* SwankProtocolConversions is an offender (15, 16 seconds for initial type)

Working theory: fancy type shenanigans make pres compiler sad.

[2015-03-11 08:26] raboof commented on #839
Hmm, could this explain some compiler errors I see in a project (that uses submodules) that builds fine in sbt? Any workarounds?

I see some errors I can't directly relate though (e.g. 'ERROR: spray.routing.Route.type does not take parameters')

[2015-03-11 09:46] fommil commented on #839
Sounds like you're experiencing #673 although it's not usually that bad these days.

[2015-03-11 10:10] fommil commented on #872
`SwankProtocolConversions`? wow, maybe we're serialising something humongous?

The new marshalling should be super fast --- if we could capture an entire user session I'd really like to use that data for profiling. If there is anything slowing it down, I'm sure it can be improved.

[2015-03-11 10:16] #832 closed

[2015-03-11 10:18] brakhane opened #882 "ensime-search incompatible with ECB mode (opens new frame)"
When ECB mode is active, `ensime-search` does a strange thing: it opens a new frame and then fails.

Using `ecb-deactivate` before ensime search and then reactivating it works, but is cumbersome.

For completeness, a stacktrace, but I'm guessing it is a result of the search being starting in a new frame

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://ww

[2015-03-11 12:04] aemoncannon commented on #872
I didn't explain clearly: just *typing* the file takes the 15 secs. All
time spent in pres comp

On Wed, Mar 11, 2015, 5:10 AM Sam Halliday <notifications@github.com> wrote:

[2015-03-11 16:07] aemoncannon commented on #872
Maybe all the implicits?

On Wed, Mar 11, 2015 at 7:04 AM Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-03-11 16:10] aemoncannon commented on #872
My working theory:  the sluggishness I've noticed lately is actually a
function of the project I'm editing.. ensime itself. We have a lot of
requests (background typechecks, background semantic highlighting) that are
fighting with foreground requests (completion) for limited Analyzer
bandwidth -- and recently the Analyzer got a lot more busy : )

On Wed, Mar 11, 2015 at 11:07 AM Aemon Cannon <aemo

[2015-03-11 16:11] aemoncannon commented on #872
Related: would it be crazy to have multiple compiler instances?

On Wed, Mar 11, 2015 at 11:10 AM Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-03-11 17:21] edani commented on #872
I was thinking the other day: for completion, we should only have to re-typecheck when the user starts a new word, not after every keystroke in the middle of a word.

[2015-03-11 17:47] aemoncannon commented on #872
not sure what the on-idle type checking is doing. company should only make
one request at the beginning of the word for completions (unless you
backtrack)

On Wed, Mar 11, 2015 at 12:21 PM Eric Daniel <notifications@github.com>
wrote:

[2015-03-11 18:08] edani commented on #872
So much for my theory then.

the idle type checking should normally reload the current buffer and re-typechecks it. It shouldn't fire more than once every 2 seconds (user configurable).

Also, the semantic highlighting runs just after the idle typechecking and shouldn't cause the pres-compiler to re-typecheck the file, it should piggyback on the result of the previous typecheck. But I now realize

[2015-03-11 18:18] aemoncannon commented on #872
hmmm, the typechecking is passing source over the socket right? and correct
me if im wrong but i don't think sem-high is, so would that mean that
sem-high is loading stale source and force a re-type?

On Wed, Mar 11, 2015 at 1:08 PM Eric Daniel <notifications@github.com>
wrote:

[2015-03-11 18:25] aemoncannon commented on #872
or does sem-high write the buffer...

On Wed, Mar 11, 2015 at 1:18 PM Aemon Cannon <aemoncannon@gmail.com> wrote:

[2015-03-11 20:06] edani commented on #872
sem-high, the way the emacs client calls it, calls createSourceFile(File)  which shouldn't cause anything to be re-typechecked... unless I'm mistaken.  Actually if it did re-typecheck the source file from disk we'd see plenty of sem-highlighting weirdness so now I'm 90% sure that it does the right thing...

[2015-03-11 22:49] fommil commented on #882
One day ensime-search will be turned into a more typical search backend and it'll look more like a find-tags or something (with IDO).

[2015-03-11 22:49] fommil commented on #882
want to help out with that? :smile:

[2015-03-11 22:50] fommil commented on #872
multiple presentation compilers is not so crazy... we'd need it for true multi-module support

[2015-03-11 22:51] fommil commented on #872
what's the cost of using overlays vs using faces?

[2015-03-12 00:08] aemoncannon commented on #872
Probably no prob to use faces.. But can we hide that from font lock is
another question...
On Mar 11, 2015 5:51 PM, "Sam Halliday" <notifications@github.com> wrote:

[2015-03-13 10:27] ploddi opened #883 "Autocomplete import"
Is it posible to autoimport symbol from autocomplete instead of inserting fully qualified name?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9514052-autocomplete-import?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-03-13 10:29] fommil commented on #883
dupe of #830

[2015-03-13 10:29] #883 closed

[2015-03-13 10:42] ploddi commented on #830
👍

[2015-03-13 15:11] fommil opened #884 "ENSIME JDBC"
We could piggyback off the ENSIME sbt deployment mechanism to make it really easy for people to connect to databases via the JDBC drivers. We would then pass off to a standard emacs SQL mode.

Clojure have something like this, and we can't let them beat us! https://github.com/kostafey/ejc-sql

[2015-03-13 16:48] rolandtritsch opened #885 "Example .ensime file references ensime-default-java-home"
Hi all,

the example .ensime file references ensime-default-java-home and says you can use :java-home to override it.

Just grep-ed the code and can't find ensime-default-java-home.

Means either the variable is missing or the doc is wrong.

Ideas?

Regards ...
    Roland

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9525089-exampl

[2015-03-13 16:56] rolandtritsch commented on #885
This is a duplicate of #826 and the doc says that :java-home is required. But it also seems to suggest that you can either use :java-home or ensime-default-java-home (which is clearly not the case). Means ... the doc should probably read ...

;; :java-home (required ; emacs) specifies the JAVA_HOME environment when launching ENSIME or a sbt session.

[2015-03-13 16:56] #885 closed

[2015-03-13 17:00] fommil commented on #885
which docs talk about the emacs setting? I thought that was all removed.

[2015-03-13 19:52] rolandtritsch commented on #885
https://github.com/ensime/ensime-server/wiki/Example-Configuration-File

[2015-03-13 22:58] fommil commented on #866
I think 2.10 is failing because of a problem in the server, not the emacs tests, so I'll try and address this when next rebasing.

[2015-03-14 09:44] fommil opened #886 "investigate hanging emacs tests"
it seems to be that when travis boxes are under strain, our emacs tests hang.

I don't think it's coincidence that they always hang following a server shutdown:

[code]

I wonder if we perhaps have a race condition in our tests

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9550214-investigate-hanging-emacs-tests?utm_campaign=plugin

[2015-03-14 10:09] fommil commented on #886
hmm, looks like the connection to the server dies before we get the `:indexer-ready` event.

As a quick hack, I'm going to reduce the work needed in the tests by optionally indexing the `rt.jar` file. That should mean that `indexer-ready` arrives a lot quicker in the emacs integration tests.

[2015-03-14 13:20] fommil commented on #885
@rolandtritsch cool, thanks for catching that. I've updated the docs.

Thanks for the gradle plugin! I'd recommend that you watch the `ensime-sbt` repo for changes and, more importantly, this file https://github.com/ensime/ensime-server/blob/master/api/src/main/scala/org/ensime/config/EnsimeConfig.scala

If anything breaks, check the history of that file first of all. The case class structure defi

[2015-03-14 13:31] fommil commented on #675
is this done now? Wow, our first big bounty item possibly closed :smile:

[2015-03-14 13:32] fommil commented on #447
since we broke the 70% barrier, I'm actually happy calling this a victory :smile: (however, the mission should not stop)

[2015-03-14 13:32] #447 closed

[2015-03-14 13:37] fommil opened #888 "popup docs"
it would be awesome if the docs for a method (or, I suppose class) popped up when the user has a completion choice.

Similarly, being able to do this statically on a class or method would be amazing. I must admit, when I used IntelliJ I didn't tend to use this in Scala, but when I was using Java it was an absolute must. With the Java goal in mind, I'm adding this to the TNG milestone.

[2015-03-14 13:59] #815 closed

[2015-03-14 14:07] #599 closed

[2015-03-14 16:02] fommil opened #889 "Travis => Shippable"
It very nearly worked https://github.com/Shippable/support/issues/1159

The awesome thing is that they allow custom Docker images! I'm not sure of the machine specs: a Travis container is 4GB RAM with a CPU made out twigs, shippable is ???.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9558148-travis-shippable?utm_campaign=plugin&u

[2015-03-14 16:18] fommil commented on #889
right now, I'm wondering why the hell we ever used travis in the first place... shippable is amazing!

[2015-03-14 16:18] fommil commented on #889
and docker is just amazeballs, I'd only ever heard of it before https://docs.docker.com/installation/debian/

[2015-03-14 16:22] fommil commented on #889
oh: ```Custom images may only be used with dedicated hosts. No initialized dedicated host was found for subscription ensime.```. That's dead then.

[2015-03-14 16:26] aemoncannon commented on #886
I used to just disable indexing entirely for most tests (there was config
flag for it). Seemed to help.

On Sat, Mar 14, 2015 at 5:09 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-14 16:29] fommil commented on #886
@aemoncannon we need the scala indexing for some of the tests, e.g. search/importing. But we're now just using a minimal scala-library config so it shouldn't be too onerous.

[2015-03-14 16:33] fommil commented on #889
OMG OMG OMG, $12/year.... ![shut up and take my money](http://i3.kym-cdn.com/photos/images/newsfeed/000/264/241/9e9.gif)

[2015-03-14 16:33] aemoncannon commented on #888
We just need an rpc that:
* looks up doc uri for symbol
* downloads that html
* scrapes the text
* maybe strip, or interpret, html tags
* return the chunk

Then I can hook that up to company's help system.

On Sat, Mar 14, 2015 at 8:37 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-14 16:37] aemoncannon commented on #675
Yeah this is done, modulo a few bugs.

On Sat, Mar 14, 2015 at 8:31 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-14 16:37] aemoncannon commented on #889
nice!

On Sat, Mar 14, 2015 at 11:33 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-14 16:40] fommil commented on #889
@aemoncannon @rorygraves @edani I just bought us a year with these guys, I'll try to get it all setup today and be done with private jenkins/travis for good.

[code]

[2015-03-14 16:47] fommil commented on #675
then please claim :smile:

The bounties have been a bit of a flop to be honest, but at least they make the project very approachable. Might have been better to put it on low hanging fruit instead of the bigger ticket items.

[2015-03-14 16:48] aemoncannon commented on #889
so cool! I owe you a beer

On Sat, Mar 14, 2015 at 11:40 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-14 16:49] fommil opened #890 "typelevel CoC"
There was recently some discussion about how the existence of a Code of Conduct has been a differentiator for people wanting to choose a project to contribute to. Perhaps we should make the necessary documentation updates to use the TypeLevel one http://typelevel.org/conduct.html

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/955939

[2015-03-14 16:50] #675 closed

[2015-03-14 16:50] fommil commented on #889
haha, definitely. Are either you or eric ever in London? I think we owe **you** the beer.

[2015-03-14 16:53] aemoncannon commented on #889
Occasionally for work. Will ping you next time : )

On Sat, Mar 14, 2015 at 11:50 AM Sam Halliday <notifications@github.com>
wrote:

[2015-03-14 18:34] edani commented on #886
Would it be a good idea to cache the index in the first test and reuse it in subsequent one?

[2015-03-14 18:37] edani commented on #889
@fommil  I'm afraid not... but thanks a bunch for setting this up!

[2015-03-14 18:50] ttrahan commented on #889
@fommil super excited that you've found the wonders of Shippable.  let us know if you'd like any assistance evaluating what it takes to set up a dedicated host in order to use our Docker Build feature.  Happy shipping!

[2015-03-14 19:22] fommil commented on #886
@edani yes, it would be ridiculously sensible to do that. doh!

In fact, it would have been infinitely easier to do that than the crappy hack I came up with.

[2015-03-14 19:24] fommil commented on #889
thanks @ttrahan !

I'm trying to use `debian:jessie` but seeing this:

[code]

am I asking for the wrong image or is there something wrong with our dedicated host(s)?

[2015-03-14 19:46] fommil commented on #889
also @ttrahan is it normal for a deploy job to take 45 mins+?

[2015-03-14 20:25] ttrahan commented on #889
hi @fommil - that sounds too long.  There are likely some adjustments needed.  I'm going to ask one of our engineers to review your situation, including the issue you're having above with the ConnectionError.  If you don't mind, I'll also move these two issues over to our support repo to get it connected with our engineers.  More to come soon.